<select class="account__nav-select body-medium">
  <option value="{{ routes.account_url }}">Orders</option>
  <option value="{{ routes.account_addresses_url }}">Addresses</option>
  <option value="{{ routes.account_logout_url }}">Log Out</option>
</select>