<script>
	const addressProvinceInit = () => {
		// Initialize observers on address selectors
		new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
			hideElement: 'AddressProvinceContainerNew'
		});

		let option = document.createElement("option");
		option.text = "Select a state";
		option.value = "";
		option.disabled = true;
		option.selected = true;

		// Setup province selector on each customer address
		{% paginate customer.addresses by 20 %}
			{% for address in customer.addresses %}
				new Shopify.CountryProvinceSelector('AddressCountry_{{ address.id }}', 'AddressProvince_{{ address.id }}', {
					hideElement: 'AddressProvinceContainer_{{ address.id }}'}
				);
			{% endfor %}
		{% endpaginate %}
	}

	setTimeout(addressProvinceInit, 2000);
</script>