<div class="account__sidebar">
  {% if customer.orders.size == 0 %}
    <h1 class="h4 account__subtitle">Account</h1>
  {% endif %}

  <ul class="account__sidebar-links">
    <li class="{%if active == 'dashboard' %}body-medium account__sidebar-link--active{% else %}body-small{% endif %} account__sidebar-link">
      <a href="{{ routes.account_url }}">Orders</a>
    </li>
    <li class="{%if active == 'addresses' %}body-medium account__sidebar-link--active{% else %}body-small{% endif %} account__sidebar-link">
      <a href="{{ routes.account_addresses_url }}">Addresses</a>
    </li>
    <li class="body-small account__sidebar-link">
      <a href="{{ routes.account_logout_url }}">Log Out</a>
    </li>
  </ul>
</div>
