{% if article %}
	<card class="article-card">
		<div class="card-thumbnail bg-subdued">
			<span class="object-fit">
				<img 
					srcset="{%- if article.image.width >= 165 -%}{{ article.image | img_url: '165x' }} 165w,{%- endif -%}
					{%- if article.image.width >= 360 -%}{{ article.image | img_url: '360x' }} 360w,{%- endif -%}
					{%- if article.image.width >= 533 -%}{{ article.image | img_url: '533x' }} 533w,{%- endif -%}
					{%- if article.image.width >= 720 -%}{{ article.image | img_url: '720x' }} 720w,{%- endif -%}
					{%- if article.image.width >= 940 -%}{{ article.image | img_url: '940x' }} 940w,{%- endif -%}
					{%- if article.image.width >= 1240 -%}{{ article.image | img_url: '1240x' }} 1240w,{%- endif -%}
					{%- if article.image.width >= 1800 -%}{{ article.image | img_url: '1800x' }} 1800w{%- endif -%}"
					src="{{ article.image | img_url: '533x' }}"
					sizes="auto" 
					loading="lazy"
					class="motion-reduce "
					width="{{ article.image.width }}"
					height="{{ article.image.height }}"
					alt="{{ article.image.alt | strip_html | escape }}" 
					class="lazyload">
			</span>
		</div>

		<div class="card-info">
			<div class="card-info-subtitle t-b-2-m cr-gray-1">{{ article.tags[0] }} </div>
			<div class="card-info-title t-h-5">{{ article.title }}</div>
			<div class="card-info-excerpt t-b-1 cr-gray-1">
				{{ article.excerpt_or_content | strip_html | truncatewords: 24 }}
			</div>

			<div class="card-info-footer t-c-1">
				<a class="button button--secondary" href="{{ article.url }}">Read the Article</a>
			</div>
		</div>

		<a 
			class="p-fill" 
			href="{{ article.url }}" 
			title="Read the article - {{ article.title | escape }}"> </a>
	</card>
{% endif %}