<div class="article-card-fill bg-blue">
	<span class="object-fit">
		{% if article.image != nil %}
			{% render 'img-srcset', 
				image: article.image,
				max_width: 650,
				alt: article.image.alt %}
		{% endif %}
	</span>

	<div 
		class="block-info type-spacing cr-white">
		<h3 class="t-h-3">{{ article.title }}</h3>
		<a class="button button--secondary" href="{{ article.url }}">Read the Article</a>
	</div>

	<a 
		class="p-fill" 
		href="{{ article.url }}" 
		title="Read the article - {{ article.title | escape }}"> </a>
</div>