{%- comment -%} VERSION: 0.0.3 Please do not delete this line. {%- endcomment -%}
{%- capture bc_layout -%}
{%- case layout -%}
{%- when 'productGridItemHtml' -%}
{% raw %}
<article class='product-card'>
  <div class='pc-image'>
		<!-- {{itemSecondaryImage}} -->

		<span class="pc-image-og object-contain bg-subtle">
			{{itemImages}}
		</span>

		<!-- {{itemBadge}} -->

		<a href="{{itemUrl}}" class="p-fill"> </a>
  </div>

  <div class='pc-details'>
    <a href="{{itemUrl}}" class="full-unstyled-link">
      <h6 class='h6'>{{product.title}}</h6>
      <div class='pc-flex-row'>
        <span class='pc-details-subtitle body-small text-subdued'>{{product.metafields.custom_fields.product_subtitle}}</span>
        <span class='pc-details-price body-tall'>{{itemPrice}}</span>
      </div>
    </a>
  </div>

  <div class='pc-colorways'>
    <span class='utility-thin text-subdued'>+ 12 Colors Available</span>
  </div>

	<button type="button" class="wk-button wk-button--add wk-button--floating" title="Add to Wishlist" data-wk-add-product="{{ itemId }}" data-appmate="">
		<div class="wk-icon wk-button__icon"><svg class="wk-icon__svg" width="100%" height="100%" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<path vector-effect="non-scaling-stroke" d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"></path>
	</svg></div>
		<span class="wk-button__label">Add to Wishlist</span>
	</button>

</article>
{% endraw %}
{%- when 'productListItemHtml' -%}
{% raw %}
<div class="boost-pfs-filter-product-item boost-pfs-filter-product-item-list {{soldOutClass}}{{saleClass}} {{itemActiveSwapClass}}">
  <div class="boost-pfs-filter-product-item-inner">
    <div class="boost-pfs-filter-product-item-image">
        {{itemImages}}
        <div class="boost-pfs-filter-product-item-label">{{itemLabels}}{{itemTagLabels}}</div>
    </div>
    <div class="boost-pfs-filter-product-bottom">
      <div class="boost-pfs-filter-product-bottom-inner">
        <a href="{{itemUrl}}" class="boost-pfs-filter-product-item-title">{{itemTitle}}</a>
        {{itemVendor}}
        {{itemReviews}}
        {{itemPrice}}
        <p class="boost-pfs-filter-des">{{itemDescription}}</p>
        {{itemColorSwatches}}
        {{itemSizeSwatches}}
      </div>
    </div>
  </div>
</div>
{% endraw %}
{%- when 'productListPlaceholderHtml' -%}
{% raw %}
<div class="boost-pfs-filter-product-item boost-pfs-filter-product-item-list {{class.filterProductSkeleton}}">
  <div class="boost-pfs-filter-product-item-image">
    <div class="{{class.filterProductSkeleton}}-image" style="padding-top: {{paddingTop}}%"></div>
  </div>
  <div class="boost-pfs-filter-product-bottom">
    <div class="boost-pfs-filter-product-bottom-inner">
    <a href="#" class="boost-pfs-filter-product-item-title"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width4"></span></a>
    <p class="boost-pfs-filter-product-item-vendor"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width1"></span></p>
    <p class="boost-pfs-filter-product-item-price"><span class="boost-pfs-filter-skeleton-text boost-pfs-filter-skeleton-width2"></span></p>
    <p class="boost-pfs-filter-des">
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 100%"></span><br />
      <span class="boost-pfs-filter-skeleton-text" style="width: 30%"></span>
    </p>
    </div>
  </div>
</div>
{% endraw %}

{%- when 'soldOutLabelHtml' -%}
{% assign show_product_label_image = section.settings.show_product_label_image %}
{% assign product_label_image_sold_out = section.settings.product_label_image_sold_out %}

<span class="soldout boost-pfs-filter-label">
{% if show_product_label_image %}
<img src="{{ product_label_image_sold_out | img_url: 'small' }}" alt="{{ product_label_image_sold_out.alt }}" />
{% else %}
{{ label_soldout | default: 'Sold Out' }}
{% endif %}
</span>

{%- when 'saleLabelHtml' -%}
{% assign show_product_label_image = section.settings.show_product_label_image %}
{% assign product_label_image_sale = section.settings.product_label_image_sale %}
{% assign show_sale_percent = section.settings.show_sale_percent %}

<span class="sale boost-pfs-filter-label">
  {% if show_product_label_image %}
  <img src="{{ product_label_image_sale | img_url: 'small' }}" alt="{{ product_label_image_sale.alt }}" />
  {% else %}
    {% if show_sale_percent %}
      {% raw %}
        {{salePercent}}
      {% endraw %}
    {% else %}
    {{ label_sale | default: 'Sale' }}
    {% endif %}
  {% endif %}
</span>


{%- when 'tagLabelHtml' -%}
{% raw %}
<span class="tag boost-pfs-filter-label {{labelTag}}" >{{labelTag}}</span>
{% endraw %}

{%- when 'vendorHtml' -%}
{% raw %}
<p class="boost-pfs-filter-product-item-vendor">{{itemVendorLabel}}</p>
{% endraw %}

{%- when 'previousActiveHtml' -%}
{% raw %}
<li><a href="{{itemUrl}}">&larr;</a></li>
{% endraw %}


{%- when 'previousDisabledHtml' -%}
<li class="boost-pfs-filter-pagination-disabled"><span>&larr;</span></li>

{%- when 'nextActiveHtml' -%}
{% raw %}
<li><a href="{{itemUrl}}">&rarr;</a></li>
{% endraw %}

{%- when 'nextDisabledHtml' -%}
<li class="boost-pfs-filter-pagination-disabled"><span>&rarr;</span></li>

{%- when 'pageItemHtml' -%}
{% raw %}
<li><a href="{{itemUrl}}">{{itemTitle}}</a></li>
{% endraw %}

{%- when 'pageItemSelectedHtml' -%}
{% raw %}
<li><span class="boost-pfs-filter-pagination-active">{{itemTitle}}</span></li>
{% endraw %}

{% when 'pageItemRemainHtml' %}
{% raw %}
<li><span>{{itemTitle}}</span></li>
{% endraw %}

{%- when 'paginateHtml' -%}
{% raw %}
<ul>{{previous}}{{pageItems}}{{next}}</ul>
{% endraw %}

{%- when 'sortingHtml' -%}
{% raw %}
<div class="collection-filters__item sorting">
  <div class="collection-filters__field">
    <div class="select clean-select">
      <select name="sort_by" class="select__select collection-filters__sort body-small" id="SortBy" aria-describedby="a11y-refresh-page-message">
        {{sortingItems}}
      </select>

			<div class="sort-selector">
				<div class="sort-selector-selected">Sort By</div>
				<ul>{{sortingItemsLi}}</ul>
			</div>
    </div>
  </div>
</div>
{% endraw %}

{%- when 'showLimitHtml' -%}
{% raw %}
<label> Show </label><select class="boost-pfs-filter-filter-dropdown">{{showLimitItems}}</select>
{% endraw %}

{%- when 'breadcrumbHtml' -%}
{% raw %}
<a href="/"> Home </a> {{breadcrumbDivider}} {{breadcrumbItems}}
{% endraw %}

{%- when 'breadcrumbDivider' -%}
<span class="divider">/</span>

{%- when 'breadcrumbItemLink' -%}
{% raw %}
<a href="{{itemLink}}">{{itemTitle}}</a>
{% endraw %}

{%- when 'breadcrumbItemSelected' -%}
{% raw %}
<span>{{itemTitle}}</span>
{% endraw %}

{%- endcase -%}
{%- endcapture -%}

{%- assign str = '}}' -%}
{{- bc_layout | json | replace: '[[', '{{' | replace: ']]', str -}}