{%- if type == 'recommendations' -%}
  {%- assign sliderProducts = recommendations.products -%}
{%- elsif productCollection -%}
	{%- assign collection = collections[productCollection] -%}
	{%- assign sliderProducts = collection.products %}
{% else %}
  {%- assign sliderProducts = collection.products -%}
{%- endif -%}

{{ sliderProducts.products.size }}

<article class='collection-product-row'>
	<div class='cpr-intro c'>
		<div class='cpr-row-details f-h-center'>
			<h2 class='h2'>{%- if title != empty -%}{{ title }}{%- else -%}{{ collection.title | escape }}{%- endif -%}</h2>

			<a class='button button--secondary' href='{% if type == "recommendations" %}/collections/all{% elsif cta_url != blank %}{{ cta_url }}{% else %}{{ collection.url }}{% endif %}'>Shop All</a>

			{%- unless description == blank -%}
				<div class="cpr-description">
					<p class='body-tall text-subdued'>{{ description }}</p>
				</div>
			{%- endunless -%}
		</div>
	</div>

	<div data-flickity-slider="{
			'pageDots': false,
			'prevNextButtons': true,
			'wrapAround': false,
			'imagesLoaded': true,
			'cellAlign': 'left',
			'draggable': true,
			'contain': true
		}">
		{%- for p in sliderProducts -%}
			{% unless p.handle contains 'gift-card' or 
				p.handle contains 'giftcard' %}
				{% unless template.name contains 'product' and product.id == p.id %}
					{% render 'product-card', product_card: p %}
				{% endunless %}
			{% endunless %}
		{%- endfor -%}
		<div class="flickity-spacer"></div>
	</div>
</article>