{% if label != empty and content != empty %}
	<{% if list_style == true %}li{% else %}div{% endif %} class="comp-accordion">
		<button 
			class="accordion-label user-select-disable"
			aria-expanded="false">
			{{ label }}
			<span class="accordion-toggle"></span>
		</button>

		<div class="accordion-content" aria-hidden="true">
		<div class="accordion-content-interior type-spacing">
			{{ content }}
		</div>
		</div>
	</{% if list_style == true %}li{% else %}div{% endif %}>
{% endif %}