{% if article != nil %}
	<div 
		class="comp-article-section bg-cream" 
		data-image-position="{{ image_position | default: 'left' }}">
	<div class="f-h">
		<div class="section-thumbnail">
			<span class="object-fit bg-subtle">
				{% if article_image and article_image != nil %}
					{% if article_image.cloudinary_src %}
						{% render 'img-srcset-accentuate', 
							image: article_image,
							max_width: 600,
							alt: article.title %}
					{% else %}
						{% render 'img-srcset', 
							image: article_image,
							max_width: 600,
							alt: article.title %}
					{% endif %}
				{% else %}
					{% render 'img-srcset', 
						image: article.image,
						max_width: 600,
						alt: article.title %}
				{% endif %}
			</span>
		</div>

		<div class="section-info f-v">
		<div class="section-info-interior type-spacing">
			<div class="section-info-subtitle t-b-2-m cr-gray-2">{{ article.tags[0] }}</div>
			<div class="section-info-title t-h-5">{{ article.title }}</div>
			<div class="section-info-excerpt t-b-3 cr-gray-2">
				{{ article.excerpt_or_content | strip_html | truncatewords: 24 }}
			</div>
			<a class="button button--secondary" href="{{ article.url }}">Read the Article</a>
		</div>
		</div>

		<a 
			class="article-url p-fill"
			href="{{ article.url }}"> </a>
	</div>
	</div>
{% endif %}