<div class='cookie_notice color-background-1 reduce-motion' id='cookie_notice' state='inactive'>
    <span class=cookie_notice-text>{{ settings.cookie_intro }}
        <a class='link_underline utility' href='{{ settings.cookie_more-url }}'>{{ settings.cookie_more-label }}</a>
    </span>
    <button class='primary_button color-reverse' id='cookie_accept'>
        Accept & Close
    </button>
</div>