<div class="cx-sidebar">
<ul>
	<li
		{% if template == 'page.contact' %} class="is-active"{% endif %}>
		<a href="{{ shop.url | append: '/pages/contact' }}">Contact</a>
	</li>

	<li
		{% if template == 'page.faq' %} class="is-active"{% endif %}>
		<a href="{{ shop.url | append: '/pages/faq' }}">FAQ</a>
		{% if template == 'page.faq' and children_ul != blank %}
			<ul>
				{{ children_ul }}
			</ul>
		{% endif %}
	</li>

	<li
		{% if page.handle == 'payment-shipping' %} class="is-active"{% endif %}>
		<a href="{{ shop.url | append: '/pages/payment-shipping' }}">Payment & Shipping</a>
	</li>

	<li
		{% if page.handle == 'returns-exchanges' %} class="is-active"{% endif %}>
		<a href="{{ shop.url | append: '/pages/returns-exchanges' }}">Returns & Exchanges</a>
	</li>

	<li
		{% if page.handle == 'resoling' %} class="is-active"{% endif %}>
		<a href="{{ shop.url | append: '/pages/resoling' }}">Resoling</a>
	</li>
</ul>
</div>