{%- case icon -%}
	{%- when 'zipper' -%}
		{{ 'icon-zipper.svg' | asset_url | img_tag }}
	{%- when 'approved' -%}
		{{ 'icon-approved.svg' | asset_url | img_tag }}
	{%- when 'arch-support' -%}
		{{ 'icon-arch-support.svg' | asset_url | img_tag }}
	{%- when 'brazil' -%}
		{{ 'icon-brazil.svg' | asset_url | img_tag }}
	{%- when 'breathability' -%}
		{{ 'icon-breathability.svg' | asset_url | img_tag }}
	{%- when 'chat' -%}
		{{ 'icon-chat.svg' | asset_url | img_tag }}
	{%- when 'comfort-system' -%}
		{{ 'icon-comfort-system.svg' | asset_url | img_tag }}
	{%- when 'eco' -%}
		{{ 'icon-eco.svg' | asset_url | img_tag }}
	{%- when 'engineered' -%}
		{{ 'icon-engineered.svg' | asset_url | img_tag }}
	{%- when 'feather' -%}
		{{ 'icon-feather.svg' | asset_url | img_tag }}
	{%- when 'smile' -%}
		{{ 'icon-smile.svg' | asset_url | img_tag }}
	{%- when 'healthy-feet' -%}
		{{ 'icon-healthy-feet.svg' | asset_url | img_tag }}
	{%- when 'heart' -%}
		{{ 'icon-heart.svg' | asset_url | img_tag }}
	{%- when 'ice' -%}
		{{ 'icon-ice.svg' | asset_url | img_tag }}
	{%- when 'inner-sock' -%}
		{{ 'icon-inner-sock.svg' | asset_url | img_tag }}
	{%- when 'insoles' -%}
		{{ 'icon-insoles.svg' | asset_url | img_tag }}
	{%- when 'leather-soft' -%}
		{{ 'icon-leather-soft.svg' | asset_url | img_tag }}
	{%- when 'leather' -%}
		{{ 'icon-leather.svg' | asset_url | img_tag }}
	{%- when 'shoe' -%}
		{{ 'icon-tradeup.svg' | asset_url | img_tag }}
	{%- when 'metal-buckle' -%}
		{{ 'icon-metal-buckle.svg' | asset_url | img_tag }}
	{%- when 'moisture-wicking' -%}
		{{ 'icon-moisture-wicking.svg' | asset_url | img_tag }}
	{%- when 'needle' -%}
		{{ 'icon-needle.svg' | asset_url | img_tag }}
	{%- when 'OKEO-TEX' -%}
		{{ 'icon-okeo-tex.svg' | asset_url | img_tag }}
	{%- when 'portugal' -%}
		{{ 'icon-portugal.svg' | asset_url | img_tag }}
	{%- when 'resoleable' -%}
		{{ 'icon-resoleable.svg' | asset_url | img_tag }}
	{%- when 'ruler' -%}
		{{ 'icon-ruler.svg' | asset_url | img_tag }}
	{%- when 'science' -%}
		{{ 'icon-science.svg' | asset_url | img_tag }}
	{%- when 'tradeup' -%}
		{{ 'icon-tradeup.svg' | asset_url | img_tag }}
	{%- when 'usa' -%}
		{{ 'icon-usa.svg' | asset_url | img_tag }}
	{%- when 'ventilation' -%}
		{{ 'icon-ventilation.svg' | asset_url | img_tag }}
	{%- when 'vibram' -%}
		{{ 'icon-vibram.svg' | asset_url | img_tag }}
	{%- when 'water-resistant' -%}
		{{ 'icon-water-resistant.svg' | asset_url | img_tag }}
	{%- when 'wool-small' -%}
		{{ 'icon-wool-small.svg' | asset_url | img_tag }}
	{%- when 'wool' -%}
		{{ 'icon-wool.svg' | asset_url | img_tag }}
	{%- when 'woven' -%}
		{{ 'icon-woven.svg' | asset_url | img_tag }}
{%- endcase -%}