{%- if media.media_type == 'external_video' -%}
    <article class='pdp-media-row'>
      {{ media | external_video_url: background: true, autoplay: true, mute: true, loop: "1" |  external_video_tag }}
    </article>

{% elsif media.media_type == "video" %}
  <article class='pdp-media-row'>
		{{ media | video_tag: image_size: '600x', loop: true, autoplay: true, playsinline: true, muted: true }}
	</article>

{%- else -%}
	<article class='pdp-media-cell' index='{{ index }}'>
		<img
			srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
							{% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
							{% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
							{% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
			src="{{ media | img_url: '550x550' }}"
			sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
			loading="lazy"
			width="576"
			height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
			alt="{{ media.preview_image.alt | escape }}"
		>
		<div class='pdp-cell-magnified' index='{{ index }}'  style='background: url({{ media | img_url: "1200x" }}) no-repeat #f6f6f6'></div>
		<button class="image-magnify" aria-label="toggle image zoom"></button>
	</article>
{%- endif -%}