{%- case icon -%}
	{%- when 'Easy-Glide Zippers' -%}
		{{ 'icon-zipper.svg' | asset_url | img_tag }}

	{%- when 'Glove Leather Lining' -%}
		{{ 'icon-approved.svg' | asset_url | img_tag }}

	{%- when 'Podiatrist Approved' -%}
		{{ 'icon-approved.svg' | asset_url | img_tag }}

	{%- when 'Arch Support' -%}
		{{ 'icon-arch-support.svg' | asset_url | img_tag }}

	{%- when 'Handcrafted in Brazil' -%}
		{{ 'icon-brazil.svg' | asset_url | img_tag }}

	{%- when 'Superior Breathability' -%}
		{{ 'icon-breathability.svg' | asset_url | img_tag }}

	{%- when 'Customer Service' -%}
		{{ 'icon-chat.svg' | asset_url | img_tag }}

	{%- when 'Hubbard Comfort System' -%}
		{{ 'icon-comfort-system.svg' | asset_url | img_tag }}

	{%- when 'Eco-Friendly Material' -%}
		{{ 'icon-eco.svg' | asset_url | img_tag }}

	{%- when 'Engineered for Relief' -%}
		{{ 'icon-engineered.svg' | asset_url | img_tag }}

	{%- when 'Lightweight Construction' -%}
		{{ 'icon-feather.svg' | asset_url | img_tag }}

	{%- when 'Happiness Guarantee' -%}
		{{ 'icon-smile.svg' | asset_url | img_tag }}

	{%- when 'Healthy Feet' -%}
		{{ 'icon-healthy-feet.svg' | asset_url | img_tag }}

	{%- when 'Over 10K 5-Star Reviews' -%}
		{{ 'icon-heart.svg' | asset_url | img_tag }}

	{%- when 'Davos® Ice Sole' -%}
		{{ 'icon-ice.svg' | asset_url | img_tag }}

	{%- when 'Silky Smooth Inner Sock' -%}
		{{ 'icon-inner-sock.svg' | asset_url | img_tag }}

	{%- when 'Removable Insoles' -%}
		{{ 'icon-insoles.svg' | asset_url | img_tag }}

	{%- when 'Buttery Soft Leather Shell' -%}
		{{ 'icon-leather-soft.svg' | asset_url | img_tag }}

	{%- when 'Genuine Leather' -%}
		{{ 'icon-leather.svg' | asset_url | img_tag }}

	{%- when 'Tradeup' -%}
		{{ 'icon-tradeup.svg' | asset_url | img_tag }}

	{%- when 'Metal Buckle' -%}
		{{ 'icon-metal-buckle.svg' | asset_url | img_tag }}

	{%- when 'Moisture Wicking Inner Shell' -%}
		{{ 'icon-moisture-wicking.svg' | asset_url | img_tag }}

	{%- when 'Handcrafted' -%}
		{{ 'icon-needle.svg' | asset_url | img_tag }}

	{%- when 'OKEO-TEX Certified' -%}
		{{ 'icon-okeo-tex.svg' | asset_url | img_tag }}

	{%- when 'Handcrafted in Portugal' -%}
		{{ 'icon-portugal.svg' | asset_url | img_tag }}

	{%- when 'Resoleable' -%}
		{{ 'icon-resoleable.svg' | asset_url | img_tag }}

	{%- when 'Wide Widths Available' -%}
		{{ 'icon-ruler.svg' | asset_url | img_tag }}

	{%- when 'Backed by Science' -%}
		{{ 'icon-science.svg' | asset_url | img_tag }}

	{%- when 'tradeup' -%}
		{{ 'icon-tradeup.svg' | asset_url | img_tag }}

	{%- when 'Handcrafted in USA' -%}
		{{ 'icon-usa.svg' | asset_url | img_tag }}

	{%- when 'Perforated Ventilation' -%}
		{{ 'icon-ventilation.svg' | asset_url | img_tag }}

	{%- when 'Custom Vibram Sole' -%}
		{{ 'icon-vibram.svg' | asset_url | img_tag }}

	{%- when 'Water Resistant' -%}
		{{ 'icon-water-resistant.svg' | asset_url | img_tag }}

	{%- when 'Fine Shearling Lining' -%}
		{{ 'icon-wool-small.svg' | asset_url | img_tag }}

	{%- when '100% Merino Wool' -%}
		{{ 'icon-wool.svg' | asset_url | img_tag }}

	{%- when 'Woven Rayon' -%}
		{{ 'icon-woven.svg' | asset_url | img_tag }}

	{%- when 'Lug Sole' -%}
		{{ 'icon-lugsole' | asset_url | img_tag }}

{%- endcase -%}
