{%- if image != nil -%}
	<article class='{% if is_product_block == true %}product{% else %}menu{% endif %}-block'>
		<div class='image-container'>
			<img srcset="{{ image | img_url: '375x' }} 375w"
				sizes="375px"
				src="{{ image | img_url: '375x' }}"
				loading="lazy"
				alt="{{ title | escape }}"
				width="{{ image.width }}"
				height="{{ image.width | divided_by: image.aspect_ratio }}"
			>

			{%- if category != empty -%}
				<h4 class='h2 p-center'>
					<span>{{ category | escape }}</span>
				</h4>
			{%- endif -%}
		</div>

		<span class='utility text-subdued'>{{ eyebrow }}</span>
		<h6 class='h6'>{{ title | escape }}</h6>
		<a class="p-fill" href='{{ url }}'> </a>
	</article>
{%- endif -%}