<link rel="stylesheet" href="https://use.typekit.net/eni7zlq.css" crossorigin>

{%- unless settings.type_body_font.system? -%}
	<link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}
{%- unless settings.type_header_font.system? -%}
	<link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
{%- endunless -%}

<style>

/*

	U1 SETTINGS
	U2 COLOR 
	U3 TYPOGRAPHY
	U4 LAYOUTS

*/

/*	U1 SETTINGS	*/

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}

@font-face{
	font-family:"helvetica_neue";
	src: url({{ 'font-helvetica-55-roman.woff2' | asset_url }}) format("woff2"),
				url({{ 'font-helvetica-55-roman.woff' | asset_url }}) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family:"helvetica_neue";
	src: url({{ 'font-helvetica-65-medium.woff2' | asset_url }}) format("woff2"),
				url({{ 'font-helvetica-65-medium.woff' | asset_url }}) format("woff");
	font-weight: 500; 
	font-style: normal;
}

@font-face{
	font-family:"din-condensed";
	src: url({{ 'font-din-condensed-bold.woff2' | asset_url }}) format("woff2"),
				url({{ 'font-din-condensed-bold.woff' | asset_url }}) format("woff");
	font-weight: 500; 
	font-style: normal;
}

:root {
	--font-heading-family: din-condensed, {{ settings.type_header_font.fallback_families }};
	--font-heading-style: normal;
	--font-heading-weight: 500;
	
	--font-body-family: 'Helvetica Neue', 'helvetica_neue', {{ settings.type_body_font.fallback_families }};
	--font-body-style: normal;
	--font-body-weight: 400;

	{% comment %} Custom Brand Colors {% endcomment %}
	--color-ink: #0A0A0A;
	--color-subdued: #4B4F54;
	--color-white: #fff;
	--color-cream: #FFFBF4;
	--color-lighter-gray: #fafafa;
	--color-light-gray: #f6f6f6;
	--color-gray: #F6D9DF;
	--color-brand: #233054;
	--color-highlight: #FFA400;
	--color-accent-one: #4B4F54;
	--color-accent-two: #840B55;
	--color-accent-three: #425464;
	--color-faded: #999B9F;
	--color-blue-gray: #CCCDCF;
	--color-light-blue: #F4F7FF;
	--color-eclipse: #323232;
	--color-greyscale:  #EEEEEE;
	--color-card-bg: #F7F7F7;

	{% comment %} Dawn Base Colors {% endcomment %}
	--color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
	--color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
	--color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
	--color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
	--color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
	--color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
	--color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};

	--payment-terms-background-color: {{ settings.colors_background_1 }};
}

:root {
	--cr-black: #0A0A0A;
	--cr-white: #ffffff;
	--cr-subdued: #dddddd;
	--cr-subtle: #f9f9f9;
	--cr-gray-1: #4B4F54;
	--cr-gray-2: #999B9F;

	--cr-cream: #FBF9F4;
	--cr-blue: #233054;
	--cr-yellow: #FFA400;
	--cr-violet: #840B55;
	--cr-teel: #425464;
	--cr-pink: #F6D9DF;

	--t-h-xl: 500 96px/1 "din-condensed", Helvetica, sans-serif;
	--t-h-1: 500 64px/1 "din-condensed", Helvetica, sans-serif;
	--t-h-2: 500 32px/1 "din-condensed", Helvetica, sans-serif;
	--t-h-3: 500 22px/1.5 "Helvetica Neue", Helvetica, sans-serif;
	--t-h-4: 500 22px/1 "din-condensed", Helvetica, sans-serif;
	--t-h-5: 500 36px/1 "Helvetica Neue", Helvetica, sans-serif;
	--t-h-6: 500 18px/1 "Helvetica Neue", Helvetica, sans-serif;
	--t-b-1: 400 16px/1.5 "Helvetica Neue", Helvetica, sans-serif;
	--t-b-2: 400 14px/1.45 "Helvetica Neue", Helvetica, sans-serif;
	--t-b-2-m: 500 14px/1.45 "Helvetica Neue", Helvetica, sans-serif;
	--t-b-3: 400 18px/1.45 "Helvetica Neue", Helvetica, sans-serif;
	--t-l-1: 700 14px/1 "Helvetica Neue", Helvetica, sans-serif;
	--t-l-2: 400 14px/1 "Helvetica Neue", Helvetica, sans-serif;
	--t-q-1: 400 36px/1 'Garamond', serif;
	--t-q-2: 400 28px/1 'Garamond', serif;

	--s-1: 5px;
	--s-2: 10px;
	--s-3: 20px;
	--s-4: 40px;
	--s-5: 80px;
	--s-6: 160px;
	--s-section: var(--s-5);
	--s-section-half: var(--s-4);
	--s-contain: 60px;
	--s-contain-max: 1720px;
	--s-edge: var(--s-contain);

	--a-panel: cubic-bezier(0.36, 0.07, 0.19, 0.97);
	--a-bounce: cubic-bezier(0.5, -0.5, 0.5, 1.5);
	--a-swift: cubic-bezier(0, 0.99, 0.6, 0.99);
}

::selection {
	text-shadow: none;
	background-color: rgba(125, 125, 125, 0.3);
}

::-moz-selection {
	text-shadow: none;
	background-color: rgba(125, 125, 125, 0.3);
}

@media screen and (max-width: 749px) {

	:root {
		--t-h-xl: 500 60px/1 "din-condensed", Helvetica, sans-serif;
		--t-h-1: 500 48px/1 "din-condensed", Helvetica, sans-serif;
		--t-h-2: 500 32px/1 "din-condensed", Helvetica, sans-serif;
		--t-h-3: 500 18px/1.5 "Helvetica Neue", Helvetica, sans-serif;
		--t-h-4: 500 18px/1 "din-condensed", Helvetica, sans-serif;
		--t-h-5: 500 24px/1 "Helvetica Neue", Helvetica, sans-serif;

		--s-section: var(--s-4);
		--s-section-half: var(--s-3);
		--s-contain: 4vw;
	}

}

/*	
	update edge spacing when .c reaches its max width	
	1600 var(--s-contain-max) / 1 - var(--s-contain)*2
*/

@media screen and (min-width: 1840px) {

	:root {
		--s-edge: calc((100vw - var(--s-contain-max))/2);
	}

}

@media (hover: hover) {

	* {
		outline-offset: 3px;
		outline-color: transparent;
	}

	*:focus {
		outline: 1px dotted rgba(125, 125, 125, 0.8);
	}

}

/*	U1 SETTINGS - END	*/

/*	U2 COLOR	*/

.cr-black {color: var(--cr-black)}
.cr-white {color: var(--cr-white)}
.cr-subdued {color: var(--cr-subdued)}
.cr-subtle {color: var(--cr-subtle)}
.cr-gray-1 {color: var(--cr-gray-1)}
.cr-gray-2 {color: var(--cr-gray-2)}
.cr-cream {color: var(--cr-cream)}
.cr-blue {color: var(--cr-blue)}
.cr-yellow {color: var(--cr-yellow)}
.cr-violet {color: var(--cr-violet)}
.cr-teel {color: var(--cr-teel)}
.cr-pink {color: var(--cr-pink)}

.bg-black {background-color: var(--cr-black)}
.bg-white {background-color: var(--cr-white)}
.bg-subdued {background-color: var(--cr-subdued)}
.bg-subtle {background-color: var(--cr-subtle)}
.bg-gray-1 {background-color: var(--cr-gray-1)}
.bg-gray-2 {background-color: var(--cr-gray-2)}
.bg-cream {background-color: var(--cr-cream)}
.bg-blue {background-color: var(--cr-blue)}
.bg-yellow {background-color: var(--cr-yellow)}
.bg-violet {background-color: var(--cr-violet)}
.bg-teel {background-color: var(--cr-teel)}
.bg-pink {background-color: var(--cr-pink)}

/*	U3 COLOR - END	*/

/*	U3 TYPOGRAPHY	*/

{%- liquid
	assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
	assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
	assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
%}

{{ settings.type_body_font | font_face: font_display: 'swap' }}
{{ body_font_bold | font_face: font_display: 'swap' }}
{{ body_font_italic | font_face: font_display: 'swap' }}
{{ body_font_bold_italic | font_face: font_display: 'swap' }}
{{ settings.type_header_font | font_face: font_display: 'swap' }}

.t-h-xl {
	text-transform: uppercase;
	font: var(--t-h-xl);
}

.t-h-1 {
	text-transform: uppercase;
	font: var(--t-h-1);
}

.t-h-2 {
	text-transform: uppercase;
	font: var(--t-h-2);
}

.t-h-3 {
	text-transform: unset;
	font: var(--t-h-3);
}

.t-h-4 {
	text-transform: uppercase;
	font: var(--t-h-4);
}

.t-h-5 {
	text-transform: unset;
	font: var(--t-h-5);
}

.t-h-6 {
	font: var(--t-h-6);
}

.t-b-1 {
	font: var(--t-b-1);
}

.t-b-2 {
	font: var(--t-b-2);
}

.t-b-2-m {
	font: var(--t-b-2-m);
}

.t-b-3 {
	font: var(--t-b-3);
}

.t-l-1 {
	font: var(--t-l-1);
}

.t-l-2 {
	font: var(--t-l-2);
}

.t-q-1 {
	font: var(--t-q-1);
}

.t-q-2 {
	font: var(--t-q-2);
}

/*	U3 TYPOGRAPHY - END	*/

/*	U4 LAYOUTS	*/

body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
	margin: 0;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.5;
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
	color: var(--color-ink);
}

main {
	min-height: calc(100vh - (30px + 74px + 435px));
}

.c,
.c-1,
.c-2,
.c-3,
.c-4 {	/* c for contain */
	position: relative;
	width: calc(100vw - var(--s-contain)*2);
	max-width: var(--s-contain-max);
	margin-left: auto;
	margin-right: auto;
}

	.c-1 {
		max-width: 1200px;
	}

	.c-2 {
		max-width: 900px;
	}

	.c-3 {
		max-width: 600px;
	}

	.c-4 {
		max-width: 450px;
	}

.f-h,
.f-h-top,
.f-h-center,
.f-h-bottom {	/* f for flex */
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

	.f-h-top {
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	.f-h-center {
		-webkit-align-items: center;
		align-items: center;
	}

	.f-h-bottom {
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}

.f-v,
.f-v-middle {	/* f, v for flex vertical */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

	.f-v-middle {
		-webkit-justify-content: center;
		justify-content: center;
	}

.p-fill {	/* p for position */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

	.p-center {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0);
	}

.avoid-style-flash {
	visibility: hidden;
}

.user-select-disable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.screen-reader-only {
	position: absolute !important;
	left: -10000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
}

.clear-float:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

/*	U4 LAYOUTS - END	*/

.anchor {
	display: block;
	position: relative;
	top: calc(0px - var(--s-header) - var(--s-section));
	visibility: hidden;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.lazyload,
img[data-sizes="auto"] {
	display: block;
	width: 100%;
	opacity: 0;
}

	.lazyload:not([src]) {
		visibility: hidden;
	}

	.lazyloaded {
		-webkit-animation: 1.2s fadeIn both;
		animation: 1.2s fadeIn both;
	}

/* CSS merge wouldn't take in this line, so adding it here */
.article-card-compact .card-info-title,
.article-card-compact .card-info-excerpt {
	-webkit-box-orient: vertical;
}

</style>