<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
  <path d="M19.6916 5.82933C19.6916 5.82933 19.5018 4.48959 18.9173 3.90131C18.1773 3.12707 17.3499 3.12327 16.9703 3.07773C14.2529 2.88037 10.1729 2.88037 10.1729 2.88037H10.1653C10.1653 2.88037 6.08538 2.88037 3.36793 3.07773C2.9884 3.12327 2.16102 3.12707 1.42093 3.90131C0.836452 4.48959 0.650481 5.82933 0.650481 5.82933C0.650481 5.82933 0.453125 7.40439 0.453125 8.97565V10.4482C0.453125 12.0195 0.646686 13.5946 0.646686 13.5946C0.646686 13.5946 0.836452 14.9343 1.41714 15.5226C2.15722 16.2968 3.12882 16.2703 3.56149 16.3537C5.11757 16.5018 10.1691 16.5473 10.1691 16.5473C10.1691 16.5473 14.2529 16.5397 16.9703 16.3462C17.3499 16.3006 18.1773 16.2968 18.9173 15.5226C19.5018 14.9343 19.6916 13.5946 19.6916 13.5946C19.6916 13.5946 19.8851 12.0233 19.8851 10.4482V8.97565C19.8851 7.40439 19.6916 5.82933 19.6916 5.82933ZM8.16141 12.2358V6.77437L13.4103 9.51459L8.16141 12.2358Z" fill="#233054"/>
  </g>
  <defs>
  <clipPath id="clip0">
  <rect width="19.432" height="19.432" fill="white" transform="translate(0.453125)"/>
  </clipPath>
  </defs>
</svg>  