<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M13.794 2.06432C13.5207 1.79094 13.0775 1.79094 12.8041 2.06432L4.41762 10.4508L1.19401 7.22723C0.920658 6.95385 0.477471 6.95387 0.204061 7.22723C-0.0693223 7.50059 -0.0693223 7.94377 0.204061 8.21716L3.92265 11.9357C4.19592 12.209 4.63944 12.2089 4.9126 11.9357L13.794 3.05427C14.0674 2.78092 14.0674 2.3377 13.794 2.06432Z" fill="#FFA400"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="14" height="14" fill="white"/>
</clipPath>
</defs>
</svg>