<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.1169 0.175744C17.3122 -0.0195185 17.6288 -0.0195185 17.824 0.175744C18.0193 0.371006 18.0193 0.687588 17.824 0.88285L9.70699 8.99989L17.824 17.1169C18.0193 17.3122 18.0193 17.6288 17.824 17.824C17.6288 18.0193 17.3122 18.0193 17.1169 17.824L8.99989 9.70699L0.882851 17.824C0.687588 18.0193 0.371006 18.0193 0.175743 17.824C-0.0195198 17.6288 -0.0195198 17.3122 0.175743 17.1169L8.29278 8.99989L0.175745 0.88285C-0.0195172 0.687588 -0.0195172 0.371006 0.175745 0.175744C0.371007 -0.0195185 0.68759 -0.0195185 0.882852 0.175744L8.99989 8.29278L17.1169 0.175744Z" fill="#0A0A0A"/>
</svg>
