<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.75 5C6.75 3.20507 8.20507 1.75 10 1.75C11.7949 1.75 13.25 3.20507 13.25 5V5.44444H6.75V5ZM5.25 6.94444V10C5.25 10.4142 5.58579 10.75 6 10.75C6.41421 10.75 6.75 10.4142 6.75 10V6.94444H13.25V10C13.25 10.4142 13.5858 10.75 14 10.75C14.4142 10.75 14.75 10.4142 14.75 10V6.94444H18C18.2761 6.94444 18.5 7.1683 18.5 7.44444V19C18.5 19.2761 18.2761 19.5 18 19.5H2C1.72386 19.5 1.5 19.2761 1.5 19V7.44445C1.5 7.1683 1.72386 6.94444 2 6.94444H5.25ZM5.25 5.44444V5C5.25 2.37665 7.37665 0.25 10 0.25C12.6234 0.25 14.75 2.37665 14.75 5V5.44444H18C19.1046 5.44444 20 6.33988 20 7.44444V19C20 20.1046 19.1046 21 18 21H2C0.895431 21 0 20.1046 0 19V7.44445C0 6.33988 0.895431 5.44444 2 5.44444H5.25Z" fill="#4B4F54"/>
</svg>    