<svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M12.3912 0H9.11636V13.2363C9.11636 14.8134 7.85683 16.1089 6.28937 16.1089C4.72191 16.1089 3.46235 14.8134 3.46235 13.2363C3.46235 11.6874 4.69392 10.42 6.20541 10.3637V7.0406C2.87456 7.0969 0.1875 9.82866 0.1875 13.2363C0.1875 16.6721 2.93054 19.432 6.31737 19.432C9.70415 19.432 12.4472 16.644 12.4472 13.2363V6.44916C13.6788 7.35038 15.1902 7.88546 16.7857 7.91364V4.59047C14.3226 4.50598 12.3912 2.47828 12.3912 0Z" fill="#233054"/>
</svg>  