<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.5 18.5">
	<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
		d="M13,8h1.88M3.62,14.88H.5v-10H18v10H3.62Zm0-3.76V18H14.88V11.12ZM14.88,4.88V.5H3.62V4.88Z" />
</svg>