<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
	<defs>
		<style>
			.a,
			.b {
				fill: #5b5757;
			}

			.b {
				stroke: #5b5757;
				stroke-miterlimit: 10;
				stroke-width: 0.75px;
			}
		</style>
	</defs>
	<path class="a"
		d="M30,2.34A27.66,27.66,0,1,1,2.34,30,27.69,27.69,0,0,1,30,2.34m0-1.5A29.16,29.16,0,1,0,59.16,30,29.17,29.17,0,0,0,30,.84Z" />
	<path class="b"
		d="M41.48,37.14H19.28a4.41,4.41,0,0,1-3.15-2.06c-.91-1.56-.76-3.72.44-6.41l.17-.35A10.86,10.86,0,0,0,17.87,23V18.69a.34.34,0,0,1,.34-.34.35.35,0,0,1,.35.34V23a11.62,11.62,0,0,1-1.2,5.6l-.17.35c-1.1,2.47-1.26,4.42-.47,5.77a3.65,3.65,0,0,0,2.64,1.72H41.47c2.83-.09,4.11-1.78,4.09-3.31,0-.93-.48-1.6-1.11-1.6a32.55,32.55,0,0,1-4.68-.46,22.16,22.16,0,0,1-7.88-3.46c-2.79-1.95-4.29-4.12-4.23-6.1V18.69a.34.34,0,0,1,.68,0v2.85c-.05,1.75,1.35,3.71,3.94,5.53a21.56,21.56,0,0,0,7.62,3.34,30.87,30.87,0,0,0,4.55.46c1,0,1.77.95,1.79,2.27C46.27,35,44.79,37.05,41.48,37.14Z" />
	<path class="b"
		d="M32.85,22.75a.32.32,0,0,1-.25-.11,3.7,3.7,0,0,1-.55-.71.33.33,0,0,1-.11-.27v0l.67-.15a1.83,1.83,0,0,0,.49.69.35.35,0,0,1,0,.49A.36.36,0,0,1,32.85,22.75Z" />
	<path class="b"
		d="M41.54,41.43H39.62a.34.34,0,1,1,0-.68h2.05a.34.34,0,0,1,.36.33.35.35,0,0,1-.33.36Zm-4,0H35.49a.34.34,0,0,1-.34-.34.35.35,0,0,1,.34-.35h2.07a.34.34,0,0,1,0,.68Zm-4.13,0H31.36a.35.35,0,0,1-.34-.35.34.34,0,0,1,.34-.34h2.07a.35.35,0,0,1,.34.35A.34.34,0,0,1,33.43,41.42Zm-4.13,0H27.23a.34.34,0,1,1,0-.68H29.3a.34.34,0,0,1,.34.34A.35.35,0,0,1,29.3,41.42Zm-4.13,0H23.1a.34.34,0,0,1-.34-.34.35.35,0,0,1,.34-.35h2.07a.34.34,0,1,1,0,.68Zm-4.14,0H19a.35.35,0,0,1-.34-.35.34.34,0,0,1,.34-.34H21a.35.35,0,0,1,.35.35A.35.35,0,0,1,21,41.41Zm22.7-.25a.34.34,0,0,1-.07-.68,9.05,9.05,0,0,0,1.88-.64.34.34,0,0,1,.29.62,9.62,9.62,0,0,1-2,.69ZM17,40.93l-.13,0a9.53,9.53,0,0,1-1.9-1,.34.34,0,0,1-.09-.47.35.35,0,0,1,.48-.1,7.93,7.93,0,0,0,1.76.91.36.36,0,0,1,.2.45A.37.37,0,0,1,17,40.93Zm30.45-1.54a.3.3,0,0,1-.26-.13.33.33,0,0,1,0-.48,7,7,0,0,0,1.33-1.45.35.35,0,0,1,.48-.08.34.34,0,0,1,.08.47,8.12,8.12,0,0,1-1.45,1.59A.35.35,0,0,1,47.42,39.39Zm-33.83-.77a.35.35,0,0,1-.26-.12,8.75,8.75,0,0,1-.91-1.28q-.15-.26-.27-.51a.34.34,0,0,1,.15-.46.35.35,0,0,1,.46.16c.08.15.16.31.25.46a7,7,0,0,0,.84,1.18.34.34,0,0,1,0,.48A.35.35,0,0,1,13.59,38.62ZM49.75,36l-.11,0a.34.34,0,0,1-.21-.44,7.05,7.05,0,0,0,.39-1.92.35.35,0,0,1,.37-.32.34.34,0,0,1,.32.36,8,8,0,0,1-.44,2.11A.33.33,0,0,1,49.75,36ZM11.78,35a.33.33,0,0,1-.33-.27,9.24,9.24,0,0,1-.19-1.91v-.22a.34.34,0,0,1,.34-.34h0a.35.35,0,0,1,.33.36v.2a8.57,8.57,0,0,0,.18,1.77.34.34,0,0,1-.27.41ZM50,32a.35.35,0,0,1-.34-.27A5.94,5.94,0,0,0,49,29.89a.35.35,0,0,1,.12-.47.33.33,0,0,1,.47.12,6.64,6.64,0,0,1,.79,2,.34.34,0,0,1-.26.41ZM11.84,30.85h-.07a.33.33,0,0,1-.27-.4,13.81,13.81,0,0,1,.57-2,.34.34,0,0,1,.64.22,15.93,15.93,0,0,0-.54,1.95A.33.33,0,0,1,11.84,30.85ZM47.93,28.5a.37.37,0,0,1-.22-.08A5,5,0,0,0,46,27.51a.35.35,0,0,1-.23-.43.36.36,0,0,1,.44-.23,5.89,5.89,0,0,1,1.92,1,.35.35,0,0,1,.05.48A.37.37,0,0,1,47.93,28.5Zm-3.85-1.24h0c-.55,0-1.33-.09-2.09-.17a.35.35,0,0,1,.08-.69c.75.09,1.51.16,2,.18a.34.34,0,0,1,.33.35A.34.34,0,0,1,44.08,27.26ZM13.19,27a.32.32,0,0,1-.14,0,.33.33,0,0,1-.17-.45,6.52,6.52,0,0,0,.61-1.87.34.34,0,1,1,.68.11,7.28,7.28,0,0,1-.67,2A.34.34,0,0,1,13.19,27ZM40,26.74H39.9a15.15,15.15,0,0,1-2-.67.34.34,0,0,1-.19-.45.34.34,0,0,1,.45-.18,15.21,15.21,0,0,0,1.91.63.34.34,0,0,1,.25.42A.35.35,0,0,1,40,26.74Zm-3.82-1.55a.33.33,0,0,1-.17,0A20.73,20.73,0,0,1,34.22,24a.35.35,0,0,1-.08-.48.34.34,0,0,1,.48-.08,18.36,18.36,0,0,0,1.71,1.08.35.35,0,0,1,.14.47A.34.34,0,0,1,36.17,25.19Z" />
	<path class="b"
		d="M13.93,22.92a.35.35,0,0,1-.34-.35v-1a.34.34,0,0,1,.34-.34.35.35,0,0,1,.35.34v1A.35.35,0,0,1,13.93,22.92Z" />
</svg>