<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M31.9688 10.3124H1.03131C0.462036 10.3124 8.7738e-05 9.85041 8.7738e-05 9.28122C8.7738e-05 8.71195 0.462124 8.25 1.03131 8.25H31.9688C32.538 8.25 33 8.71204 33 9.28122C33 9.85041 32.538 10.3124 31.9688 10.3124Z" fill="#4B4F54"/>
  <path d="M1.03131 15.4688H31.9688C32.538 15.4688 33 15.9308 33 16.5C33 17.0692 32.538 17.5312 31.9688 17.5312H1.03131C0.462036 17.5312 8.7738e-05 17.0692 8.7738e-05 16.5C8.7738e-05 15.9308 0.462036 15.4688 1.03131 15.4688Z" fill="#4B4F54"/>
  <path d="M1.0313 22.6875H21.6563C22.2256 22.6875 22.6875 23.1495 22.6875 23.7187C22.6875 24.288 22.2255 24.75 21.6563 24.75H1.0313C0.462025 24.75 7.43866e-05 24.2879 7.43866e-05 23.7187C-1.14441e-05 23.1495 0.462025 22.6875 1.0313 22.6875Z" fill="#4B4F54"/>
</svg>