<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="40" cy="40" r="39" stroke="white" stroke-width="2"/>
<path d="M27.5435 43.9774L33.7154 50.5489L34.0583 55.0451C35.087 54.8145 38.173 54.8376 42.2876 56.7744C46.4022 58.7113 47.4309 61.7318 47.4309 63C50.8597 63 57.7175 62.9308 57.7175 62.6541C57.7175 62.3083 57.7175 61.2707 57.7175 59.8872C57.7175 58.5038 58.4032 59.5414 58.7461 58.8496C59.089 58.1579 58.7461 57.4662 59.4319 56.4286C60.1177 55.391 60.1177 55.7368 59.7748 54.3534C59.5005 53.2466 44.5735 38.9048 37.1443 31.8722V17L21.3715 17.3459C21.4858 19.1905 21.6459 23.018 21.3715 23.5714C21.0287 24.2632 20 23.5714 20 24.609C20 25.6466 20.6858 27.3759 21.0287 27.7218C21.3715 28.0677 23.086 28.0677 22.7431 29.4511C22.4002 30.8346 22.7431 32.5639 22.7431 32.9098C22.7431 33.1865 23.886 33.9474 24.4575 34.2932" stroke="white" stroke-width="2"/>
<path d="M27.8864 34.4419L28.7051 36.9837L28.9285 37.6771H29.657H32.3305L30.1602 39.2677L29.5782 39.6941L29.7994 40.3809L30.6238 42.9402L28.4775 41.3672L27.8864 40.934L27.2953 41.3672L25.1489 42.9402L25.9733 40.3809L26.1945 39.6941L25.6126 39.2677L23.4422 37.6771H26.1158H26.8443L27.0676 36.9837L27.8864 34.4419Z" stroke="white" stroke-width="2"/>
</svg>
