<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
  <path d="M9.86836 1.74964C12.4644 1.74964 12.7718 1.76103 13.7927 1.80657C14.7415 1.84832 15.2539 2.00772 15.5955 2.14056C16.0471 2.31514 16.3735 2.52768 16.7113 2.86546C17.0529 3.20704 17.2616 3.52965 17.4362 3.98129C17.5691 4.32287 17.7285 4.83903 17.7702 5.78406C17.8158 6.8088 17.8271 7.11622 17.8271 9.70842C17.8271 12.3044 17.8158 12.6118 17.7702 13.6328C17.7285 14.5816 17.5691 15.094 17.4362 15.4356C17.2616 15.8872 17.0491 16.2136 16.7113 16.5514C16.3697 16.893 16.0471 17.1017 15.5955 17.2763C15.2539 17.4091 14.7377 17.5685 13.7927 17.6103C12.768 17.6558 12.4606 17.6672 9.86836 17.6672C7.27236 17.6672 6.96494 17.6558 5.944 17.6103C4.99517 17.5685 4.4828 17.4091 4.14122 17.2763C3.68958 17.1017 3.36318 16.8892 3.0254 16.5514C2.68382 16.2098 2.47508 15.8872 2.30049 15.4356C2.16766 15.094 2.00825 14.5778 1.96651 13.6328C1.92096 12.608 1.90958 12.3006 1.90958 9.70842C1.90958 7.11243 1.92096 6.805 1.96651 5.78406C2.00825 4.83523 2.16766 4.32287 2.30049 3.98129C2.47508 3.52965 2.68762 3.20325 3.0254 2.86546C3.36698 2.52389 3.68958 2.31514 4.14122 2.14056C4.4828 2.00772 4.99896 1.84832 5.944 1.80657C6.96494 1.76103 7.27236 1.74964 9.86836 1.74964ZM9.86836 0C7.23061 0 6.90042 0.011386 5.8643 0.0569298C4.83197 0.102474 4.12225 0.269468 3.5074 0.508573C2.866 0.759063 2.32327 1.08926 1.78433 1.63199C1.2416 2.17092 0.911407 2.71365 0.660916 3.35127C0.421811 3.9699 0.254817 4.67583 0.209274 5.70816C0.16373 6.74807 0.152344 7.07827 0.152344 9.71601C0.152344 12.3538 0.16373 12.684 0.209274 13.7201C0.254817 14.7524 0.421811 15.4621 0.660916 16.077C0.911407 16.7184 1.2416 17.2611 1.78433 17.8C2.32327 18.339 2.866 18.673 3.50361 18.9197C4.12225 19.1588 4.82817 19.3258 5.8605 19.3713C6.89662 19.4168 7.22681 19.4282 9.86456 19.4282C12.5023 19.4282 12.8325 19.4168 13.8686 19.3713C14.9009 19.3258 15.6107 19.1588 16.2255 18.9197C16.8631 18.673 17.4059 18.339 17.9448 17.8C18.4837 17.2611 18.8177 16.7184 19.0644 16.0808C19.3035 15.4621 19.4705 14.7562 19.5161 13.7239C19.5616 12.6877 19.573 12.3576 19.573 9.71981C19.573 7.08206 19.5616 6.75187 19.5161 5.71575C19.4705 4.68342 19.3035 3.9737 19.0644 3.35886C18.8253 2.71365 18.4951 2.17092 17.9524 1.63199C17.4134 1.09305 16.8707 0.759064 16.2331 0.512368C15.6145 0.273263 14.9085 0.106269 13.8762 0.0607251C12.8363 0.011386 12.5061 0 9.86836 0Z" fill="#233054"/>
  <path d="M9.86975 4.7251C7.11435 4.7251 4.87891 6.96054 4.87891 9.71594C4.87891 12.4713 7.11435 14.7068 9.86975 14.7068C12.6251 14.7068 14.8606 12.4713 14.8606 9.71594C14.8606 6.96054 12.6251 4.7251 9.86975 4.7251ZM9.86975 12.9533C8.08215 12.9533 6.63234 11.5035 6.63234 9.71594C6.63234 7.92835 8.08215 6.47853 9.86975 6.47853C11.6573 6.47853 13.1072 7.92835 13.1072 9.71594C13.1072 11.5035 11.6573 12.9533 9.86975 12.9533Z" fill="#233054"/>
  <path d="M16.2209 4.52796C16.2209 5.17316 15.6972 5.69312 15.0558 5.69312C14.4106 5.69312 13.8906 5.16937 13.8906 4.52796C13.8906 3.88275 14.4144 3.36279 15.0558 3.36279C15.6972 3.36279 16.2209 3.88655 16.2209 4.52796Z" fill="#233054"/>
  </g>
  <defs>
  <clipPath id="clip0">
  <rect width="19.432" height="19.432" fill="white" transform="translate(0.152344)"/>
  </clipPath>
  </defs>
</svg>  