<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="40" cy="40" r="39" stroke="white" stroke-width="2"/>
<path d="M53.6346 20.0667L57 22.7926L53.2981 23.4741M51.6154 19.3852L47.2404 17V25.1778M47.2404 25.1778L50.9423 20.0667L56.3269 37.1037L56.021 37.4444M47.2404 25.1778L42.1923 37.1037L33.7788 25.5185M42.8654 52.0963L42.1923 45.6222M42.8654 52.0963L56.021 37.4444M42.8654 52.0963V57.2074M42.1923 45.6222L56.021 37.4444M42.1923 45.6222L31.0865 37.7852L56.021 37.4444M42.1923 45.6222L39.0105 50.0519M39.0105 50.0519L36.8077 53.1185L40.1731 63H44.8846L42.8654 61.2963V57.2074M39.0105 50.0519L29.4038 37.7852L30.9837 33.3556M33.7788 25.5185L28.7308 25.1778M33.7788 25.5185L30.9837 33.3556M28.7308 25.1778L22.6731 43.9185L22 29.2667L28.7308 25.1778ZM26.375 33.3556H30.9837M46.9038 48.0074V58.5704L49.5962 60.6148L44.8846 60.9556L42.8654 57.2074M51.6154 19.7259L53.6346 19.0444L52.625 24.837L51.6154 19.7259Z" stroke="white" stroke-width="2"/>
</svg>
