<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
  <path d="M19.432 9.71601C19.432 4.35 15.082 0 9.71601 0C4.35 0 0 4.35 0 9.71601C0 14.5655 3.55299 18.5851 8.19788 19.314V12.5245H5.73093V9.71601H8.19788V7.57545C8.19788 5.14038 9.64846 3.79532 11.8678 3.79532C12.9305 3.79532 14.0427 3.98508 14.0427 3.98508V6.37613H12.8175C11.6106 6.37613 11.2341 7.12514 11.2341 7.89426V9.71601H13.9288L13.498 12.5245H11.2341V19.314C15.879 18.5851 19.432 14.5655 19.432 9.71601Z" fill="#233054"/>
  </g>
  <defs>
  <clipPath id="clip0">
  <rect width="19.432" height="19.432" fill="white"/>
  </clipPath>
  </defs>
</svg>  