<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
	<path
		d="M30 2.34A27.66 27.66 0 1 1 2.34 30 27.69 27.69 0 0 1 30 2.34m0-1.5A29.16 29.16 0 1 0 59.16 30 29.17 29.17 0 0 0 30 .84Z"
		fill="currentColor" />
	<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
		d="M46.85 25.06a4 4 0 0 0-1.59-2.58 4.12 4.12 0 0 0-2.82-4.89A4.1 4.1 0 0 0 41 14.93a4.22 4.22 0 0 0-2.88-1 4.12 4.12 0 0 0-5.3-1.93 4.11 4.11 0 0 0-5.64 0 4.14 4.14 0 0 0-5.3 2A4.2 4.2 0 0 0 19 15a4.13 4.13 0 0 0-1.44 2.66 4.12 4.12 0 0 0-2.82 4.89 4.11 4.11 0 0 0-1 5.55 4.13 4.13 0 0 0 1 5.56 4.11 4.11 0 0 0 2.82 4.88 4.12 4.12 0 0 0 4.32 3.63 4.15 4.15 0 0 0 1.29 1.5v3.23a2.36 2.36 0 0 0 4.71 0v-2.35a4.06 4.06 0 0 0 2.12.59 4.13 4.13 0 0 0 2-.5v2.19a2.35 2.35 0 0 0 4.7 0v-3.14a4.09 4.09 0 0 0 1.44-1.59 4.12 4.12 0 0 0 4.32-3.63 4.11 4.11 0 0 0 2.82-4.88 4.13 4.13 0 0 0 1-5.56 4.09 4.09 0 0 0 .57-2.97Z" />
	<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
		d="M40.09 31.12c-.18-.75-1.1-1-2-1.26l-.32-.09A4.41 4.41 0 0 1 36 28.29a.55.55 0 0 0-.48-.19 2.49 2.49 0 0 1-.37 0 3.09 3.09 0 0 1-2.49-1.28.53.53 0 0 0-.36-.22.63.63 0 0 0-.42.12 3.07 3.07 0 0 1-1.95.7 3 3 0 0 1-1.93-.66.57.57 0 0 0-.41-.12.55.55 0 0 0-.37.22 3.06 3.06 0 0 1-2.47 1.26 2.49 2.49 0 0 1-.37 0 .53.53 0 0 0-.48.19 4.47 4.47 0 0 1-1.82 1.48l-.32.09c-.89.25-1.81.51-2 1.27-.12.48.12 1 .74 1.55a2.44 2.44 0 0 0 1.65.67 2.63 2.63 0 0 0 1.46-.47c.29 4.5 3 8 6.3 8s6-3.5 6.31-8a2.68 2.68 0 0 0 1.5.49 2.44 2.44 0 0 0 1.65-.67c.63-.6.84-1.11.72-1.6Z" />
	<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M29.2 31.54a1.52 1.52 0 0 1-3 0M33.84 31.54a1.52 1.52 0 0 1-3 0" />
</svg>