<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.00056 0.160645C5.90279 0.160645 3.37556 2.68788 3.37556 5.78564C3.37556 7.72225 4.36395 9.44189 5.86181 10.4568C2.99547 11.6863 0.964844 14.5309 0.964844 17.8392H2.57199C2.57199 14.2794 5.44074 11.4106 9.00056 11.4106C12.5604 11.4106 15.4291 14.2794 15.4291 17.8392H17.0363C17.0363 14.5309 15.0056 11.6871 12.1393 10.456C12.9038 9.93993 13.5301 9.24437 13.9636 8.43019C14.397 7.61601 14.6243 6.70801 14.6256 5.78564C14.6256 2.68788 12.0983 0.160645 9.00056 0.160645ZM9.00056 1.76779C11.2289 1.76779 13.0184 3.55734 13.0184 5.78564C13.0184 8.01395 11.2289 9.8035 9.00056 9.8035C6.77225 9.8035 4.9827 8.01395 4.9827 5.78564C4.9827 3.55734 6.77225 1.76779 9.00056 1.76779Z" fill="#4B4F54"/>
</svg>