






<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.a{fill:#5b5757;}.b,.c{fill:none;stroke:#5b5757;stroke-linejoin:round;stroke-width:1.5px;}.b{stroke-linecap:round;}</style></defs><path fill="currentColor" d="M30,2.34A27.66,27.66,0,1,1,2.34,30,27.69,27.69,0,0,1,30,2.34m0-1.5A29.16,29.16,0,1,0,59.16,30,29.17,29.17,0,0,0,30,.84Z"/><path class="b" d="M26.43,22.29,48.8,30.86c.66.24,1.27.62,1.27,1.32v1.18H12V24.27c0-1.32.63-2.11,1.94-2.11h2c0,1.49,2.37,2.7,5.27,2.7C24.83,24.86,26.43,23.67,26.43,22.29Z"/><path class="c" d="M41.16,28.18c0,.92-1.2,2.57-2.12,2.57H33.77c-1.38,0-2,.43-2,1.8v.81"/><path class="b" d="M17.21,32.84a5.49,5.49,0,0,0-5.27-5.28"/><path class="b" d="M12,33.36v3.42a1,1,0,0,0,1,1.06h1.64V36.35H17.2v1.49h3V36.35H22.8v1.49h3V36.35h2.62v1.49h3V36.35H34v1.49h3V36.35h2.61v1.49h2.62V36.35h3v1.49h.43a4.65,4.65,0,0,0,4.51-4.48Z"/></svg>