<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M18.3432 2.31109C16.1682 0.137921 12.6281 0.137921 10.4524 2.3106L10 2.76177L9.54813 2.31081C7.37223 0.137839 3.83258 0.138085 1.65668 2.31081C0.58832 3.37779 0 4.79303 0 6.29543C0 7.79833 0.58832 9.21333 1.65684 10.2808L9.51695 18.1161C9.65215 18.2512 9.82621 18.3185 10 18.3185C10.1738 18.3185 10.3476 18.2509 10.483 18.1159L18.3432 10.2808C19.4114 9.21358 20 7.79837 20 6.29568C20 4.79303 19.4114 3.37803 18.3432 2.31109ZM17.3761 9.21234L10 16.5655L2.6241 9.21259C1.83695 8.42665 1.40352 7.39063 1.40352 6.29568C1.40352 5.20073 1.83695 4.16471 2.6241 3.37877C3.44516 2.55842 4.52352 2.14851 5.60211 2.14851C6.68094 2.14851 7.75977 2.55891 8.58082 3.37926L9.51648 4.31237C9.78734 4.58279 10.2124 4.58279 10.4833 4.31237L11.4192 3.37877C13.0615 1.73831 15.7336 1.73831 17.3759 3.37877C18.1628 4.16475 18.5965 5.20073 18.5965 6.29568C18.5965 7.39063 18.1628 8.4264 17.3761 9.21234Z" fill="currentColor"/>
</svg>
