<svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289C17.9024 4.68342 17.9024 5.31658 18.2929 5.70711L19.7071 4.29289ZM25 11L25.7071 11.7071L26.4142 11L25.7071 10.2929L25 11ZM18.2929 16.2929C17.9024 16.6834 17.9024 17.3166 18.2929 17.7071C18.6834 18.0976 19.3166 18.0976 19.7071 17.7071L18.2929 16.2929ZM10 10C9.44772 10 9 10.4477 9 11C9 11.5523 9.44772 12 10 12V10ZM18.2929 5.70711L24.2929 11.7071L25.7071 10.2929L19.7071 4.29289L18.2929 5.70711ZM24.2929 10.2929L18.2929 16.2929L19.7071 17.7071L25.7071 11.7071L24.2929 10.2929ZM25 10H10V12H25V10Z" fill="white"/>
</svg>