<svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="0.5" y="0.5" width="14" height="14" rx="7" stroke="currentColor"/>
<path d="M3.59961 8.3999C3.59961 12.5999 11.3996 12.5999 11.3996 8.3999" stroke="currentColor" stroke-linecap="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.92676 4.27342C5.92676 4.23298 5.95781 4.2002 5.99613 4.2002C6.03444 4.2002 6.06549 4.23298 6.06549 4.27342V6.10397C6.06549 6.14441 6.03444 6.1772 5.99613 6.1772C5.95781 6.1772 5.92676 6.14441 5.92676 6.10397V4.27342ZM8.97894 4.2002C8.94063 4.2002 8.90957 4.23298 8.90957 4.27342V6.10397C8.90957 6.14441 8.94063 6.1772 8.97894 6.1772C9.01725 6.1772 9.04831 6.14441 9.04831 6.10397V4.27342C9.04831 4.23298 9.01725 4.2002 8.97894 4.2002Z" fill="currentColor" stroke="currentColor"/>
</svg>