<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.7393 4.76172C8.05504 4.76172 8.35784 4.88714 8.5811 5.1104C8.80436 5.33366 8.92978 5.63646 8.92978 5.9522V8.33315C8.92978 8.64888 8.80436 8.95168 8.5811 9.17494C8.35784 9.3982 8.05504 9.52362 7.7393 9.52362C7.42357 9.52362 7.12077 9.3982 6.89751 9.17494C6.67425 8.95168 6.54883 8.64888 6.54883 8.33315V5.9522C6.54883 5.63646 6.67425 5.33366 6.89751 5.1104C7.12077 4.88714 7.42357 4.76172 7.7393 4.76172V4.76172Z" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.0249 7.14258H8.92969" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.54799 7.14258H2.97656" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.7393 16.6665C8.05504 16.6665 8.35784 16.7919 8.5811 17.0152C8.80436 17.2384 8.92978 17.5412 8.92978 17.857V20.2379C8.92978 20.5537 8.80436 20.8565 8.5811 21.0797C8.35784 21.303 8.05504 21.4284 7.7393 21.4284C7.42357 21.4284 7.12077 21.303 6.89751 21.0797C6.67425 20.8565 6.54883 20.5537 6.54883 20.2379V17.857C6.54883 17.5412 6.67425 17.2384 6.89751 17.0152C7.12077 16.7919 7.42357 16.6665 7.7393 16.6665Z" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.0249 19.0474H8.92969" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.54799 19.0474H2.97656" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2627 10.7139C17.5785 10.7139 17.8813 10.8393 18.1045 11.0625C18.3278 11.2858 18.4532 11.5886 18.4532 11.9043V14.2853C18.4532 14.601 18.3278 14.9038 18.1045 15.1271C17.8813 15.3503 17.5785 15.4758 17.2627 15.4758C16.947 15.4758 16.6442 15.3503 16.4209 15.1271C16.1977 14.9038 16.0723 14.601 16.0723 14.2853V11.9043C16.0723 11.5886 16.1977 11.2858 16.4209 11.0625C16.6442 10.8393 16.947 10.7139 17.2627 10.7139V10.7139Z" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.0718 13.0952H2.97656" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.0246 13.0952H18.4531" stroke="#0A0A0A" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
