<div class="mobile-order-details__item f-h">
	<div class="item-image bg-subtle">
		<span class="object-contain"><img src="{{ line_item.product.featured_image.src | img_url: 'medium' }}" alt="{{ line_item.product.featured_image.alt }}" width="72" height="36" loading="lazy"></span>
	</div>
  <div class="mobile-order-item__product-info">
		<div class="t-h-6">{{ line_item.product.title }}</div>
		<div class="t-l-2">{{ line_item.variant.title }}</div>

    {%- assign property_size = line_item.properties | size -%}
    {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
      <div class="properties">
        {%- unless line_item.product.has_only_default_variant -%}
          <span>
            {{ line_item.variant.title }}
          </span>
        {%- endunless -%}
        {%- unless line_item.selling_plan_allocation == nil -%}
          <span>
            {{ line_item.selling_plan_allocation.selling_plan.name }}
          </span>
        {%- endunless -%}
        {%- if property_size != 0 -%}
          {%- for property in line_item.properties -%}
            {% assign property_first_char = property.first | slice: 0 %}
            {%- if property.last != blank and property_first_char != '_' -%}
              <span>
                {{ property.first }}:&nbsp;
                {%- if property.last contains '/uploads/' -%}
                  <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                {%- else -%}
                  {{ property.last }}
                {%- endif -%}
              </span>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    {%- endunless -%}

    {%- if line_item.line_level_discount_allocations != blank -%}
      <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
        {%- for discount_allocation in line_item.line_level_discount_allocations -%}
          <li>
            {% render 'icon-discount' %}
            {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <!-- {%- if line_item.fulfillment -%}
      <div class="fulfillment">
        {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
        <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

          {%- if line_item.fulfillment.tracking_url -%}
            <a href="{{ line_item.fulfillment.tracking_url }}">
              {{ 'customer.order.track_shipment' | t }}
            </a>
          {%- endif -%}
          <span>
            {{ line_item.fulfillment.tracking_company }}
            {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
          </span>
      </div>
    {%- endif -%} -->
  </div>
  <div class="mobile-order-item__price">
    {%- if line_item.original_line_price != line_item.final_line_price -%}
      <dl>
        <dt>
          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
        </dt>
        <dd>
          <s>{{ line_item.original_line_price | money }}</s>
        </dd>
        <dt>
          <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
        </dt>
        <dd>
          <span>{{ line_item.final_line_price | money }}</span>
        </dd>
      </dl>
    {%- else -%}
      {{ line_item.original_line_price | money }}
    {%- endif -%}
  </div>
</div>