<svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<path d="M4 30C4 13.4315 17.4315 0 34 0C50.5685 0 64 13.4315 64 30C64 46.5685 50.5685 60 34 60C17.4315 60 4 46.5685 4 30Z" fill="white"/>
<path d="M36.2071 23.2929C35.8166 22.9024 35.1834 22.9024 34.7929 23.2929C34.4024 23.6834 34.4024 24.3166 34.7929 24.7071L36.2071 23.2929ZM41.5 30L42.2071 30.7071L42.9142 30L42.2071 29.2929L41.5 30ZM34.7929 35.2929C34.4024 35.6834 34.4024 36.3166 34.7929 36.7071C35.1834 37.0976 35.8166 37.0976 36.2071 36.7071L34.7929 35.2929ZM26.5 29C25.9477 29 25.5 29.4477 25.5 30C25.5 30.5523 25.9477 31 26.5 31V29ZM34.7929 24.7071L40.7929 30.7071L42.2071 29.2929L36.2071 23.2929L34.7929 24.7071ZM40.7929 29.2929L34.7929 35.2929L36.2071 36.7071L42.2071 30.7071L40.7929 29.2929ZM41.5 29H26.5V31H41.5V29Z" fill="#4B4F54"/>
</g>
<defs>
<filter id="filter0_d" x="0" y="0" width="68" height="68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dy="4"/>
<feGaussianBlur stdDeviation="2"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
</defs>
</svg>
