{% capture none %}
	{%- for option in product_card.options_with_values -%}
		{%- if option.name == 'Color' -%}
			{%- for value in option.values -%}
				{%- assign this_colorway = value -%}
			{%- endfor -%}
		{%- endif -%}
	{%- endfor -%}

	{%- assign model_collection = product_card.title | handleize -%}
	{% capture product_json %}
		[
			{% for v in product_card.variants %}
				{
					'title': '{{ v.title }}',
					'availability': {{ v.available }},
					'id': {{ v.id }}
				}
				{%- unless forloop.last -%},{%- endunless forloop.last -%}
			{% endfor %}
		]
	{% endcapture %}
{% endcapture %}

<article 
	data-product-id="{{ product_card.id }}" 
	data-product-variants="{{ product_json | strip_newlines | replace: '	', '' }}"
	class='product-card'>
	<div class='pc-image'>
		{% if product_card.metafields.custom_fields.secondary_image %}
			<span class="pc-image-hover object-contain bg-subtle">
				{{ product_card.metafields.custom_fields.secondary_image }}
			</span>
		{% elsif product_card.images[2] != nil %}
			<span class="pc-image-hover object-contain bg-subtle">
				{% render 'img-srcset', 
					image: product_card.images[2],
					max_width: 900,
					alt: product_card.title %}
			</span>
		{% endif %}

		<span class="pc-image-og object-contain bg-subtle">
			{% if product_card.featured_media != nil %}
				{% render 'img-srcset', 
					image: product_card.featured_media,
					max_width: 900,
					alt: product_card.title %}
			{% endif %}
		</span>

		{% if product_card.metafields.custom_fields.badge %}
			<div class="pc-badge">{{ product_card.metafields.custom_fields.badge }}</div>
		{% elsif collections[model_collection].metafields.custom_fields.badge %}
			<div class="pc-badge">{{ collections[model_collection].metafields.custom_fields.badge }}</div>
		{% endif %}

		<a href="{{ product_card.url }}" class="p-fill"> </a>

		{% unless product.title contains 'Gift Card' %}
			<div class="pc-quick-add">
				<div class="pc-quick-add-label p-fill t-b-2-m">+ Quick Add</div>
				<div class="pc-quick-add-selectors f-h cr-black">
					{%- for option in product_card.options_with_values -%}
						{%- if option.name != 'Color' -%}
							<div class="selector" data-index="{{ forloop.index }}">
								<div class="selector-label t-b-2-m">
									<span class="selector-label-name">{{ option.name }}</span>
									{{ 'svg-caret-down-black.svg' | asset_url | img_tag }}
								</div>

								<ul class="f-h t-b-2 cr-gray-1">
									{%- for value in option.values -%}
										<li>
											<button 
												class="selector-value"
												data-value="{{ value }}">
											{{ value }}{% if option.name == 'Width' %} Width{% endif %}</button>
										</li>
									{%- endfor -%}
								</ul>
							</div>
						{%- endif -%}
					{%- endfor -%}
				</div>

				<button 
					class="pc-quick-add-trigger button--primary color-background-1"
					variant>
				Add to Cart</button>
			</div>
		{% endunless %}
	</div>

	<div class='pc-details'>
		<a href="{{ product_card.url }}" class="full-unstyled-link">
			<h6 class='h6'>{{ product_card.title }}</h6>
			<div class='pc-flex-row'>
				{% if product_card.metafields.custom_fields.product_subtitle %}
					<span class='pc-details-subtitle body-small text-subdued'>{{ product_card.metafields.custom_fields.product_subtitle }}</span>
				{% endif %}
				<span class='pc-details-price body-tall'>
					{% if product_card.compare_at_price_min > product_card.price and 
						product_card.compare_at_price_max != 0 %}
						<span>{{ product_card.price | money_without_trailing_zeros }}</span>
						<s>{{ product_card.compare_at_price_min | money_without_trailing_zeros }}</s> 
					{% else %}
						{{ product_card.price | money_without_trailing_zeros }}
					{% endif %}
				</span>
			</div>
		</a>
	</div>

	{% if collections[model_collection] != blank %}
		<div class='pc-colorways'>
			<span class='utility-thin text-subdued'>+ {{ collections[model_collection].all_products_count }} Color{% if collections[model_collection].all_products_count > 1 %}s{% endif %} Available</span>

			<div 
				class="colorways-reel p-fill"  
				data-flickity-slider="{
					'pageDots': false,
					'prevNextButtons': true,
					'wrapAround': true,
					'imagesLoaded': true,
					'cellAlign': 'left',
					'draggable': false
				}">
				{%- for product in collections[model_collection].products -%}
					{%- for option in product.options_with_values -%}
						{%- if option.name == 'Color' -%}
							{%- for value in option.values -%}
								{%- assign alt_colorway = value -%}
							{%- endfor -%}
						{%- endif -%}
					{%- endfor -%}
					<a 
						href='{{ product.url }}' 
						class='product-colorways {% if this_colorway == alt_colorway %}is-current{% endif %}'>
						<span class="object-contain">
							<img srcset="{{ product.featured_image | img_url: '375x' }} 375w"
								sizes="375px"
								src="{{ product.featured_image | img_url: '375x' }}"
								loading="lazy"
								alt="{{ alt_colorway | escape }}"
								width="{{ product.featured_image.width }}"
								height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
							>
						</span>
					</a>
				{%- endfor -%}
			</div>
		</div>
	{% endif %}
</article>