{% case icon %}
	{% when 'close' %}
		<svg class="svg-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.23 15.32"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-width="1.03" d="M.51,14.71,14.71.51M.52.61l14.19,14.2" /></svg>

	{% when 'plus' %}
		<svg class="svg-plus" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.98828 2.17038e-06L5.98828 10" stroke="currentColor"/><path d="M10.9883 5L0.988281 5" stroke="currentColor"/></svg>

	{% when 'minus' %}
		<svg class="svg-plus" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9883 5L0.988281 5" stroke="currentColor"/></svg>

	{% when 'arrow-right' %}
		<svg class="svg-arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path fill="currentColor" d="M7,0,5.52,1.48,10,6H0V8H10L5.52,12.52,7,14l7-7Z" /></svg>

	{% when 'arrow-left' %}
		<svg class="svg-arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path fill="currentColor" d="M7,14l1.48-1.48L4,8H14V6H4L8.48,1.48,7,0,0,7Z" /></svg>

	{% when 'arrow-down' %}
		<svg class="svg-arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path fill="currentColor" d="M14,7,12.52,5.52,8,10V0H6V10L1.48,5.52,0,7l7,7Z"/></svg>
	
	{% when 'arrow-down-thin' %}
		<svg class="svg-arrow-down-thin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.67 22"><path fill="currentColor" d="M7.66,21.87,14.53,15a.46.46,0,1,0-.65-.65l-6.09,6.1V.46A.46.46,0,0,0,7.33,0a.47.47,0,0,0-.46.46v20L.78,14.34a.46.46,0,0,0-.65,0,.46.46,0,0,0-.13.33A.45.45,0,0,0,.13,15L7,21.87A.48.48,0,0,0,7.66,21.87Z" /></svg>

	{% when 'caret-down' %}
		<svg class="svg-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.07 4.54"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M.5.5,4,4,7.57.5" /></svg>

	{% when 'caret-left' %}
		<svg class="svg-caret-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9"><g><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" d="M4.5.5l-4,4,4,4"/></g></svg>

	{% when 'star-fill' %}
		<svg class="svg-star-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.51 14.75"><g><path d="M7.76 1.62l1.35 4.17.11.35H14l-3.57 2.57-.3.22.11.34 1.36 4.18-3.55-2.58-.29-.22-.3.22-3.55 2.58 1.36-4.18.11-.34-.29-.22-3.55-2.57h4.75l.11-.35z" fill="currentColor" stroke="currentColor" /></g></svg>

	{% when 'link' %}
		<svg class="svg-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 11"><path fill="currentColor" d="M6.35,5.5a.92.92,0,0,0,.26.65.91.91,0,0,0,.64.27H12.7a.91.91,0,0,0,.64-.27.94.94,0,0,0,0-1.3.91.91,0,0,0-.64-.27H7.25a.91.91,0,0,0-.64.27A.92.92,0,0,0,6.35,5.5Zm.91,3.67H5.63A3.76,3.76,0,0,1,1.82,5.84,3.69,3.69,0,0,1,2,4.33,3.62,3.62,0,0,1,2.75,3,3.69,3.69,0,0,1,4,2.14a3.76,3.76,0,0,1,1.47-.31H7.26a.9.9,0,0,0,.64-.26A1,1,0,0,0,8.17.92.93.93,0,0,0,7.9.27.91.91,0,0,0,7.26,0H5.63A5.55,5.55,0,0,0,2,1.33,5.61,5.61,0,0,0,.05,4.78,5.64,5.64,0,0,0,.23,7.09a5.54,5.54,0,0,0,1.12,2A5.41,5.41,0,0,0,5.44,11H7.26A.91.91,0,0,0,7.9,9.44.87.87,0,0,0,7.26,9.17ZM20,4.8A5.68,5.68,0,0,0,18,1.32,5.56,5.56,0,0,0,14.3,0H12.93c-.74,0-1.14.41-1.14.92a1,1,0,0,0,.27.65.9.9,0,0,0,.64.26h1.62a3.76,3.76,0,0,1,3.82,3.33A3.69,3.69,0,0,1,18,6.67,3.75,3.75,0,0,1,17.21,8,3.85,3.85,0,0,1,16,8.86a3.69,3.69,0,0,1-1.47.31H12.7a.87.87,0,0,0-.64.27A.92.92,0,0,0,12.7,11h1.81a5.38,5.38,0,0,0,4.12-1.85A5.55,5.55,0,0,0,20,4.8Z" /></svg>
	
	{% when 'chat' %}
		<svg class="svg-chat" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19 11H10M19 1H5C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5V13C1 14.0609 1.42143 15.0783 2.17157 15.8284C2.92172 16.5786 3.93913 17 5 17H17L23 22V5C23 3.93913 22.5786 2.92172 21.8284 2.17157C21.0783 1.42143 20.0609 1 19 1V1ZM19 7H6H19Z" stroke="currentColor" stroke-width="2"/></svg>

	{% when 'email' %}
		<svg class="svg-email" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15.56"><path fill="currentColor" fill-rule="evenodd" d="M16.91,1.5H3.09L8.73,6.33a1.92,1.92,0,0,0,2.54,0ZM1.5,2.11V13.56a.5.5,0,0,0,.5.5H18a.5.5,0,0,0,.5-.5V2.11h0L12.25,7.47a3.43,3.43,0,0,1-4.5,0L1.51,2.12ZM0,2A2,2,0,0,1,2,0H18a2,2,0,0,1,2,2V13.56a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2Z" /></svg>

	{% when 'social-instagram' %}
		<svg class="svg-social-instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.76 22.76"><title lang="en">Instagram Icon</title><g><path fill="currentColor" d="M22.68 16.07a6.78 6.78 0 01-1.84 4.77 6.76 6.76 0 01-4.76 1.84c-1.88.1-7.51.1-9.39 0a6.77 6.77 0 01-4.77-1.84 6.74 6.74 0 01-1.84-4.77C0 14.19 0 8.56.08 6.68a6.74 6.74 0 011.84-4.77A6.78 6.78 0 016.69.08C8.57 0 14.2 0 16.08.08a6.76 6.76 0 014.76 1.84 6.68 6.68 0 011.84 4.77c.11 1.88.11 7.5 0 9.38zm-2-4.69c0-1.66.14-5.21-.45-6.71a3.84 3.84 0 00-2.17-2.16c-1.49-.59-5.05-.46-6.71-.46s-5.21-.14-6.7.46a3.84 3.84 0 00-2.14 2.16c-.59 1.49-.45 5.05-.45 6.71s-.14 5.21.45 6.71a3.84 3.84 0 002.17 2.16c1.49.59 5.05.46 6.7.46s5.21.13 6.71-.46a3.87 3.87 0 002.17-2.16c.59-1.5.45-5.09.45-6.71zm-3.49 0a5.84 5.84 0 11-5.84-5.84 5.83 5.83 0 015.87 5.84zm-2 0a3.8 3.8 0 10-3.8 3.79 3.8 3.8 0 003.79-3.79zm2.28-4.71a1.37 1.37 0 111.36-1.36 1.36 1.36 0 01-1.37 1.36z"/></g></svg>

	{% when 'social-facebook' %}
		<svg class="svg-social-facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.94 24.79"><path fill="currentColor" d="M24.94,12.47A12.47,12.47,0,1,0,10.52,24.79V16.08H7.36V12.47h3.16V9.72c0-3.12,1.86-4.85,4.71-4.85A18.57,18.57,0,0,1,18,5.12V8.18H16.45a1.8,1.8,0,0,0-2,2v2.34h3.46l-.55,3.61H14.42v8.71A12.47,12.47,0,0,0,24.94,12.47Z" /></svg>

	{% when 'social-pinterest' %}
		<svg class="svg-social-pinterest" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30"><g><path fill="currentColor" d="M13,0C4.81,0,0,6.11,0,11c0,3,2,6,3,6s2,0,2-1-2-2-2-5C3,6.65,7.77,3,13,3c4.63,0,7,3.22,7,7,0,5-2.74,9-6,9-1.8,0-3.43-1.17-3-3,.52-2.18,1-2,2-6a2.28,2.28,0,0,0-2-3,4,4,0,0,0-4,4,5.72,5.72,0,0,0,1,3s-2.24,7.86-2.58,9.26C4.77,26.05,3.94,30,4.94,30S7,28,9,23c.3-.74,1-3,1-3,.6,1.14,3.14,2,5,2,5.54,0,9-5.24,9-12C24,4.89,19.58,0,13,0Z"/></g></svg>

	{% when 'social-youtube' %}
		<svg class="svg-social-youtube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.94 17.54"><path fill="currentColor" d="M24.69,3.79a5.38,5.38,0,0,0-1-2.48A3.6,3.6,0,0,0,21.2.25C17.71,0,12.48,0,12.48,0h0S7.23,0,3.74.25a3.6,3.6,0,0,0-2.5,1.06,5.38,5.38,0,0,0-1,2.48,37.63,37.63,0,0,0-.25,4V9.71a37.7,37.7,0,0,0,.25,4,5.38,5.38,0,0,0,1,2.48A4.21,4.21,0,0,0,4,17.29c2,.19,8.48.25,8.48.25s5.24,0,8.73-.26a3.53,3.53,0,0,0,2.5-1.05,5.38,5.38,0,0,0,1-2.48,37.45,37.45,0,0,0,.25-4V7.82A37.63,37.63,0,0,0,24.69,3.79ZM9.89,12V5l6.74,3.52Z" /></svg>

	{% when 'social-twitter' %}
		<svg class="svg-social-twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 19.08"><g><path fill="currentColor" d="M21.56,4.77v.6a13.7,13.7,0,0,1-.91,4.83A13.81,13.81,0,0,1,18,14.61a14,14,0,0,1-4.4,3.23,13.78,13.78,0,0,1-6,1.24,15.31,15.31,0,0,1-2-.14,13.9,13.9,0,0,1-2-.41,13.11,13.11,0,0,1-1.84-.69A12.82,12.82,0,0,1,0,16.92l.59,0h.58a10.35,10.35,0,0,0,3.29-.53,9.11,9.11,0,0,0,2.85-1.53,4.63,4.63,0,0,1-2.88-1,5,5,0,0,1-1.76-2.39,2.61,2.61,0,0,0,.46.08h.48a4.83,4.83,0,0,0,.67,0,5,5,0,0,0,.64-.1A4.9,4.9,0,0,1,2.11,9.84,4.61,4.61,0,0,1,1,6.79V6.7a5.38,5.38,0,0,0,1,.43,4,4,0,0,0,1.16.16,4.7,4.7,0,0,1-1.6-1.68A4.64,4.64,0,0,1,1,3.3,4.47,4.47,0,0,1,1.17,2,5.57,5.57,0,0,1,1.69.87a13.11,13.11,0,0,0,2,2A14.17,14.17,0,0,0,6.12,4.41a13.93,13.93,0,0,0,2.72,1,14,14,0,0,0,3,.46c0-.19-.08-.37-.1-.55a3.48,3.48,0,0,1,0-.55,4.78,4.78,0,0,1,.38-1.88,5,5,0,0,1,1.06-1.53,4.79,4.79,0,0,1,1.56-1A4.78,4.78,0,0,1,16.59,0a5,5,0,0,1,2,.41,5.3,5.3,0,0,1,1.6,1.1,9.9,9.9,0,0,0,1.64-.44,8.61,8.61,0,0,0,1.5-.7,4.59,4.59,0,0,1-.84,1.51A5.31,5.31,0,0,1,21.19,3a11.65,11.65,0,0,0,1.43-.28A7.87,7.87,0,0,0,24,2.25,11.69,11.69,0,0,1,22.89,3.6,11.25,11.25,0,0,1,21.56,4.77Z"/></g></svg>

	{% when 'social-spotify' %}
		<svg class="svg-social-spotify" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.49 167.48"><path fill="currentColor" d="M83.74,0a83.74,83.74,0,1,0,83.75,83.74A83.74,83.74,0,0,0,83.74,0Zm38.41,120.78a5.22,5.22,0,0,1-7.18,1.73c-19.67-12-44.42-14.73-73.57-8.07a5.22,5.22,0,0,1-2.32-10.18C71,97,98.34,100.11,120.42,113.6A5.22,5.22,0,0,1,122.15,120.78ZM132.4,98a6.52,6.52,0,0,1-9,2.16C100.91,86.29,66.59,82.28,40,90.37a6.53,6.53,0,1,1-3.8-12.5C66.59,68.65,104.4,73.11,130.25,89a6.53,6.53,0,0,1,2.15,9Zm.88-23.74c-27-16-71.52-17.5-97.29-9.68a7.83,7.83,0,1,1-4.55-15c29.58-9,78.76-7.25,109.83,11.2a7.83,7.83,0,0,1-8,13.47Z" /></svg>

	{% when 'social-tiktok' %}
		<svg class="svg-social-tiktok" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.9 16"><g><path fill="currentColor" d="M7.3,0H9.91a4.16,4.16,0,0,0,1.16,2.78A4.69,4.69,0,0,0,13.9,4V6.66A7,7,0,0,1,11.1,6,7.73,7.73,0,0,1,10,5.39c0,2,0,3.9,0,5.84a5.12,5.12,0,0,1-.9,2.62A5,5,0,0,1,5.17,16a4.78,4.78,0,0,1-2.72-.68A5,5,0,0,1,0,11.5c0-.33,0-.67,0-1A5,5,0,0,1,5.83,6.05c0,1,0,2,0,3a2.34,2.34,0,0,0-2,.25,2.31,2.31,0,0,0-.91,1.17,2.57,2.57,0,0,0-.09,1.07,2.27,2.27,0,0,0,2.33,1.91A2.23,2.23,0,0,0,7,12.34a1.67,1.67,0,0,0,.27-.71c.07-1.19,0-2.38,0-3.57C7.29,5.37,7.28,2.69,7.3,0Z"/></g></svg>

	{% when 'social-snapchat' %}
		<svg class="svg-social-snapchat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468.34 450.89"><g><path fill="currentColor" d="M234,25c62.86,0,115.22,52.35,115.29,115.36,0,14.76.48,28.35,1.31,40.87a14.31,14.31,0,0,0,17.6,13.06l19.7-4.61a10.7,10.7,0,0,1,2.51-.3,11,11,0,0,1,10.73,8.48,14.5,14.5,0,0,1-9.36,16.81l-29.89,12.07a16.07,16.07,0,0,0-9.47,19.11c24,88.66,91,79.44,91,91,0,14.51-50.49,16.56-55,21.12s-.19,26.7-10.39,31a21.86,21.86,0,0,1-8,1.08c-7.68,0-18.54-1.49-30-1.49-9.92,0-20.29,1.12-29.4,5.33-24.18,11.17-47.49,32-76.38,32s-52.2-20.86-76.38-32c-9.11-4.21-19.48-5.33-29.4-5.33-11.44,0-22.3,1.49-30,1.49a22,22,0,0,1-8-1.08c-10.19-4.29-5.82-26.43-10.38-31s-55-6.61-55-21.12c0-11.55,67-2.33,91-91a16.09,16.09,0,0,0-9.48-19.12L76.59,214.67a14.5,14.5,0,0,1-9.35-16.81A11,11,0,0,1,78,189.38a11.31,11.31,0,0,1,2.51.29l19.69,4.62a14.36,14.36,0,0,0,17.61-13.06c.83-12.52,1.29-26.11,1.31-40.87C119.16,77.35,171.1,25,234,25m0-25h0a137,137,0,0,0-54.32,11.21A142.39,142.39,0,0,0,105.22,86a138.6,138.6,0,0,0-11.14,54.37c0,9.21-.2,18.16-.57,26.72l-7.32-1.72a36,36,0,0,0-43.35,27.11A39.51,39.51,0,0,0,67.64,238l21.94,8.85C75.05,291.46,48.27,300,30.23,305.76a89.6,89.6,0,0,0-12.85,4.79C1.69,318.34,0,331.53,0,336.83,0,347,4.81,356.28,13.55,363A57.81,57.81,0,0,0,30,371.35c9.18,3.16,19.82,5.16,28.47,6.77a64.1,64.1,0,0,0,2.07,10.12C64.85,402.65,73.91,409.1,80.74,412c6.49,2.73,13.2,3,17.67,3s9-.34,13.92-.7c5.25-.39,10.69-.79,16.06-.79,8.31,0,14.5,1,18.92,3,6.06,2.8,12.49,6.58,19.3,10.58,19,11.13,40.45,23.75,67.56,23.75s48.6-12.62,67.55-23.75c6.81-4,13.25-7.78,19.31-10.58,4.42-2,10.61-3,18.92-3,5.37,0,10.81.4,16.06.79,4.91.36,9.54.7,13.92.7s11.18-.31,17.67-3c6.83-2.88,15.88-9.33,20.17-23.74a64.1,64.1,0,0,0,2.07-10.12c8.65-1.61,19.29-3.61,28.47-6.77A57.81,57.81,0,0,0,454.79,363c8.74-6.68,13.55-16,13.55-26.13,0-5.3-1.69-18.49-17.38-26.27a88.41,88.41,0,0,0-12.85-4.8c-18-5.76-44.83-14.3-59.35-58.89L400.69,238a39.5,39.5,0,0,0,24.81-45.58,35.84,35.84,0,0,0-13-20.47,36.07,36.07,0,0,0-30.36-6.64l-7.33,1.72c-.36-8.56-.55-17.51-.57-26.72A137.74,137.74,0,0,0,363,85.9a142.83,142.83,0,0,0-74.69-74.71A137.4,137.4,0,0,0,234,0Z"/></g></svg>

	{% when 'location' %}
		<svg class="svg-location" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20.44"><path fill="none" stroke="currentColor" stroke-width="1.5" d="M.75,6.67A6.1,6.1,0,0,1,7,.75a6.1,6.1,0,0,1,6.25,5.92,5.63,5.63,0,0,1-.74,2.79L7,19,1.49,9.46A5.63,5.63,0,0,1,.75,6.67ZM7,4H7a3,3,0,0,1,3,3h0a3,3,0,0,1-3,3H7A3,3,0,0,1,4,7H4A3,3,0,0,1,7,4Z" /></svg>

	{% when 'phone' %}
		<svg class="svg-phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.82 21.37"><g><path fill="none" stroke="currentColor" stroke-miterlimit="10" d="M18.91,16.37l-.11-.23c-.32-.74-4.22-1.88-4.53-1.9l-.25,0a5.74,5.74,0,0,0-2,1.41.62.62,0,0,1-.73.09,18,18,0,0,1-3.78-3.15A14.3,14.3,0,0,1,5,8.74.69.69,0,0,1,5.22,8C6.38,7,6.88,6.49,6.92,6c0-.32-.65-4.33-1.36-4.71l-.2-.14A2.62,2.62,0,0,0,3.48.53,2.36,2.36,0,0,0,3,.74,6.77,6.77,0,0,0,.65,3c-.34.7-.5,7.07,4.26,12.44S15.44,21,16.3,20.84h0l.06,0a6.82,6.82,0,0,0,2.57-2A2.19,2.19,0,0,0,18.91,16.37Z"/></g></svg>

	{% when 'account' %}
		<svg class="svg-account" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.07 17.68"><path fill="currentColor" d="M8,0A5.63,5.63,0,0,0,4.9,10.3,8,8,0,0,0,0,17.68H1.61a6.43,6.43,0,1,1,12.85,0h1.61a8,8,0,0,0-4.9-7.38A5.63,5.63,0,0,0,8,0ZM8,1.61a4,4,0,1,1-4,4A4,4,0,0,1,8,1.61Z"/></svg>

	{% when 'bag' %}
		<svg class="svg-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20.75"><path fill="currentColor" fill-rule="evenodd" d="M6.75,4.75a3.25,3.25,0,0,1,6.5,0v.44H6.75ZM5.25,6.69V9.75a.75.75,0,0,0,1.5,0V6.69h6.5V9.75a.75.75,0,0,0,1.5,0V6.69H18a.5.5,0,0,1,.5.5V18.75a.5.5,0,0,1-.5.5H2a.5.5,0,0,1-.5-.5V7.19a.5.5,0,0,1,.5-.5Zm0-1.5V4.75a4.75,4.75,0,0,1,9.5,0v.44H18a2,2,0,0,1,2,2V18.75a2,2,0,0,1-2,2H2a2,2,0,0,1-2-2V7.19a2,2,0,0,1,2-2Z" /></svg>

	{% when 'search' %}
		<svg class="svg-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M8.81,0a8.81,8.81,0,1,0,8.81,8.81A8.82,8.82,0,0,0,8.81,0Zm0,16A7.18,7.18,0,1,1,16,8.81,7.19,7.19,0,0,1,8.81,16Zm11,2.62L15.1,14A.81.81,0,1,0,14,15.1l4.66,4.66a.82.82,0,0,0,.58.24.8.8,0,0,0,.57-.24A.81.81,0,0,0,19.76,18.61Z"/></svg>

	{% when 'heart' %}
		<svg class="svg-heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.92"><path fill="none" stroke="currentColor" stroke-width="1.5" d="M17.81,2.16h0a4.84,4.84,0,0,0-6.83,0h0l-.45.45L10,3.14l-.53-.53L9,2.16H9A4.86,4.86,0,0,0,2.19,9.07L10,16.86l7.81-7.79h0a4.86,4.86,0,0,0,0-6.91Z" /></svg>

	{% when 'gifts' %}
		<svg class="svg-gifts" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19.3"><g><path fill="none" stroke="currentColor" d="M1.5 10.8h15v8h-15z"/><path fill="none" stroke="currentColor" d="M7.51 6.8h3v12h-3v-12z"/><path fill="none" stroke="currentColor" d="M.51 6.8h17v4H.5v-4zM8.71 6.16h-4.9a2 2 0 01-1.32-3.51 2 2 0 012.69-2 2.05 2.05 0 011 .79c.14.22.91 1.67 1.67 3.11zM9.29 6.16h4.9a2 2 0 001.32-1.72 2 2 0 00-2.69-2 2.05 2.05 0 00-1 .79c-.14.22-.91 1.67-1.67 3.11z"/></g></svg>

	{% when 'returns' %}
		<svg class="svg-returns" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.06 17.98"><g><path fill="none" stroke="currentColor" stroke-miterlimit="4" d="M.75 11.23A8.68 8.68 0 013 3a8.86 8.86 0 0112.52.17l1.24 1.37"/><path fill="none" stroke="currentColor" d="M12.77 4.82l4.14-.07-.16-4.2"/><path fill="none" stroke="currentColor" stroke-miterlimit="4" d="M17.4 7.45A8.3 8.3 0 0115.08 15a8 8 0 01-11.36.26L2.63 14"/><path fill="none" stroke="currentColor" d="M6.27 13.67l-3.76.2v3.8"/></g></svg>

	{% when 'shipping' %}
		<svg class="svg-shipping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19"><g><path fill="none" stroke="currentColor" stroke-linejoin="round" d="M.5,5,9.5.5l9,4.5-9,4.5Z"/><path fill="none" stroke="currentColor" stroke-linejoin="round" d="M.5,14V5l9,4.5v9Z"/><path fill="none" stroke="currentColor" stroke-linejoin="round" d="M18.5,14V5l-9,4.5v9Z"/><path fill="none" stroke="currentColor" stroke-linejoin="round" d="M5,7.25l9-4.5"/></g></svg>

	{% when 'tooltip' %}
		<svg class="svg-tooltip" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g><circle fill="none" stroke="currentColor" cx="10" cy="10" r="9.5"/><path fill="currentColor" d="M9.12,12.59h1.1v-.71a3.58,3.58,0,0,1,1.32-2.4A4,4,0,0,0,13,6.73,2.59,2.59,0,0,0,10.16,4,3.16,3.16,0,0,0,7,7.28H8.16a2.05,2.05,0,0,1,2-2.14,1.47,1.47,0,0,1,1.6,1.64,3.17,3.17,0,0,1-1.09,2,4.25,4.25,0,0,0-1.54,3ZM9.64,16a1.06,1.06,0,0,0,0-2.11,1.06,1.06,0,0,0,0,2.11Z"/></g></svg>

	{% when 'video-play' %}
		<svg class="svg-video-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110">
			<path fill="currentColor"
				d="M62,53,49.82,44.59a2.93,2.93,0,0,0-1.6-.59c-.92,0-1.48.73-1.48,2V64c0,1.23.56,2,1.47,2a2.91,2.91,0,0,0,1.6-.59L62,57A2.32,2.32,0,0,0,62,53Z" />
			<circle fill="none" stroke="currentColor" cx="55" cy="55" r="54.5" />
		</svg>

{% endcase %}