<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
		<meta name="referrer" content="origin">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

		<title>{{ page_title }}</title>

		{{ content_for_header }}

		{{ checkout_stylesheets }}
		{{ checkout_scripts }}
	
		{% capture html_init %}
			{% include 'html-css-reset' %}
			{% include 'html-css-utilities' %}
		{% endcapture %}
		{{ html_init | strip_newlines | replace: '	', '' }}
		{{ "css-checkout.scss" | asset_url | stylesheet_tag }}

		<style>body {display: none;}</style>

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MVWML2M');</script>
		<!-- End Google Tag Manager -->
	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVWML2M"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{{ skip_to_content_link }}

		<div class="banner" data-header>
			<div class="wrap">
				{{ content_for_logo }}
			</div>
		</div>

		{{ order_summary_toggle }}

		<div class="content" data-content>
			<div class="wrap">
				<div class="main" role="main">
					<div class="main__header">
						{{ content_for_logo }}
						{{ breadcrumb }}
						{{ alternative_payment_methods }}
					</div>
					<div class="main__content">
						{{ content_for_layout }}
					</div>
					<div class="main__footer">
						{{ content_for_footer }}
					</div>
				</div>
				<div class="sidebar" role="complementary">
					<div class="sidebar__header">
						{{ content_for_logo }}
					</div>
					<div class="sidebar__content">
						{{ content_for_order_summary }}
					</div>
				</div>
			</div>
		</div>

		{{ tracking_code }}

		<!-- Listrak Analytics – Javascript Framework -->
		{% if customer %}
		<script type="text/javascript">
				var ltkCustObj = { "firstname": "{{customer.first_name}}", "lastname": "{{customer.last_name}}", "email": "{{customer.email}}"};
		</script>
		{% endif %}
		<script type="text/javascript">
				var biJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
				(function (d, s, id, tid, vid) {
						var js, ljs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
						js.src = biJsHost + "cdn.listrakbi.com/scripts/script.js?m=" + tid + "&v=" + vid;
						ljs.parentNode.insertBefore(js, ljs);
				})(document, 'script', 'ltkSDK', 'WvVMh3zPiVvD', '1');
		</script>
	</body>
</html>