<!doctype html>
{% include 'html-page-variables' %}
<html id="{{ page_id }}" class="no-js {{ page_class }}" lang="{{ page_isocode }}">
  <head>
    <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/emwMFOKbO4hd3OWwWSoyA7phkFt0jBarEPo81Ft9/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <link rel="preconnect" href="https://use.typekit.net" crossorigin>

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

		{{ 'js-utilities.js' | asset_url | script_tag }}
    <script id="script-global" src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'mini-bag.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
	
		{% comment %}  inline CSS, to avoid style flash  {% endcomment %}
		{% capture html_init %}
			{% include 'html-css-reset' %}
			{% include 'html-css-utilities' %}
			{% include 'html-css-animations' %}
		{% endcapture %}
		{{ html_init | strip_newlines | replace: '	', '' }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
		{{ "styles.min.css" | asset_url | stylesheet_tag }}

		{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

		{% if template contains 'customers' %}
			{{ "shopify_common.js" | shopify_asset_url | script_tag }}
			{{ "customer_area.js"  | shopify_asset_url | script_tag }}
		{% endif %}

		{% comment %}  yopto integration  {% endcomment %}
		<script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/emwMFOKbO4hd3OWwWSoyA7phkFt0jBarEPo81Ft9/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>

		{% comment %}  Klaviyo  {% endcomment %}
		<script async type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=Yq7WH4"></script>
		<script>
			var _learnq = _learnq || [];
			if ('{{ customer.email }}') {
			_learnq.push(['identify', {
					'$email' : '{{ customer.email }}'
				}]);
			}
		</script>

		<script>
			// detect if browser has local storage capabilities
			(function() {
				let localTestKey = 'test';
				let localStorage = window.sessionStorage;
				try {
					localStorage.setItem(localTestKey,'1');
					localStorage.removeItem(localTestKey);
					return localStorageName in win && win[localStorageName];
				} catch(e){
					if(e.code === DOMException.QUOTA_EXCEEDED_ERR && localStorage.length === 0){
						hasLocalStorage = false
					}else{
						hasLocalStorage = true
					}
				}
			})();

			var productInterstitialHtml = '';
		</script>

    {% include 'boost-pfs-style' %}

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MVWML2M');</script>
		<!-- End Google Tag Manager -->
  </head>

  <body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVWML2M"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>
    
    {% section 'announcement-bar' %}
    {% section 'mini-bag' %}
    {% section 'header' %}

    {{ 'store-locator.css' | asset_url | stylesheet_tag }}
    <div class="store-locator-section">
      {% section 'full-banner' %}
      <div class="store-locator__locator-icon">
        {% render 'icon-locator' %}
      </div>
    </div>
    <script src="{{ 'store-locator.js' | asset_url }}" defer="defer"></script>
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    
    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }
    </script>

    {%- render 'dark-overlay' -%}
    {% comment %} {%- render 'cookie-notice' -%} {% endcomment %}

    {% include 'boost-pfs' %}
		{% section 'global-cookies' %}
		{% section 'global-swatches-color' %}

		<script type="text/javascript" data-listrak="automatically-installed">
			{% if customer %}
					var ltkCustObj = { "firstname": "{{customer.first_name}}", "lastname": "{{customer.last_name}}", "email": "{{customer.email}}"};
			{% endif %}
			var biJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
			(function (d, s, id, tid, vid) {
					var js, ljs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
					js.src = biJsHost + "cdn.listrakbi.com/scripts/script.js?m=" + tid + "&v=" + vid;
					ljs.parentNode.insertBefore(js, ljs);
			})(document, 'script', 'ltkSDK', 'WvVMh3zPiVvD', '1');	
		</script>

		<script>
			const siteUrl = '{{ shop.url }}';
			const root = document.getElementsByTagName('html')[0];
			const globalHeader = document.querySelector('.header');

			root.style.setProperty(
				'--s-header', 
				`${(globalHeader ? globalHeader.offsetHeight : 0)}px`
			);

			root.style.setProperty(
				'--s-viewport-height', `${window.innerHeight}px`
			);

			function wishlistStatus() {
				(window.WishlistKing && window.WishlistKing.toolkit.collection.items[0].products.length)
					? root.classList.add('wishlist-has-items')
					: root.classList.remove('wishlist-has-items')
			}
		</script>

		{{ 'js-polyfill-intersection-observer.js' | asset_url | script_tag }}
		{{ 'js-polyfill-smooth-scroll.js' | asset_url | script_tag }}
		{{ 'js-plugin-lazysizes.js' | asset_url | script_tag }}
		{{ 'js-plugin-infinite-scrolling.js' | asset_url | script_tag }}
		{{ 'js-plugin-flickity.js' | asset_url | script_tag }}
		{{ 'js-plugin-reframe.js' | asset_url | script_tag }}
		{{ 'js-plugin-vimeo-player.js' | asset_url | script_tag }}
		{{ 'js-plugin-rellax.js' | asset_url | script_tag }}
		<script src="{{ 'js-index.js' | asset_url }}" defer></script>

		{% if template == 'customers/account' or 
			template == 'customers/addresses' %}
			{% render 'account-address' %}
			<script src="{{ 'account.js' | asset_url }}" defer="defer"></script>
		{% endif %}

		<!-- accessibe -->
		<script> (function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : true, hideTrigger : true, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s); }()); </script>

		{% render 'app_wishlist-king' %}

		<!-- klaviyo add to cart -->
		<script type="text/javascript">
			var _learnq = _learnq || [];
			function addedToCart() {
				fetch(`${window.location.origin}/cart.js`)
				.then(res => res.clone().json().then(data => {
					var cart = {
						total_price: data.total_price/100,
						$value: data.total_price/100,
						total_discount: data.total_discount,
						original_total_price: data.original_total_price/100,
						items: data.items
					}
					if (item !== 'undefined') {
						cart = Object.assign(cart, item)
					}
					_learnq.push(['track', 'Added to Cart', cart])
				}))
			} 

			(function (ns, fetch) {
				ns.fetch = function() {
					const response = fetch.apply(this, arguments);
					response.then(res => {
						if (`${window.location.origin}/cart/add.js`
							.includes(res.url)) {
								addedToCart();
						}
					});
					return response
				}
			}(window, window.fetch))

			$(document).ajaxComplete(function(event, request, settings){
				if(settings?.url == "/cart/add.js"){
						addedToCart()
				}
			});
		</script>

		<script type="text/javascript">
			var yotpoIsReady = false;
			var count=0;

			(function checkForYotpo() {
				setTimeout(function() {
					if (typeof yotpo !== "undefined") {
						if (yotpo.initialized === true && document.querySelector(".yotpo-stars .sr-only")) {
							var ratingContent = document.querySelector(".yotpo-stars .sr-only").innerText;

							if (ratingContent.includes('0.0')){
								yotpoIsReady = true;
								document.getElementsByClassName('yotpo-main-widget')[0].style.display = 'none';
								document.getElementsByClassName('yotpo-bottomline')[0].style.display = 'none';
								document.querySelector('.product-reviews').style.display = 'none';
							}
						}
					} else {
						console.log('Checking for Yotpo...');
					}

					if (yotpoIsReady === false && count<10) {
						checkForYotpo();
						count = count+1;
					}
				}, 500);
			})();
			</script>

		<!-- Listrak Analytics – Javascript Framework -->
		{% if customer %}
			<script type="text/javascript">
				var ltkCustObj = { "firstname": "{{customer.first_name}}", "lastname": "{{customer.last_name}}", "email": "{{customer.email}}"};
			</script>
		{% endif %}

		<script type="text/javascript">
			var biJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
			(function (d, s, id, tid, vid) {
				var js, ljs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return; js = d.createElement(s); js.id = id;
				js.src = biJsHost + "cdn.listrakbi.com/scripts/script.js?m=" + tid + "&v=" + vid;
				ljs.parentNode.insertBefore(js, ljs);
			})(document, 'script', 'ltkSDK', 'WvVMh3zPiVvD', '1');
		</script>
  </body>
</html>