{{ 'about-stitched.css' | asset_url | stylesheet_tag }}

<section class='about-stitched'>

    <div class='stitched-button'>
        <img srcset="{{ section.settings.button_image | img_url: '375x' }} 375w"
            sizes="100vw"
            src="{{ section.settings.button_image | img_url: '375x' }}"
            loading="lazy"
            alt="{{ section.settings.button_image.alt | escape }}"
            width="{{ section.settings.button_image.width }}"
            height="{{ section.settings.button_image.width | divided_by: section.settings.button_image.aspect_ratio }}"
            >
    </div>
    
    <div class='stitched-container'>
        <div class='stitched-content'>
            <h4 class='heading_xl'>{{ section.settings.body |escape }}</h4>
            <p class='body-tall'>{{ section.settings.subheading | escape }}</p>
            {%- render 'svg-signature-white' -%}
        </div>
    </div>

</section>

{% schema %}
{
  "name": "About: Stitched",
  "settings": [
    {
        "type": "image_picker",
        "id": "button_image",
        "label": "Button Image"
    },
    {
        "type": "textarea",
        "id": "body",
        "label": "Body"
    },
    {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
    }
  ] 
}
{% endschema %}