{{ 'about-header-and-text.css' | asset_url | stylesheet_tag }}

<section class='about-header-and-text'>
    
    <h5 class='h5'>{{ section.settings.title | escape }}</h5>
    <p class='body-large text-subdued'>
        {{ section.settings.body }}
    </p>

</section>

{% schema %}
{
  "name": "About: Header + Text",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Header"
    },
    {
        "type": "textarea",
        "id": "body",
        "label": "Body"
    }
  ] 
}
{% endschema %}