{{ 'section-three-points.css' | asset_url | stylesheet_tag }}

<section class='three-points about-three-points' padding='extra' style='background-color: {{ section.settings.background_color }}'>

    {%- unless section.settings.button_image == blank -%}
        <div class='button-container'>
            <img srcset="{{ section.settings.button_image | img_url: '375x' }} 375w"
                sizes="100vw"
                src="{{ section.settings.button_image | img_url: '375x' }}"
                loading="lazy"
                alt="{{ section.settings.button_image.alt | escape }}"
                width="{{ section.settings.button_image.width }}"
                height="{{ section.settings.button_image.width | divided_by: section.settings.button_image.aspect_ratio }}"
                >
        </div>
    {%- endunless -%}

    <div class='point-intro'>
        <h2 class='h2'>{{ section.settings.title | escape }}</h2>
        <p class='body-tall text-subdued'>{{ section.settings.body | escape }}</p>
    </div>

    <div class='each-point-container'>
        {%- for block in section.blocks -%}
            <article class='each-point type-spacing'>
                {%- if block.settings.image != blank  -%}
                    <img srcset="{{ block.settings.image | img_url: '375x' }} 375w"
                    sizes="100vw"
                    src="{{ block.settings.image | img_url: '375x' }}"
                    loading="lazy"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                    >
                {%- endif -%}
                <h6 class='h6'>{{ block.settings.title | escape }}</h6>
                <p class='body-small text-subdued'>{{ block.settings.body | escape }}</p>
            </article>
        {%- endfor -%}
    </div>

</section>

{% schema %}
{
  "name": "About: Three Points",
  "settings": [
      {
          "type": "header",
          "content": "Styling"
      },
      {
          "type": "image_picker",
          "id": "button_image",
          "label": "Button Image"
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
      },
      {
          "type": "header",
          "content": "Content"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      },
      {
          "type": "textarea",
          "id": "body",
          "label": "Body"
      }
  ],
  "blocks": [
    {
        "type": "point",
        "name": "Point",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Headline"
            },
            {
                "type": "textarea",
                "id": "body",
                "label": "Body"
            }
        ]
    }
  ]   
}
{% endschema %}