{{ 'about-image-over-text.css' | asset_url | stylesheet_tag }}

<section class='image-over-text'>

    <div class='image-over-text-container'>
    
        <div class='left_text-container'>
            <h1 class='heading_xxl left_top_text'>{{ section.settings.left_top_text | escape }}</h1>
            <h1 class='heading_xxl left_bottom_text'>{{ section.settings.left_bottom_text | escape }}</h1>
        </div>
    
        <div class='right_text-container'>
            <h1 class='heading_xxl right_top_text'>{{ section.settings.right_top_text | escape }}</h1>
            <h1 class='heading_xxl right_bottom_text'>{{ section.settings.right_bottom_text | escape }}</h1>
        </div>
    
        <div class='image-container'>
					{% if section.settings.image != nil %}
						{% render 'img-srcset-responsive', 
							image: section.settings.image,
							image_responsive: section.settings.image_mobile,
							max_width: 900,
							breakpoint: 900,
							alt: section.settings.image.alt %}
					{% endif %}
				</div>
    
    </div>

		<button class="banner-scroll small-up-hide">
		{% render 'svg-icons', icon: 'arrow-down-thin' %}</button>
</section>

{% schema %}
{
  "name": "About: Image Over Text",
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image"
      },
      {
          "type": "header",
          "content": "Left/Top"
      },
      {
          "type": "text",
          "id": "left_top_text",
          "label": "First Line"
      },
      {
          "type": "text",
          "id": "left_bottom_text",
          "label": "Second Line"
      },
      {
          "type": "header",
          "content": "Right/Bottom"
      },
      {
          "type": "text",
          "id": "right_top_text",
          "label": "First Line"
      },
      {
          "type": "text",
          "id": "right_bottom_text",
          "label": "Second Line"
      }
  ],
  "blocks": []  
}
{% endschema %}