{{ 'section-alt-collection-banner.css' | asset_url | stylesheet_tag }}

<section class='alt-collection-banner'>

  <div class='acb-image-container'>
    <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
      {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
      {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
      {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
      {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
      {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
      {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
      sizes="100vw"
      src="{{ section.settings.image | img_url: '750x' }}"
      loading="lazy"
      alt="{{ section.settings.image.alt | escape }}"
      width="{{ section.settings.image.width }}"
      height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
    >
  </div>

  <div class='acb-content-container'>
    <div class='acb-content'>
      {%- unless section.settings.icon == blank -%}
        <img srcset="{{ section.settings.icon | img_url: '375x' }} 375w"
          sizes="100vw"
          src="{{ section.settings.icon | img_url: '375x' }}"
          loading="lazy"
          alt="{{ section.settings.icon.alt | escape }}"
          width="{{ section.settings.icon.width }}"
          height="{{ section.settings.icon.width | divided_by: section.settings.icon.aspect_ratio }}"
          >
      {%- endunless -%}
      <p class='body-tall text-subdued acb-eyebrow'>{{ section.settings.eyebrow | escape }}</p>
      <h1 class='h1'>{{ section.settings.title }}</h1>
      <p class='body-tall text-subdued acb-body'>{{ section.settings.body | escape }}</p>
      <span class='utility-thin text-subdued'>{{ section.settings.subtext }}</span>
    </div>
  </div>

</section>

{% schema %}
{
  "name": "Alternative PLP Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Headline"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Body"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Subtext"
    }
  ],
  "blocks": []    
}
{% endschema %}