{% schema %}
{
	"name": "Featured Article section",
	"settings": [
		{
			"type": "article",
			"id": "featured_article",
			"label": "Featured Article"
		},
		{
			"type": "image_picker",
			"id": "featured_article_image",
			"label": "Image",
			"info": "Falls back to article image if left empty"
		}
	]
}
{% endschema %}

{% if section.settings.featured_article != empty %}
	<section class="blog-index-featured-article">
	<div class="c">
		{% render 'comp-article-section', 
			image_position: 'left',
			article: articles[section.settings.featured_article],
			article_image: section.settings.featured_article_image %}
	</div>
	</section>
{% endif %}