{% schema %}
{
	"name": "Hero section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		}
	]
}
{% endschema %}

<section class="blog-index-hero">
<div class="c-3 type-spacing">
	{% if section.settings.heading != empty %}
		<h1 class="t-h-1">{{ section.settings.heading }}</h1>
	{% endif %}

	{% if section.settings.paragraph %}
		<p class="t-b-3">{{ section.settings.paragraph }}</p>
	{% endif %}
</div>
</section>