{% schema %}
{
	"name": "Article section",
	"max_blocks": 12,
	"blocks": [
		{
			"type": "filter",
			"name": "Filter",
			"settings": [
				{
					"type": "text",
					"id": "tag",
					"label": "Tag"
				}
			]
		}
	]
}
{% endschema %}

<section class="blog-index-articles">
<div class="c">
	<div class="index-articles-filter">
		<ul>
			<li>
				<button 
					class="t-b-2 {% if current_tags == blank %} is-active{% endif %}" 
					data-article-filter-trigger="{{ i.settings.tag }}" 
					data-article-filter-url="{{ blog.url }}">
					Show All
				</button>
			</li>

			{% for i in section.blocks %}
				<li>
					<button 
						class="t-b-2 {% if current_tags contains i.settings.tag %} is-active{% endif %}" 
						data-article-filter-trigger="{{ i.settings.tag }}" 
						data-article-filter-url="{{ blog.url }}/tagged/{{ i.settings.tag | handleize }}">
						{{ i.settings.tag }}
					</button>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="index-articles-grids">
		{% paginate blog.articles by 200 %}
			{% assign filter_loop = forloop.index %}
			{% assign article_count = 0 %}
			{% assign article_total_count = 0 %}

			<div 
				class="articles-grid 
				{% if current_tags == blank %} is-active{% endif %}"
				data-article-filter="{{ i.settings.tag }}">
				{% assign article_cut_off = 10 %}

				{% for article in blogs['journal'].articles %}
					{% assign article_total_count = article_total_count | plus: 1 %}
				{% endfor %}

				<div class="articles-grid-initial">
					{% for article in blogs['journal'].articles %}
						{% assign article_count = article_count | plus: 1 %}
						{% if article_count == 5 or article_count == 8 %}
							{% render 'article-card-fill', article: article %}
							{% render 'article-card-compact', article: article %}
						{% else %}
							{% render 'article-card-compact', article: article %}
						{% endif %}

						{% if article_total_count > article_cut_off %}
							{% if article_count == article_cut_off %}
								<div class="article-grid-load-more">
									<button 
										type="button" 
										class="article-grid-load-more-trigger button button--tertiary upscale">
									Load More Articles</button>
								</div>

								</div><!-- .articles-grid-initial -->
								<div class="articles-grid-expand f-h">
								<div class="articles-grid-expand-interior f-h">
							{% endif %}
						{% elsif article_count == article_total_count %}
							</div><!-- .articles-grid-initial -->
						{% endif %}
					{% endfor %}

				{% if article_total_count > article_cut_off %}
					</div><!-- .articles-grid-expand-interior -->
					</div><!-- .articles-grid-expand -->
				{% endif %}

				{% if article_total_count == 0 %}
					</div><!-- .articles-grid-initial -->
				{% endif %}
			</div><!-- .articles-grid -->

			{% for i in section.blocks %}
				{% assign filter_loop = forloop.index %}
				{% assign article_count = 0 %}
				{% assign article_total_count = 0 %}

				<div 
					class="articles-grid {% if current_tags contains i.settings.tag %} is-active{% endif %}"
					data-article-filter="{{ i.settings.tag }}">
					{% assign article_cut_off = 8 %}

					{% for article in blogs['journal'].articles %}
						{% if article.tags contains i.settings.tag %}
							{% assign article_total_count = article_total_count | plus: 1 %}
						{% endif %}
					{% endfor %}

					<div class="articles-grid-initial f-h">
						{% for article in blogs['journal'].articles %}
							{% if article.tags contains i.settings.tag %}
								{% assign article_count = article_count | plus: 1 %}
								{% render 'article-card-compact', article: article %}

								{% if article_total_count > article_cut_off %}
									{% if article_count == article_cut_off %}
										<div class="article-grid-load-more">
											<button 
												type="button" 
												class="article-grid-load-more-trigger 
													button button--tertiary upscale">
											Load More Articles</button>
										</div>

										</div><!-- .articles-grid-initial -->
										<div class="articles-grid-expand f-h">
										<div class="articles-grid-expand-interior f-h">
									{% endif %}
								{% elsif article_count == article_total_count %}
									</div><!-- .articles-grid-initial -->
								{% endif %}
							{% endif %}
						{% endfor %}

					{% if article_total_count > article_cut_off %}
						</div><!-- .articles-grid-expand-interior -->
						</div><!-- .articles-grid-expand -->
					{% endif %}

					{% if article_total_count == 0 %}
						</div><!-- .articles-grid-initial -->
					{% endif %}
				</div><!-- .articles-grid -->
			{% endfor %}
		{% endpaginate %}
	</div>
</div>
</section>

{% javascript %}{% endjavascript %}

<script>
	const articlesSection = document.querySelector('.blog-index-articles');
	const filter = document.querySelector('.index-articles-filter');
	const trigger = articlesSection.querySelectorAll('[data-article-filter-trigger]');
	const content = articlesSection.querySelectorAll('[data-article-filter]');

	trigger.forEach(item => {
		item.addEventListener('click', e => {
			// remove active state from all
			trigger.forEach(el => {
				el.classList.remove('is-active');
			});

			content.forEach(el => {
				el.classList.remove('is-active');
			});

			//  assign active state to clicked trigger and coresponding content
			item.classList.add('is-active');
			articlesSection.querySelector(`[data-article-filter="${item.dataset.articleFilterTrigger}"]`).classList.add('is-active');
			history.pushState(null, null, item.getAttribute('data-article-filter-url'));
		});
	});

	document.querySelectorAll('.article-grid-load-more-trigger').forEach(item => {
		item.addEventListener('click', () => {
			item.closest('.articles-grid').classList.add('is-load-more');
		});
	});

	//  trigger first filter, if non is found
	if(!articlesSection.querySelector('[data-article-filter-trigger]')) {
		articlesSection.querySelector('[data-article-filter-trigger]').click();
	}
</script>