{% schema %}
{
	"name": "Blog Articles Slider",
	"settings": [
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL"
		}
	],
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "article",
					"id": "article",
					"label": "Article"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Blog Articles Slider"
		}
	] 
}
{% endschema %}

<section class="section-blog-articles-slider bg-cream">
	<div class="slider-header c f-h-bottom">
		<div class="slider-header-heading">
			{% if section.settings.subheading != empty %}
				<div class="t-b-2-m cr-gray-1">{{ section.settings.subheading }}</div>
			{% endif %}

			{% if section.settings.heading != empty %}
				<h2 class="t-h-2">{{ section.settings.heading }}</h2>
			{% endif %}
		</div>

		{% if section.settings.cta_label != empty and 
			section.settings.cta_url != nil %}
			<a 
				class="button--secondary utility" 
				href="{{ section.settings.cta_url }}">
			{{ section.settings.cta_label }}</a>
		{% endif %}
	</div>

	<div data-flickity-slider="{
		'pageDots': false,
		'prevNextButtons': true,
		'wrapAround': false,
		'imagesLoaded': true,
		'cellAlign': 'left',
		'draggable': true,
		'contain': true
	}">
		{% for i in section.blocks %}
			{% render 'article-card-compact', 
				article: articles[i.settings.article] %}
		{% endfor %}

		<div class="flickity-spacer"></div>
	</div>
</div>
</section>