{{ 'section-card-carousel.css' | asset_url | stylesheet_tag }}
{{ 'glide.core.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'glide.min.js' | asset_url }}"></script>

<section class='carousel-cards glide medium-hide small-hide' glide-instance='desktop-{{ section.id }}'>

    <div class='carousel-intro'>
        <h2 class='h2'>{{ section.settings.headline | escape }}</h2>
        <a class='button button--secondary' href='{{ section.settings.url }}'>
            {{ section.settings.url_label | escape }}
        </a>
    </div>

    <div class='carousel-card-container glide__track' data-glide-el='track'>
        <ul class="glide__slides">
        {%- for block in section.blocks -%}
            {%- capture card_cycle -%}
                {%- cycle 'odd', 'even' -%}
            {%- endcapture -%}
            <li class="glide__slide">
            <article class='carousel-card' index='{{ card_cycle }}' {% comment %}onclick="location.href='{{ block.settings.url }}'"{% endcomment %}>
                <div class='banner__media carousel-image {% if block.settings.video_background != blank %}carousel-fade-on-hover{% endif %}'>
                    {%- if block.settings.background_image != blank -%}
                        <img srcset="{%- if block.settings.background_image.width >= 375 -%}{{ block.settings.background_image | img_url: '375x' }} 375w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 750 -%}{{ block.settings.background_image | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 1100 -%}{{ block.settings.background_image | img_url: '1100x' }} 1100w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 1500 -%}{{ block.settings.background_image | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 1780 -%}{{ block.settings.background_image | img_url: '1780x' }} 1780w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 2000 -%}{{ block.settings.background_image | img_url: '2000x' }} 2000w,{%- endif -%}
                        {%- if block.settings.background_image.width >= 2800 -%}{{ block.settings.background_image | img_url: '2800x' }} 2800w{%- endif -%}"
                        sizes="100vw"
                        src="{{ block.settings.background_image | img_url: '750x' }}"
                        loading="lazy"
                        alt="{{ block.settings.background_image.alt | escape }}"
                        width="{{ block.settings.background_image.width }}"
                        height="{{ block.settings.background_image.width | divided_by: block.settings.background_image.aspect_ratio }}"
                        >
                    {%- endif-%}
                </div>
                <div class='carousel-tag'>
                    {%- if card_cycle == 'odd' -%}
                        <h4 class='h2'>{{ block.settings.title | escape }}</h4>
                        <h3 class='heading_xl'>{{ block.settings.stamp | escape }}</h3>
                    {%- else -%}
                        <h3 class='heading_xl'>{{ block.settings.stamp | escape }}</h3>
                        <h4 class='h2'>{{ block.settings.title | escape }}</h4>
                    {%- endif -%}
                </div>
                <div class='carousel-body'>
                    <h4 class='h2'>{{ block.settings.title | escape }}</h4>
                    <p class='body-tall'>{{ block.settings.body | escape }}</p>
                </div>
            </article>
            </li>
        {%- endfor -%}
        </ul>
    </div>

</section>

<section class='carousel-cards glide large-up-hide' glide-instance='mobile-{{ section.id }}'>

    <div class='carousel-intro'>
        <h2 class='h2'>{{ section.settings.headline | escape }}</h2>
        <a class='button button--secondary' href='{{ section.settings.url }}'>
            {{ section.settings.url_label | escape }}
        </a>
    </div>

    <div class='carousel-card-container glide__track' data-glide-el='track'>
        <ul class="glide__slides">
        {%- for block in section.blocks -%}
            {%- capture card_cycle -%}
                {%- cycle 'odd', 'even' -%}
            {%- endcapture -%}
            <li class="glide__slide">
                <article class='carousel-card' index='{{ card_cycle }}' {% comment %}onclick="location.href='{{ block.settings.url }}'"{% endcomment %}>
                    <div class='banner__media carousel-image {% if block.settings.video_background != blank %}carousel-fade-on-hover{% endif %}'>
                        {%- if block.settings.background_image != blank -%}
                            <img srcset="{%- if block.settings.background_image.width >= 375 -%}{{ block.settings.background_image | img_url: '375x' }} 375w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 750 -%}{{ block.settings.background_image | img_url: '750x' }} 750w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 1100 -%}{{ block.settings.background_image | img_url: '1100x' }} 1100w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 1500 -%}{{ block.settings.background_image | img_url: '1500x' }} 1500w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 1780 -%}{{ block.settings.background_image | img_url: '1780x' }} 1780w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 2000 -%}{{ block.settings.background_image | img_url: '2000x' }} 2000w,{%- endif -%}
                            {%- if block.settings.background_image.width >= 2800 -%}{{ block.settings.background_image | img_url: '2800x' }} 2800w{%- endif -%}"
                            sizes="100vw"
                            src="{{ block.settings.background_image | img_url: '750x' }}"
                            loading="lazy"
                            alt="{{ block.settings.background_image.alt | escape }}"
                            width="{{ block.settings.background_image.width }}"
                            height="{{ block.settings.background_image.width | divided_by: block.settings.background_image.aspect_ratio }}"
                            >
                        {%- endif-%}
                    </div>
                    <div class='carousel-tag'>
                        <h4 class='h2'>{{ block.settings.title | escape }}</h4>
                        <h3 class='heading_xl'>{{ block.settings.stamp | escape }}</h3>
                    </div>
                    <div class='carousel-body'>
                        <h4 class='h2'>{{ block.settings.title | escape }}</h4>
                        <p class='body-tall'>{{ block.settings.body | escape }}</p>
                    </div>
                </article>
            </li>
        {%- endfor -%}
        </ul>
    </div>

</section>

<script>
    new Glide('[glide-instance="' + 'desktop-{{ section.id }}' +'"]', {
        perView: 3.2288,
        gap: 0,
        rewind: false
    }).mount();
    new Glide('[glide-instance="' + 'mobile-{{ section.id }}' +'"]', {
        perView: 1.6144,
        gap: 0,
        rewind: false
    }).mount();
</script>

<style>

    .carousel-card-container {
        cursor: url('{{ 'cursor-drag-and-scroll.svg' | asset_url }}'), grab;
    }

</style>

{% schema %}
{
  "name": "Card Carousel",
  "class": "spaced-section",
  "settings": [
    {
        "type": "text",
        "id": "headline",
        "label": "Headline"
    },
    {
        "type": "url",
        "id": "url",
        "label": "URL"
    },
    {
        "type": "text",
        "id": "url_label",
        "label": "Label"
    }
  ],
  "blocks": [
    {
        "type": "card",
        "name": "Card",
        "settings": [
          {
              "type": "header",
              "content": "Background"
          },
          {
              "type": "image_picker",
              "id": "background_image",
              "label": "Image"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
              "type": "text",
              "id": "title",
              "label": "Headline"
          },
          {
              "type": "text",
              "id": "stamp",
              "label": "Stamp"
          },
          {
            "type": "textarea",
            "id": "body",
            "label": "Body"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Card Carousel"
      }
  ]    
}
{% endschema %}