{% schema %}
{
	"name": "Benefits section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "paragraph",
					"label": "Paragraph"
				}
			]
		}
	]
}
{% endschema %}

<section class="careers-benefits">
<div class="c">
	{% if section.settings.heading != empty %}
		<div class="benefits-heading">
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		</div>
	{% endif %}

	<div class="benefits-grid">
		{% for i in section.blocks %}
			<div class="benefit type-spacing">
				{% if i.settings.icon != nil %}
					{% render 'img-srcset', 
						image: i.settings.icon,
						max_width: 200,
						alt: i.settings.icon.alt %}
				{% endif %}

				{% if i.settings.image != nil %}
					<h3 class="t-h-6">{{ i.settings.paragraph }}</h3>
				{% endif %}

				{% if i.settings.paragraph != empty %}
					<p class="t-b-2">{{ i.settings.paragraph }}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
</section>