{% schema %}
{
	"name": "Intro section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	]
}
{% endschema %}

<section class="careers-intro">
	{% if section.settings.heading != empty %}
		<div class="intro-heading c-2">
			<h1 class="t-h-1">{{ section.settings.heading }}</h1>
		</div>
	{% endif %}

	<div data-flickity-slider="{
		'pageDots': false,
		'prevNextButtons': false,
		'wrapAround': true,
		'imagesLoaded': true,
		'cellAlign': 'center',
		'draggable': true,
		'contain': true
	}">
		{% for i in section.blocks %}
			{% if i.settings.image != nil %}
				<div class="image">
					{% render 'img-srcset', 
						image: i.settings.image,
						max_width: 900,
						alt: i.settings.image.alt %}
				</div>
			{% endif %}
		{% endfor %}

		<div class="flickity-spacer"></div>
	</div>

	<div class="intro-footer c-2 type-spacing">
		{% if section.settings.subheading != empty %}
			<h2 class="t-h-5">{{ section.settings.subheading }}</h2>
		{% endif %}

		{% if section.settings.paragraph != empty %}
			<p class="t-b-3 cr-gray-1">{{ section.settings.paragraph }}</p>
		{% endif %}
	</div>
</div>
</section>