{% schema %}
{
	"name": "Overview section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "richtext",
			"id": "paragraphs",
			"label": "Paragraphs"
		}
	]
}
{% endschema %}

<section class="careers-overview bg-subtle">
<div class="c f-h">
	{% if section.settings.heading != empty %}
		<h2 class="t-h-2">{{ section.settings.heading }}</h2>
	{% endif %}

	{% if section.settings.paragraphs != empty %}
		<div class="overview-paragraphs">
			{{ section.settings.paragraphs }}
		</div>
	{% endif %}
</div>
</section>