{% schema %}
{
	"name": "Team section",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	],
	"blocks": [
		{
			"type": "member",
			"name": "Member",
			"settings": [
				{
					"type": "image_picker",
					"id": "illustration",
					"label": "Illustration"
				},
				{
					"type": "text",
					"id": "name",
					"label": "Name"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "product",
					"id": "favorite",
					"label": "Favorite"
				}
			]
		}
	]
}
{% endschema %}

<section class="careers-team">
	{% if section.settings.heading != empty %}
		<div class="team-heading c-2">
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		</div>
	{% endif %}

	<div class="team-grid c">
		{% for i in section.blocks %}
			<div class="member">
				{% if i.settings.illustration != nil %}
					<div class="illustration">
						{% render 'img-srcset', 
							image: i.settings.illustration,
							max_width: 900,
							alt: i.settings.illustration.alt %}
					</div>
				{% endif %}

				<div class="member-info">
					{% if i.settings.name != empty %}
						<div class="t-h-6 p-center">{{ i.settings.name }}</div>
					{% endif %}

					{% if i.settings.title != empty %}
						<div class="t-b-1 p-center cr-gray-1">{{ i.settings.title }}</div>
					{% endif %}

					{% if i.settings.favorite != empty and 
						all_products[i.settings.favorite].available %}
						<div class="member-favorite p-center">
							<div class="t-h-6 cr-white">Favorite shoes:</div>
							<a 
								class="button--secondary cr-white" 
								href="{{ all_products[i.settings.favorite].url }}">
							{{ all_products[i.settings.favorite].title }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</section>