{{ 'section-checkmarks.css' | asset_url | stylesheet_tag }}

<section class='section-checkmarks'>

    <div class='checkmarks-intro'>
        <h2 class='h1'>{{ section.settings.title | escape }}</h2>
        <h3 class='h3 text-subdued'>{{ section.settings.subtitle | escape }}</h3>
        <p class='body-tall text-subdued'>{{ section.settings.body | escape }}</p>
    </div>

    <div class='checkmarks-container'>
        {%- for block in section.blocks -%}
            <article class='each-checkmark'>
                <div class='checkmark-icon-container'>
                    {%- render 'icon-tickmark' -%}
                </div>
                <p class='body-medium'>
                    {{ block.settings.title | escape }}
                </p>
            </article>
        {%- endfor -%}
    </div>

    <a href='{{ section.settings.url }}'>
        <button class='button--tertiary upscale cr-black'>{{ section.settings.url_label | escape }}</button>
    </a>

</section>

{% schema %}
{
  "name": "Checkmarks",
  "class": "spaced-section",
  "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      },
      {
          "type": "text",
          "id": "subtitle",
          "label": "Subhead"
      },
      {
          "type": "textarea",
          "id": "body",
          "label": "Body"
      },
      {
          "type": "url",
          "id": "url",
          "label": "URL"
      },
      {
          "type": "text",
          "id": "url_label",
          "label": "Button Label"
      }
  ],
  "blocks": [
    {
        "type": "point",
        "name": "Point",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Text"
            }
        ]
    }
  ],
  "presets": [
      {
          "name": "Checkmarks"
      }
  ]    
}
{% endschema %}