{{ 'section-checkerboard.css' | asset_url | stylesheet_tag }}

<section class='checkerboard'>
    {%- for block in section.blocks -%}
        <article class='checkerboard-row' style='background-color: {{ block.settings.background_color }}'>
            {%- capture row_cycle -%}
                {%- cycle 'odd', 'even' -%}
            {%- endcapture -%}

            {%- capture content_column -%}
                <div class='cb-content' id='block-{{ block.id }}'>
                    <h2 class='h1'>{{ block.settings.title }}</h2>
                    <p class='body-tall text-subdued'>{{ block.settings.body | replace: '<p', '<p class="body-tall text-subdued"' }}</p>
                </div>
            {%- endcapture -%}

            {%- capture image_column -%}
							{% if block.settings.image != nil %}
								<div class='banner__media bg-subtle' data-animate>
										<img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
										{%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
										{%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
										{%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
										{%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
										{%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
										{%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
										sizes="100vw"
										src="{{ block.settings.image | img_url: '750x' }}"
										loading="lazy"
										alt="{{ block.settings.image.alt | escape }}"
										width="{{ block.settings.image.width }}"
										height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
										> 
								</div>
							{% endif %}
            {%- endcapture -%}

            {%- if row_cycle == 'odd' -%}
                <div class='cb-block cb-image-column'>
                    {{ image_column }}
                </div>
                <div class='cb-block cb-content-column'>
                    {{ content_column }}
                    {%- if block.settings.background_text != blank -%}
                        <div class='cb-background-text {% if block.settings.shift_bg_text %}shift_bg_text{% endif %}' position='left'>
												<div class="cb-background-text-interior">
                            <h4 class='heading_xxl'>{{ block.settings.background_text }}</h4>
												</div>
                        </div>
                    {%- endif -%}
                </div>
            {%- else -%}
                <div class='cb-block cb-content-column'>
                    {{ content_column }}
                    {%- if block.settings.background_text != blank -%}
                        <div class='cb-background-text {% if block.settings.shift_bg_text %}shift_bg_text{% endif %}' position='right'>
												<div class="cb-background-text-interior">
                          <h4 class='heading_xxl'>{{ block.settings.background_text }}</h4>
												</div>
                        </div>
                    {%- endif -%}
                </div>
                <div class='cb-block cb-image-column'>
                    {{ image_column }}
                </div>
            {%- endif -%}

        </article>

    {%- endfor -%}

</section>

{% schema %}
{
  "name": "Checkerboard",
  "settings": [],
  "blocks": [
    {
        "type": "row",
        "name": "Row",
        "settings": [
          {
              "type": "header",
              "content": "Background"
          },
          {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
          },
          {
              "type": "color",
              "id": "background_color",
              "label": "Color"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
              "type": "richtext",
              "id": "title",
              "label": "Headline"
          },
          {
              "type": "richtext",
              "id": "body",
              "label": "Body"
          },
          {
              "type": "text",
              "id": "background_text",
              "label": "Background Number"
          },
          {
              "type": "checkbox",
              "id": "shift_bg_text",
              "default": false,
              "label": "Background Text Positioning"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Checkerboard"
      }
  ]    
}
{% endschema %}