<section class='clp-three-columns'>
<div class="c f-h">
	{% for block in section.blocks %}
			<article class='column'>
				{%- unless block.settings.icon == 'none' -%}
					{%- render 'handler-icon_from_input', icon: block.settings.icon -%}
				{%- endunless -%}
				<div class='column-text type-spacing'>
					<h3 class='t-b-2-m'>{{ block.settings.headline | escape }}</h3>
					<span class='t-b-1 cr-gray-1'>{{ block.settings.body }}</span>
				</div>
			</article>
	{% endfor %}
</div>
</section>

{% schema %}
{
  "name": "Three Columns",
  "settings": [],
  "blocks": [
    {
        "type": "column",
        "name": "Column",
        "limit": 3,
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "options": [
							{
								"value": "none",
								"label": "None"
							},
							{
								"value": "zipper",
								"label": "Zipper"
							},
							{
								"value": "approved",
								"label": "Approved"
							},
							{
								"value": "arch-support",
								"label": "Arch Support"
							},
							{
								"value": "brazil",
								"label": "Brazil"
							},
							{
								"value": "breathability",
								"label": "Breathability"
							},
							{
								"value": "chat",
								"label": "Chat"
							},
							{
								"value": "comfort-system",
								"label": "Comfort system"
							},
							{
								"value": "eco",
								"label": "Eco"
							},
							{
								"value": "engineered",
								"label": "Engineered"
							},
							{
								"value": "feather",
								"label": "Feather"
							},
							{
								"value": "smile",
								"label": "Smile"
							},
							{
								"value": "healthy-feet",
								"label": "Healthy feet"
							},
							{
								"value": "heart",
								"label": "Heart"
							},
							{
								"value": "ice",
								"label": "Ice"
							},
							{
								"value": "inner-sock",
								"label": "Inner sock"
							},
							{
								"value": "insoles",
								"label": "Insoles"
							},
							{
								"value": "leather-soft",
								"label": "Leather soft"
							},
							{
								"value": "leather",
								"label": "Leather"
							},
							{
								"value": "metal-buckle",
								"label": "Metal buckle"
							},
							{
								"value": "moisture-wicking",
								"label": "Moisture wicking"
							},
							{
								"value": "needle",
								"label": "Needle"
							},
							{
								"value": "okeo-tex",
								"label": "OKEO-TEX"
							},
							{
								"value": "portugal",
								"label": "Portugal"
							},
							{
								"value": "resoleable",
								"label": "Resoleable"
							},
							{
								"value": "ruler",
								"label": "Ruler"
							},
							{
								"value": "science",
								"label": "Science"
							},
							{
								"value": "tradeup",
								"label": "Tradeup"
							},
							{
								"value": "usa",
								"label": "USA"
							},
							{
								"value": "ventilation",
								"label": "Ventilation"
							},
							{
								"value": "vibram",
								"label": "Vibram"
							},
							{
								"value": "water-resistant",
								"label": "Water-resistant"
							},
							{
								"value": "wool-small",
								"label": "Wool (small)"
							},
							{
								"value": "wool",
								"label": "Wool"
							},
							{
								"value": "woven",
								"label": "Woven"
							}
            ],
            "default": "none",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
              "type": "richtext",
              "id": "body",
              "label": "Body"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Three Columns"
      }
  ]    
}
{% endschema %}