{{ 'main-list-collections.css' | asset_url | stylesheet_tag }}
{{ 'glide.core.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'glide.min.js' | asset_url }}"></script>

<section class='collections-list-blocks'>
	{%- render 'collection-product-row', 
		index: forloop.index, 
		productCollection: section.settings.collection, 
		title: section.settings.title, 
		description: section.settings.description -%}
</section>

{% schema %}
{
  "name": "Collection Slider",
  "class": "spaced-section",
  "settings": [
      {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "Overrides collection title."
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
  ],
  "blocks": [],
  "presets": [
      {
          "name": "Collection Slider"
      }
  ]    
}
{% endschema %}