{{ 'section-collection-image-and-text.css' | asset_url | stylesheet_tag }}

<section class='collection-image-and-text height-{{ section.settings.height }}' style='background-color: {{ section.settings.background_color }}'>

    <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
    {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | img_url: '533x' }} 533w,{%- endif -%}
    {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | img_url: '720x' }} 720w,{%- endif -%}
    {%- if section.settings.image.width >= 940 -%}{{ section.settings.image | img_url: '940x' }} 940w,{%- endif -%}
    {%- if section.settings.image.width >= 1066 -%}{{ section.settings.image | img_url: '1066x' }} 1066w{%- endif -%}"
    src="{{ section.settings.image | img_url: '533x' }}"
    sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
    alt="{{ section.settings.image.alt | escape }}"
    loading="lazy"
    class="motion-reduce"
    width="{{ section.settings.image.width }}"
    height="{{ section.settings.image.height }}"
    >

    <div class='cit-content-container'>
        <div class='cit-content'>
            <h1 class='h1'>{{ section.settings.headline }}</h1>
            <p class='body-tall text-subdued'>{{ section.settings.body }}</p>
        </div>
    </div>

</section>

{% schema %}
{
  "name": "Collection Image and Text",
  "settings": [
    {
        "type": "header",
        "content": "Background"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "select",
        "id": "height",
        "options": [
            {
            "value": "cit-tall",
            "label": "Tall"
            },
            {
            "value": "cit-medium",
            "label": "Medium"
            }
        ],
        "default": "cit-tall",
        "label": "Height"
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Color"
    },
    {
        "type": "header",
        "content": "Content"
    },
    {
        "type": "richtext",
        "id": "headline",
        "label": "Headline"
    },
    {
        "type": "textarea",
        "id": "body",
        "label": "Body"
    }
  ],
  "blocks": [],
  "presets": [
      {
          "name": "Collection Image and Text"
      }
  ]    
}
{% endschema %}