<section class="clp-banner 
	{% if section.settings.hero_image_split == true %} 
		is-image-split f-h
	{% else %}
		f-v
	{% endif %}">
	<div class="banner-image">
		<span class="object-fit">
			{% if section.settings.image != nil %}
				{% render 'img-srcset-responsive', 
					image: section.settings.image,
					image_responsive: section.settings.image_mobile,
					max_width: 900,
					breakpoint: 900,
					alt: section.settings.image.alt %}
			{% endif %}
		</span>
	</div>

	<div class="banner-content 
		f-v-middle
		{% if section.settings.hero_image_split == true %}
			cr-black bg-subtle
		{% else %}
			cr-white
		{% endif %}">
		<div class="banner-content-interior type-spacing">
			{% if section.settings.headline != empty %}
				<h1 class="t-h-1">{{ section.settings.headline | escape }}</h1>
			{% elsif collection.title != empty %}
				<h1 class="t-h-1">{{ collection.title | escape }}</h1>
			{% endif %}

			{% if section.settings.body != empty %}
				<p class="t-b-1">{{ section.settings.body }}</p>
			{% elsif collection.description != empty %}
				<p class="t-b-1">{{ collection.description | escape }}</p>
			{% endif %}
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Collections List Banner",
  "settings": [
		{
			"type": "checkbox",
			"id": "hero_image_split",
			"label": "Image split"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Mobile Image"
		},
		{
			"type": "text",
			"id": "headline",
			"label": "Headline"
		},
		{
			"type": "textarea",
			"id": "body",
			"label": "Body"
		}
  ],
  "blocks": []
}
{% endschema %}