
{% if section.blocks.size > 0 %}
	<section class="blog-single-related-products bg-white">
	<div class="c">
		{% if section.settings.heading != empty %}
			<div class="related-products-header">
				<h2 class="t-h-2">{{ section.settings.heading }}</h2>
			</div>
		{% endif %}

		<div class="product-grid f-h"
			data-flickity-breakpoint="900" 
			data-flickity-slider="{
				'pageDots': false,
				'prevNextButtons': true,
				'wrapAround': false,
				'imagesLoaded': true,
				'cellAlign': 'left',
				'draggable': false,
				'contain': true
			}">
			{% for i in section.blocks %}
				{% if i.settings.product != empty %}
					{% render 'product-card', product_card: all_products[i.settings.product] %}
				{% endif %}
			{% endfor %}

			<div class="flickity-spacer"></div>
		</div>
	</div>
	</section>
{% endif %}

<style>
	.blog-single-related-products {
		margin: auto;
		padding: var(--s-section) 0;
	}
</style>

{% schema %}
{
	"name": "Shop Slider",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	],
	"max_blocks": 12,
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				}
			]
		}
	],
  "presets": [
      {
        "name": "Product slider"
      }
  ]
}
{% endschema %}