<section class="comp-quote" style="background-color: {{ section.settings.background_color | default: '#FBF9F4' }}">
<div class="c type-spacing">
	{% if section.settings.quote != empty %}
		<p class="t-q-1">{{ section.settings.quote }}</p>
	{% endif %}

	{% if section.settings.byline != empty %}
		<p class="t-b-2-m">{{ section.settings.byline }}</p>
	{% endif %}

	{% if section.settings.signature != nil %}
		<div class="hero-image">
			{% render 'img-srcset', 
				image: section.settings.signature,
				max_width: 900,
				alt: section.settings.signature.alt,
				classes: 'signature' %}
		</div>
	{% endif %}
</div>
</section>

{% schema %}
{
	"name": "Quote",
	"settings": [
		{
			"type": "textarea",
			"id": "quote",
			"label": "Quote"
		},
		{
			"type": "text",
			"id": "byline",
			"label": "Byline"
		},
		{
			"type": "image_picker",
			"id": "signature",
			"label": "Signature"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		}
	],
  "presets": [
      {
        "name": "Full width quote"
      }
  ]
}
{% endschema %}