<section class="comp-photo-grid">
<div class="c">
	{% if section.settings.heading %}
		<div class="photo-grid-header type-spacing">
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		</div>
	{% endif %}

	<div class="photo-grid-ugc">
		<div
			class="yotpo yotpo-pictures-widget"
			data-gallery-id="{{ section.settings.gallery_id }}">
		</div>
	</div>
</div>
</section>

{% schema %}
{
	"name": "Photo grid Yotpo",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "gallery_id",
			"label": "Gallery ID",
			"default": "615f7a0284fcb04387f4fe81"
		}
	],
  "presets": [
      {
        "name": "Photo grid Yotpo"
      }
  ]
}
{% endschema %}