<section class="comp-photo-grid">
<div class="c">
	<div class="photo-grid-header type-spacing">
		{% if section.settings.heading %}
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		{% endif %}
	</div>

	<div class="photo-grid">
		{% for i in section.blocks %}
			<div class="item bg-subdued">
				{% if i.settings.image != nil %}
					<span class="object-fit">
						{% render 'img-srcset', 
							image: i.settings.image,
							max_width: 900,
							breakpoint: 900,
							alt: i.settings.image.alt %}
					</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
</section>

{% schema %}
{
	"name": "Photo grid",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	],
	"max_blocks": 5,
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
  "presets": [
      {
        "name": "Photo grid"
      }
  ]
}
{% endschema %}