<div class='background-logo'>
    {%- render 'background-logo' -%}
    <div class='overlay-seam'></div>
</div>

{% style %}
    .background-logo {
        line-height: 0; position: relative;
    }
    .overlay-seam {
        height: 0.5vh; width: 100vw;
        display: block !important; position: absolute; bottom: 0;
        background-color: #f7f7f7;
    }
{% endstyle %}

{% schema %}
{
  "name": "Background Logo",
  "settings": [],
  "blocks": [],
  "presets": [
      {
          "name": "Background Logo"
      }
  ]    
}
{% endschema %}