{% if section.settings.vimeo_embed_code != empty %}
	<section class="comp-video-full cr-white bg-black" data-animate>
	<div class="video-full-interior f-v-middle">
		<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ section.settings.overlay }})"></div>

		<div class="video-full-embed">
			{{ section.settings.vimeo_embed_code }}
		</div>

		{% if section.settings.thumbnail != nil %}
			<span class="object-fit">
				{% render 'img-srcset',
					image: section.settings.thumbnail,
					max_width: 600,
					alt: section.settings.thumbnail.alt %}
			</span>
		{% endif %}

		<div class="video-full-content p-center">
			<button 
				class="video-play cr-white user-select-disable" 
				aria-label="watch video">
				{% render 'svg-icons', icon: 'video-play' %}
			</button>

			{% if section.settings.heading != empty %}
				<div class="t-h-1">{{ section.settings.heading }}</div>
			{% endif %}

			{% if section.settings.subheading != empty %}
				<p class="t-b-3">{{ section.settings.subheading }}</p>
			{% endif %}
		</div>
	</div>
	</section>
{% endif %}

{% schema %}
{
	"name": "Video full",
	"settings": [
		{
			"type": "textarea",
			"id": "vimeo_embed_code",
			"label": "Vimeo embed code"
		},
		{
			"type": "range",
			"id": "overlay",
			"min": 0,
			"max": 90,
			"step": 5,
			"default": 0,
			"label": "Overlay"
		},
		{
			"type": "image_picker",
			"id": "thumbnail",
			"label": "Thumbnail"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "subheading",
			"label": "Subeading"
		}
	],
  "presets": [
      {
        "name": "Full width video"
      }
  ]
}
{% endschema %}