{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<section class="cx-wrapper">
<div class="c">
	{% render 'cx-sidebar' %}

	<div class="cx-content">
		<div class="customer-service-page">
			<h1 class="cx-title customer-service-page__title">{{ section.settings.heading }}</h1>
			<div class="customer-service-page__description"> {{ section.settings.description}} </div>
			
			<div class="customer-service-page__support-hours t-b-2">
				<div>
					<div>Support Hours:</div>
					<div class="customer-service__page-support-hours-content">
						{{ section.settings.support_hours }}
					</div>
				</div>

				<div class="type-spacing">
					<p>{{ section.settings.faq_prompt }}</p>
					{% if section.settings.faq_page_url != blank %}
						<a href="{{ section.settings.faq_page_url }}" class="customer-service-page__view-faq-cta utility">View FAQ</a>
					{% endif %}
				</div>
			</div>

			<div class="customer-service-page__call-us-container">
				<h3>Call Us</h3>
				<div class="customer-service-page__call-us-message">
					{{ section.settings.call_us_message }}
				</div>
				<a href="#" class="h6 customer-service-page__link-cta">{{ section.settings.phone_number }}</a>
			</div>

			<h3>Send Us a Message</h3>
			{%- form 'contact', id: 'ContactForm' -%}
				{%- if form.posted_successfully? -%}
					<div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
				{%- elsif form.errors -%}
					<div class="form__message">
						<h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
					</div>
					<ul class="form-status-list caption-large" role="list">
						<li>
							<a href="#ContactForm-email" class="link">
								{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
							</a>
						</li>
					</ul>
				{%- endif -%}

				<div class="body-small">
					{% assign topics = section.blocks | where: "type", "topic" %}
					<select class="contact-form__select" name="contact[topic]">
						{% for block in topics %}
							<option value="{{ block.settings.topic | handleize }}">{{ block.settings.topic }}</option>
						{% endfor %}
					</select>

					<input type="text" name="contact[name]" class="contact-form__input" placeholder="Name">
					<input type="text" name="contact[email]" class="contact-form__input" placeholder="Email">
					<label class="contact-form__label" for="ContactFormMessage">Message</label>
					<textarea name="contact[body]" id="ContactFormMessage" class="contact-form__textarea" cols="30" rows="10" placeholder="Enter your message here..."></textarea>
				</div>

				<button class="contact-form__submit utility" type="submit">Submit</button>
			{%- endform -%}
		</div>
	</div>
</div>
</section>

{% assign icon_blocks = section.blocks | where: "type", "icon_block" %}
<div class="contact-icon-blocks">
  {% for block in icon_blocks %}
    <div class="contact-icon-block">
      <img class="contact-icon-block__icon" src="{{ block.settings.icon | img_url: '70x70' }}" alt="{{ block.settings.icon.alt }}" width="70" height="70" loading="lazy">
      <h6 class="contact-icon-block__title">{{ block.settings.title }}</h6>
      <div class="body-small contact-icon-block__message">{{ block.settings.message }}</div>
      <a href="{{ block.settings.cta_url }}" class="customer-service-page__link-cta">{{ block.settings.cta_text }}</a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "textarea",
      "id": "faq_prompt",
      "label": "FAQ Prompt",
			"default": "Looking for more info on products, shipping, fabric, and more?"
    },
    {
      "type": "richtext",
      "id": "support_hours",
      "label": "Support Hours"
    },
    {
      "type": "text",
      "id": "call_us_message",
      "label": "Call Us Message"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number"
    },
    {
      "type": "url",
      "id": "faq_page_url",
      "label": "FAQ Page URL"
    }
  ],
  "blocks": [
    {
      "type": "topic",
      "name": "Topic",
      "settings": [
        {
          "type": "text",
          "id": "topic",
          "label": "Topic"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
