{%- capture boost_pfs_collection_template -%}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-product-card.js' | asset_url }}" defer="defer"></script>

<section class='plp-filter-and-sort'>
  <div class='plp-product-count'>
    <span class='h2'>Products</span> <span class='h6'>({{ collection.all_products_count }})</span>
  </div>

  <div class='plp-filter-action-container'>
    <div class='plp-open-action' action='open-filters'>
      {%- render 'icon-filtering' -%}
      <span class='body-small'>Show filters</span>
    </div>

		<div class="plp-open-action">
    	<div class="boost-pfs-filter-top-sorting"></div>
		</div>
  </div>
</section>

<section class='plp-filter-container' visible='false'>
  <div class='plp-filter-container-intro'>
    <h3 class='h3'>Filters</h3>
    <div class='close-plp-filters'>
      {%- render 'icon-close' -%}
  </div>
  </div>
  <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>
</section>

<script>
	productInterstitialHtml +=
	`
	{%- for block in section.blocks -%}
		{% if block.settings.collection != blank and 
			block.settings.collection != collection.handle %}
			{% continue %}
		{% endif %}
		<style>
			.plp-interstitial[block='{{ block.id }}'] {
				grid-row: {{ block.settings.grid_row_desktop }};
				grid-column: {{ block.settings.grid_column }} / span 2;
			}
			@media screen and (max-width: 990px) {
				.plp-interstitial[block='{{ block.id }}'] {
					grid-row: {{ block.settings.grid_row_tablet}};
				}
			}
			@media screen and (max-width: 720px) {
				.plp-interstitial[block='{{ block.id }}'] {
					grid-row: {{ block.settings.grid_row_mobile}};
				}
			}
		</style>
		{%- case block.type -%}
			{%- when 'video' -%}
				<article class='plp-interstitial plp-video-card {% unless block.settings.video_autoplay %} is-not-autoplay{% endunless %}' block='{{ block.id }}'>
					{% if block.settings.video_background != nil %}
						<iframe src="https://player.vimeo.com/video/{{ block.settings.video_background.id }}?{% if block.settings.video_autoplay %}background=1{% endif %}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					{% endif %}

					{% if block.settings.video_autoplay %}
						<a href="{{ block.url }}" class="full-unstyled-link p-fill"> </a>
					{% else %}
						{%- if block.settings.image != blank -%}
							<span class="object-fit">
								{% render 'img-srcset', 
									image: block.settings.image,
									max_width: 900,
									alt: block.settings.image.alt %}
							</span>
						{%- endif -%}

						<button 
							class="video-play p-center cr-white user-select-disable" 
							aria-label="watch video"
							onclick="
								this.closest('.plp-video-card').classList.add('is-playing');
								new Vimeo.Player(this.closest('.plp-video-card').querySelector('iframe')).play();
							">
							{% render 'svg-icons', icon: 'video-play' %}
						</button>

						{% if block.settings.video_title != empty %}
							<div class="video-title t-b-2-m cr-white">{{ block.settings.video_title }}</div>
						{% endif %}
					{% endif %}
				</article>
			{% when 'two-column' %}
				<article class='plp-interstitial plp-column-card' block='{{ block.id }}'>
					<a href="{{ block.url }}" class="full-unstyled-link">
						<div class='plp-column-image-container'>
							<span class="object-fit">
								{% if block.settings.image != nil %}
									{% render 'img-srcset-responsive', 
										image: block.settings.image,
										image_responsive: block.settings.image_mobile,
										max_width: 900,
										breakpoint: 900,
										alt: block.settings.image.alt %}
								{% endif %}
							</span>
						</div>
						<div class='plp-column-content-container'>
							<div class='plp-column-content'>
								{%- unless block.settings.icon == 'none' -%}
									{% assign icon = block.settings.icon %}
										<article class='plp-column-icon'>
											{%- render 'handler-icon_from_input', icon: icon -%}
										</article>
								{%- endunless -%}
								<h6 class='body-large'>{{ block.settings.title }}</h6>
								<p class='body-tall text-subdued'>{{ block.settings.body }}</p>
							</div>
						</div>
					</a>
				</article>
			{%- when 'overlay' -%}
				<article class='plp-interstitial plp-overlay-card bg-subdued' block='{{ block.id }}'>
					<a href="{{ block.url }}" class="full-unstyled-link">
						<span class="object-fit">
							{% if block.settings.image != nil %}
								{% render 'img-srcset-responsive', 
									image: block.settings.image,
									image_responsive: block.settings.image_mobile,
									max_width: 900,
									breakpoint: 900,
									alt: block.settings.image.alt %}
							{% endif %}
						</span>
					
						<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ block.settings.overlay_opacity }})"></div>

						<div class='plp-overlay-content'>
							<h2 class='h2'>{{ block.settings.title }}</h2>
						</div>
					</a>
				</article>
		{%- endcase -%}
	{%- endfor -%}`;
</script>

<section class='plp-grid boost-pfs-filter-products'>
	{%- for product in collection.products -%}
		{% render 'product-card', product_card: product %}
	{%- endfor -%}
</section>

<div class="boost-pfs-filter-bottom-pagination"></div>
<div class="boost-pfs-filter-load-more"></div>

<script>   
  // Open filters
  let filterOpenTriggers = document.querySelectorAll('.plp-open-action[action="open-filters"]');

  for (var i = 0; i < filterOpenTriggers.length; i++) {
    filterOpenTriggers[i].addEventListener('click', function(){
      document.querySelector('.plp-filter-container').setAttribute('visible', 'true');
      document.querySelector('#overlay-dark').setAttribute('state', 'active');
    });
  }
  // Close filters
  document.querySelector('.close-plp-filters').addEventListener('click', function(){
    document.querySelector('.plp-filter-container').setAttribute('visible', 'false');
    document.querySelector('#overlay-dark').setAttribute('state', 'inactive');
  });

	document.querySelector('.plp-grid').innerHTML = `${document.querySelector('.plp-grid').innerHTML}${productInterstitialHtml}`;

	const productCount = {{ collection.products.size | default: 0 }};
</script>

<script>
  // Declare boostPFSThemeConfig
  var boostPFSThemeConfig = {
		label: {       
			sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},       
			sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},       
			sorting_manual: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},       
			sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},       
			sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},       
			sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},       
			sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},       
			sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},       
			sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},       
			sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},        
			sale: {{ 'products.product.on_sale' | t | json }},       
			sale_price: {{ 'products.product.sale_price' | t | json }},       
			sold_out: {{ 'products.product.sold_out' | t | json }},       
			vendor: {{ 'products.product.vendor' | t |json }},       
			regular_price: {{ 'products.product.regular_price' | t | json }},       
			items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},       
			items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},       
			current_page: {{ 'general.pagination.current_page' | t | json }}, 
		},     
		custom: {       
			// Add custom value here  
			products_per_page: 20,
			product_grid_class: '',
          	productCount: {{ collection.products.size | default: 0 }}
		}   
	};

	// Declare Templates
	var boostPFSTemplate = {
		'soldOutClass': ' sold-out',
		'saleClass': ' on-sale',
		'soldOutLabelHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' %},
		'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
		'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
		'vendorHtml': {% render 'boost-pfs-filter-html', layout: 'vendorHtml' %},
		// Grid Template
		'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
		// For List View
		// List Template
		'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
		// End For List View
		// Pagination Template
		'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
		'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
		'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
		'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
		'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
		'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
		'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
		'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},
		// Sorting Template
		'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
		// Show Limit Template
		'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
		// Breadcrumb Template
		'breadcrumbHtml': {% render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' %},
		'breadcrumbDivider': {% render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' %},
		'breadcrumbItemLink': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' %},
		'breadcrumbItemSelected': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' %},
	};
</script>
{%- endcapture -%}
{% include 'boost-pfs-filter-html-endpoint' %}

{% schema %}
{
  "name": "PLP Product Grid",
  "settings": []
}
{% endschema %}
