{{ 'section-customer-service.css' | asset_url | stylesheet_tag }}

<section class='cs-section'>

    <div class='intro-container'>
        <h2 class='h1'>{{ section.settings.headline | escape }}</h2>
				{% if section.settings.subhead != empty %}
        	<h6 class='h6'>{{ section.settings.subhead | escape }} <a href='tel:{{ settings.support_number }}' class='button button--secondary'>{% render 'formatted_support-number' %}</a></h6>
				{% endif %}
        <p>{{ section.settings.body | escape }}</p>
    </div>

    <div class='cs-card-container'>
        {% for block in section.blocks %}
            <article class='cs-card type-spacing color-light-contrast'>
                {%- unless block.settings.icon == 'none' -%}
                    {% assign icon = block.settings.icon %}
                    <div class='cs-icon-container'>
                        {%- render 'handler-icon_from_input', icon: icon -%}
                    </div>
                {%- endunless -%}

                <h3 class='h6'>{{ block.settings.headline | escape }}</h3>
								{{ block.settings.body }}

                <div class='cs-link-container'>
                    <div class='flex-item'>
                        <a class='button button--secondary' href='{{ block.settings.url }}'>{{ block.settings.url_label | escape }}</a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>

</section>

{% schema %}
{
  "name": "Customer Service",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Intro"
    },
    {
      "type": "text",
      "id": "headline",
      "default": "Headline",
      "label": "Headline"
    },
    {
        "type": "text",
        "id": "subhead",
        "default": "Subhead",
        "label": "Subhead",
        "info": "Support number will be inserted immediately after this text"
      },
    {
      "type": "textarea",
      "id": "body",
      "default": "Insert body text here.",
      "label": "Body"
    }
  ],
  "blocks": [
    {
        "type": "card",
        "name": "Card",
        "limit": 3,
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "options": [
							{
								"value": "none",
								"label": "None"
							},
							{
								"value": "zipper",
								"label": "Zipper"
							},
							{
								"value": "approved",
								"label": "Approved"
							},
							{
								"value": "arch-support",
								"label": "Arch Support"
							},
							{
								"value": "brazil",
								"label": "Brazil"
							},
							{
								"value": "breathability",
								"label": "Breathability"
							},
							{
								"value": "chat",
								"label": "Chat"
							},
							{
								"value": "comfort-system",
								"label": "Comfort system"
							},
							{
								"value": "eco",
								"label": "Eco"
							},
							{
								"value": "engineered",
								"label": "Engineered"
							},
							{
								"value": "feather",
								"label": "Feather"
							},
							{
								"value": "smile",
								"label": "Smile"
							},
							{
								"value": "healthy-feet",
								"label": "Healthy feet"
							},
							{
								"value": "heart",
								"label": "Heart"
							},
							{
								"value": "ice",
								"label": "Ice"
							},
							{
								"value": "inner-sock",
								"label": "Inner sock"
							},
							{
								"value": "insoles",
								"label": "Insoles"
							},
							{
								"value": "leather-soft",
								"label": "Leather soft"
							},
							{
								"value": "leather",
								"label": "Leather"
							},
							{
								"value": "shoe",
								"label": "Shoe"
							},
							{
								"value": "metal-buckle",
								"label": "Metal buckle"
							},
							{
								"value": "moisture-wicking",
								"label": "Moisture wicking"
							},
							{
								"value": "needle",
								"label": "Needle"
							},
							{
								"value": "okeo-tex",
								"label": "OKEO-TEX"
							},
							{
								"value": "portugal",
								"label": "Portugal"
							},
							{
								"value": "resoleable",
								"label": "Resoleable"
							},
							{
								"value": "ruler",
								"label": "Ruler"
							},
							{
								"value": "science",
								"label": "Science"
							},
							{
								"value": "tradeup",
								"label": "Tradeup"
							},
							{
								"value": "usa",
								"label": "USA"
							},
							{
								"value": "ventilation",
								"label": "Ventilation"
							},
							{
								"value": "vibram",
								"label": "Vibram"
							},
							{
								"value": "water-resistant",
								"label": "Water-resistant"
							},
							{
								"value": "wool-small",
								"label": "Wool (small)"
							},
							{
								"value": "wool",
								"label": "Wool"
							},
							{
								"value": "woven",
								"label": "Woven"
							}
            ],
            "default": "none",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "headline",
            "label": "Headline"
          },
          {
              "type": "richtext",
              "id": "body",
              "label": "Body"
          },
          {
              "type": "url",
              "id": "url",
              "label": "Link URL"
          },
          {
              "type": "text",
              "id": "url_label",
              "label": "Link Label"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Customer Service"
      }
  ]    
}
{% endschema %}