{{ 'section-dual-calls-to-action.css' | asset_url | stylesheet_tag }}

<section class='dual-ctas' data-animate>
    <div class='dual-container'>
        <div class='dual_images dual_left-image medium-hide small-hide'>
            <img srcset="{%- if section.settings.dual_left_image.width >= 375 -%}{{ section.settings.dual_left_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 750 -%}{{ section.settings.dual_left_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 1100 -%}{{ section.settings.dual_left_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 1500 -%}{{ section.settings.dual_left_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 1780 -%}{{ section.settings.dual_left_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 2000 -%}{{ section.settings.dual_left_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.dual_left_image.width >= 2800 -%}{{ section.settings.dual_left_image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.dual_left_image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.dual_left_image.alt | escape }}"
            width="{{ section.settings.dual_left_image.width }}"
            height="{{ section.settings.dual_left_image.width | divided_by: section.settings.dual_left_image.aspect_ratio }}"
            >
        </div>
        <div class='dual_images dual_right-image medium-hide small-hide'>
            <img srcset="{%- if section.settings.dual_right_image.width >= 375 -%}{{ section.settings.dual_right_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 750 -%}{{ section.settings.dual_right_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 1100 -%}{{ section.settings.dual_right_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 1500 -%}{{ section.settings.dual_right_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 1780 -%}{{ section.settings.dual_right_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 2000 -%}{{ section.settings.dual_right_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.dual_right_image.width >= 2800 -%}{{ section.settings.dual_right_image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.dual_right_image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.dual_right_image.alt | escape }}"
            width="{{ section.settings.dual_right_image.width }}"
            height="{{ section.settings.dual_right_image.width | divided_by: section.settings.dual_right_image.aspect_ratio }}"
            >
        </div>
        <div class='dual_images dual_mobile-image large-up-hide'>
            <img srcset="{%- if section.settings.dual_mobile_image.width >= 375 -%}{{ section.settings.dual_mobile_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 750 -%}{{ section.settings.dual_mobile_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 1100 -%}{{ section.settings.dual_mobile_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 1500 -%}{{ section.settings.dual_mobile_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 1780 -%}{{ section.settings.dual_mobile_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 2000 -%}{{ section.settings.dual_mobile_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.dual_mobile_image.width >= 2800 -%}{{ section.settings.dual_mobile_image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.dual_mobile_image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.dual_mobile_image.alt | escape }}"
            width="{{ section.settings.dual_mobile_image.width }}"
            height="{{ section.settings.dual_mobile_image.width | divided_by: section.settings.dual_mobile_image.aspect_ratio }}"
            >
        </div>
        <div class='dual_content'>
            <div class='dual_content-container'>
                <h2 class='heading_xxl'>{{ section.settings.dual_headline }}</h2>
                <div class='dual_buttons'>
                    <div class='dual_buttons-container dual_buttons-left'>
                        <a class='button button--tertiary upscale cr-white' href='{{ section.settings.dual_left_button_url }}'>
                            {{ section.settings.dual_left_button_label }}
                          </a>
                    </div>
                    <div class='dual_buttons-container dual_buttons-right'>
                        <a class='button button--tertiary upscale cr-white' href='{{ section.settings.dual_right_button_url }}'>
                            {{ section.settings.dual_right_button_label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Dual CTAs",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "image_picker",
      "id": "dual_left_image",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "dual_right_image",
      "label": "Right Image"
    },
    {
      "type": "image_picker",
      "id": "dual_mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Headline"
    },
    {
      "type": "richtext",
      "id": "dual_headline",
      "default": "<p>Headline</p>",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Left Button"
    },
    {
      "type": "text",
      "id": "dual_left_button_label",
      "default": "Click Me",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "dual_left_button_url",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "Right Button"
    },
    {
      "type": "text",
      "id": "dual_right_button_label",
      "default": "Click Me",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "dual_right_button_url",
      "label": "URL"
    }
  ],
  "presets": [
      {
          "name": "Dual CTAs"
      }
  ]    
}
{% endschema %}