{% schema %}
	{
		"name": "FAQ",
		"settings": [
			{
				"type": "text",
				"id": "heading",
				"label": "Heading"
			},
			{
				"type": "textarea",
				"id": "paragraph",
				"label": "Paragraph"
			}
		],
		"blocks": [{
			"type": "section_title",
			"name": "Section Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				}
			]
		},
		{
			"type": "faq",
			"name": "FAQ",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "richtext",
					"id": "answer",
					"label": "Answer"
				}
			]
		},
		{
			"type": "cta",
			"name": "CTA",
			"settings": [
				{
					"type": "text",
					"id": "cta_label",
					"label": "CTA Label"
				},
				{
					"type": "url",
					"id": "cta_url",
					"label": "CTA URL"
				}
			]
		}]
	}
{% endschema %}

{% if section.blocks.size > 0 %}
	{% for i in section.blocks %}
		{% if i.type == 'section_title' %}
			{% capture faq_children_ul_html %}
				{{ faq_children_ul_html }}
				<li>
					<li><a href="#faq-{{ i.settings.title | handleize }}">{{ i.settings.title }}</a></li>
				</li>
			{% endcapture %}
		{% endif %}
	{% endfor %}

	{% render 'cx-sidebar',
		children_ul: faq_children_ul_html %}

	<div class="cx-content">
		<div class="faq-header">
			{% if section.settings.heading != empty %}
				<h1 class="cx-title t-h-1">{{ section.settings.heading }}</h1>
			{% endif %}
		
			{% if section.settings.paragraph != empty %}
				<p class="t-b-2 cr-gray-1">{{ section.settings.paragraph }}</p>
			{% endif %}
		</div>
		<div class="faq-group">

		{% for i in section.blocks %}
			{% if i.type == 'section_title' %}
				</div><!-- .faq-group -->
				<div id="faq-{{ i.settings.title | handleize }}" class="anchor">  </div>
				<div class="faq-group">
					<h2 class="t-h-3">{{ i.settings.title }}</h2>

			{% elsif i.type == 'faq' %}
				{% if i.settings.question != empty and 
					i.settings.answer != empty %}
					{% render 'comp-accordion',
						label: i.settings.title,
						content: i.settings.answer,
						list_style: false %}
				{% endif %}

			{% elsif i.type == 'cta' %}
				{% if i.settings.cta_label != empty and 
					i.settings.cta_label != nil and 
					i.settings.cta_url != empty and 
					i.settings.cta_url != nil %}
					<a 
						class="button button--tertiary upscale cr-black" 
						href="{{ i.settings.cta_url }}">
						{{ i.settings.cta_label }}</a>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}