{{ 'section-fine-print-box.css' | asset_url | stylesheet_tag }}

<section class='fine-print-box type-spacing'>

    <h2 class='h2'>{{ section.settings.title | escape }}</h2>

    <div class='fp-list-container'>
			{%- for block in section.blocks -%}
				<article class='fp-list-item'>
						<div class='fp-tickmark'>{%- render 'icon-tickmark' -%}</div>
						<p class='body-tall text-subdued'>{{ block.settings.body | escape }}</p>
				</article>
			{%- endfor -%}
    </div>

</section>

{% schema %}
{
  "name": "Fine Print Box",
  "class": "spaced-section",
  "settings": [
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      }
  ],
  "blocks": [
    {
        "type": "list_item",
        "name": "List Item",
        "settings": [
          {
            "type": "textarea",
            "id": "body",
            "label": "Body"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Fine Print Box"
      }
  ]    
}
{% endschema %}