{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class='footer color-cream'>
  <div class='footer-container'>
    {%- for block in section.blocks -%}
      {%- if block.type == 'link_list' and block.settings.heading != blank -%}
        <div class='footer-link_list {% if block.settings.menu.links.size >= 5 %}footer-link_list-tall{% endif %}'>
          <h3 class="body-medium">{{ block.settings.heading | escape }}</h3>
          {%- if block.settings.menu != blank -%}
            <ul class="list-unstyled">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link body-small">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      {%- elsif block.type == 'support' and block.settings.heading != blank -%}
        <div class='footer-support'>
          <h3 class="body-medium">{{ block.settings.heading | escape }}</h3>
          <p class='link link--text list-menu__item list-menu__item--link body-small'>{{ block.settings.support_text | escape }}</p>
          <ul class="list-unstyled">
              <li>
                <a href="tel:{{ settings.support_number }}" class="link link--text list-menu__item list-menu__item--link body-small">
                  {%- render 'formatted_support-number' -%}
                </a>
              </li>
          </ul>
        </div>
      {%- elsif block.type == 'social' and block.settings.heading != blank -%}
				{% if block.settings.fb_url != nil or 
					block.settings.ig_url != nil or 
					block.settings.tw_url != nil or 
					block.settings.yt_url != nil or 
					block.settings.tt_url != nil or 
					block.settings.pt_url != nil %}
					<div class='footer-social'>
						<h3 class="body-medium center">{{ block.settings.heading | escape }}</h3>
						<div class='footer-social_links'>
							{%- if block.settings.fb_url != nil -%}
								<a href="{{ block.settings.fb_url }}" class='list-menu__item--link' target='_blank'>
									{%- render 'icon-facebook' -%}
								</a>
							{%- endif -%}
							{%- if block.settings.ig_url != nil -%}
								<a href="{{ block.settings.ig_url }}" class='list-menu__item--link' target='_blank'>
									{%- render 'icon-instagram' -%}
								</a>
							{%- endif -%}
							{%- if block.settings.tw_url != nil -%}
								<a href="{{ block.settings.tw_url }}" class='list-menu__item--link' target='_blank'>             
									{%- render 'icon-twitter' -%}
								</a>
							{%- endif -%}
							{%- if block.settings.yt_url != nil -%} 
								<a href="{{ block.settings.yt_url }}" class='list-menu__item--link' target='_blank'>
									{%- render 'icon-youtube' -%}
								</a>
							{%- endif -%}
							{%- if block.settings.tt_url != nil -%}
								<a href="{{ block.settings.tt_url }}" class='list-menu__item--link' target='_blank'>
									{%- render 'icon-tiktok' -%}
								</a>
							{%- endif -%}
							{%- if block.settings.pt_url != nil -%}
								<a href="{{ block.settings.pt_url }}" class='list-menu__item--link' target='_blank'>
									{%- render 'icon-pinterest' -%}
								</a>
							{%- endif -%}
						</div>
					</div>
				{% endif %}
      {%- endif -%}
    {%- endfor -%}
    <div class='footer-subscribe'>
      {%- form 'customer', id: 'ContactFooter' -%}
				<h3 class="body-medium">{{ section.settings.subscribe_headline | escape }}</h3>

				{%- if form.errors -%}
					<small class="newsletter-form__message form__message" id="contact-footer-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
				{%- endif -%}

				{%- if form.posted_successfully? -%}
				{%- elsif form.errors -%}
				{%- else -%}
					<small 
						id="contact-footer-error"
						class="newsletter-form__message form__message existing-subscriber">
						{% render 'icon-error' %}You are already subscribed</small>

					<script type="text/javascript">
						if (window.location.href.indexOf("prospect%2Cnewsletter&form_type=customer") > -1) {
							$("#contact-footer-error.existing-subscriber").show();
						} else {
							$("#contact-footer-error.existing-subscriber").hide();
						}
					</script>
				{%- endif -%}

				{%- if form.posted_successfully? -%}
					<h3 class="body-medium newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>
						{{ section.settings.subscribe_success_message }}
					</h3>
				{%- else -%}
					<div class="footer__newsletter newsletter-form">
						<input type="hidden" name="contact[tags]" value="newsletter">
						<div class="newsletter-form__field-wrapper">
							<div class="field">
								<input
									id="NewsletterForm--{{ section.id }}"
									type="email"
									name="contact[email]"
									class="footer-field__input body-small"
									value="{{ form.email }}"
									aria-required="true"
									autocorrect="off"
									autocapitalize="off"
									autocomplete="email"
									{% if form.errors %}
										autofocus
										aria-invalid="true"
										aria-describedby="ContactFooter-error"
									{% elsif form.posted_successfully? %}
										aria-describedby="ContactFooter-success"
									{% endif %}
									placeholder="{{ section.settings.subscribe_placeholder }}"
									required
								>
							</div>
						</div>
						<button type="submit" class="button button--secondary newsletter-form__button" name="commit" id="Subscribe">
							{{ 'newsletter.button_label' | t }}
						</button>
					</div>
				{%- endif -%}
      {%- endform -%}
    </div>
    <div class='copyright body-small center'>
			&copy; 2015-{{ 'now' | date: "%Y" }} {{ shop.name }} LLC.
			&nbsp;
			<button type="button" data-acsb-custom-trigger="true">Accessibility</button>
		</div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "support",
      "name": "Support",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "text",
          "id": "support_text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "url",
          "id": "fb_url",
          "label": "Facebook URL"
        },
        {
          "type": "url",
          "id": "ig_url",
          "label": "Instagram URL"
        },
        {
          "type": "url",
          "id": "tw_url",
          "label": "Twitter URL"
        },
        {
          "type": "url",
          "id": "yt_url",
          "label": "YouTube URL"
        },
        {
          "type": "url",
          "id": "tt_url",
          "label": "Tiktok URL"
        },
        {
          "type": "url",
          "id": "pt_url",
          "label": "Pinterest URL"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Subscribe"
    },
    {
      "type": "text",
      "id": "subscribe_headline",
      "label": "Headline",
      "default": "Subscribe to our Newsletter"
    },
    {
      "type": "text",
      "id": "subscribe_placeholder",
      "label": "Placeholder",
      "default": "E-mail"
    },
    {
      "type": "text",
      "id": "subscribe_button",
      "label": "Button",
      "default": "Subscribe"
    },
		{
			"type": "textarea",
			"id": "subscribe_success_message",
			"default": "Thank you for subscribing!",
			"label": "Success message"
		}
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}