{{ 'section-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .full-banner.unspace-above {margin-top: -100px}
  @media screen and (min-width: 2000px) {
    .full-banner.unspace-above {margin-top: -150px}
  }
  @media screen and (max-width: 550px) {
    .full-banner.unspace-above {margin-top: -75px}
  }  
  
  .full-banner.unspace-below {margin-bottom: -100px}
  @media screen and (min-width: 2000px) {
    .full-banner.unspace-below {margin-bottom: -150px}
  }
  @media screen and (max-width: 550px) {
    .full-banner.unspace-below {margin-bottom: -75px}
  }  
  
{%- endstyle -%}
<section class='full-banner color-inverse {{ section.settings.banner_height }} content-{{ section.settings.content_alignment }} {% if section.settings.unspace_above %}unspace-above{% endif %} {% if section.settings.unspace_section %}unspace-below{% endif %}
{%- if section.settings.banner_height == 'screen-height' -%} is-full-screen{% endif %}' 
style='color: {{ section.settings.content_color }}' data-animate>

	<div class='banner__media media object-fit'>
		{% if section.settings.banner_background_image != nil %}
			{% render 'img-srcset-responsive', 
				image: section.settings.banner_background_image,
				image_responsive: section.settings.banner_background_image_mobile,
				max_width: 900,
				breakpoint: 900,
				alt: section.settings.banner_background_image.alt %}
		{% endif %}
	</div>
	
	{% if section.settings.video_mobile != nil %}
		<iframe class="p-center video-mobile" src="https://player.vimeo.com/video/{{ section.settings.video_mobile.id }}?background=1" width="640" height="640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	{% endif %}

	{% if section.settings.video != nil %}
		<iframe class="p-center video-desktop" src="https://player.vimeo.com/video/{{ section.settings.video.id }}?background=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
	{% endif %}

	<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ section.settings.overlay_opacity }})"></div>

  <div class='banner-contents c type-spacing'>

    {%- if section.blocks.size > 0 -%}
      <div class='banner-icon-container'>
        {% for block in section.blocks %}
          {%- unless block.settings.icon == 'none' -%}
            {% assign icon = block.settings.icon %}
              <article class='banner-icon'>
                {%- render 'handler-icon_from_input', icon: icon -%}
              </article>
          {%- endunless -%}
        {% endfor %} 
      </div>
    {%- endif -%}
    {%- if section.settings.banner_eyebrow != blank -%}
      <span class='banner-eyebrow utility color--highlight'>{{ section.settings.banner_eyebrow | escape }}</span>
    {%- endif -%}

		{% assign headline_split = section.settings.banner_headline 
			| remove: '<p>' | remove: '</p>' | newline_to_br | split: ' ' %}

    {%- if section.settings.page_hero -%}
      <h1 
				class='banner-headline zero-margin {{ section.settings.banner_headline_size }}'>
				{% if section.settings.banner_headline_animation == true %}
					{% for i in headline_split %}
						{% if i contains 'br' %}
							<br>
						{% endif %}
						<span>{{ i | remove: '<br>' }}</span>
					{% endfor %}

				{% else %}
					{{ section.settings.banner_headline | remove: '<p>' | remove: '</p>' }}
				{% endif %}
			</h1>
    {%- else -%}
      <h2 class='banner-headline zero-margin {{ section.settings.banner_headline_size }}'>
				{% if section.settings.banner_headline_animation == true %}
					{% for i in headline_split %}
						{% if i contains 'br' %}
							<br>
						{% endif %}
						<span>{{ i | remove: '<br>' }}</span>
					{% endfor %}

				{% else %}
					{{ section.settings.banner_headline | remove: '<p>' | remove: '</p>' }}
				{% endif %}
			</h2>
    {%- endif -%}
    <h3 class='banner-subhead zero-margin {{ section.settings.banner_subhead_size }} {% if section.settings.page_hero == false %}upscale{% endif %} {% if section.settings.banner_subhead_size == "h3" %}no-mobile{% endif %}'>
      {{ section.settings.banner_subhead | remove: '<p>' | remove: '</p>' }}
    </h3>
    {%- if section.settings.banner_body != blank -%}
      <div class='banner-body {{ section.settings.banner_body_size }}'>
        {{ section.settings.banner_body }}
      </div>
    {%- endif -%}
    {%- if section.settings.banner_button_label != blank -%}
      <div class='banner-cta margin-top--{{ section.settings.banner_button_margin }}'>
        <a class='button {{ section.settings.banner_button_style }} upscale' href='{{ section.settings.banner_button_url }}'>
          {{ section.settings.banner_button_label }}
        </a>
      </div>
    {%- endif -%}
  </div>

	{% if section.settings.page_hero == true %}
		<button class="banner-scroll small-up-hide">
		{% render 'svg-icons', icon: 'arrow-down-thin' %}</button>
	{% endif %}
</section>

{% comment %}
Placeholder Videos
HD 1920x1080  https://player.vimeo.com/external/581231710.hd.mp4?s=125f47a3bd98b3852d64f03e144eb215e67fcc02&profile_id=175
SD 640x360    https://player.vimeo.com/external/581231710.sd.mp4?s=85a6b19fca74c43698ff9a74189c9ac242a0ffb4&profile_id=164
{% endcomment %}

{% schema %}
{
  "name": "Full Banner",
  //"class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 90,
      "step": 5,
      "default": 0,
      "label": "Overlay"
    },
    {
      "type": "image_picker",
      "id": "banner_background_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "banner_background_image_mobile",
      "label": "Image (mobile)"
    },
    {
      "type": "video_url",
      "id": "video",
      "label": "Vimeo URL",
			"accept": ["vimeo"],
			"info": "Aspect ratio should be at 16:9"
    },
    {
      "type": "video_url",
      "id": "video_mobile",
      "label": "Vimeo URL",
			"accept": ["vimeo"],
			"info": "Aspect ratio should be at 5:9"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "page_hero",
      "default": false,
      "label": "Page Hero"
    },
    {
      "type": "checkbox",
      "id": "unspace_above",
      "default": false,
      "label": "Unspace Above"
    },
    {
      "type": "checkbox",
      "id": "unspace_section",
      "default": false,
      "label": "Unspace Below"
    },
    {
      "type": "select",
      "id": "banner_height",
      "options": [
        {
          "value": "screen-height",
          "label": "Screen Height"
        },
        {
          "value": "ratio-2074",
          "label": "Tall Rectangle"
        },
        {
          "value": "ratio-2267",
          "label": "Medium Rectangle"
        },
        {
          "value": "ratio-square_to_rectangle",
          "label": "Square-to-Rectangle"
        }
      ],
      "default": "screen-height",
      "label": "Height"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Alignment"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "banner_eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "richtext",
      "id": "banner_headline",
      "default": "<p>Headline</p>",
      "label": "Headline"
    },
		{
			"type": "checkbox",
			"id": "banner_headline_animation",
			"label": "Headline animation"
		},
    {
      "type": "select",
      "id": "banner_headline_size",
      "options": [
        {
          "value": "heading_xxl",
          "label": "XXL"
        },
        {
          "value": "t-h-xl",
          "label": "XL"
        },
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ],
      "default": "t-h-xl",
      "label": "Headline Size"
    },
    {
      "type": "richtext",
      "id": "banner_subhead",
      "default": "<p>This is a subheadline</p>",
      "label": "Subhead"
    },
    {
      "type": "select",
      "id": "banner_subhead_size",
      "options": [
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "body-large",
          "label": "Body - Large"
        }
      ],
      "default": "h3",
      "label": "Subhead Size"
    },
    {
      "type": "richtext",
      "id": "banner_body",
      "label": "Body"
    },
    {
      "type": "select",
      "id": "banner_body_size",
      "options": [
        {
          "value": "body-large",
          "label": "Body - Large"
        },
        {
          "value": "body-tall",
          "label": "Body - Tall"
        },
        {
          "value": "body-medium",
          "label": "Body - Medium"
        },
        {
          "value": "body-small",
          "label": "Body - Small"
        }
      ],
      "default": "body-tall",
      "label": "Body Size"
    },
    {
      "type": "color",
      "id": "content_color",
      "default": "#ffffff",
      "label": "Text Color"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "banner_button_label",
      "default": "Click Me",
      "label": "Label"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "URL"
    },
    {
      "type": "select",
      "id": "banner_button_style",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--tertiary",
          "label": "Tertiary"
        }
      ],
      "default": "button--primary",
      "label": "Style"
    },
    {
      "type": "select",
      "id": "banner_button_margin",
      "options": [
        {
          "value": "60px",
          "label": "60px"
        },
        {
          "value": "45px",
          "label": "45px"
        },
        {
          "value": "30px",
          "label": "30px"
        }
      ],
      "default": "60px",
      "label": "Top Margin"
    }
  ],
  "blocks": [
    {
        "type": "icon",
        "name": "Icon",
        "limit": 3,
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "options": [
							{
								"value": "none",
								"label": "None"
							},
							{
								"value": "zipper",
								"label": "Zipper"
							},
							{
								"value": "approved",
								"label": "Approved"
							},
							{
								"value": "arch-support",
								"label": "Arch Support"
							},
							{
								"value": "brazil",
								"label": "Brazil"
							},
							{
								"value": "breathability",
								"label": "Breathability"
							},
							{
								"value": "chat",
								"label": "Chat"
							},
							{
								"value": "comfort-system",
								"label": "Comfort system"
							},
							{
								"value": "eco",
								"label": "Eco"
							},
							{
								"value": "engineered",
								"label": "Engineered"
							},
							{
								"value": "feather",
								"label": "Feather"
							},
							{
								"value": "smile",
								"label": "Smile"
							},
							{
								"value": "healthy-feet",
								"label": "Healthy feet"
							},
							{
								"value": "heart",
								"label": "Heart"
							},
							{
								"value": "ice",
								"label": "Ice"
							},
							{
								"value": "inner-sock",
								"label": "Inner sock"
							},
							{
								"value": "insoles",
								"label": "Insoles"
							},
							{
								"value": "leather-soft",
								"label": "Leather soft"
							},
							{
								"value": "leather",
								"label": "Leather"
							},
							{
								"value": "metal-buckle",
								"label": "Metal buckle"
							},
							{
								"value": "moisture-wicking",
								"label": "Moisture wicking"
							},
							{
								"value": "needle",
								"label": "Needle"
							},
							{
								"value": "okeo-tex",
								"label": "OKEO-TEX"
							},
							{
								"value": "portugal",
								"label": "Portugal"
							},
							{
								"value": "resoleable",
								"label": "Resoleable"
							},
							{
								"value": "ruler",
								"label": "Ruler"
							},
							{
								"value": "science",
								"label": "Science"
							},
							{
								"value": "tradeup",
								"label": "Tradeup"
							},
							{
								"value": "usa",
								"label": "USA"
							},
							{
								"value": "ventilation",
								"label": "Ventilation"
							},
							{
								"value": "vibram",
								"label": "Vibram"
							},
							{
								"value": "water-resistant",
								"label": "Water-resistant"
							},
							{
								"value": "wool-small",
								"label": "Wool (small)"
							},
							{
								"value": "wool",
								"label": "Wool"
							},
							{
								"value": "woven",
								"label": "Woven"
							}
            ],
            "default": "none",
            "label": "Icon"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Full Banner"
      }
  ]    
}
{% endschema %}