{{ 'section-full-image-and-text.css' | asset_url | stylesheet_tag }}

<section id="section-{{ section.id }}" class='full-image-and-text'>

    {%- for block in section.blocks -%}

			{% if block.settings.highlight_color != empty %}
				<style>
					#section-{{ section.id }} [data-index="{{ forloop.index }}"] .fit-content .h1 strong:before {
							background-color: {{ block.settings.highlight_color }};
					}
				</style>
			{% endif %}

        <article data-index="{{ forloop.index }}" class='fit-row' style='background-color: {{ block.settings.background_color }}'>
            {%- capture content_column -%}
                <div class='fit-content' id='block-{{ block.id }}'>
                    <h2 class='h1'>{{ block.settings.title }}</h2>
                    {%- if block.settings.subhead != blank -%}
                        <h6 class='fit-subhead body-large text-subdued'>{{ block.settings.subhead | escape }}</h6>
                    {%- endif -%}
                    <p class='body-tall text-subdued'>{{ block.settings.body | escape }}</p>
                    <div class='fit-ctas'>
                        {%- if block.settings.first_label != blank -%}
                            <a class='button--secondary utility' href='{{ block.settings.first_url }}'>
                                {{ block.settings.first_label | escape }}
                            </a>
                        {%- endif -%}
                        {%- if block.settings.second_label != blank -%}
                            <a class='button--secondary utility' href='{{ block.settings.second_url }}'>
                                {{ block.settings.second_label | escape }}
                            </a>
                        {%- endif -%}
                    </div>
                </div>
            {%- endcapture -%}

            {%- capture image_column -%}
                <div class='banner__media'>
                    <img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                    {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                    {%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
                    sizes="100vw"
                    src="{{ block.settings.image | img_url: '750x' }}"
                    loading="lazy"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                    > 
                </div>
            {%- endcapture -%}

            {%- if block.settings.image_position == 'left' -%}
                <div class='fit-block fit-image-column'>
                    {{ image_column }}
                </div>
                <div class='fit-block fit-content-column'>
                    {{ content_column }}
                </div>
            {%- else -%}
                <div class='fit-block fit-content-column'>
                    {{ content_column }}
                </div>
                <div class='fit-block fit-image-column'>
                    {{ image_column }}
                </div>
            {%- endif -%}

        </article>

    {%- endfor -%}

</section>

{% schema %}
{
  "name": "Full Image + Text",
  "settings": [],
  "blocks": [
    {
        "type": "row",
        "name": "Row",
        "settings": [
          {
              "type": "header",
              "content": "Background"
          },
          {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
          },
          {
            "type": "select",
            "id": "image_position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Desktop Image Position"
          },
          {
              "type": "color",
              "id": "background_color",
              "label": "Color"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
              "type": "richtext",
              "id": "title",
              "label": "Headline"
          },
					{
						"type": "color",
						"id": "highlight_color",
						"label": "Headline highlight",
						"info": "Applies to bolded text"
					},
          {
            "type": "text",
            "id": "subhead",
            "label": "Subhead"
          },
          {
              "type": "textarea",
              "id": "body",
              "label": "Body"
          },
          {
              "type": "header",
              "content": "CTAs"
          },
          {
              "type": "url",
              "id": "first_url",
              "label": "First URL"
          },
          {
              "type": "text",
              "id": "first_label",
              "label": "First Label"
          },
          {
            "type": "url",
            "id": "second_url",
            "label": "Second URL"
          },
          {
            "type": "text",
            "id": "second_label",
            "label": "Second Label"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Full Image + Text"
      }
  ]    
}
{% endschema %}