{{ 'section-general-text.css' | asset_url | stylesheet_tag }}

<div class="page-general-text">
  {{ page.content }}
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
