{% schema %}
	{
		"name": "Color Swatches",
		"blocks": [
			{
				"type": "swatch",
				"name": "Swatch",
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Variant name",
						"info": "To match the color variants name 1:1"
					},
					{
						"type": "color",
						"id": "color",
						"label": "Color"
					}
				]
			}
		],
		"max_blocks": 99
	}
{% endschema %}

{% capture swatch_css_html %}
	{% for block in section.blocks %}
		{% if block.settings.title != empty and 
			block.settings.color != nil %}
			[data-swatch-color="{{ block.settings.title | handleize }}"] {
				background-color: {{ block.settings.color }} !important;
			}
		{% endif %}
	{% endfor %}
{% endcapture %}

<style>
	{{ swatch_css_html | strip_newlines | replace: '	', '' }}
</style>

<script>
	setTimeout(() => {
		let filterColor = document.querySelector('.boost-pfs-filter-option-color');

		if(filterColor) {
			filterColor.querySelectorAll('.boost-pfs-filter-option-value').forEach(item => {
				let colorSwatch = document.createElement('span');
				colorSwatch.setAttribute('data-swatch-color', item.textContent.toLowerCase().replace(/[^\w\u00C0-\u024f]+/g, "-").replace(/^-+|-+$/g, ""));

				item.parentNode.insertBefore(colorSwatch, item)
			});
		}
	}, 1800);
</script>