{% schema %}
	{
		"name": "Cookies Bar",
		"settings": [
			{
				"type": "checkbox",
				"id": "cookies_show",
				"label": "Show cookies bar"
			},
			{
				"type": "richtext",
				"id": "cookies_text",
				"label": "Text"
			},
			{
				"type": "text",
				"id": "cookies_accept_label",
				"label": "Accept label"
			}
		]
	}
{% endschema %}

{% if section.settings.cookies_show == true and 
	section.settings.cookies_text != empty %}
	<div class="cookies-bar f-h-center">
		<div class="cookies-bar-text">
			{{ section.settings.cookies_text 
				| remove: '<p>' | remove: '</p>'
				| replace: '<a ', '<a class="button button--secondary" ' }}
		</div>
		<button 
			class="cookies-bar-close button button--primary color-background-1">
			{{ section.settings.cookies_accept_label | default: 'Accept & Close'}}</button>
	</div>

	<script>
		const _cookiesBar = document.querySelector('.cookies-bar');
		const cookiesId = 'vsMbCookieBannerAcceptance-1133';
		const timeNow = new Date().getTime();
		const timeSetup = localStorage.getItem('suShCookieBannerSetupTime');

		if(timeSetup === null){
			localStorage.setItem('suShCookieBannerSetupTime', timeNow);
		} else if (timeNow - timeSetup > 72*60*60*1000){
			localStorage.removeItem(cookiesId);
			localStorage.setItem('suShCookieBannerSetupTime', timeNow);
		}

		if(hasLocalStorage && _cookiesBar &&
			localStorage.getItem(cookiesId) !== 'closed') {
			_cookiesBar.classList.add('show');
		}

		document.querySelector('.cookies-bar-close').onclick = function() {
			_cookiesBar.classList.remove('show');
			localStorage.setItem(cookiesId, 'closed');

			setTimeout(function() {
    		_cookiesBar.parentNode.removeChild(_cookiesBar);
			}, 600);
		}
	</script>
{% endif %}

<style>

.cookies-bar {
	position: fixed;
	flex-wrap: nowrap;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	width: 100%;
	padding: 10px 4vw;
	text-align: center;
	background-color: #ffffff;
	bottom: 0;
	transition: 0.3s;
	z-index: 300;
}

	.cookies-bar.show {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.cookies-bar-text {
		display: inline-block;
		text-align: left;
		margin: 0 20px 0 0;
	}

	.cookies-bar-text .button.button--secondary {
		margin: 0 0 0 5px;
		color: #0A0A0A;
		border-bottom: 2px solid #0A0A0A;
	}

	.cookies-bar-close {
		white-space: nowrap;
		margin: 0 0 0 auto;
	}

@media screen and (max-width: 900px) {

	.cookies-bar {
		flex-wrap: wrap;
		padding: 20px 4vw;
		text-align: left;
	}

	.cookies-bar-text {
		margin: 0 0 20px;
	}

	.cookies-bar-close {
		display: block;
		width: 100%;
		margin: 0;
	}

}
</style>