{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}

<script src="{{ 'mega-menu.js' | asset_url }}" defer="defer"></script>

{% assign current_url = 'NOURL' %}

{% if template == 'index' %}
	{% assign current_url = shop.url %}

{% elsif template.name contains 'collection' %}
	{% assign current_url = collection.url %}

{% elsif template.name contains 'product' %}
	{% assign current_url = product.url %}

{% elsif template.name == 'blog' %}
	{% assign current_url = blog.url %}

{% elsif template.name contains 'article' %}
	{% assign current_url = blog.url %}

{% elsif template.name contains 'page' %}
	{% assign current_url = page.url %}

{% endif %}

{%- assign transparent_list = section.settings.transparent_header-list | split: ',' -%}

{%- for url in transparent_list -%}
  {%- if url == current_url -%}
    {%- assign transparent_url = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if section.settings.transparent_header-home and template.name == 'index' or transparent_url -%}
  {%- assign transparent = true -%}
{%- endif -%}

<style>
  #shopify-section-header {
    width: 100vw; transition: top ease 1s;
    position: sticky; top: 0; z-index: 999;
  }

  {%- if transparent -%}

    header#header-transparent .header_desktop {
      margin-bottom: -74px;
    }

    header#header-transparent .header_mobile {
      margin-bottom: -72px;
    }

    .header_desktop, .header_mobile, .header-menu a, .header-action_item svg {
      transition: ease var(--duration-long);
    }
    header[transparent='true']:not(:hover) .header_desktop, 
    header[transparent='true']:not(:hover) .header_mobile,
    header[transparent='true']:not(:hover) .menu-block-container {
      background-color: rgba(255,255,255,0);
      box-shadow: none;
    }
    header[transparent='true']:not(:hover) .header-menu a {
      color: var(--color-white);
    }
    header[transparent='true']:not(:hover) .header-action_item svg {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(113deg) brightness(109%) contrast(101%);
    }

  {%- endif -%}

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 6px;
      padding-top: 6px;
    }
  }
</style>

<header class='header' {% if transparent %}id='header-transparent' transparent='true'{% endif %}>
  <div class='header_desktop medium-hide small-hide top-level_container color-cream'>
    <ul class='header-menu menu-block-triggers list-unstyled'>
      {%- for link in linklists[section.settings.menu].links -%}
				{% assign link_title_h = link.title | remove: 'Shop' | handleize %}
				{% assign url_split = current_url | split: '-' %}
				{% assign is_active = false %}

				{% if url_split contains link_title_h %}
					{% assign is_active = true %}
				{% endif %}

				{% for i in section.blocks %}
					{% assign label_h = i.settings.label | handleize %}
					{% if label_h == link_title_h %}
						{% comment %} loop through menu {% endcomment %}
						{%- for j in linklists[i.settings.menu].links -%}
							{% if current_url == j.url %}
								{% assign is_active = true %}
							{% endif %}
						{% endfor %}

						{% comment %} loop through blocks {% endcomment %}
						{% if current_url == i.settings.block_1_url or
							current_url == i.settings.block_2_url or 
							current_url == i.settings.block_3_url or 
							current_url == i.settings.block_4_url or 
							current_url == i.settings.block_5_url or 
							current_url == i.settings.block_6_url%}
							{% assign is_active = true %}
						{% endif %}
					{% endif %}
				{% endfor %}

        <li class='header-menu_item utility 
					{% if is_active == true %} is-active{% endif %}
					{% if link.active %} is-active{% endif %}'>
          <a href="{{ link.url }}" tabindex='0' show-menu='{{ link.title | handleize }}' {% if link.current %}aria-current="page"{% endif %}>
            {%- if link.title contains 'Shop' -%}
              <span class='large-up-hide'>Shop</span> {{ link.title | remove: 'Shop' }}
            {%- else -%}
              {{ link.title | escape }}
            {%- endif -%}
          </a>
        </li>
      {%- endfor -%}
    </ul>
    <div class='header-logo'>
      <a tabindex='0' href='/'>
        {%- render 'svg-logo' -%}
      </a>
    </div>
    <ul class='header-actions list-unstyled'>
      <li class='header-action_item search-open'>
        {%- render 'icon-search' -%}
      </li>
      {% if shop.customer_accounts_enabled %}
        <li class='header-action_item'>
          <a href="{{ shop.url | append: '/account' }}"> {%- render 'icon-account' -%} </a>
        </li>
      {% endif %}
      <li class='header-action_item' action='open-mini-bag'>
        {%- render 'icon-bag' -%}
				<span class="cart-item-count">{{ cart.item_count }}</span>
      </li>
    </ul>
  </div>
  <div class='header_mobile large-up-hide top-level_container color-cream'>
    <div class='header-logo'>
      <a href='/'>
        {%- render 'svg-logo' -%}
      </a>
    </div>
    <ul class='header-actions list-unstyled'>
      <li class='header-action_item search-open'>
        {%- render 'icon-search' -%}
      </li>
      <li class='header-action_item' action='open-mini-bag'>
        {%- render 'icon-bag' -%}
				<span class="cart-item-count">{{ cart.item_count }}</span>
      </li>
      <li class='header-action_item header-action_menu' action='open-mobile-menu'>
        {%- render 'icon-hamburger' -%}
      </li>
    </ul>
  </div>

	{% for i in section.blocks %}
		{% if i.settings.label == 'Men' or i.settings.label == 'Women' %}
			{% assign is_product_block = true %}
		{% else %}
			{% assign is_product_block = false %}
		{% endif %}

		<section class='menu-block-container 
			{% if is_product_block == true %}products{% else %}navigation{% endif %}-menu-block 
			medium-hide small-hide' 
			type='{% if is_product_block == true %}shop-{% endif %}{{ i.settings.label | handleize }}' visible=''>
			{% if i.settings.menu != blank %}
				<div class='submenu-container'>
					<h4 class='h4'>Categories</h4>
					<ul class='list-unstyled'>
						{%- for link in linklists[i.settings.menu].links -%}
							<li class='submenu-item body-tall'>
								<a href="{{ link.url }}" {% if link.current %}aria-current="page"{% endif %}>
									{{ link.title | escape }}
								</a>
							</li>
						{%- endfor -%}
					</ul>
				</div>
			{% endif %}

			<div class='{% if is_product_block == true %}product{% else %}wrapper-menu{% endif %}-block-container'>
				{% render 'header-block', 
					image: i.settings.block_1_image,
					category: i.settings.block_1_category,
					eyebrow: i.settings.block_1_eyebrow,
					title: i.settings.block_1_title,
					url: i.settings.block_1_url,
					is_product_block: is_product_block %}

				{% render 'header-block', 
					image: i.settings.block_2_image,
					category: i.settings.block_2_category,
					eyebrow: i.settings.block_2_eyebrow,
					title: i.settings.block_2_title,
					url: i.settings.block_2_url,
					is_product_block: is_product_block %}

				{% render 'header-block', 
					image: i.settings.block_3_image,
					category: i.settings.block_3_category,
					eyebrow: i.settings.block_3_eyebrow,
					title: i.settings.block_3_title,
					url: i.settings.block_3_url,
					is_product_block: is_product_block %}

				{% render 'header-block', 
					image: i.settings.block_4_image,
					category: i.settings.block_4_category,
					eyebrow: i.settings.block_4_eyebrow,
					title: i.settings.block_4_title,
					url: i.settings.block_4_url,
					is_product_block: is_product_block %}

				{% render 'header-block', 
					image: i.settings.block_5_image,
					category: i.settings.block_5_category,
					eyebrow: i.settings.block_5_eyebrow,
					title: i.settings.block_5_title,
					url: i.settings.block_5_url,
					is_product_block: is_product_block %}

				{% render 'header-block', 
					image: i.settings.block_6_image,
					category: i.settings.block_6_category,
					eyebrow: i.settings.block_6_eyebrow,
					title: i.settings.block_6_title,
					url: i.settings.block_6_url,
					is_product_block: is_product_block %}
			</div>
		</section>
	{% endfor %}

  <section class='mobile-menu-container large-up-hide' visible='false'>
    <div class='mobile-search-container'>
			<form 
				class="search-header-form"
				action="/search" 
				method="get" 
				role="search">
				<label 
					for="search-header-input"
					class="screen-reader-only">
					Search</label>

				<input 
					class="search-header-input t-b-2" 
					type="text"
					name="q"
					{% if search_results_article_count > 0 or 
						search_results_product_count > 0 %}
						value="{{ search.terms }}"
					{% endif %}
					placeholder="{% if search_results_article_count == 0 and search_results_product_count == 0 %}Search again{% else %}Search and hit enter{% endif %}"
					aria-label="Search">
			</form>
    </div>

    <div class='category-selector'>
    
      <div class='select-category' state='active' show-menu='mens'>
        <h4 class='h4'>Shop Men</h4>
      </div>

      <div class='select-category' state='inactive' show-menu='womens'>
        <h4 class='h4'>Shop Women</h4>
      </div>

    </div>

    <div class="accordion">
      <details>
        <summary>
          <div class="summary__title">
            <h6 class="body-tall accordion__title">
              Categories
            </h6>
          </div>
          <div class='indicator'></div>
        </summary>
        <div class="accordion__content body-small text-subdued rte">
          <ul class='category-by-type-container list-unstyled' category='mens' state='active'>
						{% for i in section.blocks %}
							{% if i.settings.label == 'Men' %}
								{%- for link in linklists[i.settings.menu].links -%}
									<li class='mobile-submenu-item body-tall'>
										<a href="{{ link.url }}" {% if link.current %}aria-current="page"{% endif %}>
											{{ link.title | escape }}
										</a>
									</li>
								{%- endfor -%}
							{% endif %}
						{% endfor %}
          </ul>
          <ul class='category-by-type-container list-unstyled' category='womens' state='inactive'>
						{% for i in section.blocks %}
							{% if i.settings.label == 'Women' %}
								{%- for link in linklists[i.settings.menu].links -%}
									<li class='mobile-submenu-item body-tall'>
										<a href="{{ link.url }}" {% if link.current %}aria-current="page"{% endif %}>
											{{ link.title | escape }}
										</a>
									</li>
								{%- endfor -%}
							{% endif %}
						{% endfor %}
          </ul>
        </div>
      </details>
    </div>

    <div class="accordion">
      <details>
        <summary>
          <div class="summary__title">
            <h6 class="body-tall accordion__title">
              Featured
            </h6>
          </div>
          <div class='indicator'></div>
        </summary>
        <div class="accordion__content body-small text-subdued rte">
          <div class='mobile-product-block-container category-by-type-container' category='mens' state='active'>
						{% for i in section.blocks %}
							{% if i.settings.label == 'Men' %}
								{% assign is_product_block = true %}

								{% render 'header-block', 
									image: i.settings.block_1_image,
									category: i.settings.block_1_category,
									eyebrow: i.settings.block_1_eyebrow,
									title: i.settings.block_1_title,
									url: i.settings.block_1_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_2_image,
									category: i.settings.block_2_category,
									eyebrow: i.settings.block_2_eyebrow,
									title: i.settings.block_2_title,
									url: i.settings.block_2_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_3_image,
									category: i.settings.block_3_category,
									eyebrow: i.settings.block_3_eyebrow,
									title: i.settings.block_3_title,
									url: i.settings.block_3_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_4_image,
									category: i.settings.block_4_category,
									eyebrow: i.settings.block_4_eyebrow,
									title: i.settings.block_4_title,
									url: i.settings.block_4_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_5_image,
									category: i.settings.block_5_category,
									eyebrow: i.settings.block_5_eyebrow,
									title: i.settings.block_5_title,
									url: i.settings.block_5_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_6_image,
									category: i.settings.block_6_category,
									eyebrow: i.settings.block_6_eyebrow,
									title: i.settings.block_6_title,
									url: i.settings.block_6_url,
									is_product_block: is_product_block %}
							{% endif %}
						{% endfor %}
          </div>
          <div class='mobile-product-block-container category-by-type-container' category='womens' state='inactive'>
						{% for i in section.blocks %}
							{% if i.settings.label == 'Women' %}
								{% assign is_product_block = true %}

								{% render 'header-block', 
									image: i.settings.block_1_image,
									category: i.settings.block_1_category,
									eyebrow: i.settings.block_1_eyebrow,
									title: i.settings.block_1_title,
									url: i.settings.block_1_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_2_image,
									category: i.settings.block_2_category,
									eyebrow: i.settings.block_2_eyebrow,
									title: i.settings.block_2_title,
									url: i.settings.block_2_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_3_image,
									category: i.settings.block_3_category,
									eyebrow: i.settings.block_3_eyebrow,
									title: i.settings.block_3_title,
									url: i.settings.block_3_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_4_image,
									category: i.settings.block_4_category,
									eyebrow: i.settings.block_4_eyebrow,
									title: i.settings.block_4_title,
									url: i.settings.block_4_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_5_image,
									category: i.settings.block_5_category,
									eyebrow: i.settings.block_5_eyebrow,
									title: i.settings.block_5_title,
									url: i.settings.block_5_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_6_image,
									category: i.settings.block_6_category,
									eyebrow: i.settings.block_6_eyebrow,
									title: i.settings.block_6_title,
									url: i.settings.block_6_url,
									is_product_block: is_product_block %}
							{% endif %}
						{% endfor %}
          </div>
        </div>
      </details>
    </div>

    <div class="accordion">
      <details>
        <summary>
          <div class="summary__title">
            <h6 class="body-tall accordion__title">
              About
            </h6>
          </div>
          <div class='indicator'></div>
        </summary>
        <div class="accordion__content body-small text-subdued rte">
          <ul class='list-unstyled' category='mens'>
            {%- for link in linklists.mobile-about.links -%}
              <li class='mobile-submenu-item body-tall'>
                <a href="{{ link.url }}" {% if link.current %}aria-current="page"{% endif %}>
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </details>
    </div>

    <div class="accordion">
      <details>
        <summary>
          <div class="summary__title">
            <h6 class="body-tall accordion__title">
              Journal
            </h6>
          </div>
          <div class='indicator'></div>
        </summary>
        <div class="accordion__content body-small text-subdued rte">
          <div class='mobile-navigation-block-container'>
						{% for i in section.blocks %}
							{% if i.settings.label == 'Journal' %}
								{% assign is_product_block = false %}

								{% render 'header-block', 
									image: i.settings.block_1_image,
									category: i.settings.block_1_category,
									eyebrow: i.settings.block_1_eyebrow,
									title: i.settings.block_1_title,
									url: i.settings.block_1_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_2_image,
									category: i.settings.block_2_category,
									eyebrow: i.settings.block_2_eyebrow,
									title: i.settings.block_2_title,
									url: i.settings.block_2_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_3_image,
									category: i.settings.block_3_category,
									eyebrow: i.settings.block_3_eyebrow,
									title: i.settings.block_3_title,
									url: i.settings.block_3_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_4_image,
									category: i.settings.block_4_category,
									eyebrow: i.settings.block_4_eyebrow,
									title: i.settings.block_4_title,
									url: i.settings.block_4_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_5_image,
									category: i.settings.block_5_category,
									eyebrow: i.settings.block_5_eyebrow,
									title: i.settings.block_5_title,
									url: i.settings.block_5_url,
									is_product_block: is_product_block %}

								{% render 'header-block', 
									image: i.settings.block_6_image,
									category: i.settings.block_6_category,
									eyebrow: i.settings.block_6_eyebrow,
									title: i.settings.block_6_title,
									url: i.settings.block_6_url,
									is_product_block: is_product_block %}
							{% endif %}
						{% endfor %}
          </div>
        </div>
      </details>
    </div>

    <ul class='mobile-menu-footer'>
			<li><a href="{{ shop.url | append: '/pages/wishlist' }}">
				{% render 'svg-icons', icon: 'heart' %}
				Wishlist
			</a></li>
			<li><a href="{{ shop.url | append: '/account' }}">
				{% render 'svg-icons', icon: 'account' %}
				{% if customer %}
					My Account
				{% else %}
					Login / Register
				{% endif %}
			</a></li>
    </ul>

  </section>

  {%- if template == 'product' -%}

    <section class='sticky-add-to-cart' visible='false'>
			<button 
				class="sticky-add-to-cart-scroll large-up-hide button button--primary color-background-1 
				{% if product.available == false or 
					product.selected_or_first_available_variant.available == false or 
					product.selected_variant == blank %} is-disabled{% endif %}">
				{% if product.available == false %}
					{{ 'products.product.sold_out' | t }}
				{%- elsif product.selected_variant.available -%}
					{{ 'products.product.add_to_cart' | t }}
				{%- elsif product.selected_variant == blank -%}
					{% if product.options_with_values[2].name %}
						Select {{ product.options_with_values[2].name }}
					{% elsif product.options_with_values[1].name %}
						Select {{ product.options_with_values[1].name }}
					{% else %}
						Select Variant
					{% endif %}
				{%- else -%}
					{{ 'products.product.sold_out' | t }}
				{%- endif -%}
			</button>

      <div class='satc_main medium-hide small-hide'>
        <div class='satc_details'>

          <img srcset="{{ product.featured_image | img_url: '375x' }} 375w"
            sizes="375px"
            src="{{ product.featured_image | img_url: '375x' }}"
            loading="lazy"
            alt="{{ product.title | escape }}"
            width="{{ product.featured_image.width }}"
            height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
           >
        
          <div class='satc_select'>
          
            <h6 class='h6'>{{ product.title }}</h6>
  
            <div class='satc_options'>
  
              {%- for option in product.options_with_values -%}
  
                <div class='satc_option satc_{{ option.name }} body-medium' option='{{ option.name }}'>
									<span>
										{% if option.name != 'Size' %}
											{{ option.selected_value }}
										{% else %}
											{% if product.selected_variant %}
												{{ option.selected_value }}
											{% else %}
												Select size
											{% endif %}
										{% endif %}
									</span>

									{{ 'svg-caret-down-black.svg' | asset_url | img_tag }}
                </div>
                
              {%- endfor -%}
  
            </div>
          </div>
        </div>
  
        <div class='satc_action'>
          <h6 class='h6'>{{ product.price | money_without_trailing_zeros }}</h6>
          <button class='button satc-faux_button button--primary color-background-1' {% if product.selected_variant.available == false or product.selected_variant == blank %}disabled{% endif %}>
            {%- if product.selected_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- elsif product.selected_variant == blank -%}
							{% if product.options_with_values[2].name %}
								Select {{ product.options_with_values[2].name }}
							{% elsif product.options_with_values[1].name %}
								Select {{ product.options_with_values[1].name }}
							{% else %}
								Select Variant
							{% endif %}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </button>
        </div>
      </div>

      {%- for option in product.options_with_values -%}
        <div class='satc_selector satc_{{ option.name}}' option='{{ option.name }}' visible='false'>

          {%- if option.name == 'Color' -%}

            {%- assign model_collection = product.title | handleize -%}

            {%- for product in collections[model_collection].products -%}
              {%- for option in product.options_with_values -%}
                {%- if option.name == 'Color' -%}
                  {%- for value in option.values -%}
                    {%- assign alt_colorway = value -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endfor -%}

              <a class="js-product-colorway-open" href='{{ product.url }}'>
                <div class='satc_value-color'>
									<div class="color-image">
										<span class="object-contain">
											<img srcset="{{ product.featured_image | img_url: '375x' }} 375w"
												sizes="375px"
												src="{{ product.featured_image | img_url: '375x' }}"
												loading="lazy"
												alt="{{ alt_colorway | escape }}"
												width="{{ product.featured_image.width }}"
												height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
											>
										</span>
									</div>
                  <p class='body-small'>{{ alt_colorway }}</p>
                </div>
              </a>
            {%- endfor -%}
          {%- else -%}
          {%- for value in option.values -%}
            <div class='satc_value' name='{{ option.name }}' value='{{ value }}' {% if option.selected_value == value %}selected='true'{% endif %}>
              <span class='body-small'>{{ value }}</span>
            </div>
          {%- endfor -%}
          {%- endif -%}
        </div>
      {%- endfor -%}

    </section>

    <script>
      window.addEventListener("scroll", function() {
        var elementTarget = document.querySelector('.product__accordion:last-of-type');
        if (window.scrollY > (elementTarget.offsetTop + elementTarget.offsetHeight)) {
          document.querySelector('.sticky-add-to-cart').setAttribute('visible', 'true');
        } else {
          document.querySelector('.sticky-add-to-cart').setAttribute('visible', 'false');
          let selectors = document.querySelectorAll('.satc_selector');
          for (var i = 0; i < selectors.length; i++) {
            selectors[i].setAttribute('visible', 'false');
          }
        }
      });

      document.querySelector('.satc-faux_button').addEventListener('click', function() {
        document.querySelector('.product-form__submit').click();
      });

      let satcValue = document.querySelectorAll('.satc_value');

      for (var i = 0; i < satcValue.length; i++) {
        satcValue[i].addEventListener('click', changeSelection, false);
      }

      function changeSelection() {

        let name = this.getAttribute('name');
        let value = this.getAttribute('value');

        document.querySelector('.product-form__input input[name="' + name + '"][value="' + value + '"]').click();
        document.querySelector('.satc_option[option="' + name + '"]').innerHTML = value;

        for (let sibling of this.parentNode.children) {
          sibling.setAttribute('selected', 'false');
        }
        this.setAttribute('selected', 'true');

        let fauxButton = document.querySelector('.satc-faux_button');
        let submitButton = document.querySelector('.product-form__submit');

        setInterval(function(){ 
          fauxButton.innerHTML = submitButton.innerHTML;
          if (submitButton.getAttribute('disabled') == 'true') {
            fauxButton.setAttribute('disabled', 'true');
          } else {
            fauxButton.removeAttribute('disabled');
          }
         }, 100);

      }
    
      let optionActions = document.querySelectorAll('.satc_option');

      for (var i = 0; i < optionActions.length; i++) {
        optionActions[i].addEventListener('click', showValues, false);
      }

      function showValues() {
        
        let target = document.querySelector('.satc_selector[option="' + this.getAttribute('option') + '"]');
        let siblings = document.querySelectorAll('.satc_selector:not([option="' + this.getAttribute('option') + '"])');

        switch (target.getAttribute('visible')) {
          case 'true': 
            target.setAttribute('visible', 'false');
            break;
          case 'false':
            target.setAttribute('visible', 'true');
            for (var i = 0; i < siblings.length; i++) {
              siblings[i].setAttribute('visible', 'false');
            }
        }
      }
    </script>

  {%- endif -%}

	<div 
		class="search-pane f-v bg-white avoid-style-flash" 
		role="region" 
		aria-modal="Search">
		<div class="search-pane-header c-3">
			<input 
				type="text" 
				class="search-pane-input" 
				id="search-pane-input"
				placeholder="Search">
			<label
				class="screen-reader-only"
				for="search-pane-input">Search</label>
			<button 
				type="button" 
				class="search-pane-close" 
				aria-label="close search pane">
			{% render 'svg-icons', icon: 'close' %}</button>
		</div>

		<div class="search-pane-tabs">
			<button search-tab-trigger="products"></button>
			<button search-tab-trigger="articles"></button>
			<button search-tab-trigger="collections"></button>
		</div>

		<div class="search-pane-results">
			<div class="results-empty">
				<div class="t-h-3">No results</div>
			</div>
			<div class="search-pane-footer">
				<a 
					class="results-actions-url button button--tertiary upscale cr-black" 
					href="">
				View All Results</a>
			</div>
		</div>
	</div>
</header>

{%- if transparent -%}
  <script>

    const transparentHeader = document.getElementById('header-transparent');

    window.addEventListener('scroll', function() {
      if (window.pageYOffset <= 360) {
        transparentHeader.setAttribute('transparent', 'true');
      } else {
        transparentHeader.setAttribute('transparent', 'false');
      }
    });

  </script>
{%- endif -%}


{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "Primary Menu"
		},
    {
      "type": "header",
      "content": "Transparency Options"
    },
    {
      "type": "checkbox",
      "id": "transparent_header-home",
      "default": true,
      "label": "Home Page"
    },
    {
      "type": "textarea",
      "id": "transparent_header-list",
      "label": "Additional Pages",
      "info": "Use comma separated list of URL endings where the header should be transparent on initial load. For example: /pages/about-us,/collections/all"
    }
  ],
  "blocks": [
		{
			"type": "dropdown_menu",
			"name": "Dropdown Menu",
			"settings": [
				{
					"type": "text",
					"id": "label",
					"label": "Destination (match dropdown menu label, case sensitive)"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				},
				{
					"type": "header",
					"content": "Block 1"
				},
				{
					"type": "image_picker",
					"id": "block_1_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_1_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_1_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_1_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_1_url",
					"label": "Destination"
				},
				{
					"type": "header",
					"content": "Block 2"
				},
				{
					"type": "image_picker",
					"id": "block_2_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_2_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_2_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_2_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_2_url",
					"label": "Destination"
				},
				{
					"type": "header",
					"content": "Block 3"
				},
				{
					"type": "image_picker",
					"id": "block_3_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_3_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_3_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_3_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_3_url",
					"label": "Destination"
				},
				{
					"type": "header",
					"content": "Block 4"
				},
				{
					"type": "image_picker",
					"id": "block_4_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_4_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_4_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_4_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_4_url",
					"label": "Destination"
				},
				{
					"type": "header",
					"content": "Block 5"
				},
				{
					"type": "image_picker",
					"id": "block_5_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_5_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_5_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_5_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_5_url",
					"label": "Destination"
				},
				{
					"type": "header",
					"content": "Block 6"
				},
				{
					"type": "image_picker",
					"id": "block_6_image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "block_6_category",
					"label": "Category"
				},
				{
					"type": "text",
					"id": "block_6_eyebrow",
					"label": "Eyebrow"
				},
				{
					"type": "text",
					"id": "block_6_title",
					"label": "Title"
				},
				{
					"type": "url",
					"id": "block_6_url",
					"label": "Destination"
				}
			]
		}
  ]
}
{% endschema %}