

{% schema %}
{
  "name": "Image With Text",
  "settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.image-with-text.settings.image.label"
		},
		{
			"type": "select",
			"id": "image_position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "righ",
					"label": "right"
				}
			],
			"default": "left",
			"label": "Image position"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "richtext",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "color",
			"id": "highlight_color",
			"label": "Headline highlight",
			"info": "Applies to bolded text"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL"
		}
	],
	"presets": [
		{
			"name": "Image With Text"
		}
	]
}
{% endschema %}

{% if section.settings.highlight_color != empty %}
	<style>
		#section-{{ section.id }} .text .t-h-1 strong:before {
				background-color: {{ section.settings.highlight_color }};
		}
	</style>
{% endif %}

<section 
	id="section-{{ section.id }}" 
	class="section-image-with-text" 
	data-image-position="{{ section.settings.image_position }}">
<div class="c-1 f-h-center">
	<div class="image">
		{% if section.settings.image != nil %}
			{% render 'img-srcset', 
				image: section.settings.image,
				max_width: 900,
				alt: section.settings.image.alt %}
		{% endif %}
	</div>

	<div class="text">
	<div class="text-interior type-spacing">
		{% if section.settings.subheading != empty %}
			<p class="t-b-2-m cr-gray-1">{{ section.settings.subheading }}</p>
		{% endif %}

		{% if section.settings.heading != empty %}
			<h2 class="t-h-1">{{ section.settings.heading }}</h2>
		{% endif %}

		{% if section.settings.paragraph != empty %}
			<p class="t-b-3 cr-gray-1">{{ section.settings.paragraph }}</p>
		{% endif %}

		{% if section.settings.cta_label != empty and 
			section.settings.cta_url != nil %}
			<a 
				class="button--secondary utility" 
				href="{{ section.settings.cta_url }}">
			{{ section.settings.cta_label }}</a>
		{% endif %}
	</div>
	</div>
</div>
</section>