{% schema %}
{
	"name": "Instagram Prompt",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL"
		}
	],
	"max_blocks": 4,
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Instagram Prompt"
		}
	] 
}
{% endschema %}

<section class="section-instagram-prompt">
<div class="c-1 f-h-center">
	<div class="prompt-image-grid">
		{% for i in section.blocks %}
			<div class="image">
				<span class="object-fit">
					{% if i.settings.image != nil %}
						{% render 'img-srcset', 
							image: i.settings.image,
							max_width: 900,
							alt: i.settings.image.alt %}
					{% endif %}
				</span>

				{% if section.settings.cta_url != nil %}
					<a class="p-fill" href="{{ section.settings.cta_url }}"> </a>
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<div class="prompt-text">
	<div class="prompt-text-interior type-spacing">
		{% if section.settings.heading != empty %}
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		{% endif %}

		{% if section.settings.paragraph != empty %}
			<p class="t-b-3 cr-gray-1">{{ section.settings.paragraph }}</p>
		{% endif %}

		{% if section.settings.cta_label != empty and 
			section.settings.cta_url != nil %}
			<a 
				class="button--secondary utility " 
				href="{{ section.settings.cta_url }}" 
				target="_blank">
			{{ section.settings.cta_label }}</a>
		{% endif %}
	</div>
	</div>
</div>
</section>