{{ 'section-main-404.css' | asset_url | stylesheet_tag }}
{{ 'glide.core.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'glide.min.js' | asset_url }}"></script>
<script src="{{ 'glide.modular.esm.js' | asset_url }}"></script>

<section class="page-404">
<div class="page-404__content">
	<div class="page-404__content-text">
		<div class="heading_xl page-404__content-label">404</div>
		<h1 class="page-404__content-title">{{ section.settings.title }}</h1>
		<p class="body-large page-404__content-description">{{ section.settings.message }}</p>
		<a href="{{ section.settings.cta_url }}" class="button button--primary page-404__content-cta">{{ section.settings.cta_text }}</a>
	</div>
	<img src="{{ section.settings.image | img_url: '1052x579' }}" alt="{{ section.settings.image.alt }}" class="page-404__image" width="auto" height="auto" loading="lazy">
</div>

{% schema %}
{
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Page not found"
    },
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Sorry, there is nothing here..."
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Continue Shopping"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}