{% comment %}theme-check-disable TemplateLength{% endcomment %}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{% comment %}  redirect and preselect first available variant  {% endcomment %}
{% if product.selected_variant == blank and product.options.size < 3 %}
	<script>
		window.location.href = '{{ product.selected_or_first_available_variant.url }}';
	</script>
{% endif %}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section>
  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class='pdp-media-grid'>
      {%- for media in product.media -%}
        {%- render 'handler-pdp_media' media: media, index: forloop.index -%}
      {%- endfor -%}
    </div>

		{% if product.media.size > 1 %}
			<div class="pdp-media-grid-mobile-scrollbar">
				<div class="scrollbar-thumb"> </div>
			</div>
		{% endif %}

    {% comment %} <div class="grid__item product__media-wrapper">
      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign media = product.selected_or_first_available_variant.featured_media -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons slider-buttons--overlay no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ product.media.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {%- if first_3d_model -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
        >
          {% render 'icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    </div> {% endcomment %}
    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} body-tall text-subdued{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'subtitle' -%}
            {%- assign model_collection = product.title | handleize -%}
            {%- if collections[model_collection].metafields.custom_fields["colorway_subtitle"] != blank -%}
            <p class="product__text body-tall text-subdued">
                {{ collections[model_collection].metafields.custom_fields["colorway_subtitle"] }}
            </p>
            {%- endif -%}
          {%- when 'title' -%}
						<div class="product-review-stars">
							<div class="yotpo bottomLine user-select-disable" 
								href="#product-reviews"
								data-appkey="emwMFOKbO4hd3OWwWSoyA7phkFt0jBarEPo81Ft9" 
								data-domain="{{ shop.permanent_domain | escape }}" 
								data-product-id="{{ product.id }}" 
								data-product-models="{{ product.id }}" 
								data-name="{{ product.title | escape }}" 
								data-url="{{ shop.url }}{{ product.url }}" 
								data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" 
								data-description="{{ product.description | strip_html | strip_newlines | escape | truncate: 120 }}" 
								data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
							</div>
						</div>

            <h1 class="product__title h5" {{ block.shopify_attributes }}>
              {{ product.title | escape }}
            </h1>
          {%- when 'price' -%}
            <div class="no-js-hidden pdp-price" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'h6' -%}
            </div>
            <div {{ block.shopify_attributes }}>
              {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte">
                {{ product.description }}
              </div>
            {%- endif -%}
          {%- when 'collapsible_tab' -%}
            {%- assign model_collection = product.title | handleize -%}
            {%- case block.settings.heading -%}
              {%- when 'description' -%}
                {%- unless product.description == blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ product.description }}
                      </div>
                    </details>
                  </div>
                {%- endunless -%}
              {%- when 'details' -%}
                {%- if product.metafields.custom_fields["pdp_tab__details"] != blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ product.metafields.custom_fields["pdp_tab__details"] }}
                      </div>
                    </details>
                  </div>
                {%- elsif collections[model_collection].metafields.custom_fields["pdp_tab_details"] != blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ collections[model_collection].metafields.custom_fields["pdp_tab_details"] }}
                      </div>
                    </details>
                  </div>
                {%- endif -%}
              {%- when 'shipping' -%}
                {%- if product.metafields.custom_fields["pdp_tab__shipping"] != blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ product.metafields.custom_fields["pdp_tab__shipping"] }}
                      </div>
                    </details>
                  </div>
                {%- elsif collections[model_collection].metafields.custom_fields["pdp_tab__shipping"] != blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ collections[model_collection].metafields.custom_fields["pdp_tab__shipping"] }}
                      </div>
                    </details>
                  </div>
                {%- elsif settings.global-shipping_and_returns_policy != blank -%}
                  <div class="product__accordion accordion">
                    <details {% if block.settings.heading == 'description' %}open{% endif %}>
                      <summary>
                        <div class="summary__title">
                          <h6 class="body-small accordion__title">
                            {{ block.settings.heading }}
                          </h6>
                        </div>
                        <div class='indicator'></div>
                      </summary>
                      <div class="accordion__content body-small text-subdued rte type-spacing">
                        {{ settings.global-shipping_and_returns_policy }}
                      </div>
                    </details>
                  </div>
                {%- endif -%}
              {%- endcase -%}
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>
              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="product-form-{{ section.id }}"
                  >
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
          {%- when 'share' -%}
            <share-button class="share-button" {{ block.shopify_attributes }}>
              <button class="share-button__button button button--tertiary hidden">
                {% render 'icon-share' %}
                {{ 'general.share.share' | t }}
              </button>
              <details>
                <summary class="share-button__button button button--tertiary">
                  {% render 'icon-share' %}
                  {{ 'general.share.share' | t }}
                </summary>
                <div class="share-button__fallback">
                  <div class="field">
                    <input type="text"
                          class="field__input"
                          id="url"
                          value="{{ shop.url | append: product.url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                    >
                    <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                  </div>
                  <button class="button button--tertiary">
                    {% render 'icon-clipboard' %}
                    {{ 'general.share.copy_to_clipboard' | t }}
                  </button>
                  <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                    {{ 'general.share.success_message' | t }}
                  </span>
                </div>
              </details>
            </share-button>
            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    {%- if option.name == 'Color' -%}
                      <fieldset class="js product-form__input product-option-fieldset option-{{ option.name | downcase }}" style='display: none'>
                        {%- for value in option.values -%}
                          <input 
														class="product-option-color-current"
														type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="product-form-{{ section.id }}"
                                {% if option.selected_value == value and option.name != 'Size' %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                            {{ value }}
                          </label>
                          {%- assign this_colorway = value -%}
                        {%- endfor -%}
                      </fieldset>
                      <h6 class='body-medium text-subdued colorway_label' data-name='{{ this_colorway }}'>{{ this_colorway | escape }}</h6>
                      {%- assign model_collection = product.title | handleize -%}

                      <div class='mobile_colorway_container'>
                        <div class='model_colorways'>
                          {%- for product in collections[model_collection].products -%}
                            {%- for option in product.options_with_values -%}
                              {%- if option.name == 'Color' -%}
                                {%- for value in option.values -%}
                                  {%- assign alt_colorway = value -%}
                                {%- endfor -%}
                              {%- endif -%}
                            {%- endfor -%}

														{% if this_colorway == alt_colorway %}
															{% capture colorway_selected_html %}
																{{ colorway_selected_html }}
																<a href='{{ product.url }}' 
																	class='each_colorway current_selection js-product-colorway-open' 
																	data-name='{{ alt_colorway }}'
																	onmouseover='thisColor(this)'
																	onmouseleave='selectedColor()'
																>
																	<img 
																		class="p-center"
																		srcset="{{ product.featured_image | img_url: '120x' }} 120w"
																		sizes="120px"
																		src="{{ product.featured_image | img_url: '120x' }}"
																		loading="lazy"
																		alt="{{ alt_colorway | escape }}"
																		width="{{ product.featured_image.width }}"
																		height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
																	>
																</a>
															{% endcapture %}

														{% else %}
															{% capture colorway_html %}
																{{ colorway_html }}
																<a href='{{ product.url }}' 
																	class='each_colorway js-product-colorway-open' 
																	data-name='{{ alt_colorway }}'
																	onmouseover='thisColor(this)'
																	onmouseleave='selectedColor()'
																>
																	<img 
																		class="p-center"
																		srcset="{{ product.featured_image | img_url: '120x' }} 120w"
																		sizes="120px"
																		src="{{ product.featured_image | img_url: '120x' }}"
																		loading="lazy"
																		alt="{{ alt_colorway | escape }}"
																		width="{{ product.featured_image.width }}"
																		height="{{ product.featured_image.width | divided_by: product.featured_image.aspect_ratio }}"
																	>
																</a>
															{% endcapture %}
														{% endif %}
                          {%- endfor -%}

													{{ colorway_selected_html }}
													{{ colorway_html }}
                        </div>
                      </div>
                      <script>
                        function thisColor(alt) {
                          let color_label = document.querySelector('.colorway_label');
                          let hover_color = alt.getAttribute('data-name');
                          color_label.style.opacity = 0;
                          setTimeout(function(){
                            color_label.textContent = hover_color;
                          }, 200);
                          setTimeout(function(){
                            color_label.style.opacity = 1;
                          }, 300);
                        }
                        function selectedColor() {
                          let color_label = document.querySelector('.colorway_label');
                          let original_color = color_label.getAttribute('data-name');
                          color_label.style.opacity = 0;
                          setTimeout(function(){
                            color_label.textContent = original_color;
                          }, 200);
                          setTimeout(function(){
                            color_label.style.opacity = 1;
                          }, 300);
                        }
                      </script>
                    {%- else -%}
                      <fieldset class="js product-form__input product-option-fieldset option-{{ option.name | downcase }}">
												{% if option.name == 'width' or 
													option.name == 'Width' %}
													<button class="js-size-chart-open t-l-2 cr-gray-1">See Size Chart</button>
												{% endif %}
												<br>
                        {%- for value in option.values -%}
                          <input 
														type="radio" 
														id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
														name="{{ option.name }}"
														value="{{ value | escape }}"
														form="product-form-{{ section.id }}"
														{% if option.selected_value == value %}
															{% if option.name != 'Size' %}
																checked
															{% else %}
																{% if product.selected_variant %}
																	checked
																{% endif %}
															{% endif %}
														{% endif %}
                          >
                          <label 
														for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" 
														action='change_satc' 
														name='{{ option.name }}' value='{{ value }}'>
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </fieldset>
                    {%- endif -%}
                  {%- endfor -%}
                  <script class="product-variants-json" type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select product-option-select"
                          name="options[{{ option.name | escape }}]"
                          form="product-form-{{ section.id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script class="product-variants-json" type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <script>
							const pdpVariantSizeStatus = () => {
								let productInfo = document.querySelector('.product__info-container');
								let variantData = JSON.parse(productInfo.querySelector('.product-variants-json').textContent) || null;
								let selectedWidth = productInfo.querySelector('input[name="Width"]:checked')?.value || null;
								let availableSizes = [];

								if(variantData && selectedWidth) {
									variantData.forEach(el => {
										if (
											el.option2 == selectedWidth &&
											document.querySelector(`input[name="Size"][value="${el.option3}"]`)
										) {
											availableSizes.push(el.option3);

											el.available
												? document
														.querySelector(`input[name="Size"][value="${el.option3}"]`)
														.classList.remove('is-sold-out')
												: document
														.querySelector(`input[name="Size"][value="${el.option3}"]`)
														.classList.add('is-sold-out');
										}
									});

									document.querySelectorAll(`input[name="Size"]`).forEach((el) => {
										availableSizes.includes(el.value)
											? el.classList.remove('is-unavailable')
											: el.classList.add('is-unavailable');
									});
								}
							}

							const pdpVariantSelectors = () => {
								let realValue = document.querySelectorAll('label[action="change_satc"]');

								for (var i = 0; i < realValue.length; i++) {
									realValue[i].addEventListener('click', changeSATC, false);
								}
					
								function changeSATC() {
									let name = this.getAttribute('name');
									let value = this.getAttribute('value');
					
									document.querySelector('.satc_option[option="' + name + '"]').innerHTML = value;
									document.querySelector('.satc_value[name="' + name + '"][value="' + value + '"]').click();
								}

								window.addEventListener('click', e => {
									if (
										!e.target.classList.contains('satc_selector') &&
										!e.target.closest('.satc_selector') && 
										!e.target.classList.contains('satc_option') &&
										!e.target.closest('.satc_option') &&
										document.querySelector('.satc_selector[visible="true"]')
									) {
										document.querySelector('.satc_selector[visible="true"]').setAttribute('visible', false);
									}
								});

								pdpVariantSizeStatus();
							}

							pdpVariantSelectors();
            </script>

            <noscript>
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select product-option-select" form="product-form">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>

          {%- when 'last_chance'-%}
            <h6 class='body-medium last-chance'>
							{%- if product.selected_variant.available and 
							product.selected_variant.inventory_quantity <= block.settings.threshold and 
							product.selected_variant.inventory_quantity > 0 -%}
								Last chance! Only {{ product.selected_variant.inventory_quantity }} left.
							{%- endif -%}
						</h6>
          {%- when 'brand_value' -%}
            <div class='brand-value-container'>
							<button class="brand-value-toggle">
              	{%- render 'icon-small-smile' -%}
              	<h6 class='brand-value t-b-2-m cr-black'>{{ block.settings.text | escape }}</h6>
							</button>
							{% if block.settings.details != empty %}
								<div class="brand-value-details">
								<div class="brand-value-details-interior cr-gray-1">
									<p class="t-b-2">{{ block.settings.details }}</p>
								</div>
								</div>
							{% endif %}
            </div>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_variant.id }}">
                  <div 
										id="product-form-buttons"
										class="product-form__buttons">
											<button
												type="submit"
												name="add" 
												id="AddToCart" 
												class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary color-background-1{% endif %} 
												{% if product.handle contains 'rise-ai-giftcard' %} is-hidden{% endif %}"
											{% if product.selected_variant.available == false or product.selected_variant == blank or product.available == false %}disabled{% endif %}
											>
												{% if product.available == false %}
													{{ 'products.product.sold_out' | t }}
												{%- elsif product.selected_variant.available -%}
													{{ 'products.product.add_to_cart' | t }}
												{%- elsif product.selected_variant == blank -%}
													{% if product.options_with_values[2].name %}
														Select {{ product.options_with_values[2].name }}
													{% elsif product.options_with_values[1].name %}
														Select {{ product.options_with_values[1].name }}
													{% else %}
														Select Variant
													{% endif %}
												{%- else -%}
													{{ 'products.product.sold_out' | t }}
												{%- endif -%}
											</button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>

						{%- when 'value-prop' -%}
							{%- assign model_collection = product.title | handleize -%}
							{%- assign value_props = false -%}

							{% if product.metafields.custom_fields["value_proposition"] != blank %}
								{% assign value_props = product.metafields.custom_fields["value_proposition"] | split: '|' %}
							{% elsif collections[model_collection].metafields.custom_fields["value_proposition"] != blank %}
								{% assign value_props = collections[model_collection].metafields.custom_fields["value_proposition"] | split: '|' %}
							{% endif %}

							{% if value_props != false %}
								<div class="product-value-proposition">
									<div class="t-b-2">Highlights</div>

									{% for i in value_props %}
										{% if i == blank or i == empty or i == nil %}	
											{% continue %}
										{% endif %}

										<div class="value-proposition cr-blue">
											{%- render 'handler-icon_from_input-long-name', icon: i -%}
											<div class="t-b-2 cr-black">{{ i }}</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}

          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- render 'cart-notification' -%}

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
          {%- if media.media_type == 'image' -%}
            <img
              srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                      {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                      {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                      {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                      {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
              sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
              src="{{ media.preview_image | img_url: '750x' }}"
              alt="{{ media.alt | escape }}"
              loading="lazy"
              width="1100"
              height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
              data-media-id="{{ media.id }}"
            >
          {%- else -%}
            {%- if media.media_type == 'model' -%}
              <div class="product-media-modal__model" data-media-id="{{ media.id }}">
                <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
              <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
            {%- endif -%}

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                  {%- if media.media_type == 'model' -%}
                    {%- render 'icon-3d-model' -%}
                  {%- else -%}
                    {%- render 'icon-play' -%}
                  {%- endif -%}
                </span>
                <img
                  srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                          {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                  src="{{ media | img_url: '550x550' }}"
                  sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                  loading="lazy"
                  width="576"
                  height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                  alt="{{ media.preview_image.alt | escape }}"
                >
              </button>
              <template>
                {%- case media.media_type -%}
                {%- when 'external_video' -%}
                  {%- assign video_class = 'js-' | append: media.host -%}
                  {%- if media.host == 'youtube' -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- else -%}
                    {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                  {%- endif -%}
                {%- when 'video' -%}
                  {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
                {%- when 'model' -%}
                  {{ media | media_tag: image_size: "2048x", toggleable: true }}
                {%- endcase -%}
              </template>

            {%- if media.media_type == 'model' -%}
                </product-model>
                <button
                  class="button button--full-width product__xr-button"
                  type="button"
                  aria-label="{{ 'products.product.xr_button_label' | t }}"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ media.id }}"
                  data-shopify-title="title"
                  data-shopify-xr-hidden
                  >
                  {% render 'icon-3d-model' %}
                  {{ 'products.product.xr_button' | t }}
                </button>
              </div>
            {%- else -%}
              </deferred-media>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
</section>

<button class="product-hero-scroll f-h-center cr-gray-2 bg-white small-up-hide user-select-disable">
	{% render 'svg-icons', icon: 'arrow-down-thin' %} Explore More
</button>

<script>
	const pdpMediaCellMagnify = () => {
		let mediaCell = document.querySelectorAll('.pdp-media-cell');

		window.addEventListener('click', e => {
			if(!e.target.classList.contains('.pdp-media-cell') && 
				!e.target.closest('.pdp-media-cell')) {

				mediaCell.forEach(el => {
					el.classList.contains('is-magnified')
						? el.classList.remove('is-magnified') : '';
				});
			}
		});

		for (var i = 0; i < mediaCell.length; i++) {
			mediaCell[i].addEventListener('click', e => {
				let cell = e.target.classList.contains('.pdp-media-cell') ? e.target : e.target.closest('.pdp-media-cell');

				(cell.classList.contains('is-magnified'))
					? cell.classList.remove('is-magnified') 
					: cell.classList.add('is-magnified');
			});

			mediaCell[i].addEventListener("mousemove", function (e) {
				if(this.classList.contains('is-magnified')) {
					let index = this.getAttribute('index');
					let original = document.querySelector('.pdp-media-cell[index="' + index + '"]');
					let magnified = document.querySelector('.pdp-cell-magnified[index="' + index + '"]');
					let style = magnified.style;
					let x = e.pageX - original.offsetLeft;
					let y = e.pageY - original.offsetTop;
					let imgWidth = original.clientWidth;
					let imgHeight = original.clientHeight;
					let xperc = (x / imgWidth) * 100;
					let yperc = (y / imgHeight) * 100;

					// Set the background of the magnified image horizontal
					magnified.style.backgroundPositionX = xperc - 9 + "%";
					// Set the background of the magnified image vertical
					magnified.style.backgroundPositionY = yperc - 9 + "%";
				}
			}, false);
		}
	}

	document.querySelector('.brand-value-toggle').addEventListener('click', e => {
		let target = e.target.classList.contains('.brand-value-toggle') ? e.target : e.target.closest('.brand-value-toggle');
		let container = target.closest('.brand-value-container');
		let content = container.querySelector('.brand-value-details');

		// activate current accordion
		slide('toggle', content);

		if (!container.classList.contains('is-active')) {
			container.classList.add('is-active');
			container.setAttribute('aria-expanded', true);
			content.setAttribute('aria-hidden', false);
		} else {
			container.classList.remove('is-active');
			container.setAttribute('aria-expanded', false);
			content.setAttribute('aria-hidden', true);
		}
	});

	pdpMediaCellMagnify();

</script>

{% javascript %}
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
      window.pauseAllMedia();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  customElements.define('product-modal', ProductModal);
{% endjavascript %}

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% unless product.handle contains 'giftcard' %}
	<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
	<script type="text/javascript">
		var afterpay_shop_currency = {{ shop.currency | json }};
		var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
		var afterpay_shop_money_format = {{ shop.money_format | json }};
		var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
		var afterpay_theme_name = {{ theme.name | json }};
		var afterpay_product = {{ product | json }};
		var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
		var afterpay_cart_total_price = {{ cart.total_price | json }};
		var afterpay_js_snippet_version = '1.0.10';
		var afterpay_logo_theme = 'black';
	</script>

	<script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js" defer="defer"></script>
	<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
{% endunless %}

{% comment %}  Klaviyo viewed products  {% endcomment %}
<script id="scripts-klaviyo-viewed-products" type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
{% comment %}  Klaviyo back in stock  {% endcomment %}

{% if product.tags contains 'waitlist' %}
<script id="scripts-klaviyo-bis">
  var klaviyo = klaviyo || [];

  klaviyo.init({
    account: "Yq7WH4",
    platform: "shopify"
  });

  klaviyo.enable("backinstock", { 
    trigger: {
      product_page_text: "Notify Me",
      product_page_class: "button button--full-width button--primary color-background-1",
      product_page_text_align: "center",
      product_page_margin: "0px",
      alternate_anchor: "product-form-buttons",
      replace_anchor: false
    },
    modal: {
      headline: "{product_name}",
      body_content: "Register to receive a notification when this item comes back in stock.",
      email_field_label: "Email",
      button_label: "Notify me when available",
      subscription_success_label: "You're in! We'll let you know when it's back.",
      footer_content: '',
      drop_background_color: "#000",
      background_color: "#fff",
      text_color: "#222",
      button_text_color: "#fff",
      button_background_color: "#0A0A0A",
      close_button_color: "#ccc",
      error_background_color: "#fcd6d7",
      error_text_color: "#C72E2F",
      success_background_color: "#FFFFFF",
      success_text_color: "#0A0A0A"
    }
  });
</script>
{% endif %}


{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "subtitle",
      "name": "Subtitle",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "select",
          "id": "heading",
          "options": [
            {
              "value": "description",
              "label": "Description"
            },
            {
              "value": "details",
              "label": "Details"
            },
            {
              "value": "shipping",
              "label": "Shipping and Returns"
            }
          ],
          "default": "description",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "last_chance",
      "name": "Last Chance",
      "settings": [
        {
          "type": "number",
          "id": "threshold",
          "label": "Threshold",
          "default": 300
        }
      ]
    },
    {
      "type": "brand_value",
      "name": "Brand Value",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "textarea",
          "id": "details",
          "label": "Details"
        }
      ]
    },
    {
      "type": "value-prop",
      "name": "Value Proposition"
    }
  ],
  "settings": []
}
{% endschema %}
