{% if collection.metafields.custom_fields.hero_image_split == 1 %}
	{{ 'section-alt-collection-banner.css' | asset_url | stylesheet_tag }}
	<section class='alt-collection-banner'>
		<div class='acb-image-container'>
			{%- unless collection.image == blank -%}
				<img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
					{%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
					{%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
					{%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
					{%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
					{%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
					src="{{ collection.image | img_url: '533x' }}"
					sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
					alt="{{ collection.title | escape }}"
					loading="lazy"
					width="{{ collection.image.width }}"
					height="{{ collection.image.height }}"
				>
			{%- endunless -%}
		</div>

		<div class='acb-content-container'>
			<div class='acb-content'>
				{% if collection.metafields.custom_fields.hero_icon %}
					{{ collection.metafields.custom_fields.hero_icon }}
				{% endif %}

				{% if collection.metafields.custom_fields.hero_eyebrow != blank %}
					<p class='body-tall text-subdued acb-eyebrow'>{{ collection.metafields.custom_fields.hero_eyebrow | newline_to_br }}</p>
				{% endif %}

				<h1 class='h1'>
					{% if collection.metafields.custom_fields.hero_heading != blank %}
						{{ collection.metafields.custom_fields.hero_heading | newline_to_br }}
					{% else %}
						{{ collection.title | newline_to_br }}
					{% endif %}
				</h1>

				<p class='body-tall text-subdued acb-body'>
					{% if collection.metafields.custom_fields.hero_body != blank %}
						{{ collection.metafields.custom_fields.hero_body | newline_to_br }}
					{% else %}
						{{ collection.description }}
					{% endif %}
				</p>

				{% if collection.metafields.custom_fields.hero_subtext != blank %}
					<div class='utility-thin text-subdued'>{{ collection.metafields.custom_fields.hero_subtext | newline_to_br }}</div>
				{% endif %}
			</div>
		</div>
	</section>
{% else %}
	{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

	<section class='collection-banner {% unless collection.image == blank %}collection-banner-with-image{% endunless%}'>
		{%- unless collection.image == blank -%}
			<div class="collection-banner-image">
				{% render 'img-srcset', 
					image: collection.image,
					max_width: 2400,
					alt: collection.image.alt %}
			</div>
		{%- endunless -%}

		<div class='collection-title-container'>
			<h1 class='h1'>
				{% if collection.metafields.custom_fields.hero_heading != blank %}
					{{ collection.metafields.custom_fields.hero_heading | newline_to_br }}
				{% else %}
					{{ collection.title | newline_to_br }}
				{% endif %}
			</h1>
		</div>
	</section>
{% endif %}

{% schema %}
{
	"name": " Collection Banner",
	"settings": []
}
{% endschema %}