{{ 'mini-bag.css' | asset_url | stylesheet_tag }}

<mini-bag class="no-js-hidden" visible='false'>

    <header>
        <h2 class='h2'>Your Bag</h2>
        <div class='close-mini-bag'>
            {%- render 'icon-close' -%}
        </div>
    </header>

    <div class='highlight'>
        <p class='utility-thin'>{{ section.settings.highlight_text }}</p>
    </div>

    <div class='mini-bag-scrollable'>
        <section class='mini-bag-contents'></section>
        {%- if section.blocks.size > 0  -%}
            <section class='mini-bag-accessories visible-unless-empty' bag-state='empty'>
                <h4 class='h4'>{{ section.settings.addon_title }}</h4>
                {% for block in section.blocks %}
                    {%- assign accessory = block.settings.accessory -%}
                    <article class="line_item" 
											data-product-id="{{ accessory.id }}">
												<div class="item-image bg-subtle">
													<span class="object-contain">
														<img srcset="{{ accessory.featured_image | img_url: '375x' }} 375w"
																sizes="375px"
																src="{{ accessory.featured_image | img_url: '375x' }}"
																loading="lazy"
																alt="{{ accessory.title | escape }}"
																width="{{ accessory.featured_image.width }}"
																height="{{ accessory.featured_image.width | divided_by: accessory.featured_image.aspect_ratio }}"
															>
													</span>
												</div>
                        <div class="item_details"> 
                            <h6 class="h6">{{ accessory.title }}</h6>
                        </div>
                        <div class="item_price">
                            <p class="body-tall">{{ accessory.price | money_without_trailing_zeros }}</p>
                        </div>
												<variant-selects data-section="{{ section.id }}" data-product="{{ accessory.id }}" {{ block.shopify_attributes }}>
														{%- for option in accessory.options_with_values -%}
															<div 
																class="select 
																{% if option.name == 'Color' %}is-hidden{% endif %}">
																<label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}: </label>

																<select 
																	class="item-variant-selector"
																	id="Option-{{ section.id }}-{{ forloop.index0 }}"
																	name="options[{{ option.name | escape }}]"
																	form="product-form-{{ section.id }}"
																>
																	{%- for value in option.values -%}
																		<option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}</option>
																	{%- endfor -%}
																</select>
															</div>
														{%- endfor -%}
														<script type="application/json">
															{{ accessory.variants | json }}
														</script>
												</variant-selects>
                        <div class="add-item" product='{{ accessory.id }}' variant='{{ accessory.selected_or_first_available_variant.id }}' action='add'>
                            <span class='button--secondary'>Quick Add</span>
                        </div>
                    </article>
                {% endfor %}
            </section>
        {%- endif -%}
    </div>

    <section class='mini-bag-end visible-unless-empty' bag-state='empty'>
        <div class='subtotal'>
            <div class='subtotal_left'>
                <h6 class='h6'>Subtotal</h6>
            </div>
            <div class='subtotal_right'>
                <h6 class='h6' id='mini-bag-subtotal'></h6>
            </div>
        </div>
        <a href='/checkout' class='button--full-width button--primary color-background-1'>
            <p class='utility'>Proceed to Checkout</p>
        </a>
    </section>

</mini-bag>

{% schema %}
{
  "name": "Mini Bag",
  "settings": [
      {
          "type": "text",
          "id": "highlight_text",
          "label": "Highlight Text"
      },
      {
          "type": "text",
          "id": "addon_title",
          "label": "Add-on Text"
      }
  ],
  "blocks": [
    {
    "type": "product",
    "name": "Product",
    "limit": 2,
    "settings": [
        {
            "type": "product",
            "id": "accessory",
            "label": "Product"
        }
    ]
    }
  ]
}
{% endschema %}