<section class='mobile-page-menu large-up-hide'>
    {%- for link in section.settings.menu.links -%}
        <a href="{{ link.url }}" class='full-unstyled-link {% if link.current %}body-medium{% else %}body-small{% endif %}' {% if link.current %}aria-current="page"{% endif %}>
            {{ link.title | escape }}
        </a>
    {%- endfor -%}
</section>

{% schema %}
{
  "name": "Mobile Page Menu",
  "settings": [
    {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
  ],
  "presets": [
      {
          "name": "Mobile Page Menu"
      }
  ]    
}
{% endschema %}