{%- assign model_collection = product.title | handleize -%}

{%- if collections[model_collection].metafields.custom_fields['quote'] != blank  -%}
    {{ 'section-pdp-collection-quote.css' | asset_url | stylesheet_tag }}
    <section class='collection-quote-container'>
        <div class='collection-quote type-spacing'>
            <h5 class='h5'>“{{ collections[model_collection].metafields.custom_fields['quote'] }}”</h5>

						{% if collections[model_collection].metafields.custom_fields['quote_byline'] != blank %}
            	<p class='utility'>— {{ collections[model_collection].metafields.custom_fields['quote_byline'] }}</p>
						{% endif %}

						{% if collections[model_collection].metafields.custom_fields['quote_signature'] %}
							{{ collections[model_collection].metafields.custom_fields['quote_signature'] }}
						{% endif %}
        </div>
    </section>
{%- endif -%}

{% schema %}
{
  "name": "Collection-based Quote",
  "settings": [],
  "blocks": [],
  "presets": [
      {
          "name": "Collection-based Quote"
      }
  ]    
}
{% endschema %}