{%- assign model_collection = product.title | handleize -%}

{%- if collections[model_collection].metafields.custom_fields["cross-sell_products"] -%}
	<section class='collections-list-blocks'>
		{% assign title = collections[model_collection].metafields.custom_fields["cross-sell_heading"] | default: 'Meet the family' %}

		{%- render 'collection-product-row', 
			index: forloop.index, 
			productCollection: collections[model_collection].metafields.custom_fields["cross-sell_products"],
			title: title,
			description: collections[model_collection].metafields.custom_fields["cross-sell_paragraph"] -%}
	</section>
{% else %}
	<style>
		.pdp-collection-slider-cross-sell {
			display: none;
		}
	</style>
{% endif %}

{% schema %}
{
  "name": "PDP Collection Slider",
  "class": "pdp-collection-slider-cross-sell spaced-section",
  "presets": [
    {
			"name": "PDP Collection Slider"
		}
  ]
}
{% endschema %}