<script>
	productInterstitialHtml +=
	`
	{%- for block in section.blocks -%}
		{% if block.settings.collection != blank and 
			block.settings.collection != collection.handle %}
			{% continue %}
		{% endif %}
		<style>
			.plp-interstitial[block='{{ block.id }}'] {
				grid-row: {{ block.settings.grid_row_desktop }};
				grid-column: {{ block.settings.grid_column }} / span 2;
			}
			@media screen and (max-width: 990px) {
				.plp-interstitial[block='{{ block.id }}'] {
					grid-row: {{ block.settings.grid_row_tablet}};
				}
			}
			@media screen and (max-width: 720px) {
				.plp-interstitial[block='{{ block.id }}'] {
					grid-row: {{ block.settings.grid_row_mobile}};
				}
			}
		</style>
		{%- case block.type -%}
			{%- when 'video' -%}
				<article class='plp-interstitial plp-video-card {% unless block.settings.video_autoplay %} is-not-autoplay{% endunless %}' block='{{ block.id }}'>
					{% if block.settings.video_background != nil %}
						<iframe src="https://player.vimeo.com/video/{{ block.settings.video_background.id }}?{% if block.settings.video_autoplay %}background=1{% endif %}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
					{% endif %}

					{% if block.settings.video_autoplay %}
						<a href="{{ block.url }}" class="full-unstyled-link p-fill"> </a>
					{% else %}
						{%- if block.settings.image != blank -%}
							<span class="object-fit">
								{% render 'img-srcset', 
									image: block.settings.image,
									max_width: 900,
									alt: block.settings.image.alt %}
							</span>
						{%- endif -%}

						<button 
							class="video-play p-center cr-white user-select-disable" 
							aria-label="watch video"
							onclick="
								this.closest('.plp-video-card').classList.add('is-playing');
								new Vimeo.Player(this.closest('.plp-video-card').querySelector('iframe')).play();
							">
							{% render 'svg-icons', icon: 'video-play' %}
						</button>

						{% if block.settings.video_title != empty %}
							<div class="video-title t-b-2-m cr-white">{{ block.settings.video_title }}</div>
						{% endif %}
					{% endif %}
				</article>
			{% when 'two-column' %}
				<article class='plp-interstitial plp-column-card' block='{{ block.id }}'>
					<a href="{{ block.url }}" class="full-unstyled-link">
						<div class='plp-column-image-container'>
							<span class="object-fit">
								{% if block.settings.image != nil %}
									{% render 'img-srcset-responsive', 
										image: block.settings.image,
										image_responsive: block.settings.image_mobile,
										max_width: 900,
										breakpoint: 900,
										alt: block.settings.image.alt %}
								{% endif %}
							</span>
						</div>
						<div class='plp-column-content-container'>
							<div class='plp-column-content'>
								{%- unless block.settings.icon == 'none' -%}
									{% assign icon = block.settings.icon %}
										<article class='plp-column-icon'>
											{%- render 'handler-icon_from_input', icon: icon -%}
										</article>
								{%- endunless -%}
								<h6 class='body-large'>{{ block.settings.headline }}</h6>
								<p class='body-tall text-subdued'>{{ block.settings.body }}</p>
							</div>
						</div>
					</a>
				</article>
			{%- when 'overlay' -%}
				<article class='plp-interstitial plp-overlay-card bg-subdued' block='{{ block.id }}'>
					<a href="{{ block.url }}" class="full-unstyled-link">
						<span class="object-fit">
							{% if block.settings.image != nil %}
								{% render 'img-srcset-responsive', 
									image: block.settings.image,
									image_responsive: block.settings.image_mobile,
									max_width: 900,
									breakpoint: 900,
									alt: block.settings.image.alt %}
							{% endif %}
						</span>
					
						<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ block.settings.overlay_opacity }})"></div>

						<div class='plp-overlay-content'>
							<h2 class='h2'>{{ block.settings.headline }}</h2>
						</div>
					</a>
				</article>
		{%- endcase -%}
	{%- endfor -%}`;
</script>

{% schema %}
{
  "name": "Interstitial blocks",
  "settings": [],
  "blocks": [
	 {
			"type": "title",
			"name": "Section Title",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"info": "Seciton title"
				}
			]
    },
    {
        "type": "video",
        "name": "Video",
        "settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection to show",
						"info": "If not specified, the editorial block will appear sitewide."
					},
          {
            "type": "header",
            "content": "Position"
          },
          {
            "type": "number",
            "id": "grid_row_desktop",
            "default": 1,
            "label": "Desktop Row"
          },
          {
            "type": "number",
            "id": "grid_row_tablet",
            "default": 1,
            "label": "Tablet Row"
          },
          {
            "type": "number",
            "id": "grid_row_mobile",
            "default": 1,
            "label": "Mobile Row"
          },
          {
            "type": "select",
            "id": "grid_column",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              }
            ],
            "default": "1",
            "label": "Desktop Start Column"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Poster Image"
          },
          {
						"type": "video_url",
						"id": "video_background",
						"label": "Vimeo URL",
						"accept": ["vimeo"],
						"info": "Aspect ratio should be 16:9"
          },
          {
              "type": "checkbox",
              "id": "video_autoplay",
              "label": "Autoplay"
          },
          {
              "type": "text",
              "id": "video_title",
              "label": "Video Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Destination"
          }
        ]
    },
    {
        "type": "two-column",
        "name": "Two Column",
        "settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection to show",
						"info": "If not specified, the editorial block will appear sitewide."
					},
          {
            "type": "header",
            "content": "Position"
          },
          {
            "type": "number",
            "id": "grid_row_desktop",
            "default": 1,
            "label": "Desktop Row"
          },
          {
            "type": "number",
            "id": "grid_row_tablet",
            "default": 1,
            "label": "Tablet Row"
          },
          {
            "type": "number",
            "id": "grid_row_mobile",
            "default": 1,
            "label": "Mobile Row"
          },
          {
            "type": "select",
            "id": "grid_column",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              }
            ],
            "default": "1",
            "label": "Desktop Start Column"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (mobile)"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
							{
								"value": "none",
								"label": "None"
							},
							{
								"value": "zipper",
								"label": "Zipper"
							},
							{
								"value": "approved",
								"label": "Approved"
							},
							{
								"value": "arch-support",
								"label": "Arch Support"
							},
							{
								"value": "brazil",
								"label": "Brazil"
							},
							{
								"value": "breathability",
								"label": "Breathability"
							},
							{
								"value": "chat",
								"label": "Chat"
							},
							{
								"value": "comfort-system",
								"label": "Comfort system"
							},
							{
								"value": "eco",
								"label": "Eco"
							},
							{
								"value": "engineered",
								"label": "Engineered"
							},
							{
								"value": "feather",
								"label": "Feather"
							},
							{
								"value": "smile",
								"label": "Smile"
							},
							{
								"value": "healthy-feet",
								"label": "Healthy feet"
							},
							{
								"value": "heart",
								"label": "Heart"
							},
							{
								"value": "ice",
								"label": "Ice"
							},
							{
								"value": "inner-sock",
								"label": "Inner sock"
							},
							{
								"value": "insoles",
								"label": "Insoles"
							},
							{
								"value": "leather-soft",
								"label": "Leather soft"
							},
							{
								"value": "leather",
								"label": "Leather"
							},
							{
								"value": "metal-buckle",
								"label": "Metal buckle"
							},
							{
								"value": "moisture-wicking",
								"label": "Moisture wicking"
							},
							{
								"value": "needle",
								"label": "Needle"
							},
							{
								"value": "okeo-tex",
								"label": "OKEO-TEX"
							},
							{
								"value": "portugal",
								"label": "Portugal"
							},
							{
								"value": "resoleable",
								"label": "Resoleable"
							},
							{
								"value": "ruler",
								"label": "Ruler"
							},
							{
								"value": "science",
								"label": "Science"
							},
							{
								"value": "tradeup",
								"label": "Tradeup"
							},
							{
								"value": "usa",
								"label": "USA"
							},
							{
								"value": "ventilation",
								"label": "Ventilation"
							},
							{
								"value": "vibram",
								"label": "Vibram"
							},
							{
								"value": "water-resistant",
								"label": "Water-resistant"
							},
							{
								"value": "wool-small",
								"label": "Wool (small)"
							},
							{
								"value": "wool",
								"label": "Wool"
							},
							{
								"value": "woven",
								"label": "Woven"
							}
            ],
            "default": "none",
            "label": "Icon"
          },
          {
            "type": "richtext",
            "id": "headline",
            "label": "Headline"
          },
          {
            "type": "textarea",
            "id": "body",
            "label": "Body"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Destination"
          }
        ]
    },
    {
        "type": "overlay",
        "name": "Overlay",
        "settings": [
				{
						"type": "text",
						"id": "title",
						"label": "Title"
					},
					{
						"type": "collection",
						"id": "collection",
						"label": "Collection to show",
						"info": "If not specified, the editorial block will appear sitewide."
					},
          {
            "type": "header",
            "content": "Position"
          },
          {
            "type": "number",
            "id": "grid_row_desktop",
            "default": 1,
            "label": "Desktop Row"
          },
          {
            "type": "number",
            "id": "grid_row_tablet",
            "default": 1,
            "label": "Tablet Row"
          },
          {
            "type": "number",
            "id": "grid_row_mobile",
            "default": 1,
            "label": "Mobile Row"
          },
          {
            "type": "select",
            "id": "grid_column",
            "options": [
              {
                "value": "1",
                "label": "1"
              },
              {
                "value": "2",
                "label": "2"
              }
            ],
            "default": "1",
            "label": "Desktop Start Column"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (mobile)"
          },
					{
						"type": "range",
						"id": "overlay_opacity",
						"min": 0,
						"max": 90,
						"step": 5,
						"default": 0,
						"label": "Overlay"
					},
          {
            "type": "richtext",
            "id": "headline",
            "label": "Copy"
          },
          {
              "type": "url",
              "id": "url",
              "label": "Destination"
          }
        ]
    }
  ]
}
{% endschema %}
