{% assign show_chart = false %}

{% for i in product.tags %}
	{% if i == section.settings.tag %}
		{% assign show_chart = true %}
	{% endif %}
{% endfor %}

{% if page.url %}
<style>

.product-sizing-popup {
	display: block;
	position: relative;
	padding: 0 var(--s-contain);
	height: unset;
	overflow: unset;
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}

.product-sizing-popup .popup-overlay {
	visibility: hidden;
}

.product-sizing-popup .popup-content {
  display: block;
  margin: var(--s-section) auto;
	padding: 0;
}

.product-sizing-popup .popup-content .js-size-chart-close {
	display: none;
}

</style>
{% endif %}

{% if show_chart == true or page.url %}
	<div class="product-sizing-popup f-v">
		<div class="popup-content c-2 bg-white">
			<button 
				class="js-size-chart-close" 
				aria-label="close sizing chart">{% render 'icon-close' %}</button>

			<div class="popup-content-header type-spacing">
				{% if section.settings.heading != empty %}
					<h2 clas="t-h-1">{{ section.settings.heading }}</h2>
				{% endif %}

				{% if section.settings.subheading != empty %}
					<h3 clas="t-h-3">{{ section.settings.subheading }}</h3>
				{% endif %}

				{% if section.settings.paragraph != empty %}
					<p clas="t-b-3 cr-gray-1">{{ section.settings.paragraph }}</p>
				{% endif %}
			</div>

			<ul class="popup-content-width-sizing cr-gray-1">
				{% if section.settings.width_sizing_1 != empty %}
					<li>{{ section.settings.width_sizing_1 }}</li>
				{% endif %}
				{% if section.settings.width_sizing_2 != empty %}
					<li>{{ section.settings.width_sizing_2 }}</li>
				{% endif %}
				{% if section.settings.width_sizing_3 != empty %}
					<li>{{ section.settings.width_sizing_3 }}</li>
				{% endif %}
				{% if section.settings.width_sizing_4 != empty %}
					<li>{{ section.settings.width_sizing_4 }}</li>
				{% endif %}
				{% if section.settings.width_sizing_5 != empty %}
					<li>{{ section.settings.width_sizing_5 }}</li>
				{% endif %}
				{% if section.settings.width_sizing_6 != empty %}
					<li>{{ section.settings.width_sizing_6 }}</li>
				{% endif %}
			</ul>

			{% if section.settings.foot_measurement_tool != blank %}
				<div class="popup-content-foot-measurement-tool">
					<a 
						class="button button--primary upscale color-background-2" 
						href="{{ section.settings.foot_measurement_tool }}" 
						download>
						{% render 'icon-print' %} Foot Measurement Tool
					</a>

					{% if section.settings.foot_measurement_tool_details != empty %}
						<p class="t-b-2 cr-gray-1">{{ section.settings.foot_measurement_tool_details }}</li>
					{% endif %}
				</div>
			{% endif %}

			{% if section.settings.size_chart_html %}
				<div class="popup-content-chart">
				<div class="popup-content-chart-interior">
					{{ section.settings.size_chart_html }}
				</div>
				</div>
			{% endif %}

			<button class="button button--secondary js-size-chart-close">Continue Shopping</button>
		</div>

		<div class="popup-overlay p-fill js-size-chart-close"></div>
	</div>
{% endif %}

{% schema %}
{
  "name": "Product Sizing",
	"settings": [
		{
			"type": "text",
			"id": "tag",
			"label": "Tag to show this size chart in"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		},
		{
			"type": "text",
			"id": "width_sizing_1",
			"label": "Width sizing 1"
		},
		{
			"type": "text",
			"id": "width_sizing_2",
			"label": "Width sizing 2"
		},
		{
			"type": "text",
			"id": "width_sizing_3",
			"label": "Width sizing 3"
		},
		{
			"type": "text",
			"id": "width_sizing_4",
			"label": "Width sizing 4"
		},
		{
			"type": "text",
			"id": "width_sizing_5",
			"label": "Width sizing 5"
		},
		{
			"type": "text",
			"id": "width_sizing_6",
			"label": "Width sizing 6"
		},
		{
			"type": "url",
			"id": "foot_measurement_tool",
			"label": "Foot Measurement Tool"
		},
		{
			"type": "textarea",
			"id": "foot_measurement_tool_details",
			"label": "Foot Measurement Tool Details"
		},
		{
			"type": "textarea",
			"id": "size_chart_html",
			"label": "Size Chart HTML"
		}
	]
}
{% endschema %}