<section class="comp-photo-grid">
<div class="c">
	{% if section.settings.heading %}
		<div class="photo-grid-header type-spacing">
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		</div>
	{% endif %}

	<div class="photo-grid-ugc">
		<div
			class="yotpo yotpo-pictures-widget"
			data-gallery-id="615f76c54c7ceb57deec6ab3"
			data-product-id="{{ product.id }}">
		</div>
	</div>
</div>
</section>

{% schema %}
{
	"name": "Yotpo Photo Grid",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		}
	]
}
{% endschema %}