{{ 'section-promo-rows.css' | asset_url | stylesheet_tag }}

<section class='promo-rows' id='section-{{ section.id }}'>

    {%- for block in section.blocks -%}
        <article class='promo-row' style='background-color: {{ block.settings.background_color }}'>

            {%- capture row_cycle -%}
                {%- cycle 'odd', 'even' -%}
            {%- endcapture -%}

            {%- capture content_column -%}
                <div class='pr-content' id='block-{{ block.id }}'>
                    <h6 class='body-medium text-subdued'>
                        {{ block.settings.eyebrow | escape }}
                    </h6>
                    <h2 class='h1'>
                        {{ block.settings.headline }}
                    </h2>
                    <p class='body-large text-subdued'>
                        {{ block.settings.body | escape }}
                    </p>
                    <a class='button button--secondary' href='{{ block.settings.url }}'>
                        {{ block.settings.url_label | escape }}
                    </a>
                </div>
                {%- if block.settings.background_image-content != blank -%}
                    <div class='banner__media'>
                        <img srcset="{%- if block.settings.background_image-content.width >= 375 -%}{{ block.settings.background_image-content | img_url: '375x' }} 375w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 750 -%}{{ block.settings.background_image-content | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 1100 -%}{{ block.settings.background_image-content | img_url: '1100x' }} 1100w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 1500 -%}{{ block.settings.background_image-content | img_url: '1500x' }} 1500w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 1780 -%}{{ block.settings.background_image-content | img_url: '1780x' }} 1780w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 2000 -%}{{ block.settings.background_image-content | img_url: '2000x' }} 2000w,{%- endif -%}
                        {%- if block.settings.background_image-content.width >= 2800 -%}{{ block.settings.background_image-content | img_url: '2800x' }} 2800w{%- endif -%}"
                        sizes="100vw"
                        src="{{ block.settings.background_image-content | img_url: '750x' }}"
                        loading="lazy"
                        alt="{{ block.settings.background_image-content.alt | escape }}"
                        width="{{ block.settings.background_image-content.width }}"
                        height="{{ block.settings.background_image-content.width | divided_by: block.settings.background_image-content.aspect_ratio }}"
                        > 
                    </div>
                {%- endif -%}
            {%- endcapture -%}

            {%- capture image_column -%}
                <div class='banner__media'>
                    <img srcset="{%- if block.settings.background_image-full.width >= 375 -%}{{ block.settings.background_image-full | img_url: '375x' }} 375w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 750 -%}{{ block.settings.background_image-full | img_url: '750x' }} 750w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 1100 -%}{{ block.settings.background_image-full | img_url: '1100x' }} 1100w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 1500 -%}{{ block.settings.background_image-full | img_url: '1500x' }} 1500w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 1780 -%}{{ block.settings.background_image-full | img_url: '1780x' }} 1780w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 2000 -%}{{ block.settings.background_image-full | img_url: '2000x' }} 2000w,{%- endif -%}
                    {%- if block.settings.background_image-full.width >= 2800 -%}{{ block.settings.background_image-full | img_url: '2800x' }} 2800w{%- endif -%}"
                    sizes="100vw"
                    src="{{ block.settings.background_image-full | img_url: '750x' }}"
                    loading="lazy"
                    alt="{{ block.settings.background_image-full.alt | escape }}"
                    width="{{ block.settings.background_image-full.width }}"
                    height="{{ block.settings.background_image-full.width | divided_by: block.settings.background_image-full.aspect_ratio }}"
                    > 
                </div>
            {%- endcapture -%}

            {%- if row_cycle == 'odd' -%}
                <div class='pr-block pr-content-column'>
                    {{ content_column }}
                </div>
                <div class='pr-block pr-image-column'>
                    {{ image_column }}
                </div>
            {%- else -%}
                <div class='pr-block pr-image-column'>
                    {{ image_column }}
                </div>
                <div class='pr-block pr-content-column'>
                    {{ content_column }}
                </div>
            {%- endif -%}

        </article>

        <style>
            #block-{{ block.id }} h2 p::before {
                background-color: {{ block.settings.underline_color }};
            }
        </style>
    {%- endfor -%}

    {%- unless section.settings.parallax_image == blank -%}
        <div class='pr-parallax-container' id='parallax-{{ section.id }}'>
            <img srcset="{%- if section.settings.parallax_image.width >= 375 -%}{{ section.settings.parallax_image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 750 -%}{{ section.settings.parallax_image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 1100 -%}{{ section.settings.parallax_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 1500 -%}{{ section.settings.parallax_image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 1780 -%}{{ section.settings.parallax_image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 2000 -%}{{ section.settings.parallax_image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.parallax_image.width >= 2800 -%}{{ section.settings.parallax_image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.parallax_image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.parallax_image.alt | escape }}"
            width="{{ section.settings.parallax_image.width }}"
            height="{{ section.settings.parallax_image.width | divided_by: section.settings.parallax_image.aspect_ratio }}"
            > 
        </div>
    {%- endunless -%}

</section>

{%- if section.settings.parallax_image != blank -%}
	<script>
		// var parallax = document.getElementById('parallax-{{ section.id }}');
		// var section = document.getElementById('shopify-section-{{ section.id }}');
		
		// window.addEventListener('scroll', function (event) {
		// 		let viewportHeight = window.innerHeight;
		// 		let scrollTop = window.scrollY;

		// 		let distance = scrollTop + viewportHeight - section.offsetTop;
		// 		let percentage = distance / ((viewportHeight + section.offsetHeight) / 100);
		// 		let percentSeen = Math.min(100, Math.max(0, percentage));
					
		// 		if (window.innerWidth > 990) {
		// 			parallax.style.transform = 'translateY(' + (percentSeen * 5) + '%)';
		// 		} else if (window.innerWidth > 500) {
		// 			parallax.style.transform = 'translateY(' + (percentSeen * 8.5) + '%)';
		// 		}
				
		// }, false);

	</script>
{%- endif -%}

{% schema %}
{
  "name": "Promo Rows",
  "class": "spaced-section",
  "settings": [
      {
          "type": "image_picker",
          "id": "parallax_image",
          "label": "Parallax Image"
      }
  ],
  "blocks": [
    {
        "type": "row",
        "name": "Row",
        "settings": [
          {
              "type": "header",
              "content": "Background"
          },
          {
              "type": "image_picker",
              "id": "background_image-full",
              "label": "Full Image"
          },
          {
            "type": "image_picker",
            "id": "background_image-content",
            "label": "Content Image"
          },
          {
              "type": "color",
              "id": "background_color",
              "label": "Color"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
            "type": "text",
            "id": "eyebrow",
            "label": "Eyebrow"
          },
          {
              "type": "richtext",
              "id": "headline",
              "label": "Headline"
          },
          {
              "type": "color",
              "id": "underline_color",
              "label": "Underline Color"
          },
          {
              "type": "textarea",
              "id": "body",
              "label": "Body"
          },
          {
              "type": "url",
              "id": "url",
              "label": "CTA URL"
          },
          {
              "type": "text",
              "id": "url_label",
              "label": "CTA Label"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Promo Rows"
      }
  ]    
}
{% endschema %}