{{ 'main-list-collections.css' | asset_url | stylesheet_tag }}
{{ 'glide.core.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'glide.min.js' | asset_url }}"></script>

<product-recommendations 
	class="product-recommendations page-width" 
	data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=8">
    {% if recommendations.performed and recommendations.products_count > 0 %}
        <section class='collections-list-blocks'>
            {%- render 'collection-product-row', index: 1, type: 'recommendations', title: section.settings.title, description: section.settings.description -%}
        </section>
    {% endif %}
</product-recommendations>

<script>
	const productRecommendations = document.querySelector('.product-recommendations');

	fetch(productRecommendations.dataset.url)
		.then(response => response.text())
		.then(text => {
			const html = document.createElement('div');
			html.innerHTML = text;
			const recommendations = html.querySelector('product-recommendations');

			if (recommendations && recommendations.innerHTML.trim().length) {
				productRecommendations.innerHTML = recommendations.innerHTML;

				setTimeout(() => {
					initFlickitySlider(productRecommendations.querySelector('[data-flickity-slider]'));
				}, 2000);
			}
		})
		.catch(e => {
			console.error(e);
		});
</script>

{% schema %}
{
  "name": "Recommended Products",
  "class": "spaced-section",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "You may also like"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
  ],
  "blocks": [],
  "presets": [
      {
          "name": "Recommended Products"
      }
  ]    
}
{% endschema %}