<section class="sem-intro type-spacing">
<div class="c type-spacing">
	{% if section.settings.heading %}
		<h2 class="t-h-5">{{ section.settings.heading }}</h2>
	{% endif %}

	{% if section.settings.paragraph %}
		<p class="t-b-3">{{ section.settings.paragraph }}</p>
	{% endif %}
</div>
</section>

{% schema %}
{
	"name": "SEM Intro",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		}
	],
  "presets": [
      {
        "name": "SEM - Intro"
      }
  ]
}
{% endschema %}