<section class="sem-image-columns" style="background-color: {{ section.settings.background_color | default: '#FBF9F4' }}">
	{% if section.settings.decorative_image != nil %}
		{% render 'img-srcset', 
			image: section.settings.decorative_image,
			max_width: 900,
			alt: section.settings.decorative_image.alt,
			classes: 'decorative-image' %}
	{% endif %}

	<div class="c-1 f-h">
		<div class="column type-spacing">
			{% if section.settings.column_1_image != nil %}
				{% render 'img-srcset', 
					image: section.settings.column_1_image,
					max_width: 900,
					alt: section.settings.column_1_image.alt %}
			{% endif %}
			{% if section.settings.column_1_title %}
				<h3 class="t-h-6">{{ section.settings.column_1_title }}</h3>
			{% endif %}
			{% if section.settings.column_1_paragraph %}
				<p class="t-b-1">{{ section.settings.column_1_paragraph }}</p>
			{% endif %}
		</div>

		<div class="column type-spacing">
			{% if section.settings.column_2_image != nil %}
				{% render 'img-srcset', 
					image: section.settings.column_2_image,
					max_width: 900,
					alt: decorative_image.alt %}
			{% endif %}
			{% if section.settings.column_2_title %}
				<h3 class="t-h-6">{{ section.settings.column_2_title }}</h3>
			{% endif %}
			{% if section.settings.column_2_paragraph %}
				<p class="t-b-1">{{ section.settings.column_2_paragraph }}</p>
			{% endif %}
		</div>
	</div>
</section>

{% schema %}
{
	"name": "SEM Image Columns",
	"settings": [
		{
			"type": "image_picker",
			"id": "decorative_image",
			"label": "Decorative image"
		},
		{
			"type": "header",
			"content": "Column 1"
		},
		{
			"type": "image_picker",
			"id": "column_1_image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "column_1_title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "column_1_paragraph",
			"label": "Paragraph"
		},
		{
			"type": "header",
			"content": "Column 2"
		},
		{
			"type": "image_picker",
			"id": "column_2_image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "column_2_title",
			"label": "Title"
		},
		{
			"type": "textarea",
			"id": "column_2_paragraph",
			"label": "Paragraph"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		}
	],
  "presets": [
      {
        "name": "SEM - Image Columns"
      }
  ]
}
{% endschema %}