<section class="sem-columns" style="background-color: {{ section.settings.background_color | default: '#FBF9F4' }}">
<div class="c-1">
	<div class="columns-header type-spacing">
		{% if section.settings.heading %}
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		{% endif %}

		{% if section.settings.paragraph %}
			<p class="t-b-1 cr-gray-1">{{ section.settings.paragraph }}</p>
		{% endif %}
	</div>

	<div class="columns-grid f-h">
		{% for i in section.blocks %}
			<div class="column type-spacing">
				<div class="column-image">
					{% if i.settings.image != nil %}
						<span class="object-contain">
							{% render 'img-srcset', 
								image: i.settings.image,
								max_width: 900,
								alt: i.settings.image.alt %}
						</span>
					{% endif %}
				</div>

				{% if i.settings.title != empty %}
					<h3 class="t-h-6">{{ i.settings.title }}</h3>
				{% endif %}

				{% if i.settings.paragraph != empty %}
					<p class="t-b-2 cr-gray-1">{{ i.settings.paragraph }}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
</section>

{% schema %}
{
	"name": "SEM Columns",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		}
	],
	"max_blocks": 3,
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "paragraph",
					"label": "Paragraph"
				}
			]
		}
	],
  "presets": [
      {
        "name": "SEM - Columns"
      }
  ]
}
{% endschema %}
