{% if section.settings.background_color != nil %}
	<style>
		body {background-color: {{ section.settings.background_color }}}
	</style>
{% endif %}

<section 
	class="sem-hero cr-white bg-subdued" 
	data-text-position="{{ section.settings.text_position_v }} | {{ section.settings.text_position_h }}" 
	data-text-position-mobile="{{ section.settings.text_position_v_mobile }} | {{ section.settings.text_position_h_mobile }}">
	{% if section.settings.image != nil %}
		<div class="hero-image">
			{% render 'img-srcset-responsive', 
				image: section.settings.image,
				image_responsive: section.settings.image_mobile,
				max_width: 900,
				breakpoint: 900,
				alt: section.settings.image.alt %}
		</div>
	{% endif %}

	<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ section.settings.overlay }})"></div>

	<div class="hero-content c-1 type-spacing">
		{% if section.settings.heading != empty %}
			<h1 class="t-h-xl">{{ section.settings.heading }}</h1>
		{% endif %}

		{% if section.settings.subheading != empty %}
			<p class="t-h-3">{{ section.settings.subheading }}</p>
		{% endif %}
	</div>
</div>

{% schema %}
{
	"name": "SEM Hero",
	"settings": [
		{
			"type": "color",
			"id": "background_color",
			"label": "Background Color"
		},
		{
			"type": "range",
			"id": "overlay",
			"min": 0,
			"max": 90,
			"step": 5,
			"default": 0,
			"label": "Overlay"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "radio",
			"id": "text_position_v",
			"label": "Text position (vertical)",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "middle",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			],
			"default": "middle"
		},
		{
			"type": "radio",
			"id": "text_position_h",
			"label": "Text position (horizontal)",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center"
		},
		{
			"type": "header",
			"content": "Mobile"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Mobile Image"
		},
		{
			"type": "radio",
			"id": "text_position_v_mobile",
			"label": "Mobile text position (vertical)",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "middle",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			],
			"default": "middle"
		},
		{
			"type": "radio",
			"id": "text_position_h_mobile",
			"label": "Mobile text position (horizontal)",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "center"
		}
	],
  "presets": [
      {
        "name": "SEM - Hero"
      }
  ]
}
{% endschema %}
