{{ 'section-subscribe_with-image.css' | asset_url | stylesheet_tag }}

<section class='subscribe-container color-inverse'>
	<div class='banner__media media'>
		{% if settings.email_capture_image_desktop != nil %}
			{% render 'img-srcset-responsive', 
				image: settings.email_capture_image_desktop,
				image_responsive: settings.email_capture_image_mobile,
				max_width: 1800,
				breakpoint: 550,
				alt: settings.email_capture_image_desktop.alt %}
		{% endif %}
	</div>

	<div class='content'>
		{%- form 'customer', id: 'ContactSection' -%}
			<h2 class='h2'>{{ settings.email_capture_headline | escape }}</h2>
			<p class='body-large'>{{ settings.email_capture_body | escape }}</p>
			{%- if form.errors -%}
				<small class="newsletter-form__message form__message" id="SectionFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
			{%- endif -%}

			{%- if form.posted_successfully? -%}
			{%- elsif form.errors -%}
			{%- else -%}
				<small 
					class="newsletter-form__message form__message existing-subscriber" 
					id="section-footer-error">
					{% render 'icon-error' %}You are already subscribed</small>

				<script type="text/javascript">
					if (window.location.href.indexOf("prospect%2Cnewsletter&form_type=customer") > -1) {
						$("#section-footer-error.existing-subscriber").show();
					} else {
						$("#section-footer-error.existing-subscriber").hide();
					}
				</script>
			{%- endif -%}

			{%- if form.posted_successfully? -%}
				{% if settings.email_capture_success_message != empty %}
					<h3 class="t-h-3 success-message">{{ settings.email_capture_success_message }}</h3>
				{% endif %}
			{%- else -%}
				<div class="subscribe-form">
					<input type="hidden" name="contact[tags]" value="newsletter">
					<div class="newsletter-form__field-wrapper">
						<div class="field">
								<input
								id="NewsletterForm--{{ section.id }}"
								type="email"
								name="contact[email]"
								class="section-field__input body-small"
								value="{{ form.email }}"
								aria-required="true"
								autocorrect="off"
								autocapitalize="off"
								autocomplete="email"
								{% if form.errors %}
										autofocus
										aria-invalid="true"
										aria-describedby="ContactSection-error"
								{% elsif form.posted_successfully? %}
										aria-describedby="ContactSection-success"
								{% endif %}
								placeholder="{{ settings.email_capture_placeholder }}"
								required
								>
						</div>
					</div>
					<button 
						type="submit" 
						class="button button--arrow newsletter-form__button" 
						name="commit" 
						id="SectionSubscribe-Button">
					{% render 'icon-arrow' %}</button>
				</div>
			{%- endif -%}
		{%- endform -%}
	</div>
</section>

{% schema %}
{
  "name": "Subscribe with Image",
  "class": "top-spaced-section",
  "presets": [
      {
          "name": "Subscribe with Image"
      }
  ]    
}
{% endschema %}