{% schema %}
{
	"name": "Testimonial Slider",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "cta_label",
			"label": "CTA Label"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL"
		}
	],
	"blocks": [
		{
			"type": "block",
			"name": "Block",
			"settings": [
				{
					"type": "image_picker",
					"id": "portrait",
					"label": "Portrait"
				},
				{
					"type": "range",
					"id": "rating",
					"label": "Rating",
					"min": 1,
					"max": 5,
					"step": 1,
					"default": 5
				},
				{
					"type": "textarea",
					"id": "quote",
					"label": "Quote"
				},
				{
					"type": "text",
					"id": "byline",
					"label": "Byline"
				},
				{
					"type": "product",
					"id": "product",
					"label": "Product"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Testimonial Slider"
		}
	] 
}
{% endschema %}

<section class="section-testimonial-slider">
	<div class="slider-header c f-h-center">
		{% if section.settings.heading != empty %}
			<h2 class="t-h-2">{{ section.settings.heading }}</h2>
		{% endif %}

		{% if section.settings.cta_label != empty and 
			section.settings.cta_url != nil %}
			<a 
				class="button--secondary utility small-hide" 
				href="{{ section.settings.cta_url }}">
			{{ section.settings.cta_label }}</a>
		{% endif %}
	</div>

	<div data-flickity-slider="{
		'pageDots': false,
		'prevNextButtons': true,
		'wrapAround': false,
		'imagesLoaded': true,
		'cellAlign': 'left',
		'draggable': true,
		'contain': true
	}">
		{% for i in section.blocks %}
			<div class="testimonial">
			<div class="f-h">
				<div class="testimonial-portrait">
					<span class="object-fit bg-subdued">
						{% if i.settings.portrait != nil %}
							{% render 'img-srcset', 
								image: i.settings.portrait,
								max_width: 300,
								alt: i.settings.portrait.alt %}
						{% endif %}
					</span>
				</div>

				<div class="testimonial-content">
					<div class="testimonial-rating">
						{% assign rating = i.settings.rating | plus: 0 %}
						{% for i in (1..5) %}
							{% if i <= rating %}
								{{ 'svg-star-fill.svg' | asset_url | img_tag }}
							{% else %}
								{{ 'svg-star-empty.svg' | asset_url | img_tag }}
							{% endif %}
						{% endfor %}
					</div>

					{% if i.settings.quote != empty %}
						<div>
							<q class="t-q-2 cr-gray-1">{{ i.settings.quote }}</q>
						</div>
					{% endif %}

					{% if i.settings.byline != empty %}
						<div class="testimonial-byline t-l-2 cr-gray-1">{{ i.settings.byline }}</div>
					{% endif %}

					{% if i.settings.product != blank %}
						{% assign p = all_products[i.settings.product] %}
						<a 
							class="testimonial-product-image"
							href="{{ p.url }}">
							{% render 'img-srcset', 
								image: p.featured_image,
								max_width: 300,
								alt: p.featured_image.alt %}
						</a>
					{% endif %}
				</div>
			</div>
			</div>
		{% endfor %}

		<div class="flickity-spacer"></div>
	</div>

	<div class="slider-footer small-up-hide">
		{% if section.settings.cta_label != empty and 
			section.settings.cta_url != nil %}
			<a 
				class="button--secondary utility" 
				href="{{ section.settings.cta_url }}">
			{{ section.settings.cta_label }}</a>
		{% endif %}
	</div>
</section>