{{ 'section-text-beneath-image.css' | asset_url | stylesheet_tag }}

<section class='text-beneath-image' style='background-color: {{ section.settings.background_color }}'>

    {%- if section.settings.image != blank -%}

            <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            > 

    {%- endif -%}

    <div class='text-beneath-image-content'>
        {%- if section.settings.title != blank -%}
            <h2 class='h2'>{{ section.settings.title | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.first_body != blank -%}
            <p class='body-tall text-subdued small-hide'>{{ section.settings.first_body | escape }}</p>
        {%- endif -%}
        {%- if section.settings.second_body != blank -%}
            <p class='body-tall text-subdued small-hide'>{{ section.settings.second_body | escape }}</p>
        {%- endif -%}
        {%- if section.settings.first_body != blank or section.settings.second_body != blank -%}
            <p class='body-tall text-subdued large-up-hide medium-hide'>
                {{ section.settings.first_body | escape }} {{ section.settings.second_body }}
            </p>
        {%- endif -%}
    </div>

</section>

{% schema %}
{
  "name": "Text Beneath Image",
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      },
      {
          "type": "textarea",
          "id": "first_body",
          "label": "First Body"
      },
      {
          "type": "textarea",
          "id": "second_body",
          "label": "Second Body"
      }
  ],
  "blocks": [],
  "presets": [
      {
          "name": "Text Beneath Image"
      }
  ]    
}
{% endschema %}