{{ 'section-three-points.css' | asset_url | stylesheet_tag }}

<section class='three-points'>

    <div class='point-intro'>
        <h2 class='h2'>{{ section.settings.title | escape }}</h2>
        <p class='body-tall text-subdued'>{{ section.settings.body | escape }}</p>
    </div>

    <div class='each-point-container'>
        {%- for block in section.blocks -%}
            <article class='each-point ep-height-{{ section.settings.icon_size }} type-spacing'>
                {%- if block.settings.image != blank  -%}
                    <img srcset="{{ block.settings.image | img_url: '375x' }} 375w"
                    sizes="100vw"
                    src="{{ block.settings.image | img_url: '375x' }}"
                    loading="lazy"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                    >
                {%- endif -%}
                <h6 class='h6'>{{ block.settings.title | escape }}</h6>
                <p class='body-small text-subdued'>{{ block.settings.body | escape }}</p>
            </article>
        {%- endfor -%}
    </div>

</section>

{% schema %}
{
  "name": "Three Points",
  "class": "spaced-section",
  "settings": [
      {
          "type": "select",
          "id": "icon_size",
          "options": [
            {
              "value": "120",
              "label": "120px"
            },
            {
              "value": "60",
              "label": "60px"
            }
          ],
          "default": "120",
          "label": "Icon Size"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      },
      {
          "type": "textarea",
          "id": "body",
          "label": "Body"
      }
  ],
  "blocks": [
    {
        "type": "point",
        "name": "Point",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Headline"
            },
            {
                "type": "textarea",
                "id": "body",
                "label": "Body"
            }
        ]
    }
  ],
  "presets": [
      {
          "name": "Three Points"
      }
  ]    
}
{% endschema %}