{{ 'section-two-column.css' | asset_url | stylesheet_tag }}

<section class='two-column f-v-middle' style='background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }}'>

    {%- if section.settings.image != blank -%}
        <div class='banner__media'>
            <img srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image.width >= 2800 -%}{{ section.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
            sizes="100vw"
            src="{{ section.settings.image | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image.alt | escape }}"
            width="{{ section.settings.image.width }}"
            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            > 
        </div>
    {%- endif -%}

		<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ section.settings.overlay }})"></div>

    <h2 class='h1'>{{ section.settings.title }}</h2>

    <div class='two-column-container'>
        {%- for block in section.blocks -%}
            {%- if block.settings.title != blank and block.settings.body != blank -%}
                <div class='each-column-content'>
                    <h3 class='h3'>{{ block.settings.title | escape }}</h3>
                    <p class='body-tall'>{{ block.settings.body | escape }}</p>
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>

</section>

{% schema %}
{
  "name": "Two Column",
  "settings": [
			{
				"type": "range",
				"id": "overlay",
				"min": 0,
				"max": 90,
				"step": 5,
				"default": 0,
				"label": "Overlay"
			},
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color"
      },
      {
          "type": "text",
          "id": "title",
          "label": "Headline"
      }
  ],
  "blocks": [
    {
        "type": "column",
        "name": "Column",
        "limit": 2,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Headline"
            },
            {
                "type": "textarea",
                "id": "body",
                "label": "Body"
            }
        ]
    }
  ],
  "presets": [
      {
          "name": "Two Column"
      }
  ]    
}
{% endschema %}