{{ 'section-vertical-sequence.css' | asset_url | stylesheet_tag }}

<section class='vertical-sequence'>
    
    {%- for block in section.blocks -%}

        {%- capture row_cycle -%}
            {%- cycle 'odd', 'even' -%}
        {%- endcapture -%}

        <article class='step-container' index='{{ row_cycle }}' data-animate>
            
            <div class='step-image'>
            
                <img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 2800 -%}{{ block.settings.image | img_url: '2800x' }} 2800w{%- endif -%}"
                sizes="100vw"
                src="{{ block.settings.image | img_url: '750x' }}"
                loading="lazy"
                alt="{{ block.settings.image.alt | escape }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                >
            
            </div>

            <div class='step-index'>
                <div class='step-align'>
                    <h5 class='h5 step-indicator' index='{{ forloop.index }}'>{{ forloop.index }}</h5>
                </div>
            </div>

            <div class='step-content'>
                <div class='step-align type-spacing'>
                    <h5 class='h5'>{{ block.settings.title }}</h5>
                    <div class='body-tall text-subdued'>{{ block.settings.body }}</div>
                    {%- unless block.settings.first_url_label == blank -%}
                    <div class='step-ctas'>
                        <a class="button--tertiary cr-blue" href='{{ block.settings.first_url }}'>
													{{ block.settings.first_url_label }}
                        </a>

                        {%- unless block.settings.second_url_label == blank -%}
													<a class="button--tertiary cr-blue" href='{{ block.settings.second_url }}'>
														{{ block.settings.second_url_label }}
													</a>
                        {%- endunless -%}
                    </div>
                    {%- endunless -%}
                </div>
            </div>
        
        </article>

        <script>
            
            document.addEventListener('scroll', function () {

                const messageText = isInViewport(document.querySelector('.step-indicator[index="{{ forloop.index }}"]')) ? 
                document.querySelector('.step-indicator[index="{{ forloop.index }}"]').setAttribute('highlight', 'true') : 
                document.querySelector('.step-indicator[index="{{ forloop.index }}"]').setAttribute('highlight', 'false');
            
            }, {
                passive: true
            });

        </script>
    
    {%- endfor -%}

</section>

<script>

function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}

</script>

{% schema %}
{
  "name": "Vertical Sequence",
  "class": "spaced-section",
  "settings": [],
  "blocks": [
    {
        "type": "step",
        "name": "Step",
        "limit": 9,
        "settings": [
          {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Headline"
          },
          {
              "type": "richtext",
              "id": "body",
              "label": "Body"
          },
          {
            "type": "header",
            "content": "CTAs"
          },
          {
              "type": "url",
              "id": "first_url",
              "label": "First URL"
          },
          {
              "type": "text",
              "id": "first_url_label",
              "label": "First Label"
          },
          {
            "type": "url",
            "id": "second_url",
            "label": "Second URL"
          },
          {
            "type": "text",
            "id": "second_url_label",
            "label": "Second Label"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Vertical Sequence"
      }
  ] 
}
{% endschema %}