{{ 'section-video-hover-cards.css' | asset_url | stylesheet_tag }}

<section class='video-hover-cards'>
    <div class='vh-intro c'>
        <h2 class='h2'>{{ section.settings.main_headline | escape }}</h2>
        <div class='vh-button-container medium-hide small-hide'>
            <a class='button button--secondary' href='{{ section.settings.main_url }}'>
                {{ section.settings.main_url_label | escape }}
            </a>
        </div>
    </div>

    <div class='vh-mobile large-up-hide c'>
        {%- for block in section.blocks -%}
            <a href='{{ block.settings.url }}' class='vh-mobile-block'>
                {%- if block.settings.background_image != blank -%}
                  <div class='banner__media'>
										<span class="object-fit">
											{% render 'img-srcset-responsive', 
												image: block.settings.background_image,
												image_responsive: block.settings.background_image_mobile,
												max_width: 990,
												breakpoint: 990,
												alt: block.settings.background_image.alt %}
										</span>
                  </div>
                {%- endif -%}

								<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ block.settings.overlay }})"></div>

                <div class='vh-content cr-white'>
                    <h3 class='h3'>{{ block.settings.headline | escape }}</h3>
                </div>
            </a>
        {%- endfor -%}
    </div>

    <div class='vh-mobile-cta large-up-hide'>
        <a class='button button--tertiary' href='{{ section.settings.main_url }}'>
            {{ section.settings.main_url_label | escape }}
        </a>
    </div>

    <div 
			class="vh-card-container medium-hide small-hide" 
			data-flickity-slider="{
			'pageDots': false,
			'prevNextButtons': true,
			'wrapAround': false,
			'imagesLoaded': true,
			'cellAlign': 'left',
			'draggable': true,
			'contain': true
		}">
        {%- for block in section.blocks -%}
            <article class='vh-card f-v' {% comment %}onclick="location.href='{{ block.settings.url }}'"{% endcomment %}>
						<div class="vh-card-interior f-v-middle">
							<div class='banner__media vh-video'>
								{%- if block.settings.video_background != blank -%}
										<video
												loop
												muted
												autoplay
												playsinline
												preload='metadata'
												class='lazy'
												{%- if block.settings.background_image != blank -%}
												poster='{{ block.settings.background_image | img_url: "750x" }}'
												{%- endif -%}>
												<source type='video/mp4'
												data-src='{{ block.settings.video_background }}'>
										</video>   
										<div class='vh-overlay'></div> 
								{%- endif -%}
							</div>
							<div class='vh-image {% if block.settings.video_background != blank %}vh-fade-on-hover{% endif %}'>
								<span class="object-fit">
									{%- if block.settings.background_image != nil -%}
										{% render 'img-srcset-responsive', 
											image: block.settings.background_image,
											image_responsive: block.settings.background_image_mobile,
											max_width: 990,
											breakpoint: 990,
											alt: block.settings.background_image.alt %}
									{%- endif-%}
								</span>
							</div>

							<div class="overlay" style="background-color: rgba(0, 0, 0,0.{{ block.settings.overlay }})"></div>
							<div class='vh-content p-center'>
									<h3 class='h3 upscale'>{{ block.settings.headline | escape }}</h3>
									<a class='button button--tertiary upscale cr-white' href='{{ block.settings.url }}'>
											{{ block.settings.url_label | escape }}
									</a>
							</div>
						</div>
            </article>
        {%- endfor -%}

				<div class="flickity-spacer"></div>
    </div>
</section>

{% schema %}
{
  "name": "Video Hover Cards",
  "class": "spaced-section",
  "settings": [
    {
        "type": "text",
        "id": "main_headline",
        "default": "Headline",
        "label": "Headline"
    },
    {
        "type": "url",
        "id": "main_url",
        "label": "Link URL"
    },
    {
        "type": "text",
        "id": "main_url_label",
        "label": "Link Label"
    }
  ],
  "blocks": [
    {
        "type": "card",
        "name": "Card",
        "limit": 6,
        "settings": [
          {
              "type": "header",
              "content": "Background"
          },
					{
						"type": "range",
						"id": "overlay",
						"min": 0,
						"max": 90,
						"step": 5,
						"default": 0,
						"label": "Overlay"
					},
          {
              "type": "image_picker",
              "id": "background_image",
              "label": "Image"
          },
          {
              "type": "image_picker",
              "id": "background_image_mobile",
              "label": "Image (mobile)"
          },
          {
              "type": "url",
              "id": "video_background",
              "label": "Vimeo URL"
          },
          {
              "type": "header",
              "content": "Content"
          },
          {
              "type": "text",
              "id": "headline",
              "label": "Headline"
          },
          {
              "type": "url",
              "id": "url",
              "label": "Link URL"
          },
          {
              "type": "text",
              "id": "url_label",
              "label": "Link Label"
          }
        ]
    }
  ],
  "presets": [
      {
          "name": "Video Hover Cards"
      }
  ]    
}
{% endschema %}