.about-stitched {
    min-height: calc(100vw / 1.87012987013); padding: 110px 80px 75px 80px;
    background-color: var(--color-brand); color: var(--color-lighter-gray);
    position: relative;
}

.about-stitched h4 {margin: 0}

.stitched-container {
    min-height: calc(100vw / 1.87012987013 - (110px + 75px)); 
    display: flex; justify-content: center; align-items: center;
    border: 1px dashed #41527E; padding: 80px;
}

.stitched-content {text-align: center}

.about-stitched .stitched-button {
    height: 223px; width: 223px; position: absolute;
    top: -48px; left: calc(50vw - (223px / 2));
}

.about-stitched .stitched-button img {
    height: 100%; width: auto;
    object-fit: contain;
}

.about-stitched .body-tall {margin: 20px 0}

@media screen and (max-width: 990px) {
  .about-stitched {padding: 16px}
  .stitched-container {
    min-height: calc(100vw / 1.87012987013 - (16px * 2));
    padding: 110px 32px 50px 32px
  }
  .about-stitched .stitched-button {
    height: 115px; width: 115px;
    top: -40px; left: calc(50vw - (115px / 2))
  }
}