.image-over-text {
	position: relative;
	max-height: 100vh;
	height: calc(var(--s-viewport-height) - (30px + 74px));
	display: flex;
	align-items: center;
	background: linear-gradient(
		180deg,
		rgba(196, 196, 196, 0.3) 0%,
		rgba(196, 196, 196, 0) 100%
	);
}

.image-over-text .heading_xxl {
	color: var(--color-brand);
}

.image-over-text .image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.image-over-text .right_top_text {
	text-align: left;
}
.image-over-text .right_bottom_text {
	text-align: right;
}

@media only screen and (min-width: 990px) {
	.image-over-text {
		height: calc(var(--s-viewport-height) - (30px + 74px));
	}

	.image-over-text .heading_xxl {
		font-size: calc(100vw / 11.0769230769);
	}

	.image-over-text-container {
		height: calc(100vw / 2.50871080139);
		width: 100vw;
		position: relative;
	}

	.image-over-text .left_text-container,
	.image-over-text .right_text-container {
		position: absolute;
		bottom: calc((100vw / 2.50871080139) / 2.22);
	}

	.image-over-text .left_text-container {
		left: calc(100vw / 24);
		text-align: right;
	}

	.image-over-text .right_text-container {
		width: calc(100vw / 2.80701754386);
		right: calc(100vw / 21.1764705882);
	}

	.image-over-text .image-container {
		height: calc(100vw / 2.50871080139);
		width: calc(100vw / 1.37273593899);
		position: absolute;
		left: calc(100vw / 6.60550458716);
		bottom: 0;
	}

	.image-over-text-container * {
		transition: transform ease-in-out 2s;
	}

	.image-over-text-container:hover .image-container {
		transform: scale(80%);
	}

	.image-over-text-container:hover .left_text-container,
	.image-over-text-container:hover .right_text-container {
		transform: scale(110%);
	}
}

@media only screen and (max-width: 990px) {
	.image-over-text {
		height: calc(var(--s-viewport-height) - (30px + 72px));
	}

	.image-over-text .heading_xxl {
		font-size: calc(100vw / 7.8125);
	}

	.image-over-text .left_text-container,
	.image-over-text .right_text-container {
		width: calc(100vw / 1.8);
	}

	.image-over-text .left_text-container {
		text-align: right;
		margin: 0 auto calc(100vw / 15) auto;
	}

	.image-over-text .right_text-container {
		margin: 0 auto -30px;
	}

	.image-over-text .right_text-container h1:nth-child(2) {
		padding-right: 15px;
	}

	.image-over-text .image-container {
		width: 100vw;
		height: calc(100vw / 1.5625);
	}
}

.image-over-text .banner-scroll svg {
	color: var(--cr-blue);
}
