.about-header-and-text {
    width: 85%; max-width: 760px;
    margin: 40px auto 50px auto;
    text-align: center;
}

.about-header-and-text .h5 {margin: 0 0 20px 0}

.about-header-and-text p {
    width: 90%; max-width: 420px;
    margin: 0 auto;
}