.account {
	display: block;
	padding: 3.4rem 1.6rem;
}

@media (min-width: 750px) {
	.account {
		display: flex;
		padding: 6rem;
		column-gap: 15rem;
	}
}

.account__sidebar {
	display: none;
}

@media (min-width: 750px) {
	.account__sidebar {
		display: block;
		margin-top: 6rem;
	}
}

.account__subtitle {
	margin-bottom: 3rem;
	margin-top: 0;
}

.account__sidebar-link {
	margin-bottom: 2rem;
}

.account__sidebar-link a {
	color: var(--color-subdued);
	text-decoration: none;
}

.account__sidebar-link--active a {
	color: var(--color-ink);
}

.account__sidebar-links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.account__details {
	margin-top: 6rem;
}

.account__details--desktop {
	display: none;
}

.account__details--mobile {
	display: block;
}

@media (min-width: 750px) {
	.account__details--desktop {
		display: block;
	}

	.account__details--mobile {
		display: none;
	}
}

.account__addresses {
	color: var(--color-subdued);
}

@media (max-width: 750px) {
	.account__addresses p {
		font-size: 14px;
		line-height: 1.43;
	}
}

.account__content {
	flex: 1;
}

.account__content-title {
	margin-top: 0;
}

.account__no-order-message {
	color: var(--color-subdued);
	margin-top: 3rem;
}

.account__address-cta {
	color: var(--color-ink);
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color-ink);
}

.account__add-new-address-cta {
	background: var(--color-white);
	border: 1px solid var(--cr-black);
	padding: 1.8rem 4.15rem;
	color: var(--color-black);
	margin-top: 4rem;
	cursor: pointer;
}

.account__add-new-address-cta--desktop {
	width: auto;
	display: none;
}

.account__add-new-address-cta--mobile {
	width: 100%;
	display: block;
}

@media (min-width: 750px) {
	.account__add-new-address-cta--desktop {
		display: block;
	}

	.account__add-new-address-cta--mobile {
		display: none;
	}
}

/* Address Dialog */
.address-dialog-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(37, 37, 37, 0.4);
	opacity: 0;
	transition: 0.3s;
	z-index: -1;
}

.address-dialog-container.open {
	opacity: 1;
	z-index: 1001;
}

.address-dialog {
	padding: 0;
	width: 100%;
	background: var(--color-white);
	position: relative;
}

@media (min-width: 750px) {
	.address-dialog {
		width: 54rem;
		padding: 6rem;
	}
}

.address-dialog__title {
	margin-top: 0;
	margin-bottom: 3rem;
	color: var(--color-eclipse);
}

@media (max-width: 750px) {
	.address-dialog__title {
		font-size: 18px;
	}
}

.account-field input {
	padding-left: 0 !important;
	border-bottom: 1px solid var(--color-faded);
}

.account-field label {
	position: absolute;
	left: 0;
	letter-spacing: 0;
	font: var(--t-b-2);
	color: var(--color-subdued);
}

.account-dialog__row {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.account-dialog__row > * {
	flex: 1;
}

@media screen and (max-width: 750px) {
	.account-dialog__row {
		flex-direction: column;
	}
}

.address-dialog form {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.account-dialog__country-select,
.account-dialog__province-select {
	width: 100%;
	height: 45px;
	font-size: 14px;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid var(--cr-gray-2);
	background: url(../assets/svg-caret-down-black.svg) right center/10px
		no-repeat;
	padding: 1.6rem 0 1.3rem;
}

.address-dialog__submit-button {
	width: 100%;
	padding: 1.8rem;
	background: var(--color-ink);
	color: var(--color-white);
	border: none;
	cursor: pointer;
}

.address-dialog__close-button {
	background: transparent;
	border: none;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
	display: none;
}

@media (min-width: 750px) {
	.address-dialog__close-button {
		display: block;
	}
}

.account__address-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.account__address-card {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
	border: 1px solid var(--color-greyscale);
	width: 100%;
}

@media (min-width: 750px) {
	.account__address-card {
		width: 20rem;
	}
}

.account__remove-address-button {
	border: none;
	background: transparent;
	text-align: right;
	cursor: pointer;
}

.account__remove-address-button svg {
	width: 1.3rem;
	height: 1.3rem;
}

.account__edit-address-button {
	border: none;
	background: transparent;
	padding: 0 0 5px 0;
	border-bottom: 2px solid var(--color-ink);
	color: var(--color-ink);
	width: fit-content;
	cursor: pointer;
}

.account__edit-address-button--desktop {
	display: none;
}

.account__edit-address-button--mobile {
	display: block;
}

@media (min-width: 750px) {
	.account__edit-address-button--desktop {
		display: block;
	}

	.account__edit-address-button--mobile {
		display: none;
	}
}

.account__address-card p {
	margin: 0;
}

.account__address-card-content {
	color: var(--color-subdued);
}

.account__address-card.default {
	background: var(--color-card-bg);
	border-color: var(--color-card-bg);
}

.account__address-card.default .account__address-card-content {
	color: var(--color-ink);
}

.account__address-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div[id^='EditAddress_'] {
	display: none;
}

#AddAddress {
	display: none;
}

.address-delete-form {
	text-align: right;
}

/* Order History Table */
.order-history {
	display: none;
}

@media (min-width: 750px) {
	.order-history {
		display: table;
		width: 100%;
		margin: var(--s-3) 0 0;
		border-collapse: collapse;
	}
}

.order-history thead tr th {
	border-bottom: 1px solid var(--color-ink);
}

.order-history tbody tr:nth-child(odd) {
	background-color: var(--color-card-bg);
}

.order-history tbody tr td {
	padding: 15px 0;
	text-align: center;
}

.order-number-col {
	color: var(--color-ink);
	text-decoration: none;
}

/* Order Details Page */
.account__details-link {
	color: var(--color-ink);
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color-ink);
}

@media (min-width: 750px) {
	.account__details-billing-address {
		margin: 4rem 0;
	}
}

.account__details-billing-address h4 {
	margin-bottom: 3rem;
}

.account__details-payment-status {
	margin-top: 3rem;
}

.account__details-shipping-address {
	margin-bottom: 2.6rem;
}

.account__order-header {
	display: flex;
	column-gap: 5rem;
	margin-bottom: 1.6rem;
}

@media (max-width: 750px) {
	.account__order-header .body-medium {
		display: none;
	}
}

.order-details__product-column {
	display: flex;
	align-items: center;
}

.order-details__product-column .item-image {
	position: relative;
	width: 125px;
	margin: 0 var(--s-3) 0 0;
}

.order-details__product-column .item-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.order-details__product-column .order-details__product-title {
	flex: 1;
	padding-right: var(--s-3);
}

.order-details__product-title {
	text-decoration: none;
	color: var(--color-ink);
}

.cart-discount svg {
	width: 12px;
	height: 12px;
}

.order-details {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	display: none;
}

@media (min-width: 750px) {
	.order-details {
		display: table;
	}
}

.order-details thead tr th {
	padding: 0.5rem;
	font-weight: 500;
	border-bottom: 1px solid var(--color-faded);
	text-align: left;
}

.order-details td {
	padding: 1rem 0;
}

.order-details footer {
	color: var(--color-subdued);
}

.order-details__total-row {
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid var(--color-faded);
	color: var(--color-ink);
}

.account__nav-select {
	width: 100%;
	padding: 1.6rem 0 1.3rem;
	border: none;
	padding-right: 18px;
	font-size: 14px;
	background: url(../assets/svg-caret-down-black.svg) right 0 center/10px
		no-repeat;
	color: var(--cr-gray-1);
	border-bottom: 1px solid var(--cr-subdued);
	margin-bottom: 2.8rem;
}

@media (min-width: 750px) {
	.account__nav-select {
		display: none;
	}
}

.mobile-order-list {
	display: block;
}

@media (min-width: 750px) {
	.mobile-order-list {
		display: none;
	}
}

.mobile-order-item {
	margin-bottom: 2rem;
}

.mobile-order-item__header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-blue-gray);
}

.mobile-order-item__content {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
}

.mobile-order-item__cta {
	color: var(--color-ink);
	margin-top: 2rem;
	display: block;
}

.mobile-order-item__content-col .utility-thin {
	margin-bottom: 0.7rem;
}

@media (max-width: 750px) {
	.account__content-title--address {
		font-size: 18px;
	}
}

.account__back-button {
	font-size: 14px;
	line-height: 20px;
	color: var(--color-ink);
	text-decoration: none;
	margin-bottom: 2rem;
	display: block;
}

@media (min-width: 750px) {
	.account__back-button {
		display: none;
	}
}

.mobile-order-details {
	display: block;
}

@media (min-width: 750px) {
	.mobile-order-details {
		display: none;
	}
}

.mobile-order-details__header {
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-blue-gray);
	margin-bottom: 1.5rem;
}

.mobile-order-details__item {
	margin-bottom: 1.5rem;
	display: flex;
}

.mobile-order-details__summary-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.8rem;
}

.mobile-order-details__summary-total {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
	padding-top: 1.5rem;
	border-top: 1px solid var(--color-faded);
}

.account_details__address-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0.9rem;
}

.account__details--mobile .account__details-payment-status {
	font-size: 12px;
	color: var(--color-subdued);
	text-transform: uppercase;
	margin-top: 2rem;
	display: block;
}

.account__details-track-shipping {
	margin-top: 2.6rem;
	width: 100%;
	display: block;
	text-align: center;
	border: 1px solid var(--color-ink);
	padding: 1.5rem;
	font-weight: bold;
	color: var(--color-ink);
	text-decoration: none;
}
