/* Color custom properties */

:root,
.color-background-1 {
	--color-foreground: var(--color-ink);
	--color-background: var(--color-white);
}

.color-background-2 {
	--color-background: var(--color-gray);
}

.color-inverse {
	--color-foreground: var(--color-white);
	--color-background: var(--color-brand);
}

.color-brand-outline {
	--color-foreground: var(--color-brand);
	--color-background: var(--color-white);
}

.color-reverse {
	--color-foreground: var(--color-white);
	--color-background: var(--color-ink);
}

.color-cream {
	--color-foreground: var(--color-ink);
	--color-background: var(--color-cream);
}

.color-light-contrast {
	--color-foreground: var(--color-ink);
	--color-background: var(--color-lighter-gray);
}

.color--highlight {
	color: var(--color-highlight);
}

:root,
.color-background-1 {
	--color-link: var(--color-highlight);
}

.color-background-2,
.color-inverse,
.color-brand-outline,
.color-accent-1,
.color-accent-2 {
	--color-link: var(--color-foreground);
}

.color-cream {
	--color-link: var(--color-subdued);
}

.color-light-contrast {
	--color-link: var(--color-brand);
}

/* base */

.no-js:not(html) {
	display: none !important;
}

html.no-js .no-js:not(html) {
	display: block !important;
}

.no-js-inline {
	display: none !important;
}

html.no-js .no-js-inline {
	display: inline-block !important;
}

html.no-js .no-js-hidden {
	display: none !important;
}

.page-width {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.page-width-desktop {
	padding: 0;
	margin: 0 auto;
}

@media screen and (min-width: 750px) {
	.page-width {
		padding: 0 5rem;
	}

	.page-width--narrow {
		padding: 0 9rem;
	}

	.page-width-desktop {
		padding: 0;
	}
}

@media screen and (min-width: 990px) {
	.page-width--narrow {
		max-width: 72.6rem;
		padding: 0;
	}

	.page-width-desktop {
		max-width: 120rem;
		padding: 0 5rem;
	}
}

.element-margin {
	margin-top: 5rem;
}

.spaced-section {
	margin-top: 5rem;
}

.spaced-section:last-child {
	margin-bottom: 5rem;
}

.spaced-section--full-width + .spaced-section--full-width {
	margin-top: 0;
}

.spaced-section--full-width:first-child {
	margin-top: 0;
}

.spaced-section--full-width:last-child {
	margin-bottom: 0;
}

body,
.color-background-1,
.color-background-2,
.color-inverse,
.color-brand-outline,
.color-accent-1,
.color-accent-2,
.color-cream,
.color-light-contrast {
	color: var(--color-foreground);
	background-color: var(--color-background);
}

.background-secondary {
	background-color: var(--color-foreground);
	padding: 4rem 0 5rem;
}

@media screen and (min-width: 750px) {
	.background-secondary {
		padding: 6rem 0 5rem;
	}
}

.grid-auto-flow {
	display: grid;
	grid-auto-flow: column;
}

.page-margin,
.shopify-challenge__container {
	margin: 7rem auto;
}

.rte-width {
	max-width: 82rem;
	margin: 0 auto 2rem;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	word-wrap: normal !important;
}

.visually-hidden--inline {
	margin: 0;
	height: 1em;
}

.overflow-hidden {
	overflow: hidden;
}

.skip-to-content-link:focus {
	z-index: 9999;
	position: inherit;
	overflow: auto;
	width: auto;
	height: auto;
	clip: auto;
}

.full-width-link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

/* DIN Condensed Fonts */

.heading_xxl,
.heading_xl,
.h0,
h1:not(.h5),
.h1,
h2,
.h2,
h4,
.h4 {
	text-transform: uppercase;
	font-family: var(--font-heading-family);
	font-style: var(--font-heading-style);
	font-weight: var(--font-heading-weight);
	letter-spacing: 0px;
	line-height: 1;
}

.heading_xxl {
	font-size: 160px;
}

@media only screen and (max-width: 750px) {
	.heading_xxl {
		font-size: 96px;
	}
}

.heading_xl,
.h0 {
	font-size: 96px;
}

@media only screen and (max-width: 750px) {
	.heading_xl,
	.h0 {
		font-size: 64px;
	}
}

h1,
.h1 {
	font-size: 64px;
}

@media only screen and (min-width: 2000px) {
	h1,
	.h1 {
		font-size: 96px;
	}
}

@media only screen and (max-width: 750px) {
	h1,
	.h1 {
		font-size: 48px;
	}
}

h2,
.h2 {
	font-size: 32px;
}

h4,
.h4 {
	font-size: 22px;
}

@media only screen and (max-width: 750px) {
	h4,
	.h4 {
		font-size: 18px;
	}
}

/* Helvetica Neue Fonts */

h3,
.h3 {
	font-size: 22px;
	font-weight: 400;
}

.h3.no-mobile {
	line-height: 1.5;
	padding: 8px 0;
}

@media only screen and (min-width: 2000px) {
	h3,
	.h3.upscale {
		font-size: 36px;
		line-height: 1.2;
	}
}

@media only screen and (max-width: 750px) {
	h3,
	.h3:not('.no-mobile') {
		font-size: 18px;
		line-height: 1.25;
	}
}

h5,
.h5 {
	font-size: 36px;
	font-weight: 500;
	line-height: 1;
}

@media only screen and (max-width: 750px) {
	h5,
	.h5 {
		font-size: 24px;
	}
}

h6,
.h6 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.56;
}

.utility {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
}

.utility-thin {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.2;
}

.body-large {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.44;
}

.body-tall {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.body-medium {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
}

.body-small {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.43;
}

blockquote {
	font-style: italic;
	color: rgba(var(--color-foreground), 0.75);
	border-left: 0.2rem solid rgba(var(--color-foreground), 0.2);
	padding-left: 1rem;
}

@media screen and (min-width: 750px) {
	blockquote {
		padding-left: 1.5rem;
	}
}

.caption {
	font-size: 1rem;
	letter-spacing: 0.07rem;
	line-height: 1.7;
}

@media screen and (min-width: 750px) {
	.caption {
		font-size: 1.2rem;
	}
}

.caption-with-letter-spacing {
	font-size: 1rem;
	letter-spacing: 0.13rem;
	line-height: 1.2;
	text-transform: uppercase;
}

.caption-large,
.account-field input,
.customer select,
.field__input,
.form__label {
	font-size: 1.3rem;
	line-height: 1.5;
	letter-spacing: 0.04rem;
}

.zero-margin {
	margin: 0;
}

.margin-top--60px {
	margin-top: 60px;
}

.margin-top--45px {
	margin-top: 45px;
}

.margin-top--30px {
	margin-top: 30px;
}

/* End Fonts */

.color-foreground {
	color: rgb(var(--color-foreground));
}

table:not([class]) {
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 1.4rem;
	border-style: hidden;
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
	/* draws the table border  */
}

table:not([class]) td,
table:not([class]) th {
	padding: 1em;
	border: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

@media screen and (max-width: 749px) {
	.small-hide {
		display: none;
	}
}

.hidden {
	display: none !important;
}

@media screen and (max-width: 749px) {
	.small-hide {
		display: none !important;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.medium-hide {
		display: none !important;
	}
}

@media screen and (min-width: 990px) {
	.large-up-hide {
		display: none !important;
	}
}

@media screen and (min-width: 750px) {
	.small-up-hide {
		display: none !important;
	}
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.light {
	opacity: 0.7;
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
	display: none;
}

.link,
.customer a {
	cursor: pointer;
	display: inline-block;
	border: none;
	box-shadow: none;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
	color: rgb(var(--color-link));
	background-color: transparent;
}

.link--text {
	color: var(--color-foreground);
}

.link--text:hover {
	color: var(--color-foreground);
}

.link-with-icon {
	display: inline-flex;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-decoration: none;
	margin-bottom: 4.5rem;
	white-space: nowrap;
}

.link-with-icon .icon {
	width: 1.5rem;
	margin-left: 1rem;
}

.circle-divider::after {
	content: '\2022';
	margin: 0 1.3rem 0 1.5rem;
}

.circle-divider:last-of-type::after {
	display: none;
}

hr {
	border: none;
	height: 0.1rem;
	background-color: rgba(var(--color-foreground), 0.2);
	display: block;
	margin: 5rem 0;
}

@media screen and (min-width: 750px) {
	hr {
		margin: 7rem 0;
	}
}

.full-unstyled-link {
	text-decoration: none;
	color: currentColor;
	display: block;
}

.placeholder {
	background-color: rgba(var(--color-foreground), 0.04);
	color: rgba(var(--color-foreground), 0.55);
	fill: rgba(var(--color-foreground), 0.55);
}

details > * {
	box-sizing: border-box;
}

.break {
	word-break: break-word;
}

.visibility-hidden {
	visibility: hidden;
}

@media (prefers-reduced-motion) {
	.motion-reduce {
		transition: none !important;
	}
}

:root {
	--duration-short: 100ms;
	--duration-default: 200ms;
	--duration-long: 500ms;
}

.underlined-link {
	color: rgba(var(--color-link), var(--alpha-link));
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.1rem;
	transition: text-decoration-thickness ease 100ms;
}

.underlined-link:hover {
	color: rgb(var(--color-link));
	text-decoration-thickness: 0.2rem;
}

/* base-details-summary */
summary {
	cursor: pointer;
	list-style: none;
	position: relative;
}

summary .icon-caret {
	position: absolute;
	height: 0.6rem;
	right: 1.5rem;
	top: calc(50% - 0.35rem);
}

summary::-webkit-details-marker {
	display: none;
}

.disclosure-has-popup {
	position: relative;
}

.disclosure-has-popup[open] > summary::before {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: block;
	cursor: default;
	content: ' ';
	background: transparent;
}

.disclosure-has-popup > summary::before {
	display: none;
}

.disclosure-has-popup[open] > summary + * {
	z-index: 100;
}

/* base-focus */
/*
  Focus ring - default (with offset)
*/

*:focus-visible {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 0.3rem;
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
*:focus {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: 0.3rem;
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
*:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

/*
  Focus ring - inset
*/

.focus-inset:focus-visible {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: -0.2rem;
	box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

/* Fallback */
.focus-inset:focus {
	outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
	outline-offset: -0.2rem;
	box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3);
}

.focus-inset:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: none;
}

/*
  Focus ring - none
*/

/* Dangerous for a11y - Use with care */
.focus-none {
	box-shadow: none !important;
	outline: 0 !important;
}

/* component-title */
.title,
.title-wrapper-with-link {
	margin: 3rem 0 2rem;
}

.title-wrapper-with-link .title {
	margin: 0;
}

.title-wrapper {
	margin-bottom: 3rem;
}

.title-wrapper-with-link {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 1rem;
	margin: 4rem 0 3rem;
	flex-wrap: wrap;
}

.title--primary {
	margin: 4rem 0;
}

.title-wrapper--self-padded-tablet-down,
.title-wrapper--self-padded-mobile {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media screen and (min-width: 750px) {
	.title-wrapper--self-padded-mobile {
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (min-width: 990px) {
	.title,
	.title-wrapper-with-link {
		margin: 5rem 0 3rem;
	}

	.title--primary {
		margin: 2rem 0;
	}

	.title-wrapper-with-link {
		align-items: center;
	}

	.title-wrapper-with-link .title {
		margin-bottom: 0;
	}

	.title-wrapper--self-padded-tablet-down {
		padding-left: 0;
		padding-right: 0;
	}
}

.title-wrapper-with-link .link-with-icon {
	margin: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.title-wrapper-with-link .link-with-icon svg {
	width: 1.5rem;
}

.title-wrapper-with-link a {
	color: rgb(var(--color-link));
	margin-top: 0;
	flex-shrink: 0;
}

@media screen and (min-width: 990px) {
	.title-wrapper-with-link.title-wrapper-with-link--no-heading {
		display: none;
	}
}

.subtitle {
	font-size: 1.8rem;
	line-height: 1.8;
	letter-spacing: 0.05rem;
	color: rgba(var(--color-foreground), 0.7);
}

/* component-grid */
.grid {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	margin-left: -0.5rem;
	padding: 0;
	list-style: none;
}

@media screen and (min-width: 750px) {
	.grid {
		margin-left: -1rem;
	}
}

.grid__item {
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
	width: calc(25% - 0.5rem * 3 / 4);
	max-width: 50%;
	flex-grow: 1;
	flex-shrink: 0;
}

@media screen and (min-width: 750px) {
	.grid__item {
		padding-left: 1rem;
		padding-bottom: 1rem;
		width: calc(25% - 1rem * 3 / 4);
		max-width: 50%;
	}
}

.grid--gapless .grid__item {
	padding-left: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 749px) {
	.grid__item.slider__slide--full-width {
		width: 100%;
		max-width: none;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.grid--one-third-max.grid--3-col-tablet .grid__item {
		max-width: 33.33%;
	}
}

@media screen and (min-width: 990px) {
	.grid--quarter-max.grid--4-col-desktop .grid__item {
		max-width: 25%;
	}
}

.grid--1-col .grid__item {
	max-width: 100%;
	width: 100%;
}

.grid--3-col .grid__item {
	width: calc(33.33% - 0.5rem * 2 / 3);
}

@media screen and (min-width: 750px) {
	.grid--3-col .grid__item {
		width: calc(33.33% - 1rem * 2 / 3);
	}
}

.grid--2-col .grid__item {
	width: calc(50% - 0.5rem / 2);
}

@media screen and (min-width: 750px) {
	.grid--2-col .grid__item {
		width: calc(50% - 1rem / 2);
	}

	.grid--4-col-tablet .grid__item {
		width: calc(25% - 1rem * 3 / 4);
	}

	.grid--3-col-tablet .grid__item {
		width: calc(33.33% - 1rem * 2 / 3);
	}

	.grid--2-col-tablet .grid__item {
		width: calc(50% - 1rem / 2);
	}
}

@media screen and (min-width: 990px) {
	.grid--4-col-desktop .grid__item {
		width: calc(25% - 1rem * 3 / 4);
	}

	.grid--3-col-desktop .grid__item {
		width: calc(33.33% - 1rem * 2 / 3);
	}

	.grid--2-col-desktop .grid__item {
		width: calc(50% - 1rem / 2);
	}
}

.grid__item--vertical-align {
	align-self: center;
}

.grid__item--full-width {
	flex: 0 0 100%;
	max-width: 100%;
}

@media screen and (max-width: 749px) {
	.grid--peek.slider--mobile {
		margin: 0;
		width: 100%;
	}

	.grid--peek.slider--mobile .grid__item {
		box-sizing: content-box;
		margin: 0;
	}

	.grid--peek .grid__item {
		width: calc(50% - 3.75rem / 2);
	}

	.grid--peek .grid__item:first-of-type {
		padding-left: 1.5rem;
	}

	.grid--peek .grid__item:last-of-type {
		padding-right: 1.5rem;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.slider--tablet.grid--peek .grid__item {
		width: calc(25% - 4rem * 3 / 4);
	}

	.slider--tablet.grid--peek.grid--3-col-tablet .grid__item {
		width: calc(33.33% - 4rem * 2 / 3);
	}

	.slider--tablet.grid--peek.grid--2-col-tablet .grid__item {
		width: calc(50% - 4rem / 2);
	}

	.slider--tablet.grid--peek .grid__item:first-of-type {
		padding-left: 1.5rem;
	}

	.slider--tablet.grid--peek .grid__item:last-of-type {
		padding-right: 1.5rem;
	}
}

@media screen and (max-width: 989px) {
	.slider--tablet.grid--peek {
		margin: 0;
		width: 100%;
	}

	.slider--tablet.grid--peek .grid__item {
		box-sizing: content-box;
		margin: 0;
	}
}

/* component-media */
.media {
	display: block;
	background-color: rgba(var(--color-foreground), 0.1);
	position: relative;
	overflow: hidden;
}

.media--transparent {
	background-color: transparent;
}

.media > *:not(.zoom, .deferred-media__poster-button, .motion-reduce),
.media model-viewer {
	display: block;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.media > img {
	object-fit: cover;
	object-position: center center;
	transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.media--square {
	padding-bottom: 100%;
}

.media--portrait {
	padding-bottom: 125%;
}

.media--landscape {
	padding-bottom: 66.6%;
}

.media--cropped {
	padding-bottom: 56%;
}

.media--16-9 {
	padding-bottom: 56.25%;
}

.media--circle {
	padding-bottom: 100%;
	border-radius: 50%;
}

.media.media--hover-effect > img + img {
	opacity: 0;
}

@media screen and (min-width: 990px) {
	.media--cropped {
		padding-bottom: 63%;
	}
}

deferred-media {
	display: block;
}

/* component-button */
/* Button - default */

.button,
.btn,
.shopify-challenge__button,
.customer button {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font: inherit;
	padding: 0.9rem 3rem 1.1rem;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	background-color: rgba(var(--color-button), var(--alpha-button-background));
	box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
	color: rgb(var(--color-button-text));
	min-width: 12rem;
	min-height: 4.5rem;
	transition: box-shadow var(--duration-short) ease;
	-webkit-appearance: none;
	appearance: none;
}

.button:focus-visible {
	box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
		0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button:focus {
	box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
		0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button,
.button-label,
.shopify-challenge__button,
.customer button {
	font-size: 1.5rem;
	line-height: 1.2;
}

.button--tertiary {
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	min-width: 9rem;
	min-height: 3.5rem;
}

.button--small {
	padding: 1.2rem 2.6rem;
}

/* Button - hover */

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
	box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

/* Button - other */

.button:disabled,
.button[aria-disabled='true'],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled='true'],
.customer button.disabled,
.button.is-disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.button--full-width {
	display: flex;
	width: 100%;
}

.button.loading {
	color: transparent;
}

.button.loading:after {
	animation: loading var(--duration-long) infinite linear;
	border: 0.5rem solid rgba(var(--color-button-text), 0.4);
	border-left: 0.5rem solid rgb(var(--color-button-text));
	border-radius: 100%;
	box-sizing: content-box;
	content: '';
	display: block;
	height: 2rem;
	position: absolute;
	width: 2rem;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Button - social share */

.share-button {
	display: block;
	position: relative;
}

.share-button__button .icon-share {
	margin-right: 1rem;
}

.share-button__fallback {
	border: 0.1rem solid rgba(var(--color-foreground), 0.1);
	background: rgb(var(--color-background));
	padding: 2rem;
	position: absolute;
	top: 4rem;
	left: -0.1rem;
	z-index: 3;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.share-button__fallback .button {
	margin-top: 1rem;
}

.share-button__fallback .icon-clipboard {
	height: 1.4rem;
	width: 1.8rem;
}

.share-button__message:not(:empty) {
	font-size: 1.2rem;
	text-align: right;
	display: block;
	margin-top: 0.5rem;
}

/* component-form */
.field__input,
.account-field input,
.customer .field input,
.customer select {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: rgb(var(--color-foreground));
	font-size: 1.6rem;
	width: 100%;
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55);
	height: 4.5rem;
	box-sizing: border-box;
	transition: box-shadow var(--duration-short) ease;
}

.select__select {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: rgb(var(--color-foreground));
	width: 100%;
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55);
	/* height: 4.5rem; */
	box-sizing: border-box;
	transition: box-shadow var(--duration-short) ease;
	cursor: pointer;
}

/* .select__select {
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
} */

.field__input:hover,
.select__select:hover,
.account-field input:hover,
.customer select:hover,
.localization-form__select:hover {
	box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground), 0.55);
}

.field__input:focus-visible,
.select__select:focus-visible,
.field input:focus-visible {
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55),
		0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.field__input:focus,
.select__select:focus,
.field input:focus {
	box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55),
		0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.text-area,
.select {
	display: inline-block;
	position: relative;
	width: 100%;
}

/* Select */

.select .icon-caret,
.customer select + svg {
	height: 0.6rem;
	pointer-events: none;
	position: absolute;
	top: calc(50% - 0.35rem);
	right: 1.5rem;
}

.customer select {
	cursor: pointer;
	padding: 0 4rem 0 1.5rem;
}

/* Field */

.account-field {
	position: relative;
	width: 100%;
	display: flex;
}

.account-field {
	display: block;
}

.field--with-error {
	flex-wrap: wrap;
}

.field__input,
.account-field input {
	flex-grow: 1;
	text-align: left;
	padding: 1.5rem;
}

.field__label,
.account-field label {
	font-size: 1.6rem;
	left: 1.5rem;
	top: 1.5rem;
	margin-bottom: 0;
	pointer-events: none;
	transition: top var(--duration-short) ease,
		font-size var(--duration-short) ease;
	color: rgba(var(--color-foreground), 0.75);
	letter-spacing: 0.1rem;
	line-height: 1.5;
}

.field__input:focus ~ .field__label,
.field__input:not(:placeholder-shown) ~ .field__label,
.field__input:-webkit-autofill ~ .field__label,
.account-field input:not(:placeholder-shown) ~ label,
.account-field input:-webkit-autofill ~ label {
	font-size: 1rem;
	top: 0.3em;
	letter-spacing: 0.04rem;
	text-transform: uppercase;
}

.field__input:focus,
.field__input:not(:placeholder-shown),
.field__input:-webkit-autofill,
.account-field input:focus,
.account-field input:not(:placeholder-shown),
.account-field input:-webkit-autofill {
	padding: 2.2rem 1.5rem 0.8rem;
	border-color: var(--color-subdued);
}

.field__input::-webkit-search-cancel-button,
.account-field input::-webkit-search-cancel-button {
	display: none;
}

.field__input::placeholder,
.account-field input::placeholder {
	opacity: 0;
}

.field__button {
	align-items: center;
	background-color: transparent;
	border: 0;
	color: currentColor;
	cursor: pointer;
	display: flex;
	height: 4.4rem;
	justify-content: center;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 4.4rem;
}

.field__button > svg {
	height: 2.5rem;
	width: 2.5rem;
}

/* Text area */

.text-area {
	font-family: var(--font-body-family);
	font-style: var(--font-body-style);
	font-weight: var(--font-body-weight);
	padding: 1.2rem;
	min-height: 10rem;
	resize: none;
}

.text-area--resize-vertical {
	resize: vertical;
}

/* Custom Checkbox */

input[type='checkbox'] {
	vertical-align: top;
	margin-right: 10px;
	display: none;
}

input[type='checkbox'] + label {
	padding-left: 26px;
	cursor: pointer;
	margin-bottom: 9px;
	position: relative;
	font: var(--t-b-2);
}

input[type='checkbox'] + label:before {
	position: absolute;
	content: '';
	top: -2px;
	left: 0;
	width: 2rem;
	height: 2rem;
	background: var(--color-white);
	border: 1px solid var(--color-ink);
}

input[type='checkbox'] + label:after {
	content: '';
	width: 11px;
	height: 6px;
	position: absolute;
	top: 3px;
	left: 4px;
	border: 1px solid var(--color-white);
	border-top: none;
	border-right: none;
	background: rgba(255, 255, 255, 0);
	transform: rotate(-45deg);
	transition: all 0.1s;
}

input[type='checkbox']:not(:checked) + label:after {
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';
	filter: alpha(opacity=0);
	transform: scale(0) rotate(-45deg);
}

input[type='checkbox']:checked + label:after {
	opacity: 1;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
	filter: alpha(opacity=100);
	transform: scale(1) rotate(-45deg);
}

input[type='checkbox']:checked + label:before {
	background: var(--color-ink);
}

/* Form global */

.form__label {
	display: block;
	margin-bottom: 0.6rem;
}

.form__message {
	align-items: center;
	display: flex;
	font-size: 1.4rem;
	line-height: 1;
	margin-top: 1rem;
}

.form__message--large {
	font-size: 1.6rem;
}

.account-field .form__message {
	font-size: 1.4rem;
	text-align: left;
}

.form__message .icon,
.customer .form__message svg {
	flex-shrink: 0;
	height: 1.3rem;
	margin-right: 0.5rem;
	width: 1.3rem;
}

.form__message--large .icon,
.customer .form__message svg {
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 1rem;
}

.account-field .form__message svg {
	align-self: start;
}

.form-status {
	margin: 0;
	font-size: 1.6rem;
}

.form-status-list {
	padding: 0;
	margin: 2rem 0 4rem;
}

.form-status-list li {
	list-style-position: inside;
}

.form-status-list .link::first-letter {
	text-transform: capitalize;
}

/* component-quantity */
.quantity {
	border: 0.1rem solid rgba(var(--color-foreground), 0.55);
	position: relative;
	width: 14rem;
	display: flex;
}

.quantity__input {
	color: currentColor;
	font-size: 1.4rem;
	font-weight: 500;
	opacity: 0.85;
	text-align: center;
	background-color: transparent;
	border: 0;
	padding: 0 0.5rem;
	height: 4.5rem;
	width: 100%;
	flex-grow: 1;
	-webkit-appearance: none;
	appearance: none;
}

.quantity__button {
	width: 4.5rem;
	flex-shrink: 0;
	font-size: 1.8rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(var(--color-foreground));
}

.quantity__button svg {
	width: 1rem;
	pointer-events: none;
}

.quantity__input:-webkit-autofill,
.quantity__input:-webkit-autofill:hover,
.quantity__input:-webkit-autofill:active {
	box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
	-webkit-box-shadow: 0 0 0 10rem rgb(var(--color-background)) inset !important;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.quantity__input[type='number'] {
	-moz-appearance: textfield;
}

/* component-modal */
.modal__toggle {
	list-style-type: none;
}

.no-js details[open] .modal__toggle {
	position: absolute;
	z-index: 2;
}

.modal__toggle-close {
	display: none;
}

.no-js details[open] svg.modal__toggle-close {
	display: flex;
	z-index: 1;
	height: 1.7rem;
	width: 1.7rem;
}

.modal__toggle-open {
	display: flex;
}

.no-js details[open] .modal__toggle-open {
	display: none;
}

.no-js .modal__close-button.link {
	display: none;
}

.modal__close-button.link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem;
	height: 4.4rem;
	width: 4.4rem;
	background-color: transparent;
}

.modal__close-button .icon {
	width: 1.7rem;
	height: 1.7rem;
}

.modal__content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(var(--color-background));
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* component-cart-count-bubble */
.cart-count-bubble:empty {
	display: none;
}

.cart-count-bubble {
	position: absolute;
	background-color: rgb(var(--color-base-accent-1));
	color: rgb(var(--color-base-solid-button-labels));
	height: 1.7rem;
	width: 1.7rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	bottom: 0.8rem;
	left: 2.2rem;
	line-height: 1.1;
}

/* section-announcement-bar */
#shopify-section-announcement-bar {
	z-index: 1000;
}

#shopify-section-announcement-bar[visible='false'] {
	display: none;
}

.announcement-bar {
	color: rgb(var(--color-foreground));
	padding: 8px 0;
}

.announcement-bar__link {
	display: block;
	width: 100%;
	padding: 0 2rem;
	text-decoration: none;
}

.announcement-bar__link .announcement-bar__message {
	padding: 0;
}

.announcement-bar__message {
	text-align: center;
	padding: 0 2rem;
	margin: 0;
	letter-spacing: 0.1rem;
}

/* section-header */
/* #shopify-section-header {
  z-index: 3;
  will-change: transform;
}

.shopify-section-header-sticky {
  position: sticky;
  top: 0;
}

.shopify-section-header-hidden {
  transform: translateY(-100%);
}

#shopify-section-header.animate {
  transition: transform 0.15s ease-out;
} */

/* Main Header Layout */
/* .header-wrapper {
  display: block;
  position: relative;
  background-color: rgb(var(--color-background));
}

.header-wrapper--border-bottom {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
} */

/* .header {
  display: grid;
  grid-template-areas: 'left-icon heading icons';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: rgb(var(--color-background));
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

/* @media screen and (min-width: 990px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header--has-menu:not(.header--middle-left) {
    padding-bottom: 0;
  }

  .header--top-left {
    grid-template-areas:
      'heading icons'
      'navigation navigation';
    grid-template-columns: 1fr auto;
  }

  .header--middle-left {
    grid-template-areas: 'heading navigation icons';
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
  }

  .header--top-center {
    grid-template-areas:
      'left-icon heading icons'
      'navigation navigation navigation';
  }

  .header--middle-left .header__inline-menu {
    min-width: 45rem;
  }

  .header:not(.header--middle-left) .header__inline-menu {
    margin-top: 1.05rem;
  }
} */

/* .header *[tabindex='-1']:focus {
  outline: none;
} */

/* .header__heading {
  margin: 0;
  line-height: 0;
} */

/* .header > .header__heading-link {
  line-height: 0;
} */

/* .header__heading,
.header__heading-link {
  grid-area: heading;
  justify-self: center;
}

.header__heading-link {
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  word-break: break-word;
}

.header__heading-link:hover .h2 {
  color: rgb(var(--color-foreground));
}

.header__heading-link .h2 {
  line-height: 1;
  color: rgba(var(--color-foreground), 0.75);
}

.header__heading-logo {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .header__heading-link {
    margin-left: -0.75rem;
  }

  .header__heading,
  .header__heading-link {
    justify-self: start;
  }

  .header--top-center .header__heading-link,
  .header--top-center .header__heading {
    justify-self: center;
  }
} */

/* Header icons */
/* .header__icons {
  display: flex;
  grid-area: icons;
  justify-self: end;
}

.header__icon:not(.header__icon--summary),
.header__icon span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon span {
  height: 100%;
}

.header__icon::after {
  content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
  transform: scale(1.07);
}

.header__icon .icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  vertical-align: middle;
}

.header__icon,
.header__icon--cart .icon {
  height: 4.4rem;
  width: 4.4rem;
}

.header__icon--cart {
  position: relative;
  margin-right: -1.2rem;
}

@media screen and (max-width: 989px) {
  menu-drawer ~ .header__icons .header__icon--account {
    display: none;
  }
} */

/* Search */
/* menu-drawer + .header__search {
  display: none;
} */

/* .header > .header__search {
  grid-area: left-icon;
  justify-self: start;
} */

/* .header:not(.header--has-menu) * > .header__search {
  display: none;
}

.header__search {
  display: inline-flex;
  line-height: 0;
}

@media screen and (min-width: 990px) {
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }

  .header:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
}

details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}

.no-js details[open] > .header__icon--search {
  top: 1rem;
  right: 0.5rem;
}

.search-modal {
  opacity: 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 1rem;
  line-height: 1.8;
}

.search-modal__form {
  width: 100%;
}

.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}

@media screen and (min-width: 750px) {
  .search-modal__close-button {
    right: 1rem;
  }

  .search-modal__content {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 47.8rem;
  }

  .search-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
  }
} */

/* Header menu drawer */
/* .header__icon--menu .icon {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}

details:not([open]) > .header__icon--menu .icon-close,
details[open] > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
  visibility: hidden;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
  visibility: visible;
  opacity: 1;
  transform: scale(1.07);
}

.header__inline-menu details[open] > .header__submenu {
  opacity: 1;
  transform: translateY(0);
  animation: animateMenuOpen var(--duration-default) ease;
} */

/* Header menu */
/* .header__inline-menu {
  margin-left: -1.2rem;
  grid-area: navigation;
  display: none;
}

.header--top-center .header__inline-menu,
.header--top-center .header__heading-link {
  margin-left: 0;
}

@media screen and (min-width: 990px) {
  .header__inline-menu {
    display: block;
  }

  .header--top-center .header__inline-menu {
    justify-self: center;
  }

  .header--top-center .header__inline-menu > .list-menu--inline {
    justify-content: center;
  }

  .header--middle-left .header__inline-menu {
    margin-left: 0;
  }
}

.header__menu {
  padding: 0 1rem;
}

.header__menu-item {
  padding: 1.2rem;
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
}

.header__menu-item:hover {
  color: rgb(var(--color-foreground));
}

.header__menu-item span {
  transition: text-decoration var(--duration-short) ease;
}

.header__menu-item:hover span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.header__active-menu-item {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.header__menu-item:hover .header__active-menu-item {
  text-decoration-thickness: 0.2rem;
}

.header__submenu {
  transition: opacity var(--duration-default) ease,
    transform var(--duration-default) ease;
}

.header__submenu.list-menu {
  padding: 2rem 0;
}

.header__submenu .header__submenu {
  background-color: rgba(var(--color-foreground), 0.03);
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.header__submenu .header__menu-item:after {
  right: 2rem;
}

.header__submenu .header__menu-item {
  padding: 0.95rem 3.5rem 0.95rem 2rem;
}

.header__submenu .header__submenu .header__menu-item {
  padding-left: 3rem;
}

.header__menu-item .icon-caret {
  right: 0.8rem;
}

.header__submenu .icon-caret {
  right: 2rem;
}

details-disclosure > details {
  position: relative;
} */

@keyframes animateMenuOpen {
	0% {
		opacity: 0;
		transform: translateY(-1.5rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.overflow-hidden-mobile,
.overflow-hidden-tablet {
	overflow: hidden;
}

@media screen and (min-width: 750px) {
	.overflow-hidden-mobile {
		overflow: auto;
	}
}

@media screen and (min-width: 990px) {
	.overflow-hidden-tablet {
		overflow: auto;
	}
}

.primary_button {
	font-size: 14px;
	font-weight: 500;
	padding: 17px 75px;
	border: none;
	background: var(--color-background);
	color: var(--color-foreground);
}

.cookie_notice {
	width: 100%;
	height: 80px;
	padding: 15px 60px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: ease-in var(--duration-short);
}

.cookie_notice[state='inactive'] {
	bottom: -80px;
}

.cookie_notice-text {
	max-width: 70%;
}

.link_underline {
	color: var(--color-foreground);
	margin-left: 20px;
	text-decoration: none;
	border-bottom: 2px solid;
}

@media screen and (max-width: 990px) {
	.cookie_notice {
		height: 110px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -110px;
	}
	.cookie_notice-text {
		max-width: 55%;
	}
	.link_underline {
		margin-left: 0;
	}
}

@media screen and (max-width: 770px) {
	.cookie_notice {
		flex-direction: column;
		height: 180px;
		padding: 30px 30px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -180px;
	}
	.cookie_notice-text {
		max-width: 100%;
		display: block;
	}
	.cookie_notice .primary_button {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.cookie_notice {
		padding: 30px 16px;
		height: 200px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -200px;
	}
}

@media screen and (max-width: 360px) {
	.cookie_notice {
		padding: 30px 16px;
		height: 240px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -240px;
	}
}

#overlay-dark {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 999;
	transition: background ease-in var(--duration-default);
}

#overlay-dark:empty {
	display: block;
}

#overlay-dark[state='active'] {
	background: rgba(5, 5, 5, 0.4);
}

#overlay-dark[state='inactive'] {
	pointer-events: none;
	background: rgba(5, 5, 5, 0);
}

.screen-height {
	height: calc(100vh - 30px);
}

/* Tall Rectangle /Shoe Finder
375/600   = 0.625 | Mobile
1443/696  = 2.073 | Laptop
2879/1388 = 2.074 | 2k */

.ratio-2074 {
	height: calc(100vw / 2.074);
	min-height: 600px;
}

/* Medium Rectangle /Page Hero */

.ratio-2267 {
	height: calc(100vw / 2.26771653543);
}

@media screen and (max-width: 990px) {
	.ratio-2267 {
		height: calc(100vh - (30px + 72px));
	}
}

/* Square-to-Rectangle/Video
375/364   = 1.030 | Mobile
1440/725  = 1.986 | Laptop
2880/850  = 3.388 | 2k */

.ratio-square_to_rectangle {
	height: calc(100vw / 1.986);
}

@media screen and (min-width: 2000px) {
	.ratio-square_to_rectangle {
		height: calc(100vw / 3.388);
	}
}

@media screen and (max-width: 550px) {
	.ratio-square_to_rectangle {
		height: 100vw;
	}
}

.no-decoration {
	text-decoration: none;
}

.spaced-section {
	margin-top: 100px;
	margin-bottom: 100px;
}

.spaced-section:first-of-type {
	margin-top: 0;
}

@media screen and (min-width: 2000px) {
	.spaced-section {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	.spaced-section:first-of-type {
		margin-top: 0;
	}
}

@media screen and (max-width: 550px) {
	.spaced-section {
		margin-top: 75px;
		margin-bottom: 75px;
	}
	.spaced-section:first-of-type {
		margin-top: 0;
	}
}

.button--arrow {
	min-width: unset;
	padding: 0;
}

.text-brand {
	color: var(--color-brand);
}

.text-subdued,
.text-subdued a {
	color: var(--color-subdued);
}

.text-faded {
	color: var(--color-faded);
}

.snize-sticky-searchbox {
	display: none !important;
}

.flex_justify-center {
	display: flex;
	justify-content: center;
}

.sticky-add-to-cart {
	height: 80px;
	width: 100vw;
	padding: 0 60px;
	position: fixed;
	z-index: 5;
	top: -6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform ease var(--duration-long);
	background-color: var(--color-white);
}

.sticky-add-to-cart[visible='true'] {
	transform: translateY(80px);
}

.satc_main {
	height: calc(100% - 1px);
	width: calc(100vw - (60px * 2));
	padding: 10px 0;
	background-color: var(--cr-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.satc_select {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.satc_options {
	display: flex;
}

.satc_option {
	padding: 0 15px;
	border-left: 1px solid var(--color-blue-gray);
}

.satc_option:first-of-type {
	padding-left: 0;
	border-left: none;
}

.satc_option:last-of-type {
	padding-right: 0;
}

.satc_selector {
	position: fixed;
	top: -252px;
	left: var(--s-edge);
	max-width: var(--s-contain-max);
	width: calc(100% - var(--s-edge) * 2);
	z-index: -1;
	padding: 20px;
	display: flex;
	background-color: var(--color-white);
	border: 1px solid var(--cr-gray-2);
	transition: transform ease var(--duration-long);
}

.satc_selector[visible='true'] {
	transform: translateY(calc(80px + 252px));
}

.satc_selector a {
	text-decoration: none;
	color: var(--color-ink);
}

.satc_selector.satc_Color {
	width: calc(100vw - (60px * 2));
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.satc_value[selected='true'] span {
	font-weight: 500;
}

.satc_value-color {
	min-height: 70px;
	display: flex;
	align-items: center;
}

.satc_action {
	display: flex;
	align-items: center;
}

.satc_action .button {
	margin-left: 30px;
}

/* Product Card */

.product-card img {
	width: 100%;
	height: auto;
}

.product-card .pc-image .card__content {
	display: none;
}

.product-card .pc-details {
	padding: 15px 30px 0 30px;
}

.product-card .pc-flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card .h6 {
	margin: 0 0 8px 0;
}

.product-card .pc-colorways {
	height: 60px;
	padding: 0 30px;
	display: flex;
	align-items: center;
}

.product-card .utility-thin {
	font-weight: 400;
}

@media screen and (max-width: 990px) {
	.mobile-page-menu {
		padding: 56px 25vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.mobile-page-menu .body-small {
		color: var(--color-subdued);
	}
}

@media screen and (max-width: 600px) {
	.mobile-page-menu {
		padding: 56px 16px;
	}
}

.cpr-intro {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.cpr-intro .h2 {
	margin: 0;
}
.cpr-intro p {
	margin: 10px 0 0 0;
}
.cpr-row-cta {
	min-width: 90px;
	text-align: right;
}

@media only screen and (max-width: 990px) {
	.cpr-intro {
		align-items: flex-start;
	}
}

.collection-product-row .glide__arrows {
	width: calc(100vw - 60px);
	height: calc((((100vw / 3.6) - 20px) * 1.24) + (17px * 2));
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 2000px) {
	.collection-product-row .glide__arrows {
		height: calc((((100vw / 3.6) - 20px) * 1.24) + (17px * 0.75));
	}
}

.collection-product-row .glide__arrow {
	pointer-events: all;
	cursor: pointer;
	margin-right: 60px;
	padding: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transition: ease-in-out var(--duration-default);
}

.collection-product-row .glide__arrow--left {
	opacity: 0;
}

.primary_button {
	font-size: 14px;
	font-weight: 500;
	padding: 17px 75px;
	border: none;
	background: var(--color-background);
	color: var(--color-foreground);
}

.cookie_notice {
	width: 100%;
	height: 80px;
	padding: 15px 60px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: ease-in var(--duration-short);
}

.cookie_notice[state='inactive'] {
	bottom: -80px;
}

.cookie_notice-text {
	max-width: 70%;
}

.link_underline {
	color: var(--color-foreground);
	margin-left: 20px;
	text-decoration: none;
	border-bottom: 2px solid;
}

@media screen and (max-width: 990px) {
	.cookie_notice {
		height: 110px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -110px;
	}
	.cookie_notice-text {
		max-width: 55%;
	}
	.link_underline {
		margin-left: 0;
	}
}

@media screen and (max-width: 770px) {
	.cookie_notice {
		flex-direction: column;
		height: 180px;
		padding: 30px 30px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -180px;
	}
	.cookie_notice-text {
		max-width: 100%;
		display: block;
	}
	.cookie_notice .primary_button {
		width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.cookie_notice {
		padding: 30px 16px;
		height: 200px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -200px;
	}
}

@media screen and (max-width: 360px) {
	.cookie_notice {
		padding: 30px 16px;
		height: 240px;
	}
	.cookie_notice[state='inactive'] {
		bottom: -240px;
	}
}

#overlay-dark {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 999;
	transition: background ease-in var(--duration-default);
}

#overlay-dark:empty {
	display: block;
}

#overlay-dark[state='active'] {
	background: rgba(5, 5, 5, 0.4);
}

#overlay-dark[state='inactive'] {
	pointer-events: none;
	background: rgba(5, 5, 5, 0);
}

.screen-height {
	height: calc(100vh - 30px);
}

/* Tall Rectangle /Shoe Finder
375/600   = 0.625 | Mobile
1443/696  = 2.073 | Laptop
2879/1388 = 2.074 | 2k */

.ratio-2074 {
	height: calc(100vw / 2.074);
	min-height: 600px;
}

/* Medium Rectangle /Page Hero */

.ratio-2267 {
	height: calc(100vw / 2.26771653543);
}

@media screen and (max-width: 990px) {
	.ratio-2267 {
		height: calc(100vh - (30px + 72px));
	}
}

/* Square-to-Rectangle/Video
375/364   = 1.030 | Mobile
1440/725  = 1.986 | Laptop
2880/850  = 3.388 | 2k */

.ratio-square_to_rectangle {
	height: calc(100vw / 1.986);
}

@media screen and (min-width: 2000px) {
	.ratio-square_to_rectangle {
		height: calc(100vw / 3.388);
	}
}

@media screen and (max-width: 550px) {
	.ratio-square_to_rectangle {
		height: 100vw;
	}
}

.no-decoration {
	text-decoration: none;
}

.spaced-section {
	margin-top: 100px;
	margin-bottom: 100px;
}

.spaced-section:first-of-type {
	margin-top: 0;
}

@media screen and (min-width: 2000px) {
	.spaced-section {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	.spaced-section:first-of-type {
		margin-top: 0;
	}
}

@media screen and (max-width: 550px) {
	.spaced-section {
		margin-top: 75px;
		margin-bottom: 75px;
	}
	.spaced-section:first-of-type {
		margin-top: 0;
	}
}

.btn,
.button--primary {
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	padding: 18px 43.5px;
	background-color: var(--color-white);
	color: var(--cr-black);
	transition: 0.2s;
}

.btn,
.button--primary.cr-black,
.button--primary.color-background-1 {
	background-color: var(--color-ink);
	color: var(--color-white);
}

.button--primary.cr-white,
.button--primary.color-background-2 {
	background-color: var(--cr-black);
	color: var(--color-white);
}

@media (hover: hover) {
	.btn:hover,
	.button--primary:hover {
		color: var(--cr-white);
		background-color: var(--cr-black);
	}

	.button--primary.cr-black:hover,
	.button--primary.color-background-1:hover {
		color: var(--cr-black);
		box-shadow: inset 0 0 0 1px var(--cr-black);
		background-color: var(--cr-white);
	}
}

@media screen and (min-width: 2000px) {
	.button--primary.upscale {
		font-size: 22px;
		line-height: 1.5;
		padding: 33.5px 73px;
	}
}

@media screen and (max-width: 550px) {
	.button--primary {
		padding: 18px 34.5px;
	}
}

.button--tertiary {
	white-space: nowrap;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	padding: 18px 43.5px;
	color: var(--cr-white);
	border: solid 1px;
	transition: 0.2s;
}

.button--tertiary.cr-white {
	color: var(--cr-white);
}

.button--tertiary.cr-black {
	color: var(--cr-black);
}

.button--tertiary.cr-blue {
	color: var(--cr-black);
}

@media (hover: hover) {
	.button--tertiary:hover {
		color: var(--cr-black);
		border-color: var(--cr-white);
		background-color: var(--cr-white);
	}

	.button--tertiary.cr-black:hover {
		color: var(--cr-white);
		border-color: var(--cr-black);
		background-color: var(--cr-black);
	}

	.button--tertiary.cr-blue:hover {
		color: var(--cr-white);
		border-color: var(--cr-black);
		background-color: var(--cr-black);
	}
}

.button--secondary {
	position: relative;
	min-width: 0;
	min-height: 0;
	padding: 0 0 4px;
	border-bottom: 2px solid var(--color-highlight);
	color: var(--cr-black);
	transition: 0.2s;
}

.button--secondary.cr-white {
	color: var(--cr-white);
}

.button--secondary:not(.utility) {
	font-size: unset;
	font-weight: 500;
	line-height: 1.67;
	letter-spacing: 0;
}

@media (hover: hover) {
	.button--secondary:after {
		content: '';
		position: absolute;
		display: block;
		top: 100%;
		width: 100%;
		left: 0;
		height: 2px;
		background-color: var(--cr-gray-2);

		-webkit-transform-origin: right center;
		transform-origin: right center;
		-webkit-transform: scale(0);
		transform: scale(0);
		transition: transform 0.3s ease-in-out;
	}

	.button--secondary:hover:after {
		-webkit-transform-origin: left center;
		transform-origin: left center;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	.button--secondary:hover {
		color: var(--cr-gray-1);
	}
}

@media screen and (min-width: 2000px) {
	.button--tertiary.upscale {
		font-size: 22px;
		line-height: 1.5;
		padding: 33.5px 44px;
	}
}

@media screen and (max-width: 550px) {
	.button--tertiary {
		padding: 18px 34.5px;
	}
}

.button--arrow {
	min-width: unset;
	padding: 0;
}

.text-brand {
	color: var(--color-brand);
}

.text-subdued,
.text-subdued a {
	color: var(--color-subdued);
}

.text-faded {
	color: var(--color-faded);
}

.snize-sticky-searchbox {
	display: none !important;
}

.flex_justify-center {
	display: flex;
	justify-content: center;
}

.sticky-add-to-cart {
	height: 80px;
	width: 100vw;
	padding: 0 60px;
	position: fixed;
	z-index: 5;
	top: -6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform ease var(--duration-long);
	background-color: var(--color-white);
	border-bottom: 1px solid var(--cr-gray-2);
}

.sticky-add-to-cart[visible='true'] {
	transform: translateY(80px);
}

.satc_main {
	width: calc(100vw - (60px * 2));
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sticky-add-to-cart .h6 {
	margin: 0 0 var(--s-1);
}

.satc_details {
	display: flex;
	align-items: center;
}

.satc_select {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.satc_options {
	display: flex;
}

.satc_option {
	padding: 0 15px;
	border-left: 1px solid var(--color-blue-gray);
}

.satc_option:first-of-type {
	padding-left: 0;
	border-left: none;
}

.satc_option:last-of-type {
	padding-right: 0;
}

.satc_selector {
	position: fixed;
	top: -253px;
	left: 60px;
	z-index: -1;
	padding: 20px;
	display: flex;
	background-color: var(--color-white);
	border: 1px solid var(--cr-gray-2);
	transition: transform ease var(--duration-long);
}

.satc_selector[visible='true'] {
	transform: translateY(calc(80px + 252px));
}

.satc_selector a {
	text-decoration: none;
	color: var(--color-ink);
}

.satc_selector.satc_Color {
	width: calc(100vw - (60px * 2));
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.satc_value {
	min-width: 50px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	transition: 0.2s;
}

.satc_Width .satc_value {
	margin: 0 var(--s-3) 0 0;
}

.satc_Size .satc_value {
	width: 50px;
}

@media (hover: hover) {
	.satc_value:hover {
		color: var(--cr-gray-2);
	}
}

.satc_value[selected='true'] span {
	font-weight: 500;
}

.satc_value-color {
	min-height: 70px;
	display: flex;
	align-items: center;
}

.satc_action {
	display: flex;
	align-items: center;
}

.satc_action .button {
	margin-left: 30px;
}

/* Product Card */

.product-card img {
	width: 100%;
	height: auto;
}

.product-card .pc-image .card__content {
	display: none;
}

.product-card .pc-details {
	padding: 15px 30px 0 30px;
}

.product-card .pc-flex-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card .h6 {
	margin: 0 0 8px 0;
}

.product-card .pc-colorways {
	height: 60px;
	padding: 0 30px;
	display: flex;
	align-items: center;
}

.product-card .utility-thin {
	font-weight: 400;
}

@media screen and (max-width: 990px) {
	.mobile-page-menu {
		padding: 56px 25vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.mobile-page-menu .body-small {
		color: var(--color-subdued);
	}
}

@media screen and (max-width: 600px) {
	.mobile-page-menu {
		margin: var(--s-section) auto;
		padding: 0 var(--s-contain);
	}
}

.collection-product-row {
	margin: var(--s-section) auto;
	position: relative;
}

.cpr-intro {
	display: block;
}

.cpr-intro .h2 {
	margin: 0;
}
.cpr-intro p {
	margin: 10px 0 0 0;
}
.cpr-row-cta {
	min-width: 90px;
	text-align: right;
}

@media only screen and (max-width: 990px) {
	.cpr-intro {
		align-items: flex-start;
	}
}

.collection-product-row .glide__arrows {
	width: calc(100vw - 60px);
	height: calc((((100vw / 3.6) - 20px) * 1.24) + (17px * 2));
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 2000px) {
	.collection-product-row .glide__arrows {
		height: calc((((100vw / 3.6) - 20px) * 1.24) + (17px * 0.75));
	}
}

.collection-product-row .glide__arrow {
	pointer-events: all;
	cursor: pointer;
	margin-right: 60px;
	padding: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transition: ease-in-out var(--duration-default);
}

.collection-product-row .glide__arrow--left {
	opacity: 0;
}
