.price {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 18px;
	line-height: 1.56;
	color: rgb(var(--color-foreground));
}

.price.price--unavailable {
	visibility: hidden;
}

.price--end {
	justify-content: flex-end;
}

.price dl {
	margin: 0;
	display: flex;
	flex-direction: column;
}

.price dd {
	margin: 0 1rem 0 0;
}

.price .price__last:last-of-type {
	margin: 0;
}

@media screen and (min-width: 750px) {
	.price {
		margin-bottom: 0;
	}
}

.price--large {
	font-size: 1.6rem;
	line-height: 1.5;
	letter-spacing: 0.13rem;
}

@media screen and (min-width: 750px) {
	.price--large {
		font-size: 1.8rem;
	}
}

.price--sold-out .price__availability,
.price__regular {
	display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability,
.price--no-compare .price__compare {
	display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
	display: inline-flex;
}

.price--on-sale .price__sale {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.price-item--regular {
	font-size: 18px;
}

.price--center {
	display: flex;
	justify-content: center;
}

.price--on-sale .price-item--regular {
	text-decoration: line-through;
	color: rgba(var(--color-foreground), 0.75);
}

.unit-price {
	font-size: 1.1rem;
	letter-spacing: 0.04rem;
	line-height: 1.2;
	margin-top: 0.2rem;
	text-transform: uppercase;
	color: rgba(var(--color-foreground), 0.7);
}
