.accordion summary {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	align-items: center;
	line-height: 1;
	padding: 20px 0;
}

.accordion .summary__title {
	display: flex;
	flex: 1;
}

.accordion + .accordion {
	margin-top: 0;
}

.accordion {
	margin-bottom: 0;
	border-top: 1px solid var(--color-blue-gray);
}

.accordion:last-child {
	border-bottom: 1px solid var(--color-blue-gray);
}

@media screen and (min-width: 770px) {
	.accordion {
		margin-top: 30px;
	}
}

.accordion__title {
	display: inline-block;
	max-width: calc(100% - 6rem);
	min-height: 1.6rem;
	margin: 0;
	word-break: break-word;
	text-transform: uppercase;
}

.accordion .icon-accordion {
	align-self: center;
	min-width: 1.6rem;
	margin-right: 1rem;
	fill: rgb(var(--color-foreground));
}

.indicator {
	display: block !important;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 9px;
	height: 9px;
	align-self: center;
}

.indicator::before,
.indicator::after {
	content: '';
	position: absolute;
	background-color: var(--color-ink);
	transition: transform ease-out var(--duration-long);
}

.indicator::before {
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	margin-left: -0.5px;
}

.indicator::after {
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	margin-top: -0.5px;
}

.mobile-menu-container .indicator {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 16px;
	width: 16px;
	align-self: center;
}

.mobile-menu-container .indicator::before {
	width: 2px;
	height: 100%;
	margin-left: -1px;
}

.mobile-menu-container .indicator::after {
	width: 100%;
	height: 2px;
	margin-top: -1px;
}

.accordion details[open] > summary .indicator::before {
	transform: rotate(90deg);
}

.accordion details[open] > summary .indicator::after {
	transform: rotate(-180deg);
}

.accordion__content {
	margin-bottom: 30px;
	word-break: break-word;
}

.accordion__content img {
	max-width: 100%;
}
