.bag-container {
	margin: var(--s-section) auto 0;
	padding: 76px 60px 90px 60px;
	display: grid;
	grid-template-columns: auto 430px;
	column-gap: 130px;
}

@media screen and (max-width: 1440px) {
	.bag-container {
		grid-template-columns: auto calc(100vw / 3.3488);
		column-gap: 60px;
	}
}

@media screen and (max-width: 1100px) {
	.bag-container {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 989px) {
	.bag-container {
		padding: 16px 16px 75px 16px;
	}
}

.bag-container .line_item {
	min-height: 120px;
	margin-bottom: 22px;
	display: grid;
	grid-template-columns: 160px auto 100px 120px 80px;
}

@media screen and (max-width: 749px) {
	.bag-container .line_item {
		grid-template-columns: 82px auto 120px 80px;
	}
	.bag-container .bag-contents .line_item {
		grid-template-columns: 82px auto 107px;
	}
}

.bag-container .item_spacer {
	display: block;
}

.bag-container .bag-headers {
	margin: 40px 0 30px 0;
	padding-bottom: 5px;
	border-bottom: solid 1px var(--color-faded);
	display: grid;
	grid-template-columns: auto 100px 120px 80px;
}

.bag-container .bag-header:last-of-type {
	text-align: right;
}

.bag-container .h6 {
	margin: 0 0 15px 0;
}

.bag-container .item-image {
	position: relative;
	width: 140px;
	align-self: center;
}

.bag-container .item-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

@media screen and (max-width: 749px) {
	.bag-container .item-image {
		width: 72px;
	}
}

.bag-container .item_price,
.bag-container .quantity-container,
.bag-container .item_line_price {
	display: flex;
	align-items: flex-start;
}

.bag-container .quantity-container {
	position: relative;
}

.bag-container .remove-item {
	position: absolute;
	bottom: 33px;
	border-bottom: 2px solid var(--color-brand);
}

@media screen and (max-width: 749px) {
	.bag-container .remove-item {
		right: 0;
	}
}

.bag-container .bag-accessories .item_price {
	justify-content: flex-end;
}

.bag-container .item_price p,
.bag-container .item_line_price p {
	margin: 5px 0;
	line-height: 1.2;
}

.bag-container .line_item .utility-thin {
	margin-bottom: 5px;
}

.bag-container .remove-item p {
	color: var(--color-brand);
	line-height: 2.2;
}

.bag-container .item_line_price {
	justify-content: flex-end;
}

.bag-container .bag-accessories {
	margin-top: 32px;
	padding-top: 32px;
	border-top: solid 1px var(--color-faded);
}

.bag-container .bag-accessories .h4 {
	margin: 0 0 var(--s-3);
}

.bag-accessories.is-hidden,
.bag-accessories .line_item.is-hidden {
	display: none;
}

.bag-accessories variant-selects {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.bag-accessories variant-selects .select.is-hidden {
	display: none;
}

.bag-accessories variant-selects label {
	font-size: 14px;
}

.bag-accessories variant-selects select {
	padding-right: 18px;
	font-size: 14px;
	background: url(../assets/svg-caret-down-black.svg) right center/10px
		no-repeat;
}

@media screen and (max-width: 749px) {
	.bag-container .bag-accessories .line_item img,
	.bag-container .bag-accessories .line_item .item_details {
		grid-row: span 2;
	}
	.bag-container .bag-accessories .line_item .item_details {
		grid-column: span 2;
	}
	.bag-container .bag-accessories .line_item .add-cart-item {
		grid-column: 4;
		grid-row: 2;
	}
}

.bag-container .bag-summary {
	grid-row: span 2;
}

.bag-container .bag-summary .h2 {
	margin-bottom: 38px;
}

.bag-container .bag-summary_line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	color: var(--color-subdued);
}

.bag-container .bag-final_summary_line {
	display: flex;
	justify-content: space-between;
	margin: 15px 0 20px 0;
	border-top: solid 1px var(--color-faded);
}

@media screen and (max-width: 749px) {
	.bag-container .bag-final_summary_line .h3 {
		margin-top: 0;
	}
}

@media screen and (max-width: 749px) {
	.bag-container .bag-final_summary_line {
		border-top: none;
	}
}

.bag-container .button--full-width {
	justify-content: center;
	margin-bottom: 20px;
}
.bag-container a {
	text-decoration: none;
}
