.collection-banner {
	margin: var(--s-section) auto;
}

@media only screen and (max-width: 750px) {
	.collection-banner {
		margin-bottom: 40px;
	}
}

.collection-banner .collection-title-container {
	padding: 0 var(--s-edge);
}

.collection-banner-with-image .collection-title-container {
	padding: var(--s-section) var(--s-edge);
}

.collection-banner-with-image {
	display: grid;
	margin: 0 auto var(--s-section);
}

.collection-banner-with-image .collection-banner-image,
.collection-banner-with-image .collection-title-container {
	grid-row: 1;
	grid-column: 1;
}

.collection-banner-with-image .collection-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-white);
	z-index: 10;
}

.collection-banner-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* .collection-hero {
  margin-bottom: 2rem;
}

.collection-hero--with-image {
  background-color: rgba(var(--color-foreground), 0.04);
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: 4rem 0 4rem;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0 0 2rem;
    margin-bottom: 0;
  }

  .collection-hero--with-image {
    margin-bottom: 4.5rem;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .collection-hero--with-image .collection-hero__inner {
    margin-bottom: 0;
  }
}

.collection-hero__title {
  margin: 5rem 0 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
} */
