body {
	display: block;
	font: var(--t-b-2);
	color: var(--cr-black);
}

.field__input:focus,
.field__input-wrapper--flag-focus .field__input {
	-webkit-box-shadow: unset !important;
	box-shadow: unset !important;
}

@media screen and (min-width: 1000px) {
	.main__header {
		position: relative;
	}

	.logo.logo--left {
		position: absolute;
		left: 0;
		top: 30px;
		transform: translate(calc(-100% - 15px), -50%);
	}
}

.main h2,
.main .heading-2 {
	text-transform: uppercase;
	font: var(--t-h-4);
}

.input-radio:checked {
	background-color: var(--cr-black) !important;
	border: 1px solid var(--cr-black) !important;
}

.input-radio:after {
	display: none !important;
}

.btn:not(.field__input-btn),
.sp-modal-toggle {
	position: relative;
	display: inline-block;
	min-width: 200px;
	padding: 0 var(--s-4);
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	font: var(--t-l-1);
	height: 50px;
	line-height: 50px;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	color: var(--cr-white);
	background: var(--cr-black);

	border-radius: 0;
}

@media (hover: hover) {
	.btn:hover {
		color: var(--cr-black);
		background-color: transparent;
		box-shadow: inset 0 0 0 1px var(--cr-black);
	}
}

.btn__content {
	line-height: 50px;
}

.logo__image--small {
	max-width: 120px !important;
}

.step__footer__previous-link-content {
	margin: 0 0 0 0.5em;
	padding: 0 0 var(--s-1);
	font: var(--t-l-1);
	color: var(--cr-black);
	border-bottom: 1px solid;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.step__footer__continue-btn {
	min-width: 200px;
}

.breadcrumb__item {
	font: var(--t-l-2);
}

.breadcrumb__item svg {
	display: none;
}

.breadcrumb__item:not(:last-child):after {
	content: '/';
	margin: 0 0.35em 0 0.4em;
}

.breadcrumb__item.breadcrumb__item--current {
	color: var(--cr-black);
}

.logged-in-customer-information__avatar-wrapper {
	display: none !important;
}

.dynamic-checkout .dynamic-checkout__title {
	font: var(--t-b-2);
}

.dynamic-checkout .dynamic-checkout__title:before,
.dynamic-checkout .dynamic-checkout__title:after {
	border-radius: 0;
}

.dynamic-checkout .dynamic-checkout__content {
	border-radius: 0;
}

.content-box {
	border-radius: 0;
}

.content-box .emphasis {
	font-weight: 400;
	color: var(--cr-black);
}

.notice {
	border-radius: 0;
}

@media (min-width: 1000px) {
	.sidebar::after {
		box-shadow: unset;
	}
}

.main .field select,
.main .field .field__input {
	font: var(--t-b-2);
	color: var(--cr-black);
	border-color: var(--cr-gray-2);
	border: 0;
	border-bottom: 1px solid var(--cr-gray-2);
	border-radius: 0;
	box-shadow: unset !important;
	padding: 20px 0 10px !important;
	background-color: transparent;
}

.floating-labels .field__label {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font: var(--t-l-2);
	color: var(--cr-gray-1);
}

.main .field__caret {
	width: 10px;
	height: 5px;
	top: 60%;
	border-left: unset !important;
	background: url(../assets/svg-caret-down-black.svg) center/contain no-repeat;
}

.main .field__caret svg {
	display: none;
}

.main .input-checkbox,
.main .input-radio {
	background-color: transparent;
	border: 1px solid var(--cr-black);
	border-radius: 0;
	outline: none !important;
}

.main .input-checkbox:checked {
	box-shadow: unset !important;
	background-color: var(--cr-black);
}

.main .input-checkbox:after {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	top: 0;
	right: 0;
	left: 0;
	-webkit-transform: unset !important;
	transform: unset !important;
	background: url(../assets/svg-checkmark-white.svg) center/80% no-repeat;
}

.main .input-radio {
	border: 1px solid var(--cr-black);
	border-radius: 100%;
}

.review-block__link {
	text-transform: uppercase;
	font: var(--t-l-2);
}

.review-block__link a {
	color: var(--cr-gray-2) !important;
}

.section--contact-information .section__header .section__title {
	width: 100%;
}

.section--contact-information p a {
	display: inline-block;
	padding: 0 0 var(--s-1);
	font-weight: 500;
	line-height: 1.67;
	letter-spacing: 0;

	min-width: 0;
	min-height: 0;
	padding: 0;
	color: var(--cr-blue);
	border-bottom: 2px solid var(--cr-black);
}

.section--contact-information [data-trekkie-id='have_an_account_login_link'] {
	padding: 0 0 var(--s-5);
	border-bottom: 1px solid;
}

[data-step='payment_method'] [data-trekkie-id*='change_'] {
	text-transform: uppercase;
	font: var(--t-l-1);
}

.section--payment-method .content-box {
	background-color: var(--cr-starlight);
}

.section--payment-method .field .field__input {
	padding: unset !important;
	background-color: var(--cr-subdued);
	border: 1px solid var(--cr-gray-2);
}

.section--payment-method .floating-labels .field__label {
	padding: 5px 0.9166666667em !important;
}

.main .field__input-wrapper--icon-left .field__input {
	padding-left: 2.8571428571rem !important;
}

#street_check_wrapper {
	display: none !important;
}

.inner-label-additions {
	display: block !important;
	margin: var(--s-5) 0 0;
	font-size: 12px;
}

.content-box__emphasis {
	font-weight: 400;
	color: var(--cr-black);
}

.sidebar .product__description__name {
	font: var(--t-h-6) !important;
}

.sidebar .order-summary__emphasis {
	font: var(--t-b-1);
	color: var(--cr-black);
}

.sidebar .total-line-table__tbody,
.sidebar .total-line-table__tbody .order-summary__emphasis {
	color: var(--cr-gray-1);
}

.sidebar .order-summary__small-text {
	display: block;
	margin: var(--s-2) 0 0;
	font: var(--t-l-2);
	font-weight: 400;
	color: var(--cr-black);
}

.sidebar .product-thumbnail {
	width: 100px !important;
	height: auto;
}

.sidebar .product-thumbnail .product-thumbnail__wrapper {
	background-color: var(--cr-subtle);
}

.sidebar .product-thumbnail .product-thumbnail__wrapper,
.sidebar .product-thumbnail .product-thumbnail__image {
	position: relative;
	line-height: 0;
	border-radius: 0;
}

.sidebar .product-thumbnail .product-thumbnail__image {
	width: 100%;
}

.order-summary__section--product-list::after,
.sidebar .product-thumbnail::after {
	display: none !important;
}

.order-summary__section ~ .order-summary__section {
	border-top: 0 !important;
}

.sidebar .product-thumbnail__quantity {
	width: 20px;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
	color: var(--cr-white);
	background-color: var(--cr-black);
}

.sidebar .order-summary__section--discount .field__input-btn-wrapper {
	position: relative;
	height: 50px;
}

.sidebar
	.order-summary__section--discount
	.field__input-btn-wrapper
	.field__input {
	font: var(--t-b-2);
	background-color: transparent;
	border-color: var(--cr-gray-1);
	border-radius: 0;
	padding: 14px var(--s-3);
}

.sidebar .order-summary__section--discount .field__label {
	display: none !important;
}

.sidebar
	.order-summary__section--discount
	.field__input-btn-wrapper
	[type='submit'] {
	position: absolute;
	min-width: unset;
	width: 80px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding: 0 var(--s-2);
	font: var(--t-l-1);

	height: auto !important;
	line-height: auto !important;
	color: var(--cr-black);
	background-color: transparent;

	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.sidebar
	.order-summary__section--discount
	.field--show-floating-label
	.field__input-btn-wrapper
	[type='submit'] {
	color: var(--cr-black);
}

.sidebar
	.total-line-table__tbody
	+ .total-line-table__tbody
	.total-line:first-child
	th::before,
.sidebar
	.total-line-table__tbody
	+ .total-line-table__tbody
	.total-line:first-child
	td::before,
.sidebar
	.total-line-table__tbody
	+ .total-line-table__footer
	.total-line:first-child
	th::before,
.sidebar
	.total-line-table__tbody
	+ .total-line-table__footer
	.total-line:first-child
	td::before {
	background-color: var(--cr-gray-2);
}

.main .content-box {
	border-color: var(--cr-gray-2);
}

.review-block ~ .review-block {
	border-top: 1px solid var(--cr-gray-2);
}

[data-shipping-methods].content-box {
	border: 0;
}

.content-box__row ~ .content-box__row {
	border-top: 1px solid var(--cr-gray-2);
}

.content-box__row--no-border + .content-box__row {
	border-top: none;
}

[data-shipping-methods] .content-box__emphasis {
	font: var(--t-b-2);
}

[data-shipping-methods] .display-table .radio__label__primary {
	font: var(--t-b-2);
	color: var(--cr-black);
}

[data-shipping-methods] .content-box__row {
	padding: 1.1428571429em 0;
}

.sidebar .total-line-table {
	font: var(--t-b-2);
	color: var(--cr-black);
}

.sidebar .payment-due-label__total,
.sidebar .payment-due__currency,
.sidebar .payment-due__price {
	font: var(--t-h-3) !important;
	color: var(--cr-black);
	vertical-align: top;
}

.sidebar .total-line .order-summary__emphasis {
	font: var(--t-b-2);
}

.sidebar .payment-due__price {
	font-weight: 400;
	font-size: 20px;
}

.os-header__hanging-icon {
	display: none !important;
}

[data-step='thank_you'] {
}

.edit_checkout .fieldset {
	position: relative;
}

.edit_checkout .field__input-btn.btn {
	position: absolute;
	min-width: unset;
	width: 30px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding: 0 var(--s-2);
	font: var(--t-l-1);
	height: auto !important;
	line-height: auto !important;
	color: var(--cr-black);
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
