.top-level_container {
	height: 74px;
	padding: 0 60px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	position: relative;
	/* box-shadow: 0px 4px 20px rgba(5, 5, 5, 0.1); */
}

.header-logo {
	position: absolute;
	width: 92px;
	left: calc(50% - (92px / 2));
	bottom: calc(-98px / 2);
	z-index: 1;
}

.header-menu,
.header-actions {
	display: flex;
	align-items: center;
}

.header-menu a,
.header-actions a {
	color: var(--color-subdued);
	text-decoration: none;
}

.header-actions a[href*='/pages/wishlist'] {
	max-width: 18px;
}

.header-menu {
	margin-left: -15px;
}

.header-menu .header-menu_item {
	user-select: none;
}

.header-menu .header-menu_item a {
	display: block;
	line-height: 72px;
	height: 72px;
	padding: 0 18px;
}

.header-menu .header-menu_item a:after {
	content: '';
	position: absolute;
	display: block;
	top: calc(50% + 14px);
	width: calc(100% - 18px * 2);
	left: 18px;
	height: 2px;
	background-color: var(--cr-blue);

	-webkit-transform-origin: right center;
	transform-origin: right center;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
}

.header-menu .header-menu_item.is-active a::after {
	background-color: var(--cr-gray-1);
}

.header-menu .header-menu_item a:hover::after,
.header-menu .header-menu_item.is-active a::after {
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: scale(1);
	transform: scale(1);
	background-color: var(--cr-blue);
}

.header-actions .header-action_item {
	margin-left: 40px;
}

.header-actions .header-action_item[action='open-mini-bag'] {
	margin-bottom: 2px;
}

@media screen and (max-width: 989px) {
	.top-level_container {
		height: 72px;
		padding: 19px 23px 19px 19px;
		justify-content: flex-end;
		box-shadow: none;
	}
	.header-logo {
		left: 19px;
		bottom: -18px;
		height: 78px;
		width: 78px;
	}
	.header-logo svg {
		height: 100%;
		width: 100%;
	}
	.header-actions .header-action_item {
		margin-left: 20px;
	}

	.header-actions
		.header-action_item[data-appmate]:not([action='open-mobile-menu']) {
		display: none !important;
	}
	.header-actions .header-action_menu {
		margin-left: 34px;
	}
}

.header-menu {
	pointer-events: none;
}

.header-menu_item,
.header-action_item {
	pointer-events: auto;
	transition: ease var(--duration-default);
}

@media (hover: hover) {
	.header-menu:hover > .header-menu_item:not(:hover),
	.header-actions:hover > .header-action_item:not(:hover),
	.header-menu_item a[active='false'] {
		opacity: 0.5;
	}
}

.header-menu_item:hover a,
.header-menu_item a:focus,
.header-menu_item a[active='true'] {
	color: var(--color-brand);
}

.products-menu-block {
	--pad-horizontal: 60px;
	padding-bottom: var(--s-section);
	padding-top: calc(100vw / 22.8571428571);
	justify-content: flex-start;
	align-items: flex-start;
}

.navigation-menu-block {
	--height: calc(100vw / 3.15098468271);
	--pad-horizontal: calc(100vw / 10.6666666667);
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 2000px) {
	.products-menu-block {
		--height: calc(100vw / (2.15568862275 * 1.2));
	}
	.navigation-menu-block {
		--height: calc(100vw / (3.15098468271 * 1.2));
	}
}

.menu-block-container {
	height: var(--height);
	width: 100vw;
	position: absolute;
	top: 0;
	z-index: 10;
	padding-left: var(--pad-horizontal);
	padding-right: var(--pad-horizontal);
	background-color: var(--color-light-gray) !important;
	transition: 0.6s;
	opacity: 0;
	pointer-events: none;
	transform: translateY(0);
}

.menu-block-container.products-menu-block {
	display: flex;
}

.menu-block-container[visible='true'],
.menu-block-container:hover {
	transform: translateY(calc(74px - 1px));
	opacity: 1;
	pointer-events: auto;
}

.products-menu-block .h4 {
	margin: 0 0 var(--s-4);
	color: var(--color-brand);
}

.menu-block-container a {
	color: var(--color-subdued);
	text-decoration: none;
}

.submenu-container ul {
	height: calc(100vw / 3.82978723404);
	width: calc(100vw / 6.05042016807);
	display: flex;
	flex-direction: column;
	margin-right: calc(100vw / 12.5217391304);
}

.submenu-container ul .body-tall {
	font-size: 14px;
}

.submenu-container ul li a {
	transition: 0.2s;
}

.submenu-container ul li a:hover {
	color: var(--cr-gray-2);
}

.submenu-container ul li:not(:last-child) {
	margin: 0 0 var(--s-3);
}

@media screen and (min-width: 2000px) {
	.submenu-container ul {
		height: calc(100vw / (3.82978723404 * 1.2));
	}
}

.product-block-container {
	display: grid;
	grid-template-columns: repeat(3, calc(100vw / 5.87755102041));
	column-gap: calc(100vw / 15);
	row-gap: calc(100vw / 48);
}

.product-block-container .product-block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.product-block-container .product-block .h4 {
	margin-bottom: 16px;
}
.product-block-container .product-block .h6 {
	margin: 0;
}

.product-block-container .product-block .image-container {
	height: calc(100vw / 11.0769230769);
	width: 100%;
	margin-bottom: calc(100vw / 72);
}

.product-block-container .product-block .image-container img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: bottom;
	transition: 0.4s;
}

.product-block-container .product-block .image-container .h2 {
	width: 100%;
	padding: var(--s-3);
	text-align: center;
}

.product-block-container .product-block:hover .image-container img {
	opacity: 0.7;
}

.navigation-menu-block.menu-block-container .wrapper-menu-block-container {
	display: flex;
	gap: var(--s-2);
	flex-wrap: wrap;
	margin: var(--s-section) 0;
}

.navigation-menu-block.menu-block-container .menu-block {
	position: relative;
	flex: 1;
	--size: calc(100vw / 5.05263157895);
	height: var(--size);
	width: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--color-white);
}

.navigation-menu-block.menu-block-container .menu-block .utility,
.navigation-menu-block.menu-block-container .menu-block .h6 {
	display: none;
}

.navigation-menu-block .menu-block,
.navigation-menu-block .menu-block .image-container,
.navigation-menu-block .menu-block img {
	height: var(--size);
	width: var(--size);
}

.navigation-menu-block .menu-block {
	overflow: hidden;
}

.navigation-menu-block .menu-block .h2 {
	width: 100%;
	padding: var(--s-3);
}

@media (hover: hover) {
	.navigation-menu-block .menu-block:hover .image-container img {
		transform: scale(1.15);
	}

	.navigation-menu-block .menu-block .h2 span {
		display: inline;
		line-height: 1.25;
		flex: none;
		background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0)),
			linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0)),
			linear-gradient(currentColor, currentColor);
		background-size: 15px 2px, 100% 2px, 0 2px;
		background-repeat: no-repeat;
		background-position: -15px 100%, 100% 100%, 0 100%;
		transition: background-size 0.5s, background-position 0.5s;
	}

	.navigation-menu-block .menu-block:hover .h2 span {
		background-size: 15px 1px, 0 2px, 100% 2px;
	}
}

.navigation-menu-block .menu-block img {
	position: absolute;
	z-index: -1;
	transition: 3s var(--a-swift);
}

.mobile-menu-container {
	height: calc(100vh - 72px);
	width: 100vw;
	padding: 18px 16px 33px 16px;
	position: fixed;
	top: 72px;
	right: -100vw;
	transition: transform ease var(--duration-long);
	background-color: var(--color-white);
	overflow-y: scroll;
}

.mobile-menu-container[visible='true'] {
	transform: translateX(-100vw);
}

.mobile-search-container {
	text-align: left;
}

.mobile-search-container .search-header-input {
	display: none !important;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 var(--s-4);
	background: url(../assets/svg-search-black.svg) center left/20px no-repeat;
	border-bottom: 1px solid var(--cr-gray-1);
}

.mobile-menu-container .category-selector {
	padding-top: 42px;
	padding-bottom: 34px;
	display: grid;
	grid-template-columns: repeat(2, calc(50% - (21px / 2)));
	column-gap: 21px;
}

.mobile-menu-container .select-category {
	cursor: pointer;
	transition: opacity ease var(--duration-default);
	border-bottom: solid 3px var(--color-ink);
}

.mobile-menu-container a {
	color: var(--color-subdued);
	text-decoration: none;
}

.mobile-menu-container .button--tertiary {
	color: var(--color-brand);
	text-align: center;
}

.mobile-menu-container .select-category[state='inactive'] {
	opacity: 0.3;
}
.mobile-menu-container .select-category .h4 {
	margin: 0 0 10px 0;
}
.mobile-menu-container .accordion .body-tall {
	text-transform: none;
}

.mobile-submenu-item {
	padding-left: calc(41px - 16px);
}

.mobile-submenu-item:not(:last-of-type) {
	margin-bottom: 26px;
}

.mobile-product-block-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: var(--s-3);
	row-gap: var(--s-3);
	margin-bottom: 45px;
}

.mobile-product-block-container .body-medium {
	margin: 0;
	color: var(--color-ink);
}

.mobile-product-block-container .product-block {
}

.mobile-product-block-container .image-container {
	height: calc(100vw / 4.1667);
	margin-bottom: 10px;
}

.mobile-product-block-container .image-container img {
	height: 100%;
	width: auto;
}

.mobile-navigation-block-container {
	--size: calc(100vw / 2.259);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: var(--s-3);
	row-gap: var(--s-3);
	margin-bottom: 45px;
}

.mobile-navigation-block-container .menu-block,
.mobile-product-block-container .product-block {
	position: relative;
}

.mobile-navigation-block-container .menu-block .h2,
.mobile-product-block-container .product-block .h2 {
	display: none;
	width: 100%;
	padding: var(--s-3);
	color: var(--cr-white);
	text-align: center;
	font-size: 20px;
}

.mobile-navigation-block-container .menu-block .utility,
.mobile-product-block-container .product-block .utility {
	font-weight: 400;
	font-size: 13px;
}

.mobile-navigation-block-container .menu-block .h6,
.mobile-product-block-container .product-block .h6 {
	font-size: 14px;
	color: var(--cr-black);
}

.mobile-navigation-block-container .body-tall {
	margin: 0;
}

.mobile-navigation-block-container img {
	height: var(--size);
	width: var(--size);
	margin-bottom: 10px;
}

.mobile-menu-container .mobile-menu-footer {
	margin-top: 60px;
	list-style: none;
}

.mobile-menu-container .mobile-menu-footer li:not(:last-child) {
	margin: 0 0 var(--s-3);
}

.mobile-menu-container .mobile-menu-footer li svg {
	width: 20px;
	height: 20px;
	vertical-align: -4px;
	margin: 0 var(--s-1) 0 0;
}

.mobile-menu-container .accordion__content *[state='inactive'] {
	display: none;
}

html.wishlist-has-items .mobile-menu-footer .svg-heart path {
	fill: var(--color-subdued);
}
