.login-page {
	margin: 3.4rem 1.6rem 9rem;
	display: block;
}

@media (min-width: 950px) {
	.login-page {
		margin: 6rem auto 9rem;
		max-width: 90rem;
		display: grid;
		grid-template-columns: 31.5rem auto 31.5rem;
		column-gap: 12rem;
		justify-content: center;
	}
}

.login-page__divider {
	width: 100%;
	height: 1px;
	margin: 5rem 0;
	background: var(--color-faded);
}

@media (min-width: 950px) {
	.login-page__divider {
		width: 1px;
		height: 100%;
		margin: 0;
	}
}

.login-page__description {
	text-transform: unset;
	font-family: var(--font-body-family);
}

.login-page__input-field {
	padding-top: 1.5rem;
	padding-bottom: 1.3rem;
	border: none;
	border-bottom: 1px solid var(--color-blue-gray);
	margin-bottom: 2rem;
	width: 100%;
}

.login-page__show-password {
	background: transparent;
	border: none;
	padding: 0;
	position: absolute;
	top: 1.5rem;
	right: 0;
	cursor: pointer;
}

.login-page__password-input-wrapper {
	position: relative;
	display: block;
}

.login-page__show-password.show::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background: var(--color-subdued);
	transform: rotate(45deg);
	left: 0.9rem;
	top: -0.2rem;
}

.login-page__submit-button {
	width: 100%;
	padding: 1.8rem;
	color: var(--color-white) !important;
	background: var(--color-ink) !important;
	border: none;
	cursor: pointer;
}

.login-page__login-content .login-page__submit-button {
	margin: 2rem 0;
}

.login-page__forgot-password-button {
	color: var(--color-brand);
	text-decoration: none;
	position: relative;
}

.login-page__forgot-password-button::before {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	width: 100%;
	height: 0.2rem;
	background: var(--color-ink);
}

.login-page__divider-with-text {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 3rem 0;
	color: var(--color-brand);
}

.login-page__divider-with-text::after,
.login-page__divider-with-text::before {
	content: '';
	border: 1px solid var(--color-faded);
	flex: 1;
}

.login-page__divider-with-text:not(:empty)::before {
	margin-right: 3rem;
}

.login-page__divider-with-text:not(:empty)::after {
	margin-left: 3rem;
}

.login-page__name-field {
	display: block;
}

@media (min-width: 950px) {
	.login-page__name-field {
		display: flex;
		column-gap: 1.5rem;
	}
}

.login-page__register-content .login-page__submit-button {
	margin-top: 4rem;
}

.login-page.reset-password .login-page__login-content,
.login-page.reset-password .login-page__divider,
.login-page.reset-password .login-page__register-content {
	display: none;
}

.reset-password-form {
	display: none;
}

.login-page.reset-password {
	display: block;
}

.login-page.reset-password .reset-password-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 426px;
	margin: 0 auto;
	text-align: center;
}

.login-page__cancel-reset-button {
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: none;
	padding-bottom: 5px;
	color: var(--color-brand);
	border-bottom: 2px solid var(--color-highlight);
	cursor: pointer;
	width: max-content;
}

.login-page__notify-message {
	font-size: 14px;
	line-height: 1.42;
	color: var(--color-subdued);
}

@media (min-width: 750px) {
	.login-page__notify-message {
		font-size: 16px;
		line-height: 1.5;
	}
}

.form-message {
	margin: 15px 0;
	padding: 8px;
	border-radius: 8px;
	font-size: 14px;
	background-color: var(--cr-subtle);
}
