.collections-list-navigation {
    height: 75px; width: 100vw;
    display: flex; align-items: center; justify-content: center;
    background-color: #f7f7f7;
}

.cln-container {
    display: flex; justify-content: space-between;
}

.cln-item {cursor: pointer}

@media only screen and (max-width: 990px) {
    .collections-list-navigation {
        justify-content: flex-start; padding: 0 16px;
        overflow: scroll;
    }
}