mini-bag {
	height: 100vh;
	width: 532px;
	position: fixed;
	top: 0;
	right: -532px;
	z-index: 9999;
	background-color: var(--color-white);
	transition: transform ease-out var(--duration-long);
}

mini-bag[visible='true'] {
	transform: translateX(-532px);
}

mini-bag header {
	position: relative;
	height: 82px;
	width: 532px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	background-color: var(--color-white);
	z-index: 10;
}

mini-bag .close-mini-bag {
	cursor: pointer;
}

mini-bag .highlight {
	height: 35px;
	width: 532px;
	padding: 12px 0 9px 0;
	position: absolute;
	top: 82px;
	background-color: var(--color-highlight);
	color: var(--color-brand);
	text-align: center;
	text-transform: uppercase;
	z-index: 10;
}

mini-bag .highlight .utility-thin {
	margin: 0;
}

.line_item .utility-thin {
	margin: 0;
	font-weight: 400;
}

.mini-bag-scrollable {
	max-height: calc(100vh - (82px + 35px));
	padding-top: calc(82px + 35px);
	padding-bottom: calc(212px - (82px + 35px));
	overflow-y: scroll;
}

mini-bag .line_item {
	padding: 15px 20px;
	display: grid;
	grid-template-columns: 156px auto auto;
}

.mini-bag-contents .line_item {
	min-height: 174px;
}

mini-bag .h6 {
	margin: 0;
}

mini-bag .item-image {
	position: relative;
	width: 140px;
	display: flex;
	align-self: center;
	grid-row: 1 / span 2;
	margin: 0 var(--s-3) 0 0;
}

mini-bag .item-image:after {
	content: '';
	display: block;
	padding-top: 100%;
}

mini-bag .item_details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.quantity-container {
	display: flex;
	align-items: flex-end;
}

.adjust-quantity {
	height: 30px;
	display: flex;
	cursor: pointer;
}

.adjust-quantity:not(.remove-item) {
	width: 30px;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--color-faded);
	border-radius: 50%;
}

.quantity-amount .body-small {
	color: var(--color-subdued);
}

.adjust-quantity:not(.remove-item) .body-small {
	font-size: 12px;
}

.quantity-amount {
	margin: 0 20px;
	line-height: 30px;
}

mini-bag .item_price {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

mini-bag .item_price p {
	margin: 0;
}

.remove-item {
	align-self: flex-end;
	justify-self: flex-end;
}

.remove-item p {
	margin: 0;
}

.remove-item .body-small {
	font-size: 14px;
	margin: 0;
	line-height: 28px;
}

.mini-bag-accessories {
	margin-top: 30px;
}

.mini-bag-accessories .h4 {
	padding: 0 20px;
}

.mini-bag-accessories.is-hidden,
.mini-bag-accessories .line_item.is-hidden {
	display: none;
}

.mini-bag-accessories variant-selects {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.mini-bag-accessories variant-selects .select.is-hidden {
	display: none;
}

.mini-bag-accessories variant-selects label {
	font-size: 14px;
}

.mini-bag-accessories variant-selects select {
	padding-right: 18px;
	font-size: 14px;
	background: url(../assets/svg-caret-down-black.svg) right center/10px
		no-repeat;
}

.mini-bag-accessories .add-item {
	display: flex;
	align-items: flex-end;
	cursor: pointer;
	justify-content: flex-end;
}

.mini-bag-end {
	width: 532px;
	padding: 30px 20px;
	position: absolute;
	bottom: 0;
	background-color: var(--color-white);
}

.mini-bag-end .subtotal {
	display: flex;
	justify-content: space-between;
}

.mini-bag-end .button--full-width {
	margin: 20px 0;
	justify-content: center;
}

.mini-bag-end .button--full-width p {
	margin: 0;
}

.mini-bag-end a {
	text-decoration: none;
}

.mini-bag-empty {
	padding: var(--s-6) var(--s-4);
	text-align: center;
}

.visible-unless-empty[bag-state='empty'] {
	visibility: hidden;
}

@media screen and (max-width: 700px) {
	mini-bag,
	mini-bag header,
	mini-bag .highlight,
	.mini-bag-end {
		width: 100vw;
	}
	mini-bag {
		right: -100vw;
	}
	mini-bag[visible='true'] {
		transform: translateX(-100vw);
	}
	mini-bag .line_item {
		padding: 15px 15px;
		grid-template-columns: 100px auto auto;
	}
	.mini-bag-contents .line_item {
		min-height: 130px;
	}
	mini-bag .item-image {
		width: 90px;
	}
}
