.three-points .h2,
.three-points .h6 {
	margin: 0 0 10px 0;
}

.about-three-points {
	margin-top: 140px;
	position: relative;
}

.three-points[padding='standard'] {
	padding: 100px 0;
}
.three-points[padding='extra'] {
	padding: 140px 0;
}

@media screen and (min-width: 2000px) {
	.three-points[padding='standard'] {
		padding: 150px 0;
	}
}

@media screen and (max-width: 990px) {
	.three-points[padding='standard'] {
		padding: 75px 0;
	}
}

.three-points .point-intro {
	width: calc(100vw - (16px * 2));
	max-width: 760px;
	margin: 0 auto;
	text-align: center;
}

.about-three-points .point-intro {
	max-width: 545px;
}

.three-points .each-point-container {
	width: calc((320px * 3) + (70px * 2));
	margin: 70px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 320px);
	column-gap: 70px;
}

.three-points .each-point {
	text-align: center;
}

.three-points .each-point img {
	margin-left: auto;
	margin-right: auto;
}

.three-points .each-point.ep-height-120 img {
	height: 120px;
	width: auto;
	margin-bottom: 20px;
}

.three-points .each-point.ep-height-60 img {
	height: 60px;
	width: auto;
	margin-bottom: 20px;
}

.about-three-points .each-point img {
	display: block;
	height: 68.33px;
	width: 68.33px;
}

@media screen and (max-width: 1300px) {
	.three-points .each-point-container {
		width: calc(100vw - (32px * 2));
		grid-template-columns: repeat(3, calc(33.3333% - (32px * 2 / 3)));
		column-gap: 32px;
	}
}

@media screen and (max-width: 750px) {
	.three-points .each-point-container {
		width: calc(100vw - (32px * 2));
		grid-template-columns: 100%;
		row-gap: 14px;
	}
}

.about-three-points .button-container {
	height: 198px;
	width: 282px;
	position: absolute;
	top: calc(198px / -2);
	left: calc(50vw - (282px / 2));
}
