.three-columns {
	background-color: #f7f7f7;
}

.three-column-container {
	width: calc(100vw - (16px * 2));
	max-width: 1100px;
	margin: 0 auto;
	padding: 30px 0 45px 0;
	display: grid;
	grid-template-columns: repeat(3, calc(33.3333% - (33px / 1.5)));
	column-gap: 33px;
}

@media only screen and (max-width: 990px) {
	.three-column-container {
		column-gap: 18px;
		grid-template-columns: repeat(3, calc(33.3333% - (18px / 1.5)));
	}
}

@media only screen and (max-width: 840px) {
	.three-column-container {
		max-width: 480px;
		grid-template-columns: 100%;
		row-gap: 20px;
		padding: 35px 0 45px 0;
	}
}

.each-column {
	display: flex;
	align-items: flex-start;
}

.each-column_icon-container {
	margin-right: 18px;
}

.each-column img {
	height: 40px;
	width: 40px;
	max-width: unset;
}

.cs-content .h6 {
	margin: 7px 0 14px 0;
}

.cs-content p {
	margin: 0;
}
