.promo-rows {
	position: relative;
}

.promo-row {
	min-height: calc(100vw / 2.0689);
	display: grid;
	grid-template-columns: repeat(2, 50vw);
}

.pr-block {
	position: relative;
}

.pr-image-column img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.pr-content-column {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.pr-content-column img {
	height: 100%;
	width: 100%;
	padding: 10%;
	object-fit: contain;
}

.pr-content {
	padding: 10% 5%;
	z-index: 1;
}

.pr-content h6 {
	margin: 0;
}

.pr-content h2 {
	margin-top: 20px;
	margin-bottom: 35px;
}

.pr-content h2 p {
	width: fit-content;
	margin: 0 auto;
	padding: 0 14px;
	position: sticky;
	z-index: 2;
}

.pr-content h2 p::before {
	content: '';
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: -1px;
	left: 0;
	z-index: -1;
	background-color: blue;
}

.pr-content p {
	width: 66.67%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 45px;
}

.pr-parallax-container {
	width: calc(100vw / 6.4);
	position: absolute;
	top: 0;
	left: calc(50% - ((100vw / 6.4) / 2));
	z-index: 9;
}

.pr-parallax-container img {
	height: auto;
	width: 100%;
}

@media only screen and (max-width: 990px) {
	.promo-row {
		min-height: unset;
		grid-template-columns: 100%;
	}
	.pr-image-column {
		min-height: 100vw;
		grid-row: 1;
	}
	.pr-content-column {
		grid-row: 2;
	}
	.pr-content p {
		width: 90%;
	}
	.pr-parallax-container {
		display: none !important;
	}
}

@media only screen and (max-width: 600px) {
	.pr-parallax-container {
		width: 110px;
		left: 1vw;
	}
}
