.section-checkmarks {
	width: calc(100vw - (var(--s-contain) * 2));
	margin: 0 auto 100px auto;
	text-align: center;
}

@media screen and (min-width: 2000px) {
	.section-checkmarks {
		margin: 0 auto 150px auto;
	}
}

@media screen and (max-width: 990px) {
	.section-checkmarks {
		margin: 0 auto 75px auto;
	}
}

.section-checkmarks .h1 {
	margin: 0 0 12px 0;
}
.section-checkmarks .h3 {
	margin: 0 0 24px 0;
}

.checkmarks-intro {
	width: 100%;
	max-width: 730px;
	margin: 0 auto 30px auto;
}

.checkmarks-container {
	width: calc(100vw / 1.16129032258);
	max-width: 1440px;
	margin: 60px auto 50px auto;
	display: flex;
	justify-content: space-between;
}

.each-checkmark {
	display: flex;
	align-items: center;
	text-align: left;
}

.each-checkmark:not(:last-of-type) {
	padding-right: 16px;
}

.each-checkmark .checkmark-icon-container {
	min-height: 26px;
	min-width: 26px;
	margin-right: 16px;
	border: 1px solid #ffa400;
	align-items: center;
	border-radius: 50%;
	text-align: center;
}

.button--tertiary {
	width: 200px;
}

@media screen and (max-width: 990px) {
	.section-checkmarks {
		display: flex;
		flex-direction: column;
	}

	.each-checkmark:not(:last-of-type) {
		padding-right: 0;
		margin: 0 0 var(--s-3);
	}

	.checkmarks-container {
		width: unset;
		margin: 10px auto 40px auto;
		flex-direction: column;
	}
}
