.carousel-hover-cards {
    padding: 0 60px;
}

.carousel-intro {width: 130px}

.carousel-cards {
    padding: 0 0 0 60px;
    display: grid; grid-template-columns: 50px auto;
    column-gap: 60px;
}

.carousel-card-container {
    width: calc(100vw - (60px + 50px + 60px)); position: relative;
}

.carousel-card {
    height: calc(100vw / 2.9387); margin: 0 40px 0 50px;
    display: flex; justify-content: center; text-align: center;
    position: relative; transition: ease-in-out var(--duration-long);
    background-color: var(--color-gray);
}

.carousel-card[index='even'] {
    margin-top: calc(100vw / 8.22857142857);
}

.carousel-tag {
    position: absolute; z-index: 1;
    color: #ededed; text-align: left;
}

.carousel-card[index='odd'] .carousel-tag {width: 80%; right: 10%; bottom: -90px}
.carousel-card[index='odd'] .carousel-tag .heading_xl {text-align: right}

.carousel-card[index='even'] .carousel-tag {width: 60%; left: -50px; top: -85px}
.carousel-card[index='even'] .carousel-tag .h2 {margin-left: 75px}

.carousel-tag * {margin: 0}
.carousel-tag .h2 {opacity: 1; transition: opacity ease var(--duration-long);}
.carousel-tag .heading_xl {font-size: 136px}

.carousel-body {
    padding: 50px 25px 25px 25px; z-index: 1;
    color: var(--color-white); text-align: left;
    background-color: rgba(0,0,0,0.4); overflow-y: scroll;
    opacity: 0; transition: opacity ease var(--duration-long);
}

@media only screen and (min-width: 1800px) {
    .carousel-body {padding: 50px 50px 25px 25px}
}

.carousel-card:hover .carousel-body {opacity: 1}
.carousel-card:hover .carousel-tag .h2 {opacity: 0}

.carousel-body .h2 {margin: 0}

.carousel-image {
    transition: ease-in-out var(--duration-long);
}

.carousel-card img {
    height: 100%; width: 100%; object-fit: cover;
}

.carousel-content {
    align-self: center; position: relative;
}

.carousel-card .h3 {
    z-index: 1; color: var(--color-white);
}

@media only screen and (max-width: 990px) {
    .carousel-cards {
        grid-template-columns: 100%;
    }
    .carousel-card {
        height: calc(100vw / 1.46935); margin: 0 45px 90px 0;
    }
    .carousel-card[index='even'] {
        margin-top: unset
    }
    .carousel-intro {
        width: calc(100vw - (60px *2)); display: flex; justify-content: space-between; align-items: center;
    }
    .carousel-card-container {
        width: calc(100vw - (60px + 60px));
    }
    .carousel-card[index='odd'] .carousel-tag,
    .carousel-card[index='even'] .carousel-tag {
        width: 80%; right: 10%; bottom: -90px;
        left: unset; top: unset;
    }
    .carousel-card[index='even'] .carousel-tag .h2 {
        margin-left: unset
    }
    .carousel-card[index='even'] .carousel-tag .heading_xl {
        text-align: right
    }
}

@media only screen and (max-width: 600px) {
    .carousel-intro {
        width: calc(100vw - (16px * 2))
    }
    .carousel-cards {
        padding: 0 16px;
    }
    .carousel-card-container {
        width: calc(100vw - (16px + 16px));
    }
    .carousel-card {
        height: calc(100vw / 1.25); margin: 0 15px 50px 0;
    }
    .carousel-card[index='odd'] .carousel-tag,
    .carousel-card[index='even'] .carousel-tag {
        width: 100%; bottom: -60px; right: -8px
    }
    .carousel-tag .heading_xl {font-size: 120px}
}