.product {
	margin: 0;
}

.product__title {
	margin: 10px 0 14px 0;
}

.product__title {
	margin: 10px 0 14px 0;
}

.product--no-media {
	max-width: 57rem;
	margin: 0 auto;
}

.product__media-wrapper {
	padding-left: 0;
}

.product__info-wrapper {
	padding-left: 0;
	padding-bottom: 0;
}

@media screen and (max-width: 749px) {
	.product-section {
		margin-top: 0;
	}
}

@media screen and (min-width: 750px) {
	.product__info-container--sticky {
		position: sticky;
		top: calc(74px + 45px);
		z-index: 2;
	}

	.product__info-wrapper {
		padding-left: 5rem;
	}

	.product__media-container .slider-buttons {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.product:not(.product--no-media) .product__media-wrapper {
		max-width: 63%;
		width: calc(63% - 1rem / 2);
	}

	.product:not(.product--no-media) .product__info-wrapper {
		padding: 45px 65px 45px 58px;
		max-width: 37%;
		width: calc(37% - 1rem / 2);
	}
}

@media screen and (max-width: 1199px) {
	.product:not(.product--no-media) .product__media-wrapper {
		max-width: 50%;
		width: calc(50% - 1rem / 2);
	}

	.product:not(.product--no-media) .product__info-wrapper {
		padding: 45px 65px 45px 58px;
		max-width: 50%;
		width: calc(50% - 1rem / 2);
	}
}

@media screen and (max-width: 770px) {
	.product:not(.product--no-media) .product__media-wrapper {
		max-width: 100%;
		width: 100%;
	}

	.product:not(.product--no-media) .product__info-wrapper {
		padding: 32px 16px 0 16px;
		max-width: 100%;
		width: 100%;
		margin-top: -1px;
	}
}

/* Dynamic checkout */

.shopify-payment-button__button {
	border-radius: 0;
	min-height: 4.6rem;
	overflow: hidden;
}

.shopify-payment-button__button--unbranded {
	background-color: rgba(var(--color-button), var(--alpha-button-background));
	box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
	font-size: 1.4rem;
	line-height: 1.2;
	letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
	background-color: rgba(var(--color-button), var(--alpha-button-background));
	box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

.shopify-payment-button__button--unbranded:focus {
	outline: 0.3rem solid rgb(var(--color-foreground));
	outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus-visible {
	outline: 0.3rem solid rgb(var(--color-foreground));
	outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus:not(:focus-visible) {
	outline: 0;
}

.shopify-payment-button__more-options {
	margin: 1.6rem 0 1rem;
	font-size: 1.2rem;
	line-height: 1.5;
	letter-spacing: 0.05rem;
	text-decoration: underline;
	text-underline-offset: 0.3rem;
}

/* Product form */

.product-form {
	display: block;
}

.product-form__submit.is-hidden:not(.GiftWizard-gift-button) {
	position: absolute;
	visibility: hidden;
}

/* Form Elements */
.product-form__input {
	flex: 0 0 100%;
	padding: 0;
	margin: 0;
	max-width: 37rem;
	min-width: fit-content;
	border: none;
}

variant-radios,
variant-selects {
	display: block;
}

.product-form__input--dropdown {
	margin-bottom: 1.6rem;
}

.product-form__input .form__label {
	padding-left: 0;
}

fieldset.product-form__input .form__label {
	margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.product-form__input input[type='radio'] + label {
	border: 1px solid var(--color-blue-gray);
	background-color: rgb(var(--color-background));
	color: rgb(var(--color-foreground));
	display: inline-block;
	margin: 0px 5px 10px 0;
	padding: 15px 23.5px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	cursor: pointer;
	height: 45px;
}

.product-form__input.option-size input[type='radio'] + label {
	width: 45px;
	padding: 15px 0;
}

.product-form__input input[type='radio'] + label:hover {
	border: 2px solid var(--color-blue-gray);
	margin: -1px 3px 11px 0;
}

.product-form__input.option-size input[type='radio'] + label:hover {
	margin: -1px 5px 10px 0;
}

.product-form__input input[type='radio']:checked + label {
	background-color: rgb(var(--color-foreground));
	color: rgb(var(--color-background));
	border: 2px solid var(--color-faded);
	margin: 4px 5px 4px 0;
}

.product-form__input.option-size input[type='radio']:checked + label {
	margin: -1px 5px 10px 0;
}

.product-form__input input[type='radio']:disabled + label {
	border-color: rgba(var(--color-foreground), 0.1);
	color: rgba(var(--color-foreground), 0.4);
	text-decoration: line-through;
}
.product-form__input input[type='radio']:focus-visible + label {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* Fallback */
.product-form__input input[type='radio']:focus + label {
	box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
		0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.product-form__input input[type='radio']:focus:not(:focus-visible) + label {
	box-shadow: none;
}

.product-form__input .select {
	max-width: 25rem;
}

.product-form__submit {
	margin-bottom: 1rem;
}

.product-form__submit[disabled] + .shopify-payment-button {
	display: none;
}

/* Overrides */
.shopify-payment-button__more-options {
	color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

/* Product info */

.product__info-container > * + * {
	margin: 1.5rem 0;
}

.product__info-container > *:last-child {
	margin-bottom: 0;
}

.product__info-container .product-form,
.product__info-container .product__description,
.product__info-container .share-button {
	margin: 2.5rem 0;
}

.product__text {
	margin-bottom: 0;
}

a.product__text {
	display: block;
	text-decoration: none;
	color: rgba(var(--color-foreground), 0.75);
}

.product__text.caption-with-letter-spacing {
	text-transform: uppercase;
}

.product__title {
	word-break: break-word;
	margin-bottom: 1.5rem;
}

.product__title + .product__text.caption-with-letter-spacing {
	margin-top: -1.5rem;
}

.product__text.caption-with-letter-spacing + .product__title {
	margin-top: 0;
}

.product .price {
	align-items: flex-start;
}

.product .price--sold-out .price__badge-sold-out {
	background: transparent;
	color: rgb(var(--color-background));
	padding: 1rem 1.6rem 0 0.6rem;
	border: none;
}

.product .price--sold-out .price__badge-sale {
	display: none;
}

@media screen and (min-width: 750px) {
	.product__info-container > *:first-child {
		margin-top: 0;
	}
}

.product__description-title {
	font-weight: 600;
}

.product--no-media .product__title,
.product--no-media .product__text {
	text-align: center;
}

.product--no-media fieldset.product-form__input,
.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown,
.product--no-media .share-button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.product--no-media .product-form__quantity,
.product--no-media .product-form__input--dropdown {
	flex-direction: column;
	max-width: 100%;
}

.product--no-media fieldset.product-form__input {
	flex-wrap: wrap;
	margin: 0 auto 1.2rem auto;
}

.product--no-media .product__info-container > modal-opener {
	display: block;
	text-align: center;
}

.product--no-media .product-popup-modal__button {
	padding-right: 0;
}

.product--no-media .price {
	justify-content: center;
}

.product--no-media .product__info-wrapper {
	padding-left: 0;
}

/* Product media */

@media screen and (max-width: 749px) {
	.product__media-list {
		margin-left: -2.5rem;
		padding-bottom: 2rem;
		margin-bottom: 3rem;
		width: calc(100% + 4rem);
	}

	/* .product__media-wrapper slider-component {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  } */

	.slider.product__media-list {
		padding-bottom: 0;
	}

	.slider.product__media-list::-webkit-scrollbar {
		height: 0.2rem;
		width: 0.2rem;
	}

	.product__media-list::-webkit-scrollbar-thumb {
		background-color: rgb(var(--color-foreground));
	}

	.product__media-list::-webkit-scrollbar-track {
		background-color: rgba(var(--color-foreground), 0.2);
	}

	.product__media-list .product__media-item {
		width: calc(100% - 3rem);
	}

	.product__media-list .product__media-item:first-of-type {
		padding-left: 1.5rem;
	}
}

@media screen and (min-width: 750px) {
	.product__media-item:first-child {
		width: 100%;
	}
}

@media screen and (min-width: 750px) and (max-width: 989px) {
	.product__media-list .product__media-item:first-child {
		padding-left: 0;
	}

	.product__media-list .product__media-item {
		padding: 0 0 0.5rem;
		width: 100%;
	}
}

.product__media-icon .icon {
	width: 1.2rem;
	height: 1.4rem;
}

.product__media-icon {
	background-color: rgb(var(--color-background));
	border-radius: 50%;
	border: 0.1rem solid rgba(var(--color-foreground), 0.1);
	color: rgb(var(--color-foreground));
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	position: absolute;
	left: 1.5rem;
	top: 1.5rem;
	z-index: 1;
	transition: color var(--duration-short) ease,
		opacity var(--duration-short) ease;
}

.product__media-video .product__media-icon {
	opacity: 1;
}

.product__modal-opener--image .product__media-toggle:hover {
	cursor: zoom-in;
}

.product__modal-opener:hover .product__media-icon {
	border: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

@media screen and (min-width: 750px) {
	.grid__item.product__media-item--full {
		width: 100%;
	}
}

@media screen and (min-width: 990px) {
	.product__media-icon {
		opacity: 0;
	}

	.product__modal-opener:hover .product__media-icon,
	.product__modal-opener:focus .product__media-icon {
		opacity: 1;
	}
}

.product__media-item > * {
	display: block;
	position: relative;
}

.product__media-toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.product-media-modal {
	background-color: rgb(var(--color-background));
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.product-media-modal[open] {
	visibility: visible;
	opacity: 1;
	z-index: 101;
}

.product-media-modal__dialog {
	display: flex;
	align-items: center;
	height: 100vh;
}

.product-media-modal__content {
	max-height: 100vh;
	width: 100%;
	overflow: auto;
}

.product-media-modal__content > *:not(.active),
.product__media-list .deferred-media {
	display: none;
}

@media screen and (min-width: 750px) {
	.product-media-modal__content {
		padding-bottom: 2rem;
	}

	.product-media-modal__content > *:not(.active) {
		display: block;
	}

	.product-media-modal__content > *:first-child {
		padding-top: 2rem;
	}

	.product__modal-opener:not(.product__modal-opener--image) {
		display: none;
	}

	.product__media-list .deferred-media {
		display: block;
	}
}

.product-media-modal__content > * {
	display: block;
	height: auto;
	margin: auto;
}

.product-media-modal__content .media {
	background: none;
}

.product-media-modal__model {
	width: 100%;
}

.product-media-modal__toggle {
	background-color: rgb(var(--color-background));
	border: 0.1rem solid rgba(var(--color-foreground), 0.1);
	border-radius: 50%;
	color: rgba(var(--color-foreground), 0.55);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	right: 2rem;
	padding: 1.2rem;
	position: fixed;
	z-index: 2;
	top: 2rem;
	width: 4rem;
}

.product-media-modal__content .deferred-media {
	width: 100%;
}

@media screen and (min-width: 750px) {
	.product-media-modal__content > * {
		max-width: 96%;
		width: 100%;
	}

	.product-media-modal__content > * + * {
		margin-top: 2rem;
	}

	.product-media-modal__toggle {
		right: 4.8rem;
		top: 3.5rem;
	}
}

@media screen and (min-width: 990px) {
	.product-media-modal__content > * {
		max-width: 98%;
	}

	.product-media-modal__content > * + * {
		margin-top: 1.5rem;
	}

	.product-media-modal__content {
		padding-bottom: 1.5rem;
	}

	.product-media-modal__content > *:first-child {
		padding-top: 1.5rem;
	}

	.product-media-modal__toggle {
		right: 4.3rem;
		top: 3rem;
	}
}

.product-media-modal__toggle:hover {
	color: rgba(var(--color-foreground), 0.75);
}

.product-media-modal__toggle .icon {
	height: auto;
	margin: 0;
	width: 2.2rem;
}

/* Product popup */

.product-popup-modal {
	box-sizing: border-box;
	opacity: 0;
	position: fixed;
	visibility: hidden;
	z-index: -1;
	margin: 0 auto;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100%;
	background: rgba(var(--color-foreground), 0.2);
	height: 100%;
}

.product-popup-modal[open] {
	opacity: 1;
	visibility: visible;
	z-index: 101;
}

.product-popup-modal__content {
	background-color: rgb(var(--color-background));
	overflow: auto;
	height: 80%;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 5rem;
	width: 92%;
	position: absolute;
	top: 0;
	padding: 0 1.5rem 0 3rem;
}

@media screen and (min-width: 750px) {
	.product-popup-modal__content {
		padding-right: 1.5rem;
		margin-top: 10rem;
		width: 70%;
		padding: 0 3rem;
	}
}

.product-popup-modal__content img {
	max-width: 100%;
}

@media screen and (max-width: 749px) {
	.product-popup-modal__content table {
		display: block;
		max-width: fit-content;
		overflow-x: auto;
		white-space: nowrap;
		margin: 0;
	}
}

.product-popup-modal__opener {
	display: block;
}

.product-popup-modal__button {
	font-size: 1.6rem;
	padding-right: 1.3rem;
	padding-left: 0;
	height: 4.4rem;
	text-underline-offset: 0.3rem;
	text-decoration-thickness: 0.1rem;
	transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
	text-decoration-thickness: 0.2rem;
}

.product-popup-modal__content-info {
	padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

@media screen and (max-width: 749px) {
	.product-popup-modal__content-info > * {
		max-height: 100%;
	}
}

.product-popup-modal__toggle {
	background-color: rgb(var(--color-background));
	border: 0.1rem solid rgba(var(--color-foreground), 0.1);
	border-radius: 50%;
	color: rgba(var(--color-foreground), 0.55);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: sticky;
	padding: 1.2rem;
	z-index: 2;
	top: 1.5rem;
	width: 4rem;
	margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
	color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
	height: auto;
	margin: 0;
	width: 2.2rem;
}

.price__compare {
	align-self: flex-end;
}

/* Additions by RM */

.colorway_label {
	margin: 20px 0 24px 0;
	transition: opacity ease-in-out 0.2s;
}

.model_colorways {
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin-bottom: 30px;
}

.each_colorway {
	position: relative;
	width: 60px;
	display: flex;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}

.each_colorway:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.each_colorway.current_selection {
	border: 2px solid var(--color-faded);
}

.last-chance {
	margin: 0 0 -1.5rem 0;
	padding-bottom: 6px;
	color: var(--color-highlight);
	text-align: center;
}

.brand-value-container {
	display: block;
	max-width: 360px;
	margin: var(--s-2) auto 0;
	text-align: center;
}

.brand-value-container svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 var(--s-1);
	vertical-align: middle;
	color: var(--cr-yellow);
}

.brand-value-container .t-b-2-m {
	display: inline-block;
	margin: 0;
}

.brand-value-details {
	position: relative;
	height: 0;
	margin: var(--s-2) 0 0;
	padding: 0 0 1px;
	overflow: hidden;
}

.brand-value-details-interior {
	padding: 1px 0;
}

.brand-value {
	margin: 0 0 0 10px;
	color: var(--color-brand);
	text-align: center;
}

.highlight-container {
	margin: 30px 0 0 0;
	display: flex;
	justify-content: space-around;
}

.each-highlight {
	font-size: 14px;
	line-height: 1.43;
	text-align: center;
}

@media screen and (max-width: 770px) {
	.model_colorways {
		width: 100vw;
		margin: 0 calc(0px - var(--s-contain));
		padding: 0 var(--s-contain);
		scroll-padding: var(--s-contain);
		overflow: hidden;
	}

	.model_colorways {
		display: block;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	.each_colorway {
		display: inline-block;
		width: 90px;
		margin-left: 1px;
		margin-right: var(--s-2);
		scroll-snap-align: start;
	}
}

.pdp-price {
	display: flex;
	align-items: flex-end;
}

.pdp-price .afterpay-paragraph {
	display: inline-block !important;
	font-size: 11px !important;
	color: var(--color-subdued);
	padding-left: 10px;
	padding-bottom: 1px;
}

.pdp-price .afterpay-logo {
	display: inline-block;
	width: 80px !important;
	margin: 0 3px;
}

@media screen and (max-width: 600px) {
	.pdp-price .afterpay-logo {
		width: 60px !important;
	}
}

.pdp-price .afterpay-link-inner {
	display: inline-block;
	vertical-align: middle;
	font-size: 0 !important;
	width: 14px;
	height: 14px;
	background: url(../assets/icon-info.svg) center/contain no-repeat;
}

.pdp-media-grid {
	height: min-content;
	width: calc(100vw - 37vw);
	margin: 3px 0 0 0;
	display: grid;
	grid-template-columns: repeat(2, calc(((100vw - 37vw) / 2) - 1.5px));
	column-gap: 3px;
	row-gap: 3px;
	grid-row: inherit;
}

.pdp-media-cell,
.pdp-media-row {
	height: calc(((100vw - 37vw) / 2) - 1.5px);
	width: 100%;
	background-color: var(--color-lighter-gray);
	overflow: hidden;
	position: relative;
}

.pdp-media-row {
	background-color: transparent;
}

.pdp-media-cell .pdp-cell-magnified {
	height: 100%;
	width: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity ease var(--duration-short);
	pointer-events: none;
}

.pdp-media-cell img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	transition: transform ease var(--duration-default);
}

.pdp-media-cell .image-magnify {
	position: absolute;
	bottom: var(--s-3);
	right: var(--s-3);
	width: var(--s-3);
	height: var(--s-3);
	opacity: 0;
	transition: 0.2s;
}

@media screen and (max-width: 770px) {
	.pdp-media-cell .image-magnify,
	.pdp-media-cell .pdp-cell-magnified {
		display: none;
	}
}

.pdp-media-cell .image-magnify:before,
.pdp-media-cell .image-magnify:after {
	content: '';
	display: block;
	position: absolute;
	width: var(--s-3);
	height: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--cr-black);
}

.pdp-media-cell .image-magnify:before {
	transform: translate(-50%, -50%) rotate(90deg);
}

.pdp-media-cell.is-magnified .image-magnify:before {
	opacity: 0;
}

.pdp-media-cell.is-magnified .pdp-cell-magnified {
	opacity: 1;
}

.pdp-media-cell:hover .image-magnify,
.pdp-media-cell.is-magnified .image-magnify {
	opacity: 1;
}

.pdp-media-row {
	grid-column: 1 / span 2;
	line-height: 0;
	height: fit-content !important;
}

.pdp-media-row:after {
	content: '';
	display: block;
	padding-top: 56.25%;
}

.pdp-media-row iframe {
	height: 100%;
	width: 100%;
	object-fit: cover;
	pointer-events: none;
}

.pdp-media-row > * {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1199px) {
	.pdp-media-grid {
		width: 50vw;
		grid-template-columns: repeat(2, calc(((100vw - 50vw) / 2) - 1.5px));
	}
	.pdp-media-cell {
		height: calc(((100vw - 50vw) / 2) - 1.5px);
	}
}

.pdp-media-grid-mobile-scrollbar {
	display: none;
}

@media screen and (max-width: 770px) {
	.pdp-media-grid {
		width: unset;
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		padding: 0 0 var(--s-3);
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.pdp-media-grid::-webkit-scrollbar {
		display: none;
	}

	.pdp-media-grid-mobile-scrollbar {
		position: relative;
		display: block;
		height: var(--s-1);
		width: calc(100% - var(--s-contain) * 2);
		margin: 0 var(--s-contain);
		overflow: hidden;
		background-color: var(--cr-subdued);
		border-radius: var(--s-2);
	}

	.pdp-media-grid-mobile-scrollbar .scrollbar-thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 33%;
		height: var(--s-1);
		background-color: var(--cr-gray-1);
		border-radius: var(--s-2);
	}

	.pdp-media-cell,
	.pdp-media-row {
		height: calc(100vw / 1.16459627329);
		scroll-snap-align: start;
	}
	.pdp-media-cell {
		min-width: calc(100vw / 1.16459627329);
	}
	.pdp-media-row {
		min-width: calc((100vw / 1.16459627329) / 9 * 16) !important;
		height: calc(100vw / 1.16459627329) !important;
	}

	.pdp-media-cell .image-magnify {
		display: none;
	}
}

.price__compare {
	align-self: flex-end;
}
