.collection-quote-container {
	padding: 165px 0 110px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--color-light-blue);
	color: var(--color-brand);
}

.collection-quote {
	width: 80%;
	max-width: 770px;
}

.collection-quote .h5 {
	font-family: 'Garamond', serif;
	line-height: 1.17;
	text-transform: capitalize;
}

.collection-quote img {
	display: block;
	max-width: 160px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 770px) {
	.collection-quote-container {
		padding: 40px 0 10px 0;
	}
	.collection-quote .h5 {
		line-height: 1.3;
	}
}
