.collection-image-and-text {
    width: 100vw; display: grid; grid-template-columns: repeat(2, 50vw);
}

.height-cit-tall {min-height: calc(100vw / 2.4)}
.height-cit-medium {min-height: calc(100vw / 2.74285714286)}

.collection-image-and-text img {
    height: 100%; width: 100%; object-fit: cover;
}

.cit-content-container {
    display: flex; align-items: center; justify-content: center; text-align: center;
    padding: 32px
}

.cit-content .h1 {margin: 0 0 18px 0}
.cit-content .h1 p {margin: 0}
.cit-content .body-tall {
    width: 80%; max-width: 500px; margin: 0 auto
}

@media only screen and (max-width: 990px) {
    .collection-image-and-text {grid-template-columns: 100%}
    .cit-content-container {padding: 50px 32px}
}