.fine-print-box {
	width: calc(100vw - (60px * 2));
	margin: 0 auto 100px auto;
	padding: 100px 30px;
	background-color: var(--color-lighter-gray);
	text-align: center;
}

.fp-list-container {
	max-width: 626px;
	margin: 0 auto;
	text-align: left;
}

.fp-list-item {
	display: flex;
	align-items: flex-start;
}

.fp-tickmark {
	min-height: 26px;
	min-width: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-highlight);
	border-radius: 50%;
	margin-right: 9px;
}

.fp-list-item p {
	margin: 0;
}
.fp-list-item:not(:last-of-type) {
	margin-bottom: 14px;
}

@media screen and (max-width: 990px) {
	.fine-print-box {
		width: calc(100vw - (32px * 2));
		margin-bottom: 75px;
		padding: 50px 32px 60px 32px;
	}

	.fine-print-box .h2 {
		margin: 0 0 var(--s-3) !important;
	}
}

@media screen and (max-width: 550px) {
	.fine-print-box .h2 {
		font-size: 24px;
	}

	.fp-list-item {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.fp-list-item:not(:last-of-type) {
		margin-bottom: 18px;
	}
	.fp-tickmark {
		margin-bottom: 10px;
		margin-right: 0;
	}
}
