.cs-section .intro-container {
	width: calc(100vw - 48px);
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width: 2000px) {
	.cs-section .intro-container {
		max-width: 900px;
	}
}

.cs-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cs-section .h1 {
	margin: 0;
}

.cs-section .intro-container .h6 {
	margin: 8px 0 15px 0;
}

.cs-section p {
	color: var(--color-subdued);
}

.cs-card-container {
	display: grid;
	column-gap: 21px;
	margin-top: 21px;
	grid-template-columns: repeat(3, min(calc(100vw / 3.3882), 500px));
	/* grid-template-rows: min(calc(100vw / 3.3882), 550px); */
	grid-template-rows: unset;
}

@media only screen and (max-width: 1370px) {
	.cs-card-container {
		grid-template-rows: unset;
	}
}

.cs-card {
	display: flex;
	flex-direction: column;
	padding: calc(100vw / 30);
	text-align: center;
}

.cs-icon-container img {
	height: 70px;
	width: 70px;
	margin: auto;
}

.cs-card .h6 {
	line-height: 1.3;
}

.cs-card p {
	font-size: 14px;
	margin: 0;
}

.cs-link-container {
	height: 100%;
	margin-top: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

@media only screen and (max-width: 889px) {
	.customer-service-page__support-hours {
		grid-template-columns: repeat(1, 1fr);
	}

	.cs-card-container {
		width: calc(100vw - (26px * 2));
		max-width: 400px;
		grid-template-rows: repeat(3, min(calc(100vw - 52px), 400px));
		grid-template-columns: 100%;
		column-gap: 0;
		row-gap: 20px;
	}
	.cs-card {
		padding: 60px;
	}
	.cs-icon-container {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.cs-icon-container img {
		height: 54px;
		width: 54px;
	}
	.cs-card .h6 {
		font-size: 16px;
		line-height: 1.3;
	}
	.cs-link-container {
		margin-top: 0;
	}
	.cs-link-container .button--secondary {
		font-size: 14px;
	}
}

@media only screen and (max-width: 452px) {
	.cs-card {
		padding: 40px;
	}
}

@media only screen and (max-width: 400px) {
	.cs-card {
		padding: 30px;
	}
}
