.dual-ctas {
	padding: 0 60px;
}

@media screen and (max-width: 990px) {
	.dual-ctas {
		padding: 0;
	}
}

.dual-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.dual_images {
	grid-row: 1;
	overflow: hidden;
}

.dual_left-image {
	grid-column: 1;
}

.dual_right-image {
	grid-column: 2;
}

.dual_mobile-image {
	grid-column: 1 / span 2;
}

.dual-container {
	overflow: hidden;
}

.dual-container img {
	position: relative;
	height: 102%;
	width: 102%;
	object-fit: cover;
}

.dual_content {
	grid-row: 1;
	grid-column: 1 / span 2;
	display: flex;
	align-items: center;
	position: relative;
	padding: 60px 0;
}

.dual_content-container {
	width: 100%;
	text-align: center;
}

.dual_content .heading_xxl {
	font-size: 150px;
	line-height: 0.82;
	margin-top: 0;
	margin-bottom: 60px;
	color: var(--color-white);
}

@media only screen and (min-width: 2000px) {
	.dual_content .heading_xxl {
		font-size: 170px;
		line-height: 0.85;
		margin-bottom: 120px;
	}
}

@media screen and (min-width: 750px) and (max-width: 990px) {
	.dual_content .heading_xxl {
		font-size: 96px;
		line-height: 1;
	}
}

@media screen and (max-width: 749px) {
	.dual_content .heading_xxl {
		font-size: 48px;
		line-height: 1;
	}
}

.dual_content p {
	margin: 0;
}

.dual_buttons {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

@media screen and (max-width: 749px) {
	.dual_buttons {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		position: absolute;
		bottom: 0;
	}
}

.dual_buttons .button--tertiary {
	padding: 18px 66.5px;
}

@media only screen and (min-width: 2000px) {
	.dual_buttons .button--tertiary {
		padding: 33.5px 98px;
	}
}

@media screen and (max-width: 989px) {
	.dual_buttons .button--tertiary {
		color: var(--color-brand);
	}
}

@media screen and (max-width: 749px) {
	.dual_buttons .button--tertiary {
		padding: 18px 34px;
	}
}
