.vertical-sequence {
	padding: 0 60px;
}

.vertical-sequence .step-container {
	display: grid;
	grid-template-columns: 50.83% 16.82% 32.35%;
}

.vertical-sequence .step-container[index='odd'] .step-image {
	padding-right: calc(100vw / 130.909090909);
}

.vertical-sequence .step-container[index='even'] .step-image {
	grid-column: 3;
	grid-row: 1;
}

.vertical-sequence .step-container[index='even'] .step-content {
	grid-column: 1;
	grid-row: 1;
	text-align: right;
	padding-right: calc(100vw / 19.7260273973);
}

.step-container .step-image img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.step-container .step-index,
.step-container .step-content {
	display: flex;
	align-items: center;
}

.step-container .step-index {
	background: linear-gradient(
		90deg,
		#ffffff 49.5%,
		rgba(5, 5, 5, 0.4) 50.5%,
		#fff 50.5%
	);
	background-size: 100%;
}

@media screen and (min-width: 1600px) {
	.step-container .step-index {
		background: linear-gradient(
			90deg,
			#ffffff 49.75%,
			rgba(5, 5, 5, 0.4) 50.25%,
			#fff 50.25%
		);
	}
}

.step-container .step-index .step-align {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.step-container .step-index .step-align .step-indicator {
	height: 72px;
	width: 72px;
	line-height: 70px;
	border: 1px solid rgba(5, 5, 5, 0.4);
	border-radius: 50%;
	transition: ease 1s;
	transition-delay: 0.33s;
	background-color: var(--color-white);
	color: rgba(5, 5, 5, 0.4);
}

.step-container .step-index .step-align .step-indicator[highlight='true'] {
	background-color: var(--color-highlight);
	border-color: var(--color-highlight);
	color: var(--color-brand);
}

.step-container .step-content .step-ctas {
	margin-top: 30px;
}

.step-container .step-content .step-ctas a {
	text-decoration: none;
}
.step-container .step-content .step-ctas a:not(:last-child) {
	margin-right: 30px;
}

@media screen and (max-width: 1240px) {
	.step-container .step-content .step-ctas {
		flex-direction: column;
	}
	.step-container .step-content .step-ctas a:not(:last-child) {
		margin-right: 0;
		margin-bottom: 15px;
	}
}

.step-container[index='odd'] .step-content {
	width: 100%;
	max-width: 440px;
}

.step-container[index='even'] .step-content {
	width: 100%;
	max-width: 470px;
	justify-self: flex-end;
}

@media screen and (min-width: 1600px) {
	.step-container[index='odd'] .step-content {
		max-width: 520px;
	}
	.step-container[index='even'] .step-content {
		max-width: 600px;
	}
}

.step-container:not(:last-of-type) .step-image {
	padding-bottom: calc(100vw / 11.7073170732);
}

.step-container:not(:last-of-type) .step-index .step-align .step-indicator,
.step-container:not(:last-of-type) .step-content {
	margin-top: calc(-100vw / 11.7073170732);
}

@media screen and (max-width: 990px) {
	.vertical-sequence {
		padding: 0 16px 0 1px;
	}
	.vertical-sequence .step-container {
		grid-template-columns: 21.87% 73.33%;
	}
	.step-container .step-index {
		grid-row: 1 / span 2;
	}
	.step-container .step-index .step-align .step-indicator {
		height: 42px;
		width: 42px;
		line-height: 40px;
	}
	.vertical-sequence .step-container[index='odd'] .step-image,
	.vertical-sequence .step-container[index='even'] .step-image {
		grid-row: 1;
		grid-column: 2;
		padding-left: 0;
		padding-right: 0;
	}
	.step-container .step-content {
		padding-top: 20px;
	}
	.step-container[index='odd'] .step-content {
		grid-row: 2;
		grid-column: 2;
	}
	.vertical-sequence .step-container[index='even'] .step-content {
		grid-column: 2;
		grid-row: 2;
		text-align: left;
		padding-right: 0;
	}
	.step-container[index='even'] .step-content {
		justify-self: flex-start;
	}
	.step-container .step-content .step-ctas {
		margin-top: 20px;
	}
	.step-container:not(:last-of-type) .step-content {
		padding-bottom: 72px;
	}
	.step-container:not(:last-of-type) .step-index .step-align .step-indicator {
		margin-top: -72px;
	}
	.step-container .step-content .step-ctas {
		flex-direction: row;
	}
	.step-container .step-content .step-ctas a:not(:last-child) {
		margin-right: 15px;
	}
}

@media screen and (max-width: 600px) {
	.step-container .step-index {
		background: linear-gradient(
			90deg,
			#ffffff 49%,
			rgba(5, 5, 5, 0.4) 51%,
			#fff 51%
		);
	}
}

@media screen and (max-width: 450px) {
	.step-container .step-content .step-ctas {
		display: flex;
		flex-direction: column;
	}

	.step-container .step-content .step-ctas a {
		width: fit-content;
		text-align: center;
	}

	.step-container .step-content .step-ctas a:not(:last-child) {
		margin-right: 0;
		margin-bottom: 15px;
	}
}

.step-container .step-index {
	opacity: 1 !important;
	animation: unset !important;
}
