.vh-intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.vh-card-container {
	position: relative;
}

.vh-card-container .flickity-slider {
	margin-left: var(--s-edge);
}

.vh-card {
	width: 375px;
	padding: var(--s-3) var(--s-3) var(--s-3) 0;
	max-width: 80vw;
	position: relative;
	transition: ease-in-out var(--duration-long);
}

.vh-card-interior {
	position: relative;
	text-align: center;
}

@media (hover: hover) {
	.vh-card:hover {
		transform: scale(1.05);
	}
}

.vh-card .overlay {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
}

.vh-card .banner__media {
	z-index: 1;
}

.vh-card-interior:after {
	content: '';
	display: block;
	padding-top: 125%;
}

.vh-image {
	transition: ease-in-out var(--duration-long);
}

.vh-card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.vh-card video,
.vh-card .vh-overlay {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.vh-card .vh-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.vh-content {
	z-index: 3;
}

.vh-card .h3 {
	z-index: 1;
	color: var(--color-white);
}

.vh-card .button {
	opacity: 0;
	height: 0;
	margin-top: 0;
	transition: ease-in-out var(--duration-long);
}

@media only screen and (min-width: 2000px) {
	.vh-card .button {
		padding: 34px 164.33px;
	}
}

.vh-card:hover .vh-fade-on-hover {
	opacity: 0;
}

.vh-card .button {
	white-space: nowrap;
	margin-top: 10%;
}

.vh-card:hover .button {
	opacity: 1;
}

@media only screen and (max-width: 990px) {
	.vh-intro {
		display: block;
		max-width: 300px;
		text-align: center;
	}
}

.vh-mobile {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: var(--s-1);
}

.vh-mobile-block {
	height: calc(((100vw - (18px * 2)) / 2));
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(--color-white);
	text-decoration: none;
}

.vh-mobile-block .overlay {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
}

.vh-mobile-block img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.vh-mobile-block .vh-content {
	z-index: 5;
}

.vh-mobile-block .vh-content .h3 {
	font-size: 18px;
	text-align: center;
}

.vh-mobile-cta {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.vh-mobile-cta .button--tertiary {
	color: var(--color-brand);
	width: 200px;
}
