.collection-list-banner {
    height: calc(100vw / 4.14985590778); width: 100vw; display: grid;
}

.collection-list-banner img {
    height: 100%; width: 100%; object-fit: cover;
    grid-row: 1; grid-column: 1;
}

.clb-content-container {
    display: flex; align-items: center; justify-content: center;
    grid-row: 1; grid-column: 1; text-align: center;
    color: var(--color-white);
}

.clb-content .h1 {margin: 0 0 18px 0}
.clb-content p {margin: 0; max-width: 480px}

@media only screen and (max-width: 990px) {
    .collection-list-banner {
        height: unset; min-height: calc(100vw / 0.75); 
        grid-template-rows: calc(100vw / 1.30208333333) auto;
    }
    .clb-content-container {
        grid-row: 2; background-color: #f7f7f7; color: var(--color-ink); padding: 32px
    }
    .clb-content p {
        color: var(--color-subdued)
    }
}