.checkerboard-row {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	overflow: hidden;
}

.cb-image-column {
	height: 50vw;
	width: 50vw;
	z-index: 1;
	position: relative;
	z-index: 10;
}

.cb-image-column img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cb-content-column {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cb-content-column .cb-content {
	width: 80%;
	max-width: 450px;
	text-align: center;
	z-index: 1;
}

.cb-content h2 {
	margin: 0 0 20px 0;
}
.cb-content p {
	margin: 0;
}

.cb-content a {
	text-decoration: underline;
}

.cb-block .banner__media {
	overflow: hidden;
}

.cb-background-text {
	position: absolute;
	bottom: 15%;
	pointer-events: none;
}

.cb-background-text .cb-background-text-interior {
	transform: rotate(-90deg);
}

.cb-background-text[position='left'] {
	left: -60px;
}
.cb-background-text[position='right'] {
	right: -125px;
}
.cb-background-text.shift_bg_text[position='left'] {
	left: -145px;
	bottom: 160px;
}
.cb-background-text.shift_bg_text[position='right'] {
	right: -125px;
	bottom: 160px;
}

.cb-background-text h4 {
	font-size: 232px;
	margin: 0;
	color: #ededed;
}

@media screen and (max-width: 990px) {
	.checkerboard-row {
		grid-template-columns: 100%;
	}
	.cb-image-column {
		height: 100vw;
		width: 100vw;
		grid-row: 1;
	}
	.cb-content-column {
		padding: 55px 0 75px 0;
		grid-row: 2;
	}

	.cb-background-text {
		transform: unset !important;
	}

	.cb-background-text .cb-background-text-interior {
		transform: unset;
	}

	.cb-background-text,
	.cb-background-text[position='left'] {
		bottom: unset;
		right: unset;
		top: 0;
		left: 5px;
		transform: none;
	}

	.cb-background-text.shift_bg_text,
	.cb-background-text.shift_bg_text[position='left'] {
		bottom: unset;
		right: unset;
		top: 0;
		left: 20px;
	}
}

@media screen and (max-width: 600px) {
	.cb-content-column {
		padding: 40px 0 75px 0;
		grid-row: 2;
	}

	.cb-background-text,
	.cb-background-text[position='left'] {
		bottom: unset;
		right: unset;
		left: 5px;
		transform: none;
	}

	.cb-background-text.shift_bg_text,
	.cb-background-text.shift_bg_text[position='left'] {
		bottom: unset;
		right: unset;
		left: 15px;
	}

	.cb-background-text h4 {
		font-size: 128px;
	}
}

.cb-block .banner__media img {
	transform: scale(1.2);
	transition: 3s ease-out;
}

.cb-block .banner__media[data-animate] img {
	transform: scale(1.2);
	transition: 3s ease-out;
}

.cb-block .banner__media[data-animate].is-animated img {
	opacity: 0;
	transform: scale(1);
}
