.alt-collection-banner {
	min-height: calc(100vw / 2.54416961131);
	width: 100vw;
	margin-bottom: 75px;
	display: grid;
	grid-template-columns: repeat(2, 50vw);
	background-color: #f7f7f7;
}

.acb-image-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.acb-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 80px 30px;
}

.acb-content {
	max-width: 330px;
	margin: auto;
}

.acb-content img {
	display: block;
	max-width: 60px;
	margin: auto;
}

.acb-content-container .h1 {
	margin: 25px 0;
}
.acb-content-container .h1 p,
.acb-content-container span p {
	margin: 0;
}

.acb-eyebrow {
	margin: 16px auto 0 auto;
}
.acb-body {
	margin: 8px auto 30px auto;
}

@media screen and (max-width: 990px) {
	.alt-collection-banner {
		grid-template-columns: 100%;
		margin-bottom: 30px;
	}
	.acb-content-container {
		padding-bottom: 40px;
	}
	.acb-content img {
		height: 40px;
		width: auto;
	}
	.acb-eyebrow {
		margin: 10px auto 0 auto;
	}
	.acb-content-container .h1 {
		margin: 12px 0;
	}
	.acb-eyebrow,
	.acb-body {
		width: 80%;
	}
}
