.footer-container {
	padding: 74px 60px 18px 60px;
	max-width: 1920px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 16.83% 10.6% 40.2% 25.28% 7.09%;
}

.footer a,
.footer p {
	text-decoration: none;
}

.footer-link_list-tall {
	grid-row: span 2;
}

.footer-link_list .body-medium {
	margin: 0 0 var(--s-3);
}

.footer .link--text {
	white-space: nowrap;
	color: var(--color-subdued);
	transition: 0.4s;
}

@media (hover: hover) {
	.footer .link--text:hover {
		opacity: 0.7;
	}
}

.footer-social {
	width: 100%;
	padding: 0 5% 0 16.72%;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	.footer-container {
		padding: 74px 30px 18px 30px;
		grid-template-columns: 16.83% 20.6% 30.2% 25.28% 7.09%;
	}
	.footer-social {
		padding: 0 22% 0 5%;
	}
}

.footer-social_links {
	display: flex;
	justify-content: space-between;
	margin: 15px auto 0 auto;
	max-width: 200px;
	filter: grayscale(1) brightness(0);
}

.footer-social_links svg {
	width: 18px;
	height: 18px;
	color: var(--cr-black);
}

.footer-support p.list-menu__item--link {
	margin: 0;
	padding-bottom: 4px;
}

.footer-support a.list-menu__item--link {
	padding-top: 0;
}

.footer-subscribe {
	max-width: 290px;
	padding-top: 28px;
	grid-column: 4;
	grid-row: 2;
}

#ContactFooter .footer__newsletter {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid;
}

#ContactFooter .newsletter-form__field-wrapper {
	width: 100%;
}

#ContactFooter .newsletter-form__field-wrapper .field {
	height: 97%;
}

.footer-field__input {
	width: 90%;
	background: var(--color-background);
	border: none;
}

#ContactFooter button {
	min-width: unset;
	letter-spacing: 0;
	padding-left: 0;
	padding-right: 0;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-brand);
	border-bottom: hidden;
}

.footer .copyright {
	grid-column: span 5;
	grid-row: 3;
	font-size: 12px;
	margin-top: 38px;
	color: var(--color-subdued);
}

@media screen and (max-width: 990px) {
	.footer-container {
		padding: 35px 16px 10px 16px;
		grid-template-columns: 100%;
	}

	.footer-link_list,
	.footer-support {
		max-width: 420px;
		width: 100%;
		margin: 15px auto 0 auto;
	}

	.footer-support {
		grid-row: 3;
	}

	.footer-social {
		grid-row: 1;
		padding: 0 0 0 0;
	}

	.footer-subscribe {
		max-width: 420px;
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		grid-column: unset;
		grid-row: 2;
	}

	.footer .copyright {
		grid-column: unset;
		grid-row: unset;
	}
}

/* NOTE: Can we delete everything below this? */

@media screen and (min-width: 750px) {
	footer .accordion {
		display: none;
	}
}

@keyframes appear-down {
	0% {
		opacity: 0;
		margin-top: -1rem;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}

footer details[open] summary ~ * {
	animation: appear-down var(--duration-default) ease;
}

.footer .accordion .list-menu__item--link {
	justify-content: center;
	text-align: center;
}

.footer-block__details-content {
	margin-bottom: 4rem;
}

.footer-block__details-content li:first-child .link {
	padding-top: 3rem;
}

@media screen and (min-width: 750px) {
	.footer-block__details-content {
		margin-bottom: 0;
	}

	.footer-block__details-content li:first-child .link {
		padding-top: 0;
	}

	.footer-block__details-content > p,
	.footer-block__details-content > li {
		padding: 0;
	}

	.accordion:first-child + .footer-block:last-child li,
	.footer-block:only-child li {
		display: inline;
	}

	.footer-block__details-content > li:not(:last-child) {
		margin-right: 1.5rem;
	}
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
	color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
	transition: text-decoration-thickness var(--duration-short) ease;
	color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
	.footer-block__details-content .list-menu__item--link:hover,
	.copyright__content a:hover {
		color: rgb(var(--color-foreground));
		text-decoration: underline;
		text-underline-offset: 0.3rem;
	}

	.footer-block__details-content .list-menu__item--active:hover {
		text-decoration-thickness: 0.2rem;
	}
}

@media screen and (max-width: 989px) {
	.footer-block__details-content .list-menu__item--link {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: 0.5rem;
	}
}

@media screen and (min-width: 750px) {
	.footer-block__details-content .list-menu__item--link {
		display: inline-block;
		font-size: 1.4rem;
	}

	.footer-block__details-content > :first-child .list-menu__item--link {
		padding-top: 0;
		margin-top: 0;
	}
}

@media screen and (max-width: 749px) {
	.footer-block-image {
		text-align: center;
	}
}

.footer-block-image > img {
	height: auto;
}

.footer-block__details-content .placeholder-svg {
	max-width: 20rem;
}

.copyright__content a {
	color: currentColor;
	text-decoration: none;
}

@keyframes animateLocalization {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(-1rem);
	}
}

.footer .disclosure__link {
	padding: 0.95rem 3.5rem 0.95rem 2rem;
	color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
	color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
	text-decoration: underline;
}
