.technology-blocks .h2 {
	margin-left: 60px;
	margin-bottom: 35px;
}

.technology-row {
	display: grid;
	grid-template-columns: repeat(2, 50vw);
}

.row-content {
	height: calc(100vw / 2.9568);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-lighter-gray);
}

.row-content .content_container {
	width: 90%;
	max-width: 480px;
	color: var(--color-subdued);
}

.content_container .h5 {
	margin: 0;
	margin-bottom: 20px;
	color: var(--color-ink);
}

.content_container p {
	margin: 0;
}

.row-image {
	position: relative;
}

@media screen and (min-width: 900px) {
	.row-image img {
		height: 133%;
		width: auto;
		position: absolute;
	}
	.row-image[position='right'] img {
		right: -10%;
	}
	.row-image[position='left'] img {
		left: -25%;
	}
}

@media screen and (max-width: 899px) {
	.technology-blocks .h2 {
		text-align: center;
		margin-left: unset;
		margin-bottom: 35px;
	}
	.technology-row {
		grid-template-columns: 100%;
		margin-bottom: 60px;
	}
	.row-content {
		height: initial;
		grid-row: 2;
		padding-top: 20px;
		background-color: initial;
		text-align: center;
	}
	.row-image {
		grid-row: 1;
		display: flex;
		justify-content: center;
	}

	.row-image[image-fill] {
		height: 65vw;
		max-height: 450px;
	}

	.row-image img {
		height: 100%;
		width: auto;
		max-width: 480px;
		position: relative;
	}
}
