.text-beneath-image img {
    height: auto; width: 100vw;
}

.text-beneath-image-content {
    max-width: 1920px; margin: 0 auto;
    display: grid; grid-template-columns: repeat(3, calc(33.3333% - (60px * 2 / 3)));
    padding: 70px 60px 140px 60px; column-gap: 60px;
}

@media screen and (max-width: 990px) {
    .text-beneath-image-content {
        grid-template-columns: calc(33.3333% - 30px) calc(66.6667% - 30px);
    }
    .text-beneath-image-content .h2 {grid-row: 1 / span 2;}
}

@media screen and (max-width: 600px) {
    .text-beneath-image-content {
        grid-template-columns: 100%; text-align: center;
        padding: 35px 16px 50px 16px;
    }
    .text-beneath-image-content .h2 {margin: 0 0 12px 0}
    .text-beneath-image-content p {margin: 0}
}