.page-404__content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 750px) {
	.page-404__content {
		flex-direction: row;
	}
}

.page-404__content-label {
	color: var(--color-brand);
}

.page-404__content-title {
	margin: 0;
}

.page-404__content-description {
	margin: 0;
}

.page-404__content-text {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 30%;
	text-align: center;
	width: calc(100vw - 32px);
}

@media (min-width: 750px) {
	.page-404__content-text {
		order: 0;
		width: auto;
	}
}

.page-404__content-cta {
	border: 1px solid var(--color-brand);
	color: var(--color-brand);
	margin-top: 2rem;
	width: 100%;
}

@media (min-width: 750px) {
	.page-404__content-cta {
		margin-top: 5rem;
		width: auto;
	}
}

.page-404__image {
	height: 20rem;
}

@media (min-width: 750px) {
	.page-404__image {
		flex-basis: 70%;
		height: auto;
	}
}

.page-404__recommended-products-header {
	display: flex;
	justify-content: space-between;
	margin: 7rem 1.6rem 2.5rem;
}

@media (min-width: 750px) {
	.page-404__recommended-products-header {
		margin: 0 6rem 4rem 3rem;
	}
}

.page-404__recommended-products-header h5 {
	margin: 0;
}

.glide__arrows {
	display: none;
	width: 100vw;
	height: calc((((100vw / 3.6) - 20px) * 1.24) + (17px * 2));
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 750px) {
	.glide__arrows {
		display: flex;
	}
}

.glide__arrow {
	pointer-events: all;
	cursor: pointer;
	margin-right: 90px;
	padding: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	transition: ease-in-out var(--duration-default);
}

.glide__arrow--left {
	opacity: 0;
}

.page-404__recommended-product-list {
	position: relative;
	margin-left: 1.5rem;
}

@media (min-width: 750px) {
	.page-404__recommended-product-list {
		margin-left: 3rem;
	}
}
