.full-image-and-text .fit-row {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.fit-image-column {
	height: calc(100vw / 1.87012987013);
	width: 50vw;
	position: relative;
	z-index: 10;
}

.fit-image-column img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.fit-content-column {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.fit-content-column .fit-content {
	width: 90%;
	max-width: 450px;
	text-align: center;
	z-index: 1;
}

.fit-content h2 {
	margin: 0 0 20px 0;
}
.fit-content p {
	margin: 0;
}
.fit-content a {
	text-decoration: none;
}

.fit-subhead {
	margin: -14px 0 24px 0;
}

.fit-ctas {
	width: 80%;
	margin: 50px auto 0 auto;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 990px) {
	.full-image-and-text .fit-row {
		grid-template-columns: 100%;
	}
	.fit-image-column {
		height: 100vw;
		width: 100vw;
		grid-row: 1;
	}
	.fit-content-column {
		padding: 55px 0 75px 0;
		grid-row: 2;
	}
}

@media screen and (max-width: 600px) {
	.fit-content-column {
		padding: 40px 0 75px 0;
		grid-row: 2;
	}

	.fit-ctas {
		width: 100%;
	}
}
