/* Height Ratios
375/236   = 1.589 | Mobile
1440/576  = 2.500 | Laptop
2880/850  = 3.388 | 2k */

.subscribe-container {
	height: calc(100vw / 2.5);
	display: flex;
	align-items: center;
	position: relative;
}

@media screen and (min-width: 2000px) {
	.subscribe-container {
		height: calc(100vw / 3.388);
	}
}

@media screen and (max-width: 550px) {
	.subscribe-container {
		height: unset;
		padding: calc(var(--s-section) * 2) 0;
		text-align: center;
	}
}

.banner__media {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.subscribe-container .media > img {
	object-position: top left;
}

.subscribe-container .content {
	max-width: 360px;
	margin: 0 calc(100vw / 8) 0 auto;
	z-index: 1;
}

@media screen and (min-width: 2000px) {
	.subscribe-container .content {
		margin: 0 calc(100vw / 5) 0 auto;
	}
}

@media screen and (max-width: 550px) {
	.subscribe-container .content {
		max-width: 280px;
		margin: auto;
	}
}

.subscribe-container .content p {
	margin: 0;
}

.subscribe-form {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid rgba(255, 255, 255, 1) 1px;
	transition: 0.4s;
}

.subscribe-form input[type='email'] {
	padding: 0 20px;
}

.subscribe-form button[type='submit'] svg {
	transition: 0.4s;
}

.subscribe-form button[type='submit'] {
	min-width: 60px;
}

@media (hover: hover) {
	.subscribe-form:hover {
		border: solid rgba(255, 255, 255, 0.6) 1px;
	}

	.subscribe-form button[type='submit']:hover svg {
		transform: translateX(var(--s-1));
	}
}

.newsletter-form__field-wrapper {
	width: 100%;
}

.subscribe-form .section-field__input {
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	color: var(--color-white);
}

.subscribe-form .section-field__input::placeholder {
	color: var(--color-white);
}

.subscribe-form .section-field__input:-ms-input-placeholder {
	color: var(--color-white);
}

.subscribe-form .section-field__input::-ms-input-placeholder {
	color: var(--color-white);
}

.subscribe-container .success-message {
	margin-top: var(--s-3);
}
