.customer-service-page {
	max-width: 65rem;
	margin: 10rem auto;
}

.customer-service-page__title {
	margin-top: 0;
	margin-bottom: 1.4rem;
	text-transform: uppercase;
	text-align: center;
}

.customer-service-page__description {
	margin: 0;
	color: var(--color-subdued);
	text-align: center;
}

.customer-service-page__support-hours {
	margin: 7.5rem 0;
	display: grid;
	grid-template-columns: 219px 250px;
	column-gap: 6px;
}

.customer-service__page-support-hours-content {
	margin-top: 1rem;
	color: var(--color-subdued);
}

.customer-service__page-support-hours-content p {
	margin: 0;
}

.customer-service-page__view-faq-cta {
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color-ink);
	color: var(--color-ink);
	display: block;
	width: max-content;
	margin-top: 2.5rem;
}

.customer-service-page__call-us-container {
	margin-bottom: 7.5rem;
}

.customer-service-page__call-us-message {
	color: var(--color-subdued);
	margin: 1rem 0;
}

.customer-service-page__link-cta {
	text-decoration: none;
	padding-bottom: 5px;
	color: var(--color-brand);
	border-bottom: 2px solid var(--color-highlight);
	width: max-content;
}

.contact-form__select,
.contact-form__input {
	border: none;
	padding-top: 1.6rem;
	padding-bottom: 1.4rem;
	border-bottom: 1px solid var(--color-faded);
	margin-bottom: 2rem;
	width: 100%;
}

.contact-form__select {
	background: url(../assets/svg-caret-down-black.svg) right center/10px
		no-repeat;
}

.contact-form__submit {
	border: none;
	background: var(--color-ink);
	padding: 18px 78.5px;
	color: var(--color-white);
	cursor: pointer;
	margin-top: 3rem;
}

.contact-form__label {
	display: block;
	margin: 1rem 0;
	color: var(--color-faded);
}

.contact-form__textarea {
	border: 1px solid var(--color-faded);
	border-radius: 0;
	padding: 1.5rem;
	width: 100%;
}

.contact-icon-blocks {
	margin: 10rem 6rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
}

.contact-icon-block {
	padding: 7rem 7.8rem 4rem 7.8rem;
	background: var(--color-lighter-gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.contact-icon-block__title {
	margin-top: 4rem;
	margin-bottom: 0;
}

.contact-icon-block__message {
	color: var(--color-subdued);
	margin-top: 1.5rem;
}

.contact-icon-block .customer-service-page__link-cta {
	margin-top: 4rem;
}

.customer-service__sidebar {
	position: fixed;
	top: 30rem;
	left: 6rem;
	list-style: none;
	padding: 0;
}

.customer-service__sidebar-link {
	margin-bottom: 2rem;
}

.customer-service__sidebar-link.active a {
	color: var(--color-ink);
}

.customer-service__sidebar-link a {
	color: var(--color-subdued);
	text-decoration: none;
}
