.page-general-text {
  margin: 7.5rem auto;
  max-width: 80rem;
}

.page-general-text h1 {
  text-transform: uppercase;
}

.page-general-text p {
  color: var(--color-subdued);
}

.page-general-text ul {
  padding-left: 2.5rem;
  color: var(--color-subdued);
}
