.full-banner {
	width: 100vw;
	position: relative;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
	display: block !important;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1;
}

.banner__media {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.banner__media video {
	object-fit: cover;
}

.banner-contents {
	position: relative;
	text-align: center;
	z-index: 5;
}

.banner-content-interior {
	max-width: 600px;
	margin: auto;
}

.banner-contents p {
	margin: 0;
}

.banner-icon-container {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 45px;
}

.banner-eyebrow {
	display: block;
	margin-bottom: 20px;
}

.banner-body {
	width: 90%;
	max-width: 620px;
}

.content-center .banner-body {
	margin-left: auto !important;
	margin-right: auto !important;
}

.banner-scroll {
	position: absolute;
	width: 20px;
	left: 50%;
	bottom: var(--s-3);
	transform: translateX(-50%);
	color: var(--cr-white);
	z-index: 10;
}

.full-banner.is-full-screen {
	max-height: calc(100vh - 30px);
	height: calc(var(--s-viewport-height) - 74px - 30px);
}

html#frontpage .full-banner.is-full-screen {
	height: calc(var(--s-viewport-height) - 30px);
}

.banner-scroll svg {
	color: var(--cr-white);
}

@media only screen and (min-width: 750px) {
	.full-banner.content-left {
		justify-content: flex-start;
		padding-left: 90px;
	}
	.full-banner.content-right {
		justify-content: flex-end;
		padding-right: 90px;
	}
	.content-left .banner-contents,
	.content-right .banner-contents {
		text-align: left;
	}
}

@media only screen and (max-width: 750px) {
	.banner-icon-container {
		margin-bottom: 30px;
	}
	.banner-icon svg {
		height: 50px;
		width: 50px;
	}
}

@media only screen and (max-width: 550px) {
	.banner-cta {
		margin-top: 15px;
	}
}

.full-banner .banner-headline span,
.full-banner .banner-subhead,
.full-banner .banner-cta {
	opacity: 0;
}

.full-banner[data-animate] .banner-headline span {
	display: inline-block;
}

.full-banner[data-animate] .banner-headline span br {
	display: none !important;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(1) {
	animation: 0.6s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(2) {
	animation: 0.6s 0.1s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(3) {
	animation: 0.6s 0.2s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(4) {
	animation: 0.6s 0.3s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(5) {
	animation: 0.6s 0.4s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(6) {
	animation: 0.6s 0.5s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(7) {
	animation: 0.6s 0.6s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(8) {
	animation: 0.6s 0.7s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(9) {
	animation: 0.6s 0.8s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(10) {
	animation: 0.6s 0.9s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(11) {
	animation: 0.6s 1s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-headline span:nth-child(12) {
	animation: 0.4s 1.1s fadeInUp both;
}

.full-banner[data-animate].is-animated .banner-subhead,
.full-banner[data-animate].is-animated .banner-cta {
	animation: 0.4s fadeInUp both;
}
