.two-column {
	padding: var(--s-section) var(--s-edge);
	min-height: 80vh;
	background-color: var(--color-brand);
	color: var(--color-white);
	position: relative;
}

.two-column .overlay {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1;
}

.two-column .h1 {
	margin: 0 0 76px 0;
	text-align: center;
	position: relative;
	z-index: 2;
}

.two-column .h3 {
	margin: 0 0 14px 0;
}

.two-column p {
	margin: 0;
}

.two-column-container {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	max-width: 1065px;
	margin: auto;
	z-index: 2;
}

.two-column-container .each-column-content {
	width: calc(100vw / 2.88);
	z-index: 2;
}

@media screen and (max-width: 900px) {
	.two-column-container {
		position: relative;
		display: block;
	}

	.two-column-container .each-column-content {
		width: 100%;
		margin: 0 0 var(--s-4);
		z-index: 2;
	}
}

.two-column img {
	height: 100%;
	width: 100%;
	z-index: 1;
	object-fit: cover;
	object-position: center center;
}
