.store-locator-section {
	display: none;
}

.store-locator-section .full-banner {
	height: 423px;
}

#store-locator-title,
.main_search_label,
.header_html,
.search_limit,
.distance_label {
	display: none !important;
}

.store-locator-section .spaced-section {
	margin-bottom: 0;
}

.search_bar {
	padding: 0 !important;
	margin: 10rem 6rem 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: transparent !important;
	border: none !important;
	column-gap: 4rem;
}

.main_search_bar {
	width: 100% !important;
}

.search_within_distance {
	height: 100%;
}

.search_within_distance select {
	height: 100%;
}

.main_search_bar #address_search,
.search_within_distance #within_distance {
	padding: 1rem 2rem;
	width: 100%;
	font-size: 14px;
	line-height: 2;
	color: var(--color-subdued);
	border: 1px solid var(--color-subdued);
}

.search_bar #submitBtn {
	margin: 0 !important;
	padding: 1.8rem !important;
	font-weight: 500 !important;
	font-size: 14px !important;
	border: none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background: var(--color-ink) !important;
	color: var(--color-white) !important;
	font-family: var(--font-body-family) !important;
	text-shadow: none !important;
}

#store_map {
	height: 819px !important;
	margin-top: 9rem;
	padding-left: 4rem;
	margin-right: 6rem;
	width: calc(67% - 10rem) !important;
}

.addresses {
	padding-left: 6rem;
	padding-right: 0 !important;
	height: 950px !important;
	margin-top: 11rem;
}

.addresses li {
	border: 2px solid var(--color-subdued) !important;
	padding: 2rem !important;
	margin-bottom: 2rem;
	background: transparent !important;
	font-size: 16px !important;
	line-height: 1.5 !important;
	cursor: pointer;
}

.addresses li.active {
	border-color: var(--color-highlight) !important;
}

.addresses li a {
	width: 100% !important;
}

.addresses li a .name {
	font-weight: 500 !important;
	font-size: 18px;
	line-height: 1.55;
	color: var(--color-ink) !important;
	margin-bottom: 0.5rem;
}

.addresses li a span {
	color: var(--color-subdued) !important;
}

/* Map tooltip styling */
.gm-style .gm-style-iw-c {
	border-radius: 0;
	padding: 2rem;
	padding-top: 4rem;
}

.gm-style .gm-style-iw-c button {
	top: 1rem !important;
	right: 2rem !important;
	width: 2rem !important;
	height: 2rem !important;
}

.gm-style .gm-style-iw-c button img {
	width: 100% !important;
	height: 100% !important;
}

.gm-style-iw-d {
	padding: 0 !important;
}

#store_map .name {
	font-weight: 500 !important;
	font-size: 18px;
	line-height: 1.55;
	color: var(--color-ink) !important;
	margin-bottom: 0.5rem;
}

.gm-style .gm-style-iw {
	font-size: 16px !important;
	line-height: 1.5 !important;
	color: var(--color-subdued) !important;
}

.store-locatore__content {
	position: relative;
}

.store-locatore__heading {
	position: absolute;
	top: 8rem;
	left: 6rem;
}

.store-locatore__direction-container {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.store-locator__locator-icon {
	display: none;
}

.store-locatore__direction-label a {
	margin: 0 !important;
}

.search_within_distance #within_distance {
	background: url(../assets/svg-caret-down-black.svg) right 20px center/10px
		no-repeat;
}

@media screen and (max-width: 900px) {
	#store_map {
		float: unset !important;
		width: 100% !important;
		margin-right: 0;
		padding-left: 0;
		max-height: 100vw;
		min-height: 100vw !important;
	}

	.search_bar {
		height: 120px;
		display: block;
		margin: var(--s-section) var(--s-contain);
		grid-template-rows: repeat(1, 1fr);
	}

	.search_within_distance {
		height: 52px;
		width: calc(100% - 110px);
	}

	.store-locatore__heading {
		top: 150px;
		display: none !important;
	}

	.addresses {
		margin-top: var(--s-section);
		width: 100% !important;
		padding: 0 var(--s-contain) !important;
		height: unset !important;
		min-height: 100vw !important;
	}
}

@media screen and (max-width: 600px) {
	.search_within_distance {
		width: 100%;
		float: unset !important;
	}

	.search_bar #submitBtn {
		float: none;
		height: 52px;
		width: 100%;
	}
}
