body {
	width: 100vw;
	min-height: 100vh;
	padding: 30px 5vw;
	background: #f7f7f7;
	color: var(--color-ink);
	font-family: var(--font-body-family);
}

.gift-card__header {
	text-align: center;
}

.gift-card__header img {
	max-width: 92px;
	margin: 0 auto 30px;
}

.gift-card__header .gift-card__heading {
	margin: 0;
}

.gift-card__content {
	max-width: 420px;
	margin: 3.9rem auto;
	padding: 40px;
	text-align: center;
	background: #fff;
	box-shadow: 0px 4px 20px rgba(5, 5, 5, 0.05);
	border-radius: 8px;
}

.gift-card__balance {
	max-width: 320px;
	margin: 0 auto 20px;
	font-family: var(--font-heading-family);
}

.gift-card__number {
	margin: 0 0 40px;
	height: 50px;
	line-height: 53px;
	border: 1px solid #c4c4c4;
	padding: 1.1rem 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.55;
	width: 100%;
	text-align: center;
}

.gift-card__content .svg-logo {
	width: 150px;
	margin: auto;
}

.gift-card__notification {
	max-width: 420px;
	margin: auto;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.gift-card__notification {
		font-size: 14px;
	}
}

.gift-card__button {
	margin: 5rem auto 0;
	width: 100%;
	max-width: 420px;
	padding: 1.8rem;
	font-size: 14px;
	font-weight: 500;
	color: var(--cr-white) !important;
	background: var(--color-ink);
	display: block;
	text-decoration: none;
	text-align: center;
}

@media (min-width: 750px) {
	.gift-card__button {
		margin: 11rem auto 0;
	}
}
