.plp-filter-container {
	height: 100vh;
	width: 420px;
	padding: 36px 20px 60px 36px;
	position: fixed;
	top: 0;
	left: -420px;
	z-index: 9999;
	background-color: var(--color-white);
	overflow-y: scroll;
	transition: transform ease var(--duration-default);
}

.plp-filter-container[visible='true'] {
	transform: translateX(420px);
}

.plp-filter-container-intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.plp-filter-container .h3 {
	font-weight: 500;
	margin-top: 0;
}
.close-plp-filters {
	cursor: pointer;
}

.plp-filter-and-sort {
	padding: 0 60px;
}

.plp-filter-and-sort,
.plp-filter-action-container,
.plp-open-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plp-product-count .h6 {
	color: var(--color-faded);
}

.plp-open-action {
	cursor: pointer;
}

.plp-open-action[action='open-filters'] {
	margin-right: 45px;
}

.plp-open-action[action='open-filters'] svg {
	margin-right: 14px;
}

.plp-open-action[action='open-sort'] svg {
	height: 10px;
	width: 10px;
	margin-left: 10px;
}

.plp-open-action select {
	padding-right: 18px;
	background: url(../assets/svg-caret-down-black.svg) right center/10px
		no-repeat;
}

@media screen and (max-width: 749px) {
	.plp-filter-and-sort {
		flex-direction: column;
		align-items: flex-start;
	}

	.mobile-plp-filter-action-container {
		width: 100%;
		column-gap: 15px;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: repeat(2, calc(50% - ((15px * 1) / 2)));
	}

	.plp-filter-action-container {
		width: 100%;
		order: 1;
		margin: 0 0 var(--s-4);
	}

	.plp-open-action {
		flex: 1;
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid var(--color-brand);
	}

	.plp-open-action select {
		text-align: center;
		padding-right: 0;
		background: unset;
	}

	.plp-open-action[action='open-filters'] {
		margin-right: var(--s-3);
	}

	.plp-product-count {
		order: 2;
	}
}

@media screen and (max-width: 700px) {
	.plp-filter-and-sort {
		padding: 0 16px;
	}
	.plp-filter-container {
		width: 100vw;
		left: -100vw;
		padding: 16px;
	}
	.plp-filter-container[visible='true'] {
		transform: translateX(100vw);
	}
}

.plp-grid {
	display: grid;
	grid-template-columns: repeat(3, calc(33.3333% - ((20px * 2) / 3)));
	padding: 30px 60px;
	margin-bottom: 96px;
	column-gap: 20px;
	row-gap: 12px;
}

.plp-interstitial {
	grid-column: auto / span 2;
	position: relative;
}

.plp-column-card a {
	height: 100%;
	display: grid;
	grid-template-columns: calc(100vw / 4) calc(100vw / 4.36363636364);
	padding: 20px calc(100vw / 24);
	column-gap: calc(100vw / 24);
	background-color: #f7f7f7;
}

@media screen and (max-width: 990px) {
	.plp-grid {
		grid-template-columns: repeat(2, calc(50% - ((20px * 1) / 2)));
	}
	.plp-interstitial {
		min-height: calc(100vw / 2.61818181818);
		grid-column: 1 / span 2 !important;
	}
	.plp-column-card a {
		grid-template-columns: repeat(2, auto);
	}
}

.plp-column-card .plp-column-image-container,
.plp-column-card .plp-column-content-container {
	display: flex;
	align-items: center;
}

.plp-column-image-container img {
	height: auto;
	width: 100%;
}

.plp-column-content .plp-column-icon {
	margin: 0 0 20px 0;
}
.plp-column-content .plp-column-icon svg {
	height: 60px;
	width: 60px;
}
.plp-column-content h6 {
	margin: 0 0 28px 0;
	color: var(--color-brand);
}
.plp-column-content p {
	margin: 0;
}

@media screen and (max-width: 720px) {
	.plp-grid {
		grid-template-columns: 100%;
		padding: 20px 16px;
	}
	.plp-interstitial {
		min-height: calc(100vw / 0.7197696737);
		min-width: 100vw;
		margin-left: -16px;
		grid-column: 1 !important;
	}
	.plp-column-card a {
		grid-template-columns: 100%;
		text-align: center;
	}
	.plp-column-content h6 {
		margin: 0 0 10px 0;
	}
}

.plp-video-card video,
.plp-overlay-card img {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	object-fit: cover;
}

.plp-video-card video {
	object-position: center center;
}
.plp-overlay-card img {
	object-position: left bottom;
}

.plp-overlay-card .plp-overlay-content {
	position: relative;
	z-index: 2;
	color: var(--color-white);
}

.plp-overlay-card .plp-overlay-content {
	position: absolute;
	left: 50px;
	bottom: 50px;
}

.plp-overlay-card .plp-overlay-content .h2,
.plp-overlay-card .plp-overlay-content p {
	margin: 0;
}

.plp-overlay-card .plp-overlay-content .h2 {
	font-size: 48px;
}

.boost-pfs-filter-mobile-toolbar,
.boost-pfs-filter-mobile-footer {
	display: none;
}

/* .collection {
  position: relative;
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: 6rem;
  }
}

.collection-product-count {
  margin-top: 0;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .collection-product-count {
    margin-top: 1.5rem;
  }
}

.collection.loading .collection-product-count {
  visibility: hidden;
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 5rem;
  background-color: rgba(var(--color-background), 0.7);
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-filters {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 750px) {
  .collection-filters {
    display: block;
  }

  .collection-filters > * + * {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.collection-filters__label {
  display: block;
  color: var(--color-foreground-85);
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 1rem;
  width: 100%;
}

.collection-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  cursor: pointer;
  height: 4.5rem;
  padding: 0 1.5rem;
  min-width: 25rem;
  margin-top: 2.4rem;
  border: 0.1rem solid rgba(var(--color-foreground), 0.55);
}

.collection-filters__summary::after {
  position: static;
}

.collection-filters__item {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}

.collection-filters__field {
  flex-grow: 1;
}

.collection-filters__item button {
  padding: 1.4rem 2.6rem;
  margin-left: 1rem;
}

.collection-filters__disclosure {
  min-width: 25rem;
}

.collection-filters__disclosure summary::after {
  top: 0;
}

.collection-filters__disclosure a {
  color: rgb(var(--color-foreground));
  cursor: pointer;
  display: block;
  padding: 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  .collection-filters .collection-filters__sort {
    width: 25rem;
    max-width: 100%;
  }
}

.facets {
  display: block;
}

.facets__form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 2.5rem 2rem;
}

.js .facets__form {
  grid-template-columns: calc(100% - 27rem) 25rem;
}

.facets__wrapper {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
}

.facets__heading {
  display: block;
  color: rgba(var(--color-foreground), 0.85);
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 1rem 0.5rem;
  width: 100%;
}

.facets__reset {
  margin-left: auto;
}

.facets__disclosure {
  border: 1px solid rgba(var(--color-foreground), 0.55);
  margin: 0 0 0.5rem 0.5rem;
  transition: box-shadow var(--duration-short) ease;
}

.facets__disclosure:hover {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.55);
}

.facets__summary {
  padding: 1.2rem 4rem 1.2rem 1.5rem;
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.disclosure-has-popup[open] > .facets__summary::before {
  z-index: 3;
}

.facets__summary > span {
  line-height: 1.3;
}

.facets__display {
  background-color: rgb(var(--color-background));
  position: absolute;
  border: 1px solid rgba(var(--color-foreground), 0.2);
  top: calc(100% + 0.5rem);
  left: -0.1rem;
  width: 35rem;
  max-height: 55rem;
  overflow-y: auto;
}

.facets__header {
  border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  position: sticky;
  top: 0;
  background-color: rgb(var(--color-background));
  z-index: 1;
}

.facets__list {
  padding: 0.5rem 2rem;
}

.facets__item {
  display: flex;
  align-items: center;
}

.facets__item label,
.facets__item input[type='checkbox'] {
  cursor: pointer;
}

.facet-checkbox {
  padding: 1rem 2rem 1rem 1.2rem;
  flex-grow: 1;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  word-break: break-word;
}

.facet-checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: 0.8rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.facet-checkbox > svg {
  background-color: rgb(var(--color-background));
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 1.4rem;
  z-index: 5;
  top: 1.4rem;
}

.facet-checkbox > input[type='checkbox']:checked ~ .icon-checkmark {
  visibility: visible;
}

.facet-checkbox--disabled {
  color: rgba(var(--color-foreground), 0.4);
}

.facets__price {
  display: flex;
  padding: 2rem;
}

.facets__price > * + * {
  margin-left: 2rem;
}

.facets__price .field {
  align-items: center;
}

.facets__price .field .field__currency {
  margin-right: 0.6rem;
}

.facets__price .field__label {
  left: 2.1rem;
}

button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -1rem;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.active-facets__button {
  padding: 1.1rem 0.2rem;
  text-decoration: none;
  margin-left: 0.5rem;
  display: block;
}

span.active-facets__button-inner {
  color: rgb(var(--color-foreground));
  box-shadow: 0 0 0 0.1rem rgb(var(--color-foreground));
  border-radius: 2.6rem;
  font-size: 1rem;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 990px) {
  .active-facets__button {
    padding: 0;
    margin: 0 0 1rem 1rem;
  }

  span.active-facets__button-inner {
    font-size: 1.2rem;
  }
}

.active-facets__button:hover .active-facets__button-inner {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-foreground));
}

.active-facets__button--light .active-facets__button-inner {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
}

.active-facets__button--light:hover .active-facets__button-inner {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground), 0.4);
}

a.active-facets__button:focus-visible,
a.active-facets__button:focus {
  outline: none;
  box-shadow: none;
}

a.active-facets__button:focus-visible .active-facets__button-inner,
a.active-facets__button:focus .active-facets__button-inner {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2),
    0 0 0 0.2rem rgb(var(--color-background)),
    0 0 0 0.4rem rgb(var(--color-foreground));
  outline: none;
}

.active-facets__button svg {
  width: 1.2rem;
  margin-left: 0.6rem;
  pointer-events: none;
  position: relative;
  top: 0.1rem;
}

@media all and (min-width: 990px) {
  .active-facets__button svg {
    width: 1.4rem;
    position: static;
  }
}

.active-facets facet-remove:only-child {
  display: none;
}

.mobile-facets__clear {
  width: 100%;
}

.active-facets__button.disabled,
.mobile-facets__clear.disabled {
  pointer-events: none;
}

@media all and (min-width: 750px) {
  .active-facets-mobile {
    display: none;
  }
}

.count-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: rgba(var(--color-button), var(--alpha-button-border));
  color: rgb(var(--color-background));
  margin-left: 0.7rem;
}

.count-bubble:empty {
  visibility: hidden;
}

.count-bubble--dot:empty {
  visibility: visible;
}

.count-bubble--dot::before {
  content: '';
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  background-color: rgb(var(--color-background));
  border-radius: 50%;
}

.mobile-facets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(var(--color-foreground), 0.5);
  pointer-events: none;
}

.mobile-facets__wrapper {
  margin-left: 0;
  margin-bottom: 1rem;
}

.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
  height: 100vh;
  z-index: 3;
}

@media screen and (min-width: 750px) {
  .mobile-facets {
    display: none;
  }
}

.mobile-facets__inner {
  background-color: rgb(var(--color-background));
  width: calc(100% - 5rem);
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  pointer-events: all;
  transition: transform var(--duration-short) ease;
}

.menu-opening .mobile-facets__inner {
  transform: translateX(0);
}

.disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
  transform: translateX(105vw);
}

.mobile-facets__header {
  background-color: rgb(var(--color-background));
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1rem 2.5rem;
  text-align: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mobile-facets__header-inner {
  flex-grow: 1;
  position: relative;
}

.mobile-facets__info {
  padding: 0 2.6rem;
}

.mobile-facets__heading {
  font-size: 1.4rem;
  margin: 0;
}

.mobile-facets__count {
  color: rgba(var(--color-foreground), 0.7);
  font-size: 1.3rem;
  margin: 0;
  flex-grow: 1;
}

.mobile-facets__open {
  text-align: center;
  width: 100%;
  padding: 0;
}

.mobile-facets__open > * + * {
  margin-left: 1rem;
}

.mobile-facets__open svg {
  width: 2rem;
}

.mobile-facets__open line,
.mobile-facets__open circle {
  stroke: rgba(var(--color-button), var(--alpha-button-border));
}

details[open] .mobile-facets__open {
  visibility: hidden;
}

.mobile-facets__close {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0.7rem;
  right: 1rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: 101;
  opacity: 0;
  transition: opacity var(--duration-short) ease;
}

.mobile-facets__close svg {
  width: 2.2rem;
}

details.menu-opening .mobile-facets__close {
  display: flex;
  opacity: 1;
}

details.menu-opening .mobile-facets__close svg {
  margin: 0;
}

.mobile-facets__close-button {
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: calc(100% - 5.2rem);
  background-color: transparent;
}

.no-js .mobile-facets__close-button {
  display: none;
}

.mobile-facets__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
  width: 1.3rem;
}

.mobile-facets__main {
  min-height: calc(100% - 15rem);
  padding: 2.7rem 0 0;
  position: relative;
  z-index: 1;
}

.mobile-facets__details[open] .icon-caret {
  transform: rotate(180deg);
}

.no-js .mobile-facets__details {
  border-bottom: 1px solid rgba(var(--color-foreground), 0.04);
}

.mobile-facets__highlight {
  opacity: 0;
  visibility: hidden;
}

.mobile-facets__checkbox:checked + .mobile-facets__highlight {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  background-color: rgba(var(--color-foreground), 0.04);
}

.mobile-facets__summary {
  padding: 1.3rem 2.5rem;
}

.mobile-facets__summary svg {
  width: 1.8rem;
  margin-left: auto;
}

.mobile-facets__summary > div,
.facets__summary > div {
  display: flex;
  align-items: center;
}

.js .mobile-facets__submenu {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
  border-top: none;
  border-bottom: none;
  z-index: 3;
  transform: translateX(100%);
  visibility: hidden;
}

.js details[open] > .mobile-facets__submenu {
  transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1),
    visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.js details[open].menu-opening > .mobile-facets__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__submenu .mobile-facets__submenu {
  overflow-y: auto;
}

.mobile-facets__item {
  position: relative;
}

input.mobile-facets__checkbox {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: 4.1rem;
  top: 1.2rem;
  z-index: 0;
  appearance: none;
  -webkit-appearance: none;
}

.mobile-facets__label {
  padding: 1.5rem 0 1.5rem 4.5rem;
  width: 100%;
  background-color: rgb(var(--color-background));
  transition: background-color 0.2s ease;
  word-break: break-word;
  display: flex;
}

.mobile-facets__label > svg {
  background-color: rgb(var(--color-background));
  position: relative;
  z-index: 2;
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.mobile-facets__label .icon-checkmark {
  position: absolute;
  top: 1.9rem;
  left: 4.8rem;
  visibility: hidden;
}

.mobile-facets__label > input[type='checkbox']:checked ~ .icon-checkmark {
  visibility: visible;
}

.mobile-facets__arrow,
.mobile-facets__summary .icon-caret {
  margin-left: auto;
  display: block;
}

.mobile-facets__label--disabled {
  opacity: 0.5;
}

.mobile-facets__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 2rem;
  bottom: 0;
  position: sticky;
  display: flex;
  z-index: 2;
}

.mobile-facets__footer > * + * {
  margin-left: 1rem;
}

.mobile-facets__footer > * {
  width: 50%;
}

.mobile-facets__footer noscript .button {
  width: 100%;
}

.sorting .button {
  margin-top: 2.4rem;
  padding-top: 1.3rem;
}

.mobile-facets__sort {
  display: flex;
  justify-content: space-between;
}

.mobile-facets__sort label {
  flex-shrink: 0;
}

.mobile-facets__sort .select {
  width: auto;
}

.no-js .mobile-facets__sort .select {
  position: relative;
  right: -1rem;
}

.mobile-facets__sort .select .icon-caret {
  right: 0;
}

.mobile-facets__sort .select__select {
  box-shadow: none;
} */
