<section class="blog-single-image">
<div class="c">
	{% if article.metafields.custom_fields.hero_image %}
		{{ article.metafields.custom_fields.hero_image }}
	{% elsif article.image %}
		{% render 'img-srcset', 
			image: article.image,
			max_width: 1200,
			alt: article.title %}
	{% endif %}
</div>
</section>

<section class="blog-single-hero">
<div class="c-3 type-spacing">
	<div class="t-b-2-m cr-gray-2">{{ article.tags[0] }}</div>
	<h1 class="t-h-5">{{ article.title }}</h1>
</div>
</section>

<section class="blog-single-main">
<div class="c content-layout">
	{{ article.content }}
</div>
</section>

{% if article.metafields.custom_fields.related_products %}
	{% assign related_products = article.metafields.custom_fields.related_products | split: '|' %}
	<section class="blog-single-related-products">
	<div class="c">
		<div class="related-products-header">
			<h2 class="t-h-2">Shop the Story</h2>
		</div>

		<div class="product-grid f-h"
			data-flickity-breakpoint="900" 
			data-flickity-slider="{
				'pageDots': false,
				'prevNextButtons': true,
				'wrapAround': false,
				'imagesLoaded': true,
				'cellAlign': 'left',
				'draggable': false
			}">
			{% for i in related_products %}
				{% render 'product-card', product_card: all_products[i] %}
			{% endfor %}
		</div>
	</div>
	</section>
{% endif %}

<section class="blog-single-footer">
<div class="c-2 f-h-center">
	<a class="t-b-2-m" href="/blogs/journal">{% render 'svg-icons', icon: 'caret-left' %}Go back to journal</a>

	<ul class="blog-single-share">
		<li>
			<a 
				href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" 
				title="Share on Facebook"
				target="_blank">
			{% render 'svg-icons', icon: 'social-facebook' %}</a>
		</li>

		<li>
			<a 
				href="https://twitter.com/intent/tweet?text={{ shop.name }} - {{ shop.url }}{{ article.url }}" 
				title="Share on Twitter"
				target="_blank">
			{% render 'svg-icons', icon: 'social-twitter' %}</a>
		</li>
	</ul>
</div>
</section>

{% if article.metafields.custom_fields.related_articles %}
	{% assign related_articles = article.metafields.custom_fields.related_articles | split: '|' %}
	<section class="blog-single-related-articles">
	<div 
		data-flickity-slider="{
			'pageDots': false,
			'prevNextButtons': true,
			'wrapAround': false,
			'imagesLoaded': true,
			'cellAlign': 'left',
			'draggable': false
		}">
		{% for i in related_articles %}
			{% assign handle = i | replace: '.', '/' %}
			{% render 'article-card-compact', article: articles[handle] %}
		{% endfor %}
	</div>
	</section>
{% endif %}
