{% comment %} Please don’t update this content {% endcomment %}
{% layout none %}
{% capture boost_pfs_section %}
{% section 'custom-collection-product-grid' %}
{% endcapture %}
{{ boost_pfs_section | strip_html }}