{% capture none %}
	{% assign search_results_article_count = 0 %}
	{% assign search_results_product_count = 0 %}
	{% assign search_results_collection_count = 0 %}

	{% assign result_count = 0 %}
	{% assign search_term = search.terms | downcase | escape %}
	{%- for i in collections -%}
		{%- capture keywords -%}{{ i.title | downcase | escape }} {{ i.description | handleize | replace: '-' ,' ' | escape }}{%- endcapture -%}

		{% if i.title contains '[PDP]' %}
			{% continue %}
		{% endif %}

		{%- if keywords contains search_term -%}
			{%- assign search_collections = search_collections 
				| append: '###'
				| append: i.handle -%}
		{%- endif -%}
	{%- endfor -%}
	{% assign search_collections = search_collections | split: '###' %}

	{% for i in search_collections %}
		{% assign search_results_collection_count = 
			search_results_collection_count | plus: 1 %}

		{% capture search_results_collection_html %}
			{{ search_results_collection_html }}
			<li><a href="{{ collections[i].url }}">{{ collections[i].title }}</a></li>
		{% endcapture %}
	{% endfor %}

	{% paginate search.results by 100 %}
		{% for result in search.results %}
			{% if result.url contains '/pages/' %}
				{% continue %}
			{% endif %}

			{% if result.author != nil %}
				{% assign search_results_article_count = 
					search_results_article_count | plus: 1 %}

				{% capture search_results_article_html %}
					{{ search_results_article_html }}

					{% render 'article-card', 
						article: result,
						image_size: 550 %}
				{% endcapture %}
			{% else %}
				{% assign search_results_product_count = 
					search_results_product_count | plus: 1 %}

				{% capture search_results_product_html %}
					{{ search_results_product_html }}

					{% render 'product-card', product_card: result %}
				{% endcapture %}
			{% endif %}
		{% endfor %}
	{% endpaginate %}
{% endcapture %}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-product-card.js' | asset_url }}" defer="defer"></script>

<section class="search-header">
<div class="c-3 type-spacing">
	{% if search_results_article_count == 0 and 
		search_results_product_count == 0 %}
		<h1 class="t-h-1">No Results</h1>
		<p class="t-b-1">Your search “{{ search.terms }}” returned no results.</p>
	{% else %}
		<h1 class="t-h-1">Search Results</h1>
	{% endif %}

	<form 
		class="search-header-form"
		action="/search" 
		method="get" 
		role="search">
		<label 
			for="search-header-input"
			class="screen-reader-only">
			Search</label>

		<input 
			class="search-header-input t-b-2" 
			type="text"
			name="q"
			{% if search_results_article_count > 0 or 
				search_results_product_count > 0 %}
				value="{{ search.terms }}"
			{% endif %}
			placeholder="{% if search_results_article_count == 0 and search_results_product_count == 0 %}Search again{% else %}Search and hit enter{% endif %}"
			aria-label="Search">

		<button 
			type="submit" 
			aria-label="Search">
		{% render 'svg-icons', icon: 'search' %}</button>
	</form>
</div>
</section>

{% comment %} SEARCH RESULT TOOLBAR {% endcomment %}
<div class="boost-pfs-search-result-toolbar">
	<div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner">
		<div class="boost-pfs-search-result-item">
			<ul class="boost-pfs-search-result-panel-controls">
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 1 %}</li>
			</ul>
		</div>
<!-- 		<div class="boost-pfs-search-result-item">
			<span class="filters-toolbar__product-count boost-pfs-search-total-result">
				{% render 'boost-pfs-filter-skeleton', width: 2 %}
			</span>
		</div> -->
	</div>
</div>
{% comment %} END SEARCH RESULT TOOLBAR {% endcomment %}

<div class="boost-pfs-filter-wrapper boost-pfs-search-panel-product-show">
  <section class='plp-filter-and-sort'>
    <div class='plp-product-count'>
      <!--                     <span class='h2'>Products</span> <span class='h6'>({{ collection.all_products_count }})</span> -->
    </div>

    <div class='plp-filter-action-container'>
      <div class='plp-open-action' action='open-filters'>
        {%- render 'icon-filtering' -%}
        <span class='body-small'>Show filters</span>
      </div>

      <div class="plp-open-action">
        <div class="boost-pfs-filter-top-sorting"></div>
      </div>
    </div>
  </section>

  <section class='plp-filter-container' visible='false'>
    <div class='plp-filter-container-intro'>
      <h3 class='h3'>Filters</h3>
      <div class='close-plp-filters'>
        {%- render 'icon-close' -%}
      </div>
    </div>
    <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>
  </section>

  <section class='plp-grid boost-pfs-filter-products'>
    {{ search_results_product_html }}
  </section>
  
  <div class="boost-pfs-filter-bottom-pagination"></div>
  <div class="boost-pfs-filter-load-more"></div>
</div>

{% comment %} SEARCH RESULT: COLLECTION PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="plp-grid boost-pfs-search-result-collections boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-collection-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: COLLECTIONS PANEL {% endcomment %}
{% comment %} SEARCH RESULT: PAGES PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="plp-grid boost-pfs-search-result-pages boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-page-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: PAGES PANEL {% endcomment %}

{% comment %}
{% if search_results_article_count > 0 or 
	search_results_product_count > 0 %}
	<section class="search-results">
	<div class="c">
		<div class="search-results-tabs user-select-disable">
			{% if search_results_product_count > 0 %}
				<button 
					data-results-tab-trigger="products"
					class="t-b-2-m cr-gray-2 
					{% if search_results_product_count > 0 %} is-active{% endif %}
					">
					Products ({{ search_results_product_count }})</button>
			{% endif %}

			{% if search_results_article_count > 0 %}
				<button 
					data-results-tab-trigger="articles"
					class="t-b-2-m cr-gray-2 
					{% if search_results_product_count == 0 %} is-active{% endif %}
						">
					Journal ({{ search_results_article_count }})</button>
			{% endif %}

			{% if search_results_collection_count > 0 %}
				<button 
					data-results-tab-trigger="collections"
					class="t-b-2-m cr-gray-2">
					Collections ({{ search_results_collection_count }})</button>
			{% endif %}
		</div>

		{% if search_results_product_count > 0 %}
			<div 
				data-results-tab="products" 
				class="is-active">
                
			</div>
		{% endif %}

		{% if search_results_article_count > 0 %}
			<div 
				data-results-tab="articles"
				class="results-article-grid f-h
				{% if search_results_product_count == 0 %} is-active{% endif %}">
			{{ search_results_article_html }}</div>
		{% endif %}

		{% if search_results_collection_count > 0 %}
			<div 
				data-results-tab="collections"
				class="results-collection-grid 
				{% if search_results_collection_count == 0 %} is-active{% endif %}">
			<ul class="t-h-3">{{ search_results_collection_html }}</ul></div>
		{% endif %}
	</div>
	</section>
{% endif %}
{% endcomment %}

<script>   
  // Open filters
  let filterOpenTriggers = document.querySelectorAll('.plp-open-action[action="open-filters"]');

  for (var i = 0; i < filterOpenTriggers.length; i++) {
    filterOpenTriggers[i].addEventListener('click', function(){
      document.querySelector('.plp-filter-container').setAttribute('visible', 'true');
      document.querySelector('#overlay-dark').setAttribute('state', 'active');
    });
  }
  // Close filters
  document.querySelector('.close-plp-filters').addEventListener('click', function(){
    document.querySelector('.plp-filter-container').setAttribute('visible', 'false');
    document.querySelector('#overlay-dark').setAttribute('state', 'inactive');
  });

	// const productInterstitialHtml = `{{ product_interstitial_html }}`;
	const productCount = {{ collection.products.size | default: 0 }};
</script>

<script>   
  // Declare boostPFSThemeConfig
  var boostPFSThemeConfig = {
		label: {       
			sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Sorting" {% endunless %},       
			sorting_best_selling: {% assign temp = collection.sort_options[1].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Best Selling" {% endunless %},       
			sorting_manual: {% assign temp = collection.sort_options[0].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Featured" {% endunless %},       
			sorting_title_ascending: {% assign temp = collection.sort_options[2].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, A-Z" {% endunless %},       
			sorting_title_descending: {% assign temp = collection.sort_options[3].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Alphabetically, Z-A" {% endunless %},       
			sorting_price_ascending: {% assign temp = collection.sort_options[4].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Lowest Price" {% endunless %},       
			sorting_price_descending: {% assign temp = collection.sort_options[5].name %} {% unless temp == nil %} {{ temp | json }} {% else %} "Highest Price" {% endunless %},       
			sorting_date_ascending: {% assign temp = collection.sort_options[6].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, Old to New" {% endunless %},       
			sorting_date_descending: {% assign temp = collection.sort_options[7].name %} {% unless temp == nil  %} {{ temp | json }} {% else %} "Date, New to Old" {% endunless %},       
			sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} {{ temp | json }} {% else %} "Relevance" {% endunless %},        
			sale: {{ 'products.product.on_sale' | t | json }},       
			sale_price: {{ 'products.product.sale_price' | t | json }},       
			sold_out: {{ 'products.product.sold_out' | t | json }},       
			vendor: {{ 'products.product.vendor' | t |json }},       
			regular_price: {{ 'products.product.regular_price' | t | json }},       
			items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},       
			items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},       
			current_page: {{ 'general.pagination.current_page' | t | json }}, 
		},     
		custom: {       
			// Add custom value here  
			products_per_page: 21,
			product_grid_class: '',
          	productCount: {{ collection.products.size | default: 0 }}
		}   
	};

	// Declare Templates
	var boostPFSTemplate = {
		'soldOutClass': ' sold-out',
		'saleClass': ' on-sale',
		'soldOutLabelHtml': {% render 'boost-pfs-filter-html', layout: 'soldOutLabelHtml' %},
		'saleLabelHtml': {% render 'boost-pfs-filter-html', layout: 'saleLabelHtml' %},
		'tagLabelHtml': {% render 'boost-pfs-filter-html', layout: 'tagLabelHtml' %},
		'vendorHtml': {% render 'boost-pfs-filter-html', layout: 'vendorHtml' %},
		// Grid Template
		'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
		// For List View
		// List Template
		'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
		// End For List View
		// Pagination Template
		'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
		'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
		'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
		'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
		'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
		'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
		'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
		'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},
		// Sorting Template
		'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
		// Show Limit Template
		'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},
		// Breadcrumb Template
		'breadcrumbHtml': {% render 'boost-pfs-filter-html', layout: 'breadcrumbHtml' %},
		'breadcrumbDivider': {% render 'boost-pfs-filter-html', layout: 'breadcrumbDivider' %},
		'breadcrumbItemLink': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemLink' %},
		'breadcrumbItemSelected': {% render 'boost-pfs-filter-html', layout: 'breadcrumbItemSelected' %},
	};
</script>
